﻿@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Your Browser is no longer supported.";
}
<p>We no longer support your browser. Please upgrade your browser.</p>

<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.google.com/chrome/">
            <img src="//ssl.gstatic.com/images/icons/product/chrome-128.png" width="128px" height="128px">
            <br />Download Chrome now
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">
            <img src="//ssl.gstatic.com/s2/profiles/images/ie.gif" width="128px" height="128px">
            <br />Download Internet Explorer
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.mozilla.com/firefox/">
            <img src="//ssl.gstatic.com/s2/profiles/images/firefox.gif" width="128px" height="128px">
            <br />Download Firefox
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.apple.com/safari/download/">
            <img src="//ssl.gstatic.com/s2/profiles/images/safari.png" width="128px" height="128px">
            <br />Download Safari
        </a>
    </div>
</div>