﻿@model Sfs.EStore.Web.App.Areas.Account.Models.ForgottenPasswordIndexModel
@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Reset Password";
}

@using (Html.BeginForm("index", "forgottenpassword", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
        
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new { @class = "control-label col-sm-2" })
        <div class="col-sm-6 col-md-4">
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
    </div>
}