﻿@using Sfs.EStore.Web.App
@{
    ViewBag.MetaTitle = "Password reset submitted";
    ViewBag.PageTitle = Html.Snippet("accounts/forgottenpassword/nextstep/page_title")
        .PlainTextExpected()
        .Otherwise("Password reset submitted")
        .HtmlString().ToString();
}

@{
    Html.Snippet("accounts/forgottenpassword/nextstep/body_text")
        .HtmlExpected()
        .Otherwise(@<text>
                        <h3>We've just sent you an email. Here's what to do next...</h3>

                        <p>Check your inbox. To reset your password, click the link in the email.*</p>

                        <p class="text-muted">* No reset password email? Please check your spam or junk mail. If it's not there, email our Support Team.</p>
                    </text>)
        .Render();
}