@import "vars.scss";

.side-bar {
	section {
		h3 {
			margin-top: 0;
		}
	}
}

.tab-content > .active {
	margin-top: 20px;
}

section.testimonial {
	border-bottom: 1px solid #eee;

	h2 { 
		color: $SvsBlue;
	}
	blockquote {
		p { margin-bottom: 1em; }
	}
}

.content-aboutus {
	img {
		margin-bottom: -20px;
		margin-right: -20px;
	}
}

.carousel.vehicle-carousel {
	border: 1px solid #ddd;
	.item {
		@media (min-width: 1200px) {
			height: 276px;
			overflow: hidden;
		}
	}
	.carousel-indicators {
		top: 0px;
		bottom: initial;
		li { 
			background-color: $MediumGray; 
			&.active {
				background-color: $SvsPink;
			}
		}
	}
	
	.media-lot {
		margin: 10px;
		.media-heading {
			border-bottom: 1px solid #ddd;
			padding-bottom: 8px;
			margin-bottom: 8px;
			.reg-date {
				white-space:nowrap;
				display: block;
				margin-top: 5px;
			}
			.media-heading-make {
				font-weight: bold;
				font-size: 23px;
				padding-right: 3px;
			}
			
			h4, h3 {
				font-size: 18px;
				margin: 0;
				font-weight: normal;
			}
			
			.watch-toggle {
				i {
					margin-top: 6px;
					display: inline-block;
				}
			}
		}
		.media-body {	
			h3.media-lot-pricing {
				font-weight: bold;
				font-size: 30px;
				color: $SvsPink;
				margin-top: 0;
				margin-bottom: 20px;
				line-height: 1em;

				.media-lot-listing-post-price {
					display: block;
				}
				.media-lot-listing-price-saving {
					color: $SvsPink;
					font-size: 14px;
				}
				.media-lot-listing-post-price {
					display: block;
					small {
						font-size: 12px;
						color: $MediumGray;
					}
				}
			}
			.media-lot-spec {
				margin-bottom: 0;
			}
			.media-lot-spec-callouts {
				padding: 10px;
				margin-bottom: 0;
				position: relative;

				ul {
					li.emphasise { 
						font-weight: bold;
						color: $SvsBlue;
					}
				}

				.view-spec {
					position: absolute;
					right: 10px;
					bottom: 10px;
					@media (min-width: 992px) and (max-width: 1199px) {
						display: none;
					}
				}
			}
		}
		
		.media-lot-image-primary {
			@media (min-width: 768px) {
				max-height: 145px;
			}
			@media (min-width: 992px) {
				max-height: none;
			}
		}
		
		.thumbnails {
			.thumbnail {
				border: none;
				padding: 0;
				border-radius: 0;
				margin-bottom: 0;
			}
		}
	}
}

.contact-us {
	.contact-dl {
		dt {
			float: left;
			margin-right: 10px;
		}
	}
}