﻿@model Sfs.EStore.Web.App.Areas.Account.Models.RegistrationIndexModel

@using (Html.BeginForm("index", "registration", new { returnurl = Request.Params["returnurl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EmailAddress, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email address", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6 col-md-4">
            @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Phone number (optional)", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
}