﻿@model Sfs.EStore.Web.App.Areas.Account.Models.RegistrationIndexModel
@{
    Bundles.Reference("jquery", "head");
}@if (!IsPost)
 {
     <script type="text/javascript">
         $(function() {
             $('#form-part-2').hide();
             $('#btn-move-next').removeClass('hidden');
             $('#btn-move-next').click(function() {
                 $(this).hide();
                 $('#form-part-2').show('fast', function () {
                     $('#form-part-2 input').first().focus();
                 });
             });
         });
     </script>
 }
     <script type="text/javascript">
         $(function() {
             var tcA = $('#confirm-tc-a');
             var tcB = $('#confirm-tc-b');
             var submitBtn = $('#submit-btn');

             submitBtn.attr('disabled', 'disabled');

             tcA.on('change', function() {
                 CheckTcConfirmation();
                 $(this).siblings('.confirmed-value').val($(this)[0].checked ? "I agree" : "");
             });
             tcB.on('change', function() {
                 CheckTcConfirmation();
                 $(this).siblings('.confirmed-value').val($(this)[0].checked ? "I agree" : "");
             });

             function CheckTcConfirmation() {
                 var checked = tcA[0].checked || tcB[0].checked;
                 if (checked)
                     submitBtn.removeAttr('disabled');
                 else
                     submitBtn.attr('disabled', 'disabled');
             }
         });
     </script>
@using (Html.BeginForm("index", "registration", new { returnurl = Request.Params["returnurl"] }, FormMethod.Post, new { @class = "" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>You</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.FirstName, new {placeholder = "First name", @class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LastName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last name", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.EmailAddress, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email address", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PhoneNumber, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Phone number", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="button" id="btn-move-next" type="submit" class="hidden pull-right btn btn-default">Next &raquo;</button>
            </div>
        </div>
    </fieldset>
    <div id="form-part-2">
        <fieldset>
            <legend>Your company</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompanyName, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CompanyName, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.JobTitle, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.JobTitle, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Website, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Website, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Line1, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Line2, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.TownCity, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.TownCity, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.County, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.County, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.Postcode, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Postcode, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dealer-code-1">Dealer Code 1</label>
                        <div class="controls">
                            <input type="hidden" name="Data[2].Key" value="DEALER_CODE_1"/>
                            <input id="dealer-code-1" type="text" name="Data[2].Value" value="@(Model.Data.ContainsKey("DEALER_CODE_1") ? Model.Data["DEALER_CODE_1"] : "")" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dealer-code-2">Dealer Code 2</label>
                        <div class="controls">
                            <input type="hidden" name="Data[3].Key" value="DEALER_CODE_2"/>
                            <input id="dealer-code-2" type="text" name="Data[3].Value" value="@(Model.Data.ContainsKey("DEALER_CODE_2") ? Model.Data["DEALER_CODE_2"] : "")" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dealer-code-3">Dealer Code 3</label>
                        <div class="controls">
                            <input type="hidden" name="Data[4].Key" value="DEALER_CODE_3"/>
                            <input id="dealer-code-3" type="text" name="Data[4].Value" value="@(Model.Data.ContainsKey("DEALER_CODE_3") ? Model.Data["DEALER_CODE_3"] : "")" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes/comments</label>
                        <div class="controls">
                            <input type="hidden" name="Data[5].Key" value="NOTES_COMMENTS"/>
                            <textarea id="notes" name="Data[5].Value" rows="3" class="form-control">@(Model.Data.ContainsKey("DEALER_CODE_1") ? Model.Data["NOTES_COMMENTS"] : "")</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <p>This website provides Dealers with a facility to purchase used vehicles electronically. Before using this facility Dealers are required to confirm that they have read and understood the terms and conditions relevant to the payment method chosen.</p>

            <p>Payment may be made:</p>

            <h4>Method A</h4>

            <ol type="A">
                <li>to Fiat Group Automobiles UK Ltd by telegraphic transfer; or</li>
            </ol>

            <h4>Method B</h4>

            <ol type="A" start="2">
                <li>
                    to FGA Wholesale UK Ltd where the Dealer either:
                    <ol type="i">
                        <li>makes immediate payment by direct debit; or</li>
                        <li>pays on credit or deferred payment terms with FGA Wholesale UK Ltd.</li>
                    </ol>
                </li>
            </ol>
            <p>Please note a Dealer can only make payment using method (B) if it has agreed terms of payment in advance with FGA Wholesale UK Ltd.</p>

            <hr />

            <p>Where the Dealer chooses to make payment to Fiat Group Automobiles UK Ltd by telegraphic transfer, the terms and conditions in box A below shall be applicable to the purchase of any vehicle using this facility. The Dealer confirms that he has read and understood the terms and conditions at box A.</p>

            <div class="form-group">
                <label>
                    <input type="hidden" name="Data[0].Key" value="TC_A"/>
                    <input class="confirmed-value" type="hidden" name="Data[0].Value" value=""/>
                    <input value="Agreed" id="confirm-tc-a" type="checkbox"/>
                    I have read and agreed <a href="@Url.Content("~/terms-and-conditions-a")" target="_blank">Terms and Conditions A</a>
                </label>
            </div>

            <hr />

            <p>Where the Dealer chooses to make payment to FGA Wholesale UK Ltd either by direct debit or on credit deferred payment terms agreed with FGA Wholesale UK Ltd, the terms and conditions in box B below shall be applicable to the purchase of any vehicle using this facility. The Dealer confirms that he has read and understood the terms and conditions at box B.</p>

            <div class="form-group">
                <label>
                    <input type="hidden" name="Data[1].Key" value="TC_B"/>
                    <input class="confirmed-value" type="hidden" name="Data[1].Value" value=""/>
                    <input value="Agreed" id="confirm-tc-b" type="checkbox"/>
                    I have read and agreed <a href="@Url.Content("~/terms-and-conditions-b")" target="_blank">Terms and Conditions B</a>
                </label>
            </div>

        </fieldset>
        <div class="">
            <div class="pull-right">

                <button id="submit-btn" type="submit" class=" btn btn-primary">Register now</button>
            </div>
        </div>
    </div>
}
