﻿@model Sfs.EStore.Web.App.Areas.Account.Models.RegistrationIndexModel
@{
    Bundles.Reference("jquery", "head");
}@if (!IsPost)
 {
     <script type="text/javascript">
         $(function() {
             $('#form-part-2').hide();
             $('#btn-move-next').removeClass('hidden');
             $('#btn-move-next').click(function() {
                 $(this).hide();
                 $('#form-part-2').show('fast', function () {
                     $('#form-part-2 input').first().focus();
                 });
             });
         });
     </script>
 }
@using (Html.BeginForm("index", "registration", new { returnurl = Request.Params["returnurl"] }, FormMethod.Post, new { @class = "" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>You</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.FirstName, new {placeholder = "First name", @class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LastName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last name", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.EmailAddress, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email address", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PhoneNumber, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Phone number", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmPassword, new {@class = "control-label"})
                    <div class="controls">
                        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="button" id="btn-move-next" type="submit" class="hidden pull-right btn btn-default">Next &raquo;</button>
            </div>
        </div>
    </fieldset>
    <div id="form-part-2">
        <fieldset>
            <legend>Your company</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompanyName, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CompanyName, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.JobTitle, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.JobTitle, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Website, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Website, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Line1, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Line2, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.TownCity, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.TownCity, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.County, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.County, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address.Postcode, new {@class = "control-label"})
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address.Postcode, new { placeholder = "", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="pull-right btn btn-primary">Register now</button>
            </div>
        </div>
    </div>
}