﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model IHaveLotInformationForBids
<div>
    <h4>You are bidding on this vehicle:</h4>
    <p>
        @Html.VehicleImage(Model.PrimaryImage, "750x535", htmlAttributes: new { @class = "img-responsive" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Featured))
    </p>
    <p>
        Current Bid: <strong>@Html.Money(Model.CurrentPrice)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
        @*@{ Html.Snippet("vehicles/all/price_postfix")
                .PlainTextExpected()
                .Template(@<small class="price-postfix">@item</small>)
                .Render(); }*@
    </p>
    @if (Model.EndDate.HasValue)
    {
        <p>End Time: <strong class="endingsoon">@Model.TimeLeft.Value.TimeRemaining()</strong> (@Model.EndDate.Value.ToLongDateAndTimeString())</p>
    }
</div>
