﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model BidsConfirmationBidModel
@{
    ViewBag.MetaTitle = "Bid Taken";
    ViewBag.PageTitle = "Bid Taken <small>" + Model.Title + "</small>";

    Bundles.Reference("jquery");
}
@helper UsersOfferStatus(IHaveLotStatusForUser status, string tag){
    if(!status.AuctionHasEnded)
     {
        if (status.UserIsWinning)
        {
            <h5 class="winning" ng-show="lot.bidding.userStatus.isWinning"><span title="You are currently winning this lot"><strong>Winning</strong></span></h5>
        }
        else
        {
            <h5 class="losing" ng-hide="lot.bidding.userStatus.isWinning"><span title="You've been outbid. Another bidder placed a higher maximum bid or placed the same maximum bid before you did."><strong>Losing</strong></span></h5>
        }
     }
    else
    {
        
      if (status.UserIsWinning && status.HasMetReserve)
      {
          <h5 class="winning" ng-show="lot.bidding.userStatus.isWinning && lot.sellingStatus.sellingState=='EndedWithSales'"><span class="winning" title="You won this item."><strong>Won</strong></span></h5>
      }
      else if (status.UserIsWinning && !status.HasMetReserve)
        {
            <h5 class="losing" ng-show="lot.bidding.userStatus.isWinning && lot.sellingStatus.sellingState=='EndedWithoutSales'"><span class="losing" title="You were the highest bidder but the reserve was not met."><strong>Highest Bidder</strong></span></h5>
        }
        else if (!status.UserIsWinning)
        {
            <h5 class="losing" ng-show="!lot.bidding.userStatus.isWinning"><span class="losing" title="You lost this item."><strong>sorry you didn't win this</strong></span></h5>  
        }
    }
}

<div class="bidding">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="winning">You're the highest bidder and are currently winning.</h2>
            <h3>Important Notes</h3>
            <ul>
                @if (!Model.HasMetReserve)
                {
                    <li><strong class="reserve-not-met">The reserve has not been met.</strong></li>
                }
                @*<li>Another user may still outbid you so continue to check this item in the @Html.DashboardLink("dashboard")</li>*@
                <li>If you're still the highest bidder when the listing ends and the reserve on this vehicle has been met, your personal account manager will contact you to finalise details of the sale.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="image">
                @Html.VehicleImage(Model.PrimaryImage, "750x535", htmlAttributes: new { @class = "img-responsive" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Featured))
            </div>
            <div class="status">
                <p><strong>Your bid has been submitted.</strong>
                <p>
                    Current bid: <strong>@Html.Money(Model.CurrentPrice)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                    @*@{ Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<small class="price-postfix">@item</small>)
                            .Render(); }*@
                    @if (!Model.HasMetReserve)
                    {
                        <strong class="reserve-not-met">Reserve not met</strong>
                    }
                </p>
                <p>
                    Your maximum bid: <strong>@Html.Money(Model.UsersCurrentMaximumBid)</strong>
                    <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                    @{ Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<small class="price-postfix">@item</small>)
                            .Render(); }
                </p>
                @if(Model.EndDate.HasValue)
                {
                    <p>End Time: <strong>@Model.EndDate.Value.ToLongDateAndTimeString()</strong></p>
                }
            </div>
            <div class="extra">
                @UsersOfferStatus(Model, "h5")
                <p class="actions">
                    @if (!string.IsNullOrEmpty(Model.BackToUrl))
                    {<a href="@Model.BackToUrl" class="btn btn-default" title="Return to where you made this bid">Return to where you made this bid</a>}
                </p>
            </div>
        </div>
    </div>
</div>
