﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model BidsConfirmModel
@{
    ViewBag.MetaTitle = "Confirm Bid";
    ViewBag.PageTitle = "Confirm Bid <small>" + Model.Title + "</small>";
}

<div class="row">
    <div class="col-sm-8">
        @*<h2>Confirm your bid</h2>*@
        @using (Html.BeginForm(new { action = "bid", Model.Id, MaximumBid = Model.MaximumBid.Amount, Model.BackToUrl }))
        {
            <p><strong>By clicking 'Confirm Bid' you commit to purchase this vehicle if you are the winning bidder.</strong></p>
            <p class="max-bid">
                Your Maximum Bid: <strong>@Html.Money(Model.MaximumBid)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                @*@{ Html.Snippet("vehicles/all/price_postfix")
                       .PlainTextExpected()
                       .Template(@<small class="price-postfix">@item</small>)
                       .Render(); }*@
            </p>
            <p>
                <input type="submit" value="Confirm Bid" class="btn btn-lg btn-primary" />
                or 
                <a href="@(Model.BackToUrl ?? Url.Lot(Model.Id))">Cancel</a>
            </p>
        }
    </div>
    <div class="col-sm-4">
        @{Html.RenderPartial("_LotSummary", Model);}
    </div>
</div>
