﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model BidsConfirmationBidModel
@{
    ViewBag.MetaTitle = "Bid Taken";
    ViewBag.PageTitle = "Bid Taken <small>" + Model.Title + "</small>";
    
    Bundles.Reference("jquery");
}
@helper UsersOfferStatus(IHaveLotStatusForUser status, string tag){
    if(!status.AuctionHasEnded)
     {
        if (status.UserIsWinning)
        {
            <h5 class="winning" ng-show="lot.bidding.userStatus.isWinning"><span title="You are currently winning this item"><strong>Winning</strong></span></h5>
        }
        else
        {
            <h5 class="losing" ng-hide="lot.bidding.userStatus.isWinning"><span title="You've been outbid. Another bidder placed a higher maximum bid or placed the same maximum bid before you did."><strong>Losing</strong></span></h5>
        }
     }
    else
    {
        
      if (status.UserIsWinning && status.HasMetReserve)
      {
          <h5 class="winning" ng-show="lot.bidding.userStatus.isWinning && lot.sellingStatus.sellingState=='EndedWithSales'"><span class="winning" title="You won this item."><strong>Won</strong></span></h5>
      }
      else if (status.UserIsWinning && !status.HasMetReserve)
        {
            <h5 class="losing" ng-show="lot.bidding.userStatus.isWinning && lot.sellingStatus.sellingState=='EndedWithoutSales'"><span class="losing" title="You were the highest bidder but the reserve was not met."><strong>Highest Bidder</strong></span></h5>
        }
        else if (!status.UserIsWinning)
        {
            <h5 class="losing" ng-show="!lot.bidding.userStatus.isWinning"><span class="losing" title="You lost this item."><strong>sorry you didn't win this</strong></span></h5>  
        }
    }
}

<div class="bidding">
    <div class="row">
        <div class="col-sm-8">
            <h2>You've been outbid</h2>
            <div class="bid-again @(Model.HasBuyItNow ? "inc" : "")">
                <p>Another bidder placed a higher maximum bid or placed the same maximum bid before you did.</p>
                <h3>Do you want to bid again?</h3>
                
                <form action="@Url.Action("makebid", "bids", new { Model.Id })" method="get" class="form-horizontal">
                    @Html.HiddenFor(x => x.BackToUrl)
                    <div class="form-group">
                        <label for="maximumBid" class="col-sm-5 col-md-4 control-label"><strong>@(Model.UsersCurrentMaximumBid != null ? "Increase your" : "Your") maximum bid:</strong></label>
                        <div class="col-sm-7 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">£</span>
                                @Html.TextBox("maximumBid", null, new { autocomplete = "off", autofocus="true", @class = "form-control" })
                            </div>
                            <span  class="help-block">(Enter @Html.Money(Model.MinimumBidRequired) or more)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary">Bid again</button>
                            or 
                            <a href="@(Model.BackToUrl ?? Url.Lot(Model.Id))">Cancel</a>
                            <p class="help-block">You'll review your maximum bid in the next step.</p>
                        </div>
                    </div>
                </form>
            </div>
            @if (Model.HasBuyItNow)
            {
                <div class="buy-it-now">
                    <p>You can also <strong>Buy it Now</strong></p>
                
                    @using (Html.BeginForm("confirmbuyitnow", "bids", new { id = Model.Id }, FormMethod.Get, new { ID = "buyItNowForm" }))
                    {
                    <input type="hidden" name="backToUrl" value="@Url.CurrentPathAndQuery()"/>
                    <button type="submit" class="btn btn-info" id="buttonBuyItNow" value="Buy It Now">
                        Buy It Now for <span class="buyItNowPrice">@Html.Money(Model.BuyItNowPrice) <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                                           @*@{ Html.Snippet("vehicles/all/price_postfix")
                                                  .PlainTextExpected()
                                                  .Template(@<small class="price-postfix">@item</small>)
                                                  .Render(); }*@</span>
                    </button>
                    }
                </div>
            }
        </div>
        <div class="col-sm-4">
            <div class="image">
                @Html.VehicleImage(Model.PrimaryImage, "750x535", htmlAttributes: new { @class = "img-responsive" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Featured))
            </div>
            <div class="status">
                <p><strong>Your bid has been submitted.</strong>
                <p>
                    Current bid: <strong>@Html.Money(Model.CurrentPrice)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                    @*@{ Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<small class="price-postfix">@item</small>)
                            .Render(); }*@
                    @if (!Model.HasMetReserve)
                    {
                        <strong class="reserve-not-met">Reserve not met</strong>
                    }
                </p>
                <p>
                    Your maximum bid: <strong>@Html.Money(Model.UsersCurrentMaximumBid)</strong> 
                    <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                    @*@{ Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<small class="price-postfix">@item</small>)
                            .Render(); }*@
                </p>
                @if (Model.EndDate.HasValue)
                {
                    <p>End Time: <strong>@Model.EndDate.Value.ToLongDateAndTimeString()</strong></p>
                }
            </div>
            <div class="extra">
                @UsersOfferStatus(Model, "h5")
                <p class="actions">
                    @if (!string.IsNullOrEmpty(Model.BackToUrl))
                    {<a href="@Model.BackToUrl" class="btn btn-default" title="Return to where you made this bid">Return to where you made this bid</a>}
                </p>
            </div>
        </div>
    </div>
</div>
