﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model BidsMakeBidModel
@{
    ViewBag.MetaTitle = "Make a bid";
    ViewBag.PageTitle = "Make A Bid <small>" + Model.Title + "</small>";
}

<div class="row">
    <div class="col-sm-4 col-sm-push-8">
        @{Html.RenderPartial("_LotSummary", Model);}
    </div>
    <div class="col-sm-8 col-sm-pull-4">
        @*<h2>Make A Bid</h2>*@

        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            <div class="validation-summary-errors">
                @Html.ValidationSummary("Please correct issues with your bid and try again:")
            </div>
        }
        @if (Model.UsersCurrentMaximumBid != null)
        {
            <p>Your current maximum bid: <strong>@Html.Money(Model.UsersCurrentMaximumBid)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small></p>
        }
        <form action="@Url.Action("makebid", "bids", new { Model.Id })" method="get" class="form-horizontal">
            @Html.HiddenFor(x => x.BackToUrl)
            <div class="form-group">
                <label for="maximumBid" class="col-sm-5 col-md-4 control-label"><strong>@(Model.UsersCurrentMaximumBid != null ? "Increase your" : "Your") maximum bid:</strong></label>
                <div class="col-sm-7 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">£</span>
                        @Html.TextBox("maximumBid", null, new { autocomplete = "off", autofocus = "true", @class = "form-control" })
                    </div>
                        <span class="help-block">(Enter @Html.Money(Model.MinimumBidRequired) or more)</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-primary">Continue</button>
                    or
                    <a href="@(Model.BackToUrl ?? Url.Lot(Model.Id))">Cancel</a>
                    <p class="help-block">You'll review your maximum bid in the next step.</p>
                </div>
            </div>
        </form>
    </div>
</div>
