﻿<form class="form-inline" data-ng-submit="filter()">
    <div class="form-group">
        <input type="text" class="form-control" data-ng-readonly="busy" name="q" placeholder="Filter guest passes" ng-model="filterParams.q" autofocus="true"/>
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-disabled="busy"><i class="icon-search"></i> Apply filter</button>
    </div>
</form>

<pagination total-items="pagination.totalItems" ng-model="filterParams.page" on-select-page="gotoPage(page)" 
            items-per-page="pagination.take" rotate="false" max-size="7"></pagination>
            
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Source</th>
                <th>Campaign</th>
                <th>Landing page</th>
                <th>Time to live</th>
                <th>Created</th>
                <th>Expired</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-show="busy">
                <td colspan="7" style="text-align: center"><span class="text-muted">searching...</span></td>
            </tr>
            <tr data-ng-hide="busy || guestPasses">
                <td colspan="7" style="text-align: center"><span class="text-muted">No guest passes found</span></td>
            </tr>
            <tr data-ng-repeat="guestPass in guestPasses">
                <td><a href="#{{appUrl(guestPass.id)}}"><i class="icon-share"></i></a></td>
                <td>{{guestPass.source}}</td>
                <td>{{guestPass.campaign}}</td>
                <td><a href="{{guestPass.redirectTo}}" target="_blank">{{guestPass.redirectTo}}</a></td>
                <td>{{guestPass.timeToLive}}</td>
                <td><span title="{{guestPass.createdAt | formatDate}}">{{guestPass.createdAt | humanizeFromNow}}</span> <span class="text-muted">{{guestPass.createdBy}}</span></td>
                <td>
                    <span data-ng-show="guestPass.expired" title="{{guestPass.expiredAt | formatDate}}">{{guestPass.expiredAt | humanizeFromNow}} <span class="text-muted">{{guestPass.expiredBy}}</span></span>
                    <span data-ng-hide="guestPass.expired"><button type="button" data-ng-click="expire(guestPass)" class="btn btn-sm btn-default">Expire</button></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>