﻿<form name="form" data-ng-submit="createGuestPass()" novalidate>
    <fieldset>
        <div class="form-group">
            <label class="control-label" for="inputSource">Source</label>
            <div class="">
                <input type="text" class="form-control" data-ng-model="params.source" id="inputSource" required placeholder="Source e.g. greenhous" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputCampaign">Campaign ID/Name (optional)</label>
            <div class="">
                <input type="text" class="form-control" data-ng-model="params.campaign" id="inputCampaign" placeholder="e.g. March mailshot" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputTtl">
                How long after the user uses the guest pass should it remain valid?
                <span class="text-muted">n.b. Everytime the guest pass is used, the timer is reset</span>
            </label>
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <input type="number" id="inputTtl" class="form-control" ng-model="params.ttlValue" placeholder="" required />
                </div>
                <div class="col-xs-6 col-sm-2">
                    <select data-ng-model="params.ttlUnits" class="form-control" required>
                        <option value="1">Hours</option>
                        <option value="24">Days</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputRedirectTo">Landing page (optional)</label>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" data-ng-model="params.redirectto" id="inputRedirectTo" placeholder="" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span data-ng-show="params.redirectto">
                        &nbsp;<a target="_blank" href="{{params.redirectto}}"><i class="icon-share-alt"></i> test link</a>
                        &nbsp;|&nbsp;<button type="button" tooltip="Add utm_source and utm_campaign parameters based on values set above. Be sure to check the generated URL before creating the guest pass." data-ng-click="addUtmParameters()" class="btn btn-default btn-sm">Add anyalytics tracking</button>
                    </span>
                </div>
            </div>
            <span class="help-block">When a user clicks the link, they will be redirected to this URL.</span>
        </div>
        <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid || busy">Create</button>
    </fieldset>
</form>