﻿<div class="row">
    <div class="col-md-4">
        <h3>Source: {{guestPass.ticket.source}}</h3>
        <h4>Campaign: {{guestPass.ticket.campaign}}</h4>
        <dl>
            <dt>Landing page</dt>
            <dd><a href="{{guestPass.ticket.redirectTo}}" target="_blank">{{guestPass.ticket.redirectTo}}</a></dd>
            <dt>Time to live</dt>
            <dd>{{guestPass.ticket.timeToLive}}</dd>
            <dt class="text-danger" data-ng-show="guestPass.ticket.expired">Expired</dt>
            <dd class="text-danger" data-ng-show="guestPass.ticket.expired">{{guestPass.ticket.expiredAt | humanizeFromNow}} <span class="text-muted">{{guestPass.ticket.expiredBy}}</span></dd>
        </dl>
    </div>
    <div class="col-md-8">
        <dl>
            <dt>Token</dt>
            <dd>
                <div class="form-group">
                    <input type="text" readonly="readonly" class="form-control" ng-model="guestPass.token.value"/>
                </div>
            </dd>
            <dt>Link <small>(Copy the link to use in emails etc)</small></dt>
            <dd>
                <div class="form-group">
                    <div class="input-group">
                        <input id="guestPassLink" class="form-control" ng-model="guestPass.token.link" />
                        <span class="input-group-btn">
                            <a href="{{guestPass.token.link}}" class="btn btn-default" target="_blank"><i class="icon-share-alt"></i></a>
                        </span>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>