﻿@{
    ViewBag.MetaTitle = "Guest passes";
    ViewBag.PageTitle = null;

    Bundles.Reference("~/areas/siteadmin/scripts/affiliates/");
}

<div ng-app="app" id="ng-app" ng-cloak>
    
    <script type="text/ng-template" id="create-guest-pass.html">
        @Html.Partial("_Ng-CreateGuestPassView")
    </script>

    <script type="text/ng-template" id="guest-pass-list.html">
        @Html.Partial("_Ng-ListView")
    </script>

    <script type="text/ng-template" id="guest-pass.html">
        @Html.Partial("_Ng-GuestPassView")
    </script>

    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    
    <div class="page-header">
        <h1>Guest passes</h1>
        <ul class="nav nav-pills">
            <li data-ng-class="{active: pageid=='list'}"><a href="#{{appUrl('list')}}">List</a></li>
            <li data-ng-class="{active: pageid=='new'}"><a href="#{{appUrl('new')}}">Create New</a></li>
        </ul>
    </div>
    
    
    <div ng-view></div>
</div>