﻿@model Sfs.EStore.Web.App.Code.CustomLinkMenuItem
@{
    var url = Model.Url;
    if (url.StartsWith("~"))
    {
        url = Url.Content(url);
    }
}
<li><a href="@url">@Html.Raw(Model.Text)</a></li>