﻿@model Sfs.EStore.Web.App.Code.DropDownMenuItem
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @Model.Text
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in Model.Items)
        {
            @Html.DisplayFor(x => item)
        }
    </ul>
</li>