﻿body {
  background-image: url("../found.png");
  background-size: 100% auto;
}

h2 {
  color: black;
}

.page-header {
  padding: 10px 40px !important;
  background: #f5f5f5 !important;
  border-radius: 5px !important;
}

.page-header h1 {
  font-size: 28px;
  margin-bottom: 0;
  color: black;
}

header .navbar-before .phone {
  position: relative;
  font-size: 24px;
  color: black;
  float: right;
  margin-left: 25px;
}

/*Overide Bootstrap settings Retail Page*/
.btn-primary {
  color: #ffffff;
  background-color: #96172E;
  border-color: #96172E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #96172E;
  border-color: black;
  /*set the color you want here*/
}

.pagination > .active > a {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

#footer {
  background-color: #96172E;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #footer-logo {
    background-image: url("../MFooterLogo.png");
    width: 40px;
    height: 40px;
  }
  .navbar-brand {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .search-tools-top {
    padding: 15px;
  }
}

@media (min-width: 481px) {
  #footer-logo {
    background-image: url("../FooterLogo.png");
    width: 69px;
    height: 69px;
  }
}

@media (min-width: 2048px) {
  body {
    background-image: url("../FoundLarge.png");
    background-size: 100% auto;
  }
}

/*Mark Up Page Style*/
p {
  margin: 0 0 8.5px;
  color: black;
}

a {
  cursor: pointer;
  color: black;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: black;
}

.vehicles-table h4 {
  margin-top: 0;
  font-weight: bold;
  color: black;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black !important;
}

/*Mark Up Page Style*/
/*Car Detail*/
.title {
  color: black;
}

.rsDefaultInv .rsThumbsHor {
  /*background: url('Background.gif') no-repeat center center fixed;*/
}

/*Car Detail*/
body.vehicle-details .btn-watches {
  margin-top: 5px;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-style: italic;
  padding: 10px 4px;
}

/* Listing View */
.listing-view {
  padding: 10px 40px;
  background: #f5f5f5;
  border-radius: 5px;
}

/*Image Hover Detail*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/*# sourceMappingURL=Retail.css.map */