﻿<div>
    <select class="form-control" data-ng-disabled="editorWorking || busy" data-ng-model="selectedItem" data-ng-options="s.key for s in snippets">
        <option value="">Select a snippet to edit</option>
    </select>
</div>

<div data-ng-controller="SnippetEditorController">
    <div data-ng-show="selectedSnippet">
        <h3>{{selectedSnippet.key}} <small>{{selectedSnippet.expectedType}}</small></h3>
        <form data-ng-submit="save()">
            <div class="form-group">
                <div class="">
                    <textarea id="snippet_body" ng-model="selectedSnippet.body" ui-refresh="editorRefresh" ui-codemirror="editorOptions" class="form-control CodeMirror-autoHeight"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" data-ng-disabled="!selectedSnippet" data-ng-disabled="status || busy">Save changes</button>
                <span class="text-danger" data-ng-show="status">{{status}}...</span>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
    .CodeMirror {
        height: auto;
    }
    .CodeMirror-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>