﻿@using Cassette.Stylesheets
@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Snippets";
    Bundles.Reference("~/areas/siteadmin/scripts/snippets/");
    Bundles.Reference<StylesheetBundle>("siteadmin/style");
}
<div ng-app="app" id="ng-app" ng-cloak>
    <script type="text/ng-template" id="index.html">
        @Html.Partial("_Ng-Index")
    </script>
    <div data-ng-view></div>
</div>