﻿@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.ManufacturerCmsPagesCreateModel
@{
    ViewBag.MetaTitle = "Create";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("index")">Manufacturers</a></li>
    <li class="active">New Manufacturer Page</li>
</ul>

<h2>New Manufacturer Page</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.VehicleTypeQueryTerm, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(x => x.VehicleTypeQueryTerm, new[]
                        {
                            new SelectListItem{Text = "Car", Value = "CAR"},
                            new SelectListItem{Text = "Van", Value = "VAN"}
                        }, new { @class = "form-control", autofocus = "autofocus" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.ManufacturerQueryTerm, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.ManufacturerQueryTerm, new { @class = "form-control", autofocus = "autofocus" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Create page</button>
            or @Html.ActionLink("cancel", "index")
        </div>
    </fieldset>
}
