﻿@using Sfs.EStore.Web.App
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
    <h3>Saved searches</h3>
</div>
<div class="modal-body modal-savedSearches">
    <div>
        @*<pre>{{newSearch |json}}</pre>*@ 
        <form class="well form-inline" data-ng-submit="saveNewSearch(newSearch)" data-ng-show="newSearch">
            @{
                Html.Snippet("saved_searches/modal/save_new_search_content")
                    .HtmlExpected()
                    .Render();
            }
            <div class="form-group">
                <label class="sr-only control-label">Name this search:</label>
                <div class="">
                    <input class="form-control" ng-model="newSearch.name" autofocus="true" placeholder="Name this search:"/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
        
        @{
            Html.Snippet("saved_searches/modal/before_list_content")
                .HtmlExpected()
                .Render();
        }

        <div class="alert alert-block" data-ng-hide="list.length > 0 || newSearch">
            <p>You don't currently have any saved searches.</p>
        </div>

        <table class="table">
            <tbody>
                <tr ng-repeat="search in list">
                    <td>
                        <span>
                            <span data-ng-hide="search._renaming"><a data-ng-click="renameSearch(search)">{{search.name}}</a> </span>
                            <span data-ng-show="search._renaming"><input data-ng-model="search.name"/><button type="button" data-ng-click="saveSearchName(search)">Save</button></span>
                        </span>
                        <small>{{search.savedOn | formatDate}}</small>
                        <div>
                            <span data-ng-repeat="(name, criterion) in search.criteria">{{name | criterionTermToLabel}}: <b>{{criterion | criterionValueToLabel}}</b>; </span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-block">
                            <a href="{{search.criteria | searchUrl}}"class="btn btn-sm btn-info"><i class="icon-search"></i> Search</a>
                            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a data-ng-click="deleteSearch(search)">Delete</a></li>
                            </ul>
                        </div>
                        @if (IsCurrentUserAllowed("/Search/SavedSearches/Alerts"))
                        {
                            var turnOnTip = Html.Snippet("saved-search/alerts/button-on-tooltip")
                                .PlainTextExpected()
                                .Otherwise("Alerts are off. Turn alerts on to recieve emails when new vehicles matching your search arrive.")
                                .HtmlString().ToString();
                            var turnOffTip = Html.Snippet("saved-search/alerts/button-off-tooltip")
                                .PlainTextExpected()
                                .Otherwise("Alerts are on. Turn alerts off to stop being notified when new vehicles arrive.")
                                .HtmlString().ToString();
                            <button tooltip="@turnOffTip" tooltip-placement="left" tooltip-popup-delay="500" ng-if="search.alertStatus.enabled" type="button" class="btn-alerts btn-block btn btn-success btn-xs" ng-click="search.alertStatus.enabled=!search.alertStatus.enabled;saveSearch(search)" ng-model="search.alertStatus.enabled" >
                                Alerts: ON
                            </button>
                            <button tooltip="@turnOnTip" tooltip-placement="left" tooltip-popup-delay="500" ng-if="!search.alertStatus.enabled" type="button" class="btn-alerts btn-block btn btn-default btn-xs" ng-click="search.alertStatus.enabled=!search.alertStatus.enabled;saveSearch(search)" ng-model="search.alertStatus.enabled" >
                                Alerts: OFF
                            </button>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        
        @{
            Html.Snippet("saved_searches/modal/after_list_content")
                .HtmlExpected()
                .Render();
        }
        <p>&nbsp;</p>
    </div>
</div>
<div class="modal-footer">
</div>