﻿
<style>
    .modal-content {
        padding: 25px !important;
    }

    .back {
        background-color: #eeeeee;

    }

    .table-scroll {
        height: 300px;
        overflow:scroll;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
    <h1>Bids</h1>
</div>
<div class="modal-body" ng-init="show=1;bidding()">
    <div class="row">
        <div>
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a ng-click="show=1;bidding();" ng-class="{'back':show==1}">Bidding </a></li>
                    <li><a ng-click="show=2;didntWin();" ng-class="{'back':show==2}">Didnt Win</a></li>
                    <li><a ng-click="show=3;purchaseHistory();" ng-class="{'back':show==3}">Won</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">

            <div ng-show="show==1">
                <div>
                    <div class="row">
                        <div ng-show="!listings && working">@{ Html.RenderPartial("_loader"); }</div>
                        <div class="col-md-8" ng-init="click=2">
                            <button class="btn btn-default" ng-click="click=1;filterByStatus('bidding.')" ng-class="{'back':click==1}" ng-disabled="!filterStatus">All</button>
                            <button class="btn btn-default" ng-click="click=2;filterByStatus('bidding.winning')" ng-class="{'back':click==2}" ng-disabled="filterStatus == 'Winning'">Winning</button>
                            <button class="btn btn-default" ng-click="click=3;filterByStatus('bidding.outbid')" ng-class="{'back':click==3}" ng-disabled="filterStatus == 'Outbid'">Not winning</button>
                        </div>
                        <div class="col-md-4">
                            <select id="sortBy" ng-model="sortBy" class="form-control" ng-change="setSortBy()">
                                <option value="endTime">Time left: ending soonest</option>
                                <option value="-endTime">Time left: newly listed</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="listings.length == 0">
                    <br />
                    <p><b>You aren't bidding on any items.</b></p>
                    <p>To see items you were bidding on that have ended, go to <a href="#/purchase-history">Order history</a> or <a href="#/didnt-win">Didn't win</a>.</p>
                </div>

                <div ng-if="listings.length > 0">
                    <div class="table-scroll">
                        <table class="table table-hover vehicles-table">
                            <thead>
                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                    <th>Bids</th>
                                    <th>Price</th>
                                    <th>Time left</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="working">
                                    <td colspan="5">
                                        @{ Html.RenderPartial("_loader"); }
                                    </td>
                                </tr>
                                <tr ng-repeat="listing in listings">
                                    <td>
                                        <a class="img" target="_self" ng-href="{{listing | listingUrl}}">
                                            <vehicle-image image="listing.primaryImage" dimensions="280x210" overlay="results" />
                                        </a>
                                    </td>
                                    <td>
                                        <h4>
                                            <span watch-status-toggle ng-listing-id="listing.listingId"></span>
                                            <span ng-if="listing.biddingInfo.biddingStatus == 'Outbid'" class="label label-default label-danger">OUTBID</span>
                                            <a target="_self" data-toggle="tooltip" title="{{listing.title}}" data-delay="500" ng-href="{{listing | listingUrl}}">{{listing.title}}</a>
                                        </h4>
                                        <p class="text-muted">Your maximum bid: {{listing.biddingInfo.maximumBid | money}}</p>
                                        <ul class="list-unstyled">
                                            <li>{{ listing.vehicleInfo.registration.yap }} ({{ listing.vehicleInfo.registration.plate }})</li>
                                            <li ng-if="listing.vehicleInfo.mileage">{{ listing.vehicleInfo.mileage | number }} miles</li>
                                        </ul>
                                    </td>
                                    <td>{{listing.sellingStatus.bidCount}}</td>
                                    <td>
                                        <h4 ng-if="listing.sellingStatus.currentPrice.amount > 0" ng-class="{winning: (listing.biddingInfo.biddingStatus == 'Winning'), outbid: (listing.biddingInfo.biddingStatus == 'Outbid')}">{{listing.sellingStatus.currentPrice | money}}</h4>
                                        @*<h4 ng-if="listing.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</h4>*@
                                        <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                                        @{
                                            @*Html.Snippet("vehicles/all/price_postfix")
                                .PlainTextExpected()
                                .Template(@<small class="price-postfix">@item</small>)
                                .Render();*@
                                        }
                                    </td>
                                    <td>
                                        <h4 title="{{ listing.listingInfo.endTime | formatDate }}" ng-if="listing.listingInfo.listingType != 'FixedPrice' && listing.listingInfo.endTime">{{ listing.listingInfo.timeRemaining | humanizeDuration }}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pager ng-if="pagination.totalCount > pagination.take" total-items="pagination.totalCount" items-per-page="pagination.take" page="pagination.currentPage"></pager>
                </div>

            </div>
            <div ng-show="show==2">

                <div ng-show="!listings && working">@{ Html.RenderPartial("_loader"); }</div>
                <div ng-if="listings.length == 0">
                    <br />
                    <p><b>You don't have any vehicles</b></p>
                    <p>Vehicles you didn't win with display here.</p>
                </div>

                <div ng-if="listings.length > 0">
                    <div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <select id="sortBy" ng-model="sortBy" ng-change="setSortBy()">
                                    <option value="-endTime">Time ended: recent first</option>
                                    <option value="endTime">Time ended: recent last</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-scroll">
                    <table class="table table-hover vehicles-table">
                        <thead>
                            <tr>
                                <th colspan="2">&nbsp;</th>
                                <th>Bids</th>
                                <th>Price</th>
                                <th>Ended</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="working">
                                <td colspan="5">
                                    @{ Html.RenderPartial("_loader"); }
                                </td>
                            </tr>
                            <tr ng-repeat="listing in listings">
                                <td>
                                    <a class="img" target="_self" href="{{listing | listingUrl}}">
                                        <vehicle-image image="listing.primaryImage" dimensions="280x210" overlay="results" />
                                    </a>
                                </td>
                                <td>
                                    <h4>
                                        <span watch-status-toggle ng-listing-id="listing.listingId"></span>
                                        <a target="_self" data-toggle="tooltip" title="{{listing.title}}" data-delay="500" href="{{listing | listingUrl}}">{{listing.title}}</a>
                                    </h4>
                                    <p class="text-muted">Your maximum bid: {{listing.biddingInfo.maximumBid | money}}</p>
                                    <ul class="list-unstyled">
                                        <li>{{ listing.vehicleInfo.registration.yap }} ({{ listing.vehicleInfo.registration.plate }})</li>
                                        <li ng-if="listing.vehicleInfo.mileage">{{ listing.vehicleInfo.mileage | number }} miles</li>
                                    </ul>
                                </td>
                                <td>{{listing.sellingStatus.bidCount}}</td>
                                <td>
                                    <h4 ng-class="{winning: (listing.biddingInfo.buyItNowSale)}" ng-if="listing.biddingInfo.buyItNowSale">
                                        {{listing.listingInfo.buyItNowPrice | money }}
                                    </h4>

                                    <div ng-if="!listing.biddingInfo.buyItNowSale">
                                        <h4 ng-if="listing.sellingStatus.currentPrice.amount > 0" ng-class="{winning: (listing.biddingInfo.biddingStatus == 'Winning'), outbid: (listing.biddingInfo.biddingStatus == 'Outbid')}">{{listing.sellingStatus.currentPrice | money}}</h4>
                                        @*<h4 ng-if="listing.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</h4>*@
                                        <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                                        @{
                                            @*Html.Snippet("vehicles/all/price_postfix")
                                        .PlainTextExpected()
                                        .Template(@<small class="price-postfix">@item</small>)
                                    .Render();*@
                                        }
                                    </div>
                                </td>
                                <td>
                                    <h4 title="{{ listing.listingInfo.endTime | formatDate }}" ng-if="listing.listingInfo.endTime">{{ listing.listingInfo.endTime | formatDate }}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <pager ng-if="pagination.totalCount > pagination.take" total-items="pagination.totalCount" items-per-page="pagination.take" page="pagination.currentPage"></pager>
                </div>
            </div>
            <div ng-show="show==3">
                <div ng-show="!listings && working">@{ Html.RenderPartial("_loader"); }</div>
                <div ng-if="listings.length == 0">
                    <br />
                    <p><b>You don't have any purchases to display in this view.</b></p>
                </div>

                <div ng-if="listings.length > 0">
                    <div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <select id="sortBy" ng-model="sortBy" ng-change="setSortBy()">
                                    <option value="-endTime">Time ended: recent first</option>
                                    <option value="endTime">Time ended: recent last</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover vehicles-table">
                        <thead>
                            <tr>
                                <th colspan="2">&nbsp;</th>
                                <th>Bids</th>
                                <th>Price</th>
                                <th>Ended</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="working">
                                <td colspan="5">
                                    @{ Html.RenderPartial("_loader"); }
                                </td>
                            </tr>
                            <tr ng-repeat="listing in listings">
                                <td>
                                    <a class="img" target="_self" href="{{listing | listingUrl}}">
                                        <vehicle-image image="listing.primaryImage" dimensions="280x210" overlay="results" />
                                    </a>
                                </td>
                                <td>
                                    <h4>
                                        <span watch-status-toggle ng-listing-id="listing.listingId"></span>
                                        <a target="_self" data-toggle="tooltip" title="{{listing.title}}" data-delay="500" href="{{listing | listingUrl}}">{{listing.title}}</a>
                                    </h4>
                                    <p ng-show="listing.biddingInfo.maximumBid" class="text-muted">Your maximum bid: {{listing.biddingInfo.maximumBid | money}}</p>
                                    <ul class="list-unstyled">
                                        <li>{{ listing.vehicleInfo.registration.yap }} ({{ listing.vehicleInfo.registration.plate }})</li>
                                        <li ng-if="listing.vehicleInfo.mileage">{{ listing.vehicleInfo.mileage | number }} miles</li>
                                    </ul>
                                </td>
                                <td>{{listing.sellingStatus.bidCount}}</td>
                                <td>
                                    <h4 ng-class="{winning: (listing.biddingInfo.buyItNowSale)}" ng-if="listing.biddingInfo.buyItNowSale">
                                        {{listing.listingInfo.buyItNowPrice | money }}
                                    </h4>

                                    <div ng-if="!listing.biddingInfo.buyItNowSale">
                                        <h4 ng-if="listing.sellingState==reserved && listing.biddingInfo.biddingStatus=='Outbid'" ng-class="Winning">{{listing.listingInfo.buyItNowPrice | money}}</h4>
                                        <h4 ng-if="listing.sellingStatus.currentPrice.amount > 0" ng-class="{winning: (listing.biddingInfo.biddingStatus == 'Winning'), outbid: (listing.biddingInfo.biddingStatus == 'Outbid')}">{{listing.sellingStatus.currentPrice | money}}</h4>
                                        @*<h4 ng-if="listing.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</h4>*@
                                        <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                                        @{
                                            @*Html.Snippet("vehicles/all/price_postfix")
                                                .PlainTextExpected()
                                                .Template(@<small class="price-postfix">@item</small>)
                                                .Render();*@
                                        }
                                    </div>

                                </td>
                                <td>
                                    <h4 title="{{ listing.listingInfo.endTime | formatDate }}" ng-if="listing.listingInfo.endTime">{{ listing.listingInfo.endTime | formatDate }}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pager ng-if="pagination.totalCount > pagination.take" total-items="pagination.totalCount" items-per-page="pagination.take" page="pagination.currentPage"></pager>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer"></div>



