.btn {
	border-radius: 0;
	&.btn-primary {
		background-color: #BB161D;
		border-color: #BB161D;
		&:hover {
			background-color: lighten(#BB161D, 10%);
			border-color: lighten(#BB161D, 10%);
		}
	}
}
