$text-danger: #d9534f;
$bg-danger: #f2dede;

@mixin box {
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  margin-bottom: 15px;
}

.checkout-container {
  .checkout-item {
    @include box;
    h4 {
      margin-top: 0;
    }
    .checkout-item__form {
      color: #FFF;
      >label {
          text-decoration: underline;
      }
      label {
        margin-right: 10px;
      }

      .has-error, .has-error .control-label {
        color: $bg-danger;
      }

      &.invalid-required {
        background-color: rgb(187, 22, 29 );
      }
    }
    .close-button {
      margin-bottom: 5px;

      .close {
        float: none;
      }
    }
  }
  .checkout-sidebar {
    border: 1px solid #ddd;
    padding: 5px;
    h3 {
      margin-top: 0;
      text-transform: capitalize;
    }
    .table-totals {
      tfoot {
        font-weight: bold;
      }
    }

    .finance {
      &.invalid {
        h3 {
          transition-duration: 300ms;
          transition-property: color, text;
          color: $text-danger;
        }
        .finance-available-negative {
          transition-duration: 300ms;
          transition-property: background-color;
          background-color: $bg-danger;
        }
      }
    }
  }
}