footer#footer {
  background-color: #000;
  margin-top: 0px;
  padding: 20px 0px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  height: $footerHeight;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  @media (max-width: 767px) {
    height: $footerHeightXs;
  }

  .powered-by-logo {
      margin: -23px 0px;
      float: right;

      @media (max-width: 767px) {
        margin: 0;
      }
  }
}
