header {
	background: url(../images/header-bg.png) repeat-x;
	.container {
		background: #000 url(../images/header-bg.png) repeat-x;
		padding-right: 0;
		padding-left: 0;
		.inner {
			background-color: #000;
			margin-right: 20px;
			padding-left: 20px;
		}
		position: relative;
		
		.telephone { display: none; }
		.navbar-before {
			.logo-container {
				position: absolute;
				display: block;
				top: 20px;
				right: 100px;
				@media (min-width: 992px) {
					top: 20px;
					right: 20px;
				}
			}
			.phone {
				position: absolute;
				bottom: 0;
				right: 20px;
				font-size: 24px;
			}
		}

		.navbar.navbar-default {
			background: url(../images/header-bg.png) repeat-x;
			border: none;
		}

		a.navbar-brand {
			height: inherit;
			padding: 10px 10px 10px 0px;
			background-color: #000;
			&:hover {
				background-color: #000;
			}
		}

		@media (min-width: 768px) {
			.navbar-nav > li > a {
				padding-bottom: inherit;
			}
		}
	}
}
