﻿.modal-dialog {
  color: #000;

  h3 { 
    color: #C81B1D;
    font-size: x-large;
  }

  /*.btn {
      width: 170px;
      border-radius: 5px;
  }*/

  /*.cancel {
      background-color: #ffffff;
      color: black;
      border-color: #808080;
  }*/
}