body.my {
  .search-tools .pagination-top {
    margin: 0;
    display: inline;
  }

  input, button {
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 5px;
  }

  .vehicles-table {
    margin-top: 10px;
  }
}
