body.order-history {

  span.text-muted {
    color: #EEEEEE;
    font-size: 14px;
  }

  .table {
    th, td {
      border-style: none;
    }


    .total-price-row {
        td.table-col-money {
            border-top: solid;
            border-width: 1px;
        }
      }

    .table-col-money {
       width: 100px;
       height: 27px ;
    }
  }
}