﻿body.reservations {
    .vehicles-table {
        .vehicle-title {
            color: #FFF;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
        }
        .vehicle-plate {
            color: #FFF;
            font-size: 21px;
            font-weight: 500;
        }
        .vehicle-mileage {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
        }
        .vehicles-table__price {
            color: $SvsBlue;
            font-size: 16px;
            font-weight: 500;
            .vat-suffix {
                display: none;
            }
        }
        .btn-link {
            padding: 0px;
            text-decoration: underline;
            font-style: italic;
            i {
                display: none;
            }
        }
        tr {
            &:hover {
                background-color: #000;
            }
            td:last-child {
                text-align: right;
            }
        }

        .vehicle-expiry,.vehicle-remove {
            margin-top:5px;
        }

        .table-head{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 8px;
        }

        .table-body {
            h4.vehicle-price {
                @media(max-width:767px){
                    font-size: 20px;
                }
            }
        }
        .vehicle-description {
            margin:0;
        }

        .checkbox label {
            line-height: 1.7em;
        }
    }
}
