$activeColour : #C51D1A;
$activeFontColour: #F9F9F9;
body.retail-mode.programme-benefits {
  section.main>.container {
    h2 {
      padding: 5px; 
      background-color: $activeColour;
      color: $activeFontColour;
      display:inline-block;
    }

    .tc {
      color: #C81B14;
    }

    .nav-tabs {
        @media(max-width:768px){
          display: none;
        }
      li {
        &.active {
          > a {
            background-color: $activeColour;
            color: $activeFontColour;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            &:hover {
              background-color: $activeColour;
            }
          }
        }
        > a {
          color: #000000;
          &:hover {
            background-color: #d6d6d6;
          }
        }
      }
    }

    .tab-content>.active {
        @media(max-width:768px){
          display:inline;
        }
    }
    .tab-content>.tab-pane {
      @media(max-width:768px) {
          display: initial;
      }

      hr{
        border: 1px solid #eeeeee;
      }

      h2{
        @media(max-width:768px){
          font-size:18px;
        }
      }
    }

    img {
      margin-top: 15px;
      @media (max-width: 768px) {
        width: 250px;

      }
    }

    .content {
      p {
          margin-top: 20px;
          font-size: 13px;
          margin-bottom: 20px;
      }
    }

    .image-placeholder {
      text-align: center;
      margin-bottom: 15px;
    }
  }

}