$backgroundColor: #BB161D;
body.retail-mode.search {

  tr:hover,.vehicle-row:hover{
      background-color: #EEEEEE;
  }

  .vehicle-row{
      padding: 8px;
      line-height: 1.4;
      border-top: 1px solid #dddddd;
  }

  section.main .container { padding-top: 20px; }

  .button-alignment {
      text-align: center;

      button:active {
          background-color: $backgroundColor;
      }
  }
  .search-tools {
    margin-bottom: 10px;
    
    .pagination-top {
      margin: 0;
      display: inline;
    }
  }

  .thumbnail {
    background-color: #fff;

    .thumbnail-title {
      height: 69px;
      overflow: hidden;
    }
  }

  .search-params-container {
    background-color: $backgroundColor;

    .button-search {
        border-radius: 5px;
        background-color: #fff;
        color: #808080;
    }

    .row {
        .form-group {
            text-align: center;
        }
    }

    select,input {
        background-color: $backgroundColor;
        color: white;
        text-transform: uppercase;
        border: 0;
        border-bottom: 1px solid #fff;
        box-shadow: none;
        &#search-q {
          text-transform: none;
        }
    }
    
    .equipment {
        font-weight: bold;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
    }
    ::-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fff;
    }
  }
}