$borderColour: #CBC8C8; // or  #3D3C3C

body.retail-mode.vehicle-details {

    section.main>.container {
    .page-header {
      border-bottom: 1px solid $borderColour
    }

    h1.title {
      > small {
        color: #000000;
      }
    }

    .lot-bids {
      .price-container {
         button.btn-reserve, a {
          width: 180px;
        }
        a {
          background-color: #EBE7E6;
          &:hover {
            background-color: #D4D0CF;
          }
        }
      }
    }

    .pricing-header {
        border-bottom: 1px solid $borderColour;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .star-icon-style {
        color: #C81B1D;
    }
  }

  section.programme-benefits {
    border-top: 1px solid $borderColour;
    padding-top: 10px;

    .programme-benefits__benefit {
      margin-top: 20px;
      border-bottom: 1px solid #eee;

      h3 {
        display: inline-block;
        background-color: #C81B1D;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        text-align: right;

        margin-top: 0;
        width: 18%;
        float: left;
      }
      .programme-benefits__benefit-content {
        margin-left: 20%;
      }

      @media (max-width: 991px) {
        h3 {
          width: 25%;
        }
        .programme-benefits__benefit-content {
          margin-left: 27%;
        }
      }

      @media (max-width: 767px) {
        h3 {
          width: auto;
          float: none;
        }
        .programme-benefits__benefit-content {
          margin-left: 0;
        }
      }
    }
  }
}
