@import "retail-markup";
@import "retail-search";
@import "retail-home";
@import "retail-programme-benefits";
@import "retail-vehicle-details";

body.retail-mode {
	section.main>.container {
 		background-color: #fff;
 		color: #000;
 	}

 	.help-block {
 		color: #aaa;
 	}
}