﻿body.retail-mode.home {

    .flashy-title {
        font-size: x-large;
        text-align: center;
        color: red;
        font-weight: bold;
        text-shadow: 0 0 20px #ffd301;
        -webkit-animation-name: retail-blinker;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-name: retail-blinker;
        -moz-animation-duration: 2s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        animation-name: retail-blinker;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .panel {
        font-size: 1.5em;

        .panel-heading {
            background-color: #ffffff;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;
            border-bottom: none;
            color: black;
            padding: 0 15px;
            font-size: 1.5em;
        }

        .panel-body {
            background-color: #ffffff;
            border-top: none;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 0;
        }
    }

    .locator {
        .panel-heading {
            font-weight: bold;
        }

        .panel-body {
            color: #414141;

            .panel-paragraph-style {
                margin-bottom: 22px;
            }
        }
    }

    .programme {
        font-weight: bold;
        font-style: italic;

        .panel-paragraph-style {
            font-size: 1.5em;
        }
    }

    .btn {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
    }

    .info {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    input[type="text"] {
        background-color: #ce181e !important;
        color: white;
    }

    input[type="number"] {
        background-color: #ce181e !important;
        color: white !important;
    }

    .form-control::-webkit-input-placeholder {
        color: white;
    }

    .form-control::-moz-placeholder {
        /* Firefox 18- */
        color: white;
    }

    .form-control:-ms-input-placeholder {
        color: white;
    }

    .row {
        margin-bottom: 3px !important;
    }

    .input-lg {
        width: 100% !important;
    }

    .input-lg::-webkit-input-placeholder {
        color: white;
    }
}
