body.search-results {
  section.main.container { 
      padding-top: 20px; 
  }

  .search-tools {
    margin-bottom: 10px;
    
    .pagination-top {
      margin: 0;
      display: inline;
    }
  }
  .search-params-container {
    .button-search {
      border-radius: 5px;
    }

    select,input {
      text-transform: uppercase;
      background-color: #58595b;
      color: #fff;
      border: none;
      border-bottom: 1px solid;

      &#search-q {
        text-transform: none;
      }
    }

    .row {
      .form-group {
        text-align: center;
      }
    }

     ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
    }
    ::-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fff;
    }
  }  
}