@import "vars.scss";

body.welcome {
	section.main {
		h1 {
			text-align: center;
			font-size: 28px;
			@media (max-width: 480px) {
		 		font-size: 15px;
		 	}
		}

		.panel {
			font-size: 1.5em;
			background: url(../images/welcome-panel-bg.png) bottom left repeat-x;
			.panel-heading {
				border-bottom: none;
				font-size: 1.5em;
				padding: 0 15px;
			}
			.panel-body {
				padding-top: 0;
			}
			.btn {
				font-size: 1em;
			}
			&.eauction {
				text-align: right;
			}
		}
		.info {
			p { text-align: center; }
		}
	}
}
