body.vehicle-details {
  .well {
    color: #333;
    border-radius: 0;
    background-color: #ebe7e6;
    border-color: darken(#ececeb, 20%);
  }

  @mixin nowPrice {
	    text-align: right;
	    line-height: normal;
	    font-weight: bold;
	    color: $SvsPink;
	    margin: 0;
	    margin-bottom: 10px;
    }

    .prices {
	    h4.now-price {
		    @include nowPrice;
		    font-size: 76px;
		    line-height: 1em;
		    &.now-price-auction {
			    font-size: 56px;
		    }
	    }
	    .now-price-sub-text, .price-postfix {
		    text-align: right;
		    color: $MediumGray;
		    font-size: 12px;
	    }
	    .now-price-reserve {
		    margin: 0;
		    text-align: right;
		    .now-price-reserve-met {
			    color: #2FA839;
		    }
		    .now-price-reserve-notmet {
			    color: $SvsPink;
		    }
	    }
    }

    .breadcrumb {
      margin-top: 15px;
      padding: 8px 15px;
      margin-bottom: 17px;
      list-style: none;
      background-color: #4B4B4B;
      border: 1px solid #f5f5f5;

      .text-muted {
          color: #a1a1a3;
      }

      a {
          color: #f5f6f8;
      }

      .breadcrumb__item {
        &.breadcrumb__item--back, &.breadcrumb__item--search {
          span {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }

    .title {
        small {
            color: #f9f9f9;
        }
    }

    .btn-reserve {
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: #c81b1d;
        color: #f1eae2;
        font-size: 20px;
        font-style: italic;
    }
    
    .btn-callback {
        color: #000000;
        border: none;
        border-radius: 5px;
        font-style: italic;
    }

    .btn-watches {
        margin-top: 5px;
        color: #000000;
        border: none;
        border-radius: 5px;
        font-style: italic;
        padding: 10px 4px;
    }

    .star-icon-style {
        color: #C81B1D;
    }

    .btn-watches {
        [class^="icon-"], [class*=" icon-"] {
	    width: 14px;
	    height: 14px;
	    line-height: 14px;
	    vertical-align: text-top;
	
            &.icon-2x {
		       vertical-align: middle;
	        }
        }
    }
}