.vehicles-thumbnails {
	.thumbnail {
		position: relative;
	}
	.vehicle-thumbnails__img {
		height: 195px;
		@media (max-width: 1199px) {
			height: 150px;
		}
		@media (max-width: 991px) {
			height: 150px;
		}
		@media (max-width: 767px) {
			height: auto;
		}
	}
	.vehicles-thumbnails__title {
		font-size: 14px;
		height: 51px;
		max-height: 51px;
		overflow: hidden;
	}
	.vehicles-thumbnails__details {
		height: 51px;
		max-height: 51px;
		overflow: hidden;
	}
	.vehicles-thumbnails__equipment {
		font-weight: bold;
		height: 80px;
		max-height: 80px;
		overflow: hidden;
	}
	.vehicles-thumbnails__pricing {
		font-size: 1.5em;
	}

	.listing-watch-toggle {
		position: absolute;
		bottom: 10px;
		right: 5px;
		font-size: 16px;
	}

	@media (max-width: 767px) {
		.vehicles-thumbnails__title, .vehicles-thumbnails__details, .vehicles-thumbnails__equipment {
			height: auto;
			max-height: none;
			overflow: auto;
		}
	}
}