.vehicles-table {
    /*a.img {
      img {
        width: 120px;
        max-width: initial;
      }
    }*/
    &.table-hover tr:hover,.row:hover {
      background-color: lighten(#000, 10%);
    }

    .vehicles-table__details {
      font-size: 15px;
    }

    .vehicles-table__exterior-colour {
      text-align: right;
    }

    .vehicles-table__equipment {
      font-weight: bold;
    }

    .vehicles-table__price {
      font-size: 20px;
      color: #fff;
      text-align: right;
    }

    .vehicle-row {
        padding: 8px;
        border-top: 1px solid #f5f5f5;
        line-height: 1.4;

        &.selected {
          background-color: lighten(#000, 20%);
        }
    }
  }
