/*
@reference "./bootstrap.css";
*/

@import "vars";
@import "ie8";

/* components */
@import "btn";
@import "modal";
@import "well";
@import "carousel-container";
@import "thumbnail";
@import "vehicles-table";
@import "vehicles-thumbnails";
@import "header";
@import "footer";
//
/* pages */
@import "user-content";
@import "checkout";
@import "main";
@import "search-results";
@import "vehicle-details";
@import "reservations";
@import "retail-mode";
@import "my";
@import "order-history";

.hide-screen {
	display: none;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	background-color: #2C2B27;
	color: #eee !important;

	.wrapper {
		min-height: 100%;
		position: relative;

		padding-bottom: $footerHeight + 20px;

		@media (max-width: 767px) {
	 		padding-bottom: $footerHeightXs;
	 	}

		background-image: url(../images/body-bg.png);
		background-position: left bottom;
		background-repeat: repeat-x;
	}

    .phone {
        z-index: 1;
    }
    .detail-lot-spec-callouts {
        li {
           margin-left: 20px;
           font-size: 12px;
        }
    }
}


// The animation only works if this code is placed here
@-moz-keyframes retail-blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes retail-blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes retail-blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
