﻿
<script type='text/javascript'>
    function submitForm() {
        document.forms.item(0).submit();
    }
</script>
@using (Html.BeginForm("ReturnMarkup", "Dealer", FormMethod.Post, new { id = "foundForm", @class = "form-horizontal" }))
{
    //if (@Model.FoundFranchises.Any())
    //{
        @Html.Hidden("Name", @Model.Name)
        @Html.Hidden("No", @Model.No)
        @Html.Hidden("Marquee", "found")

        <div class="row">
            {{dealer.FoundFranchises.length}}
            <div class="col-sm-8 alert alert-warning">
                <p><a href="#" id="submit-link" class="button" onclick="foundForm.submit();">Go to Retail Mode Set Up</a> <br />Found Marque showing for FIAT, FIAT ABRATH, FIAT PROFFESIONALS</p>
            </div><div class="col-sm-4"></div>
        </div>
    @*}*@
}

@using (Html.BeginForm("ReturnMarkup", "Dealer", FormMethod.Post, new { id = "selectForm", @class = "form-horizontal" }))
{
    //if (@Model.SelectFranchises.Any())
    //{
        @Html.Hidden("Name", @Model.Name)
        @Html.Hidden("No", @Model.No)
        @Html.Hidden("Marquee", "select")

        <div class="row">
            {{dealer.Name}}
            <div class="col-sm-8 alert alert-warning">
                <p><a href="#" id="submit-link" class="button" onclick="selectForm.submit();">Go to Retail Mode Set Up</a><br/>Select For You Marquee showing JEEP , ALFA ROMEO </p>
                @*<button type="submit" class="btn btn-info"><h3> Selected For You<br /></h3>@Html.Raw(string.Join("|", Model.SelectFranchises.Select(s => string.Format(" {0}", s))))</button>*@
            </div>
            @*<div class="col-sm-4"></div>*@
            @*<div class="col-sm-4"></div>*@
        </div>
    @*}*@
}
