﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App.Models
@model Sfs.EStore.Web.App.Areas.Retail.Models.DealerListModel
@{

    ViewBag.Title = "Index";
    SetPageTitle("Select Dealer");
    SetBodyCssClass("markup");
    SetMetaData(new MetaDataModel
    {
        Title = "Dealer Setup"
    });
    Bundles.Reference<ScriptBundle>("~/areas/retail/scripts/apps/dealer");
}

<div ng-app="app" ng-controller="dealerController">
    <div class="row">
        <div class="col-sm-4">
            <select class="form-control" ng-options="dealer.No as dealer.Name for dealer in dealers track by dealer.No" ng-model="selectedDealer" ng-change="GetValue()" ng-selected="dealer.No == selectedDealer"></select>
        </div>
        <br />
        <br />
        <div class="col-sm-8">
            <div class="col-sm-8"></div>
        </div>
        <div class="row">

            <div class="col-sm-12 found-marque-dealer" ng-show="links.FoundFranchises.length" ng-click="Submit('found')">
                <br />
                <div class="col-sm-12 ">
                    <br /><p>Found Marque showing for FIAT, FIAT ABRATH, FIAT PROFFESIONALS</p>
                </div><div class="col-sm-12"></div>
            </div>

            <div class="col-sm-12 selected-marque-dealer" ng-show="links.SelectFranchises.length" ng-click="Submit('selected')">
                <br />
                <div class="col-sm-12 ">
                    <p>Select For You Marque showing JEEP , ALFA ROMEO</p>
                </div><div class="col-sm-12"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

</div>
