@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register("retail/listing/single/add_reservation/title",
                             "retail/listing/single/add_reservation/leading_text",
                             "retail/listing/single/add_reservation/confirm_button_text",
                             "retail/listing/single/add_reservation/complete_next_step",
                             "retail/listing/single/add_reservation/errored_text");
}
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h3>@{
        Html.Snippet("retail/listing/add_to_basket/confirmation/title")
            .PlainTextExpected()
            .Otherwise("Vehicle Secured")
            .Render();
        }</h3>
</div>
<div class="modal-body">
    @{
    Html.Snippet("retail/listing/add_to_basket/confirmation/content")
    .HtmlExpected()
    .Otherwise("AWAITING CONTENT. Snippet: 'retail/listing/add_to_basket/confirmation/content'")
    .Render();
    }
</div>