﻿
@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Retail
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
@model Sfs.EStore.Web.App.Areas.Retail.Models.ListingsIndexModel

<!-- FixedPrice -->

<div class="price-container">
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            <div class="prices">
                <h4 class="now-price">
                    @if (Model.Listing.ListingInfo.BuyItNowPrice.Amount > 0)
                    {
                        <span>@Model.Listing.ListingInfo.BuyItNowPrice.Markup(Model.MarkupTable).ToCurrencyString()</span>
                    }
                    else
                    {
                        <span>@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                            }
                </h4>
                <p class="now-price-sub-text">
                    @Html.PriceVatStatus(Model.Listing.PricesIncludeVat)
                </p>
            </div>
        </div>
        <div class="col-md-4 col-md-pull-8">
            @if (IsCurrentUserAllowed("/Lots/Purchase/BuyItNow"))
            {
                <button reserve-vehicle="listing" on-reserved="'confirmation'" mark-up="@Json.Encode(Model.Listing.Markup)" type="button" class="btn-reserve btn btn-lg btn-default btn-block">
                    @{ Html.Snippet("retail/listings/single/reservations/button_text").PlainTextExpected().Otherwise("Secure this vehicle").Render(); }
                </button>
                        }
            <a ng-click="lotCallbacks.openForm(id)" class="btn btn-default btn-callback btn-lg btn-block">
                @{ Html.Snippet("retail/listings/single/callbacks/button_text").PlainTextExpected().Otherwise("Request Callback").Render(); }
            </a>

            @{
                var watchAddButtonText = Html.Snippet("retail/listings/single/watch/add_button_text").PlainTextExpected().Otherwise("Add to Watch List").HtmlString().ToString();
                var watchRemoveButtonText = Html.Snippet("retail/listings/single/watch/remove_button_text").PlainTextExpected().Otherwise("Remove watch").HtmlString().ToString();
            }
            <span data-watch-status-toggle ng-listing-id="id" data-ng-always-visible="true" data-ng-btn-class="btn btn-default btn-lg btn-block hide-print" data-ng-icon-class="icon-2x star-icon-style" data-add-text="@watchAddButtonText" data-remove-text="@watchRemoveButtonText" data-text-class=""></span>
        </div>
    </div>
</div>
