@using System.Globalization
@using Cassette.Scripts
@using iTextSharp.text.pdf.qrcode
@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
@model Sfs.EStore.Web.App.Areas.Retail.Models.ListingsIndexModel
@{
    ViewBag.MetaTitle = Model.Listing.VehicleInfo.Make + ": " + Model.Listing.VehicleInfo.Model;
    SetBodyCssClass("vehicle-details");

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotDetailController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotFinanceController.js");
}
<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.Listing.ListingId">
    <script type="text/ng-template" id="callbackform.html">
        @Html.Partial("_Ng-CallbackForm")
    </script>
    <script type="text/ng-template" id="reservation-confirmation.html">
        @Html.Partial("_Ng-ReservationConfirmation")
    </script>
    <script type="text/ng-template" id="reservation-form.html">
        @Html.Partial("_Ng-ReservationForm")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    <script type="text/ng-template" id="bid-history-dialog.html">
    </script>
    <div ng-controller="LotDetailController">
        <ul class="breadcrumb">
            @if (Context.HasPreviousSearch())
            {
                <li class="breadcrumb__item breadcrumb__item--back"><a href="@Url.PreviousRetailSearch()">Back to results</a> <span class="text-muted">or jump to...</span></li>
            }
            else
            {
                <li class="breadcrumb__item breadcrumb__item--search"><a href="@Url.RetailSearch(new { Model.Listing.VehicleInfo.VehicleType, Model.Listing.VehicleInfo.Make, Model.Listing.VehicleInfo.Model, Model.Listing.VehicleInfo.Derivative })">Go to search</a> <span class="text-muted">or jump to...</span></li>
            }
            <li><a href="@Url.RetailSearch(new { Model.Listing.VehicleInfo.VehicleType, Model.Listing.VehicleInfo.Make })" title="@Model.Listing.VehicleInfo.Make">@Model.Listing.VehicleInfo.Make</a></li>
            <li><a href="@Url.RetailSearch(new { Model.Listing.VehicleInfo.VehicleType, Model.Listing.VehicleInfo.Make, Model.Listing.VehicleInfo.Model })" title="@Model.Listing.VehicleInfo.Make @Model.Listing.VehicleInfo.Model">@Model.Listing.VehicleInfo.Model</a></li>
            <li><a href="@Url.RetailSearch(new { Model.Listing.VehicleInfo.VehicleType, Model.Listing.VehicleInfo.Make, Model.Listing.VehicleInfo.Model, Model.Listing.VehicleInfo.Derivative })" title="@Model.Listing.VehicleInfo.Make @Model.Listing.VehicleInfo.Model @Model.Listing.VehicleInfo.Derivative">@Model.Listing.VehicleInfo.Derivative</a></li>
        </ul>
        <div class="page-header">
            <h2 class="title">
                @Model.Listing.Title
                @*@(Model.Listing.VehicleInfo.Make + " " + Model.Listing.VehicleInfo.Model) <small>@Model.Listing.VehicleInfo.Derivative</small>*@
            </h2>
        </div>
        <div class="listing-view">
            <div class="row">
                <div class="col-sm-7 col-sm-push-5 col-md-6 col-md-push-6 lot-detail">
                    @Html.Partial("_images", Model.Listing)
                </div>
                <div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-6 lot-bids">
                    <!-- PRICING -->
                    <div ng-if="lotStatusChanged">
                        <h3>Status has changed.</h3>
                        <p>
                            Please <a href="@Url.Lot(Model.Listing.ListingId, Model.Listing.Title.ToSlug())">refresh page</a>, to view the latest information
                        </p>
                    </div>
                    <div ng-if="!lotStatusChanged" class="pricing-header">
                        @if (Model.Listing.SellingStatus.CurrentPrice != null)
                        {
                            if (Model.Listing.SellingStatus.IsAt(LotStatus.Reserved))
                            {
                                Html.Snippet("vehicles/single/reserved/explanation_content")
                                    .HtmlExpected()
                                    .Otherwise(@<text>{%raw%}
                                        <h3>This vehicle has been reserved</h3>
                                        <p>
                                            Try <a href="{{ {vehicleType: listing.vehicleInfo.vehicleType, make: listing.vehicleInfo.make, model: listing.vehicleInfo.model} | searchUrl }}">searching for other {{ listing.vehicleInfo.make}} {{listing.vehicleInfo.model}}'s</a>.
                                        </p>
                                        {%endraw%}</text>)
                                    .Render();
                            }
                            else
                            {
                                @Html.Partial("_Pricing.FixedPrice")
                            }
                        }
                        else
                        {
                            <em><a href="@Url.LoginAndReturn()">Sign in</a> to view price information</em>
                        }
                    </div>
                    <!-- / PRICING -->
                    <!-- CORE INFO -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="key-properties">
                                <ul class="list-unstyled vehicle-summary">
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration No.: </b> {0}", (Model.Listing.VehicleInfo.Registration.Plate ?? "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration Date: </b> {0}", (Model.Listing.VehicleInfo.Registration.Date.HasValue ? Model.Listing.VehicleInfo.Registration.Date.Value.ToString("dd-MM-yyyy") : "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Mileage:</b> {0}", (Model.Listing.VehicleInfo.Mileage.HasValue ? Model.Listing.VehicleInfo.Mileage.Value.ToString("#,##0") : "0")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Plate:</b> {0}", ""))
                                        @if (Model.Listing.VehicleInfo.Registration.Yap.Split(':').Length > 1)
                                        {
                                            <span>@Model.Listing.VehicleInfo.Registration.Yap.Split(':')[1]</span>
                                        }
                                        @if (Model.Listing.VehicleInfo.Registration.Date.HasValue)
                                        {
                                            <span>(@Model.Listing.VehicleInfo.Registration.Date.Value.Year.ToString(CultureInfo.InvariantCulture))</span>
                                        }
                                    </li>
                                    <li>@Html.Raw(string.Format("<b>Engine:</b> {0}", @Model.Listing.VehicleInfo.EngineDescription))</li>
                                    <li>@Html.Raw(string.Format("<b>Fuel Type:</b> {0}", @Model.Listing.VehicleInfo.FuelType))</li>
                                    <li>@Html.Raw(string.Format("<b>Transmission:</b> {0}", @Model.Listing.VehicleInfo.Transmission))</li>
                                    <li>@Html.Raw(string.Format("<b>Colour:</b> {0}", Model.Listing.VehicleInfo.BodyColour))</li>
                                    <li>@Html.Raw(string.Format("<b>Vat Status:</b> {0}", Model.Listing.VehicleInfo.VatStatus))</li>
                                    <li>@Html.Raw(string.Format("<b>Model Year / Pack:</b> {0}", @Model.Listing.VehicleInfo.ModelYear))</li>
                                    <li><b>Source:</b> @Model.Listing.VehicleInfo.Source.Code</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <div class="detail-lot-spec-callouts">
                                    <div class="well well-small">
                                        <h4>Trim</h4>
                                        @if (Model.Listing.VehicleInfo.Trim != null)
                                        {
                                            <li>@Model.Listing.VehicleInfo.Trim.Code - @Model.Listing.VehicleInfo.Trim.Name</li>
                                        }
                                        @if (Model.Listing.VehicleInfo.Specification != null && Model.Listing.VehicleInfo.Specification.Equipment != null)
                                        {
                                            <h4><b>Optional Extras</b></h4>
                                            foreach (var specification in Model.Listing.VehicleInfo.Specification.Equipment.Items)
                                            {
                                                <li><b>@specification.Name</b></li>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / CORE INFO -->
                </div>
            </div>
            @{ Html.Snippet("retail/listing/single/below_listing").HtmlExpected().Render(); }
        </div>
    </div>
</section>

