﻿
<div class="modal-header">
    <h3>Select Customer </h3>
</div>
<div ng-app="app" class="modal-body">
    <div class="row">
        <div class="col-sm-8" style="margin-left: 7%;">
            <select class="form-control" ng-model="selectedDealer" ng-options="dealer.Name for dealer in dealers track by dealer.No" ng-change="GetValue(selectedDealer)"></select>
        </div>
    </div>
    <div class="row">
       @*<div class="col-sm-6 found-marque-dealer" ng-show="links.FoundFranchises.length" ng-style="{'background-image':'url(/Content/themes/fga/images/found.jpg)'}" ng-click="Submit('found')">
            <br />
            <div class="col-sm-6 ">
                <br /><p>Found Marque showing for FIAT, FIAT ABRATH, FIAT PROFFESIONALS</p>
            </div><div class="col-sm-12"></div>
        </div>

        <div class="col-sm-12 selected-marque-dealer" ng-show="links.SelectFranchises.length" ng-style="{'background-image':'url(/Content/themes/fga/images/selected.jpg)'}" ng-click="Submit('selected')">
            <br />
            <div class="col-sm-6 ">
                <p>Select For You Marque showing JEEP , ALFA ROMEO</p>
            </div><div class="col-sm-12"></div>
        </div>*@
    </div>
    <div class="col-sm-12" style="height: 5px;"></div>
    <div style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;">
        <button class="btn btn-primary btn-lg" style="" data-ng-click="Submit('found')">Save</button>
        <button class="btn btn-primary btn-lg" style="" data-ng-click="close()">Exit</button>
    </div>
    <div class="col-sm-12" style="height: 5px;"></div>
</div>
