﻿<div class="modal-header" style="border:none">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"> &times;</button>
    <h3> Select Brand</h3>
    <div class="row" ng-if="dealers.length>1">
        <div class="form-group">
            <div ng-cloak class="col-sm-8" style="margin-left: 2%;">
                <label for="usr"> Dealer:</label>
                <select class="form-control" ng-model="selectedDealer" ng-options="dealer.Name for dealer in dealers track by dealer.No" ng-change="GetValue(selectedDealer.No)"> </select>
            </div>
        </div>
    </div>
</div>
<div ng-app="app" class="modal-body img-responsive" style="z-index:45">
    <div class="row">
        <div ng-cloak ng-style="menu" ng-show="links.FoundFranchises.length" ng-mouseover="menu={ 'opacity': 0.5,'filter': alpha(opacity=50) }" ng-mouseleave="menu={'opacity': 1}" ng-click="Submit('found')">
            <div id="foundCarousel" class="carousel slide" data-ride="carousel">
                <div id="general-carousel" data-interval="1" class="hidden-phone carousel vehicle-carousel slide">
                    <ol class="carousel-indicators hidden">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
                        <li data-target="#myCarousel" data-slide-to="1"> </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" role="listbox">
                            <img class="img-responsive" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/Staging-Rebrand/BannerFF.png" / >

                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/Staging-Rebrand/BannerAF.png" / >
                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/Banner500.png" / >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak ng-style="menu1" ng-show="links.SelectFranchises.length" ng-mouseover="menu1={ 'opacity': 0.5,'filter': alpha(opacity=50) }" ng-mouseleave="menu1={'opacity': 1}" ng-click="Submit('select')">
            <div id="selectCarousel" class="carousel slide" data-ride="carousel">
                <div id="general-carousel" data-interval="1" class="hidden-phone carousel vehicle-carousel slide">
                    <ol class="carousel-indicators hidden">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
                        <li data-target="#myCarousel" data-slide-to="1"> </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" role="listbox">
                            <img class="img-responsive" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/BannerASFY.png" / >
                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/BannerJSFY.png" / >
                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/BannerGiulietta.png" / >
                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/BannerRenegade.png" / >
                        </div>
                        <div class="item">
                            <img class="image" src="https://96a687d780ea38731250-f9942eef7e118c2a23eafbc471cc6118.ssl.cf3.rackcdn.com/BannerMito.png" / >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="height: 20px;"> </div>
    </div>
</div>
