﻿@using System.Globalization
@using Cassette.Scripts
@using Newtonsoft.Json
@using Sfs.EStore.Web.App.Areas.Retail.Models
@model MarkupTableForm

@{
    Bundles.Reference<ScriptBundle>("~/areas/retail/scripts/apps/markup");
}

<div ng-app="app" ng-controller="MarkupController" ng-init="mode='Simple'">

    @Html.Partial("~/Areas/Retail/Views/Controls/_retailMenu.cshtml", null)

    <script type="text/ng-template" id="editable-markup-table.html">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>From (&pound;)</th>
                    <th>To (&pound;)</th>
                    <th>Mark-up (&pound;)</th>
                </tr>
            </thead>
            <tr ng-repeat="line in table.lines" ng-class="{empty: line.isEmpty()}">
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="number" name="lines[{{$index}}].from" class="form-control" min="0" ng-model="line.from" placeholder="From" />
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="number" name="lines[{{$index}}].to" class="form-control" min="0" ng-model="line.to" placeholder="To" />
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="number" name="lines[{{$index}}].markup" class="form-control" min="0" ng-model="line.markup" placeholder="Mark-up" />
                    </div>
                </td>
            </tr>
            <tfoot>
                <tr>

                    <td colspan="3">
                        <div class="input-group" ng-hide="mode=='Simple'">
                            <input name="TableName" type="text" class="form-control" value="@Model.TableName" required placeholder="New table name...">
                            <span class="input-group-btn">
                                <button ng-hide='table.min() <= @Model.MinMarkup' class="btn btn-primary">
                                    Save &amp; use
                                </button>
                                <button ng-hide='table.min() >
                                    @Model.MinMarkup' class="btn btn-primary" onclick="javascript: if(confirm('Warning Markup is below Minimum Markup, create table any way?')) {  return true; } else { return false;}">
                                    Save &amp; use
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </script>

    <div class="col-sm-12 panel panel-default">

        <br />
        <p>Please select your price markup method below. Please note that Retail Mode will be unavailable until at least a Minimum Markup is populated.</p>
        <div class="col-sm-4 col-md-3">

            <h3><input type="radio" ng-model="mode" value="Simple"> Simple pricing</h3>
            @if (Model.Mode == MarkupTableForm.PricingMode.Simple)
            {
                @Html.ValidationSummary()
            }
            @using (Html.BeginForm())
            {
                <input type="hidden" value="0" name="lines[0].From" />
                <input type="hidden" value="" name="lines[0].To" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-xs-offset-1">
                            <p>*Select a single mark-up amount. By default all vehicles will use this mark-up amount for their pricing.</p>
                            <br />
                            <p>Minimum Markup:</p>
                        </div>
                    </div>
                    <div class="input-group">

                        <span class="input-group-addon">&pound;</span>
                        <input type="hidden" value="Simple" name="mode" />
                        <input type="number" name="lines[0].markup" class="form-control" id="fixedMarkupInput" value="@Model.MinMarkup" required placeholder="">
                    </div>
                </div>
                <button ng-hide="mode!='Simple'" type="submit" class="btn btn-primary">Save</button>
                <div class="col-sm-12" style="height: 10px;"></div>
            }
        </div>
        <div class="col-sm-8 col-md-6 col-md-offset-1">
            <h3><input type="radio" ng-model="mode" value="Table" ng-disabled="mode=='Simple' && @Model.MinMarkup == 0">  Pricing tables</h3>
            <p>Create or use an existing mark-up table to calculate retail prices.</p>

            <fieldset ng-disabled="mode=='Simple'">
                <legend>
                    New table
                    @if (Model.Mode != MarkupTableForm.PricingMode.Table)
                    {
                        <button ng-hide="mode=='Simple'" class="btn btn-sm btn-link" ng-click="addingNewTable = true"><i class="glyphicon glyphicon-plus-sign" rel='stylesheet' type='text/css'></i></button>
                    }
                </legend>

                <div @((Model.Mode != MarkupTableForm.PricingMode.Table) ? "ng-show=addingNewTable" : "")>
                    @if (Model.Mode == MarkupTableForm.PricingMode.Table)
                    {
                        @Html.ValidationSummary()
                    }

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "submitdata", onsubmit = "javascript:$(this).find('input').each(function(i) {$(this).val($(this).val() == '' ? '' : $(this).val());});" }))
                    {
                        <input type="hidden" value="Table" name="mode" />
                        <input type="hidden" value="True" name="SaveTable" />

                        <div editable-markup-table lines="@JsonConvert.SerializeObject(Model.Lines)"></div>
                    }
                </div>
            </fieldset>
            <fieldset ng-disabled="mode=='Simple'">
                <legend>Saved tables</legend>
                @if (Model.SavedTables.Length == 0)
                {
                    <p><em>You don't currently have any saved markup tables.</em></p>
                }
                @foreach (var savedTable in Model.SavedTables)
                {
                    <h3>@(savedTable.Name ?? "n/a")</h3>
                    using (Html.BeginForm())
                    {
                        <input type="hidden" value="Table" name="mode" />
                        <input type="hidden" value="@savedTable.Name " name="TableName" />
                        <input type="hidden" value="" name="TableToDelete" class="@savedTable.Id" />
                        <input type="hidden" value="" name="TableToEdit" class="editTab" />


                        <table class="table table-condensed table-hover">
                            <tr>
                                <th>From (&pound;)</th>
                                <th>To (&pound;)</th>
                                <th>Mark-up (&pound;)</th>
                            </tr>
                            @for (var i = 0; i < savedTable.Lines.Count(); i++)
                            {
                                var line = savedTable.Lines[i];
                                <tr>
                                    <td>
                                        <input type="hidden" name="lines[@i].from" value="@line.From" />
                                        @line.From.ToString("c0", CultureInfo.CreateSpecificCulture("en-GB"))
                                    </td>
                                    <td>
                                        <input type="hidden" name="lines[@i].to" value="@line.To" />
                                        @(line.To.HasValue ? line.To.Value.ToString("c0", CultureInfo.CreateSpecificCulture("en-GB")) : "")
                                    </td>
                                    <td>
                                        <input type="hidden" name="lines[@i].markup" value="@line.Markup" />
                                        @line.Markup.ToString("c0", CultureInfo.CreateSpecificCulture("en-GB"))
                                    </td>
                                </tr>
                            }
                            <tfoot>
                                <tr>


                                    <td colspan="3">
                                        <button ng-hide="mode=='Simple'" class="btn btn-danger btn-link pull-right" onclick="javascript: if(confirm('Really Edit this table? The operation cannot be undone.')) {  $('input.editTab').val('@savedTable.Id'); return true; } else { return false;}">
                                            Edit
                                        </button>
                                    </td>
                                    <td colspan="3">
                                        <button ng-hide="mode=='Simple'" class="btn btn-danger btn-link pull-right" onclick="javascript: if(confirm('Really delete this table? The operation cannot be undone.')) { $('input.@savedTable.Id').val('@savedTable.Id'); return true; } else { return false;}">Delete</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    }
                    <table>
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("index", "retail"))
                                {
                                    <input type="hidden" value="@savedTable.Name" name="TableName" />
                                    <button ng-hide="mode=='Simple'" class="btn btn-danger">
                                        Use
                                    </button>
                                }
                            </td>
                        </tr>
                    </table>                <hr />
                }
            </fieldset>
        </div>
    </div>
</div>
