﻿@using Sfs.EStore.Web.App.Areas.Vehicles
<br /><br /><br /><br />
<nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation" id="footer">
    <div class="container">
        <div class="pull-right">
            <div id="footer-logo"></div>
        </div>
    </div>
</nav>