﻿@using Sfs.EStore.Web.App.Areas.Retail
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @{
        var title = Tenant.Name;
        if (ViewBag.MetaData != null && !string.IsNullOrEmpty(ViewBag.MetaData.Title))
        {
            title = ViewBag.MetaData.Title;
        }
    }
    <title>@title</title>

    @if (ViewBag.MetaData != null)
    {
        if (!string.IsNullOrWhiteSpace(ViewBag.MetaData.CanonicalUrl))
        {
            <link rel="canonical" href="@ViewBag.MetaData.CanonicalUrl" /> }
        <meta name="description" content="@ViewBag.MetaData.Description">
    }
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        @Bundles.RenderScripts("lt ie9")
    <![endif]-->
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("head")
    @{
        JsonReadyMarkupTableRowVisitor.MarkupRange[] markupLines = null;
        if (ViewBag.MarkupTable != null)
        {
            var markupTableVisitor = new JsonReadyMarkupTableRowVisitor();
            ViewBag.MarkupTable.Accept(markupTableVisitor);
            markupLines = markupTableVisitor.Result();
        }
        var missingImage = UrlImageExtensions.MissingImage();

        Bundles.Reference("~/jquery", "head");
        Bundles.Reference("~/respondjs");
        Bundles.AddPageData("__sfs", new
        {
            siteroot = Url.Content("~/"),
            vehicleImages = new
            {
                missingImage = new
                {
                    container = missingImage.Container,
                    name = missingImage.Name
                },
                cloudFilesProxyUrl = ImageModel.CloudFilesImageProxyUrl,
                overlays = Tenant.Settings.Images.Overlays
            },
            claims = Tenant.Permissions.Activities.Where(x => IsCurrentUserAllowed(x.Key)).Select(x => x.Key).ToArray(),
            auth = new
            {
                isAuthenticated = User.Identity.IsAuthenticated,
                isGuest = User.Identity.IsGuest,
                currentUser = User.Identity.IsAuthenticated
                    ? new
                    {
                        username = User.Identity.Name,
                        firstName = User.Identity.FirstName,
                        lastName = User.Identity.LastName,
                        emailAddress = User.Identity.EmailAddress,
                        phoneNumber = User.Identity.PhoneNumber
                    }
                    : null
            },
            markupTable = markupLines,
            isWithinRetail = true
        }, "head");

        Bundles.Reference("~/momentjs");

        Bundles.Reference("~/scripts/modernizr/polyfills", "head");
        Bundles.Reference("html5shim");
        Bundles.Reference("~/bootstrap/js");
        Bundles.Reference("~/font-awsome");

        if (UICulture.StartsWith("es"))
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_es-es.js");
        }
        else if (UICulture.StartsWith("de"))
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_de-de.js");
        }
        else
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_en-gb.js");
        }

        Bundles.Reference(string.Format("content/themes/{0}/css/site.scss", Tenant.ThemeName ?? "sfs"));

        if (Tenant.ThemeName == "fga" && @ViewBag.PageTitle != "Select Dealer")
        {
            SetPageStyle();
        }
    }

</head>
<body class="retail-mode @ViewBag.BodyCssClass">
    <div class="wrapper">
        <header id="header">
            @{ Html.RenderAction("index", new { controller = "retailmenu", area = "retail", id = "navbar-retail" }); }
        </header>
        <section class="main">
            @*<div class="col-md-1">
                <div class="row">
                    @*<div class="col-md-6" id="legend"><img src="http://placehold.it/400x400" class="img-responsive" height="220" /></div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="container">

                    @if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
                    {
                        <div class="page-header">
                            <h1>@Html.Raw(ViewBag.PageTitle)</h1>
                        </div>
                    }
                    @RenderBody()

                    @{ Html.Snippet("layout/below_content")
   .HtmlExpected()
   .Render(); }
                </div>
                <div class="col-md-1">
                    <div class="row">
                        </div>
                    </div>
                </div>*@


                <div class="container">

                                     @if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
                                     {
                                         <div class="page-header">
                                             <h1>@Html.Raw(ViewBag.PageTitle)</h1>
                                         </div>
                                     }
                                     @RenderBody()

                                     @{ Html.Snippet("layout/below_content")
                    .HtmlExpected()
                    .Render(); }
                                 </div>
        </section>
        @Html.Partial("_Footer")
    </div>

    @Bundles.RenderScripts()
    @Bundles.RenderScripts("cms-page-scripts")

    @{
        Html.Snippet("layout/google_analytics")
            .JavascriptExpected()
            .Template(@<script type="text/javascript">@item</script>)
        .Otherwise(@<text>var ga = function(){};</text>)
        .Render();
    }
</body>
</html>