﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Models
@model CmsPageModel
@{
    SetMetaData(Model.MetaData)
        .SetPageTitle(Model.PageTitle)
        .SetBodyCssClass(Model.BodyCssClass);

    Bundles.Reference("~/scripts/angular/apps/widgets");
}

<section ng-app="app" id="ng-app" ng-cloak class="hidden @Model.PermaName" >
    @{ Html.BundleScriptDependencies(Model.Scripts); }
    @{ Html.RenderCmsSection(Model.Source, Model.Variables); }
</section>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            var loaded = window.__onViewContentLoaded;
            if (loaded)
                for (var i = 0; i < loaded.length; i++) {
                    loaded[i]();
                }
            $('#ng-app').removeClass('hidden');
        }, 0);
    });
</script>
