﻿<div class="row">
    <footer class="main">
        <div class="inner row">
            <nav class="socialNav col-xs-6">
                <a href="https://www.facebook.com/enjoycl" target="_blank"><img src="/content/usercontent/gfs/page/facebook-icon-red.png" alt="Facebook"></a>
                <a href="https://twitter.com/EnjoyTweetLife" target="_blank"><img src="/content/usercontent/gfs/page/twitter-icon-red.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/enjoycarlifeofficial" target="_blank"><img src="/content/usercontent/gfs/page/Instragram-Icon.jpg" alt="Instragram"></a>
                <a href="https://www.youtube.com/enjoycarlifeuk" target="_blank"><img src="/content/usercontent/gfs/page/utube-icon.jpg" alt="U-tube"></a>
            </nav>
            <nav class="col-xs-6">
                <a href="/terms">Terms and conditions</a>
                <a href="/privacy">Privacy policy</a>
            </nav>
        </div>
    </footer>
</div>
<script>
    $(function() {
       $('a[href="mailto:contactus@enjoycarlife.co.uk"]').bind('click', function() {
            if (!ga) return;
            ga('send','event','email','click','contactus@enjoycarlife.co.uk')
       });
    });
</script>
