﻿@using Sfs.EStore.Web.App.Areas.Vehicles
<footer id="footer" class="section">
    <div class="container">
        <a href="@Url.Content("~/terms-and-conditions")">Terms &amp; conditions</a>
        | <a href="@Url.Content("~/privacy-policy")">Privacy policy</a>
    </div>
</footer>