﻿@using Sfs.EStore.Web.App.Areas.Vehicles
<footer id="footer" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="legal">
                    <a href="@Url.Action("index", "cmspages", new { area = "", permalink = "terms" })">Terms &amp; conditions</a>
                    | <a href="@Url.Action("index", "cmspages", new { area = "", permalink = "privacy" })">Privacy policy</a>
					| <a href="@Url.Action("index", "cmspages", new { area = "", permalink = "sitemap" })">Sitemap</a>
                </div>
            </div>
            <div class="col-md-4 social">
                <span class="pull-right">
                    @*<h6>Socialise with us:</h6>
                    <a href="http://twitter.com/grsremarketing"><img src="@Url.ThemeContent("images/twitter.png")" width="40"/></a>
                    <a href="http://www.linkedin.com/company/grs_3"><img src="@Url.ThemeContent("images/linkedin.png")" width="40"/></a>*@
                </span>
            </div>
        </div>
    </div>
</footer>
