﻿<footer id="footer" class="section">
    <div class="container">
        <a href="@Url.Action("index", "cmspages", new { area = "", permalink = "terms" })">Terms &amp; conditions</a>
        | <a href="@Url.Action("index", "cmspages", new { area = "", permalink = "privacy" })">Privacy policy</a>
    </div>
</footer>