﻿@using Sfs.EStore.Web.App.Areas.Vehicles
<footer id="footer" class="section">
    <div class="container">
        <a href="@Url.Content("~/terms-and-conditions")">Terms &amp; conditions</a>
        | <a href="@Url.Content("~/privacy-policy")">Privacy policy</a>
        
        <img class="pull-right" style="" @*src="@Url.ThemeContent("images/footer-powered-by.jpg")"*@ alt="Powered By Adesa"/>
    </div>
</footer>