﻿@using System.Diagnostics
@using System.Linq
@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
@using Sfs.EStore.Web.App.Code
@using Sfs.EStore.Web.App.Code.Security
@{
    Html.Snippets().Register("layout/google_analytics",
                             "layout/live_chat",
                             "layout/cookie_control",
                             "vehicles/all/price_postfix");
}
<!doctype html>
<html lang="en-GB" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    @{
        var titleParts = new List<string>();
        if (!string.IsNullOrWhiteSpace(ViewBag.MetaTitle)) { titleParts.Add(ViewBag.MetaTitle); }
        titleParts.Add(Tenant.Name);
    }
    <title>@string.Join(" - ", titleParts.ToArray())</title>
    @if (ViewBag.MetaData != null)
    {
        if (!string.IsNullOrWhiteSpace(ViewBag.MetaData.CanonicalUrl))
        {
            <link rel="canonical" href="@ViewBag.MetaData.CanonicalUrl" />
        }
        <meta name="description" content="@ViewBag.MetaData.Description">
    }
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        @Bundles.RenderScripts("lt ie9")
    <![endif]-->
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("head")
    @{
        var missingImage = UrlImageExtensions.MissingImage();
        Bundles.Reference("~/jquery", "head");
        Bundles.Reference("~/respondjs");
        Bundles.AddPageData("__sfs", new
        {
            siteroot = Url.Content("~/"),
            vehicleImages = new
            {
                missingImage = new
                {
                    container = missingImage.Container,
                    name = missingImage.Name
                },
                cloudFilesProxyUrl = ImageModel.CloudFilesImageProxyUrl,
                overlays = Tenant.Settings.Images.Overlays
            },
            claims = Tenant.Permissions.Activities.Where(x => IsCurrentUserAllowed(x.Key)).Select(x => x.Key).ToArray(),
            auth = new
            {
                isAuthenticated = User.Identity.IsAuthenticated,
                isGuest = User.Identity.IsGuest,
                currentUser = User.Identity.IsAuthenticated
                    ? new
                    {
                        username = User.Identity.Name,
                        firstName = User.Identity.FirstName,
                        lastName = User.Identity.LastName,
                        emailAddress = User.Identity.EmailAddress,
                        phoneNumber = User.Identity.PhoneNumber
                    }
                    : null
            }
        }, "head");

        Bundles.Reference("~/momentjs");

        Bundles.Reference("~/scripts/modernizr/polyfills", "head");
        Bundles.Reference("html5shim");
        Bundles.Reference("~/bootstrap/js");
        Bundles.Reference("~/font-awsome");

        if (UICulture.StartsWith("es"))
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_es-es.js");
        }
        else if (UICulture.StartsWith("de"))
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_de-de.js");
        }
        else
        {
            Bundles.Reference("~/scripts/angular/locale/angular-locale_en-gb.js");
        }

        Bundles.Reference(string.Format("content/themes/{0}/css/site.scss", Tenant.ThemeName ?? "sfs"));

    }

    @{ Html.Snippet("layout/head")
                        .HtmlExpected()
                        .Render(); }
</head>
<body>
    <div class="wrapper">
        <!--[if lt IE 8]>
            <div class="alert alter-block alert-error">
                <div class="container">
                    Your Browser is no longer supported. <a href="@Url.Action("", "notsupported")">Find out more</a>.
                </div>
            </div>
        <![endif]-->
        <header id="header">
            @{ Html.RenderAction("index", new { controller = "menu", area = "" }); }
        </header>
        @if (TempData["flash"] != null)
        {
            var type = TempData["flashtype"] ?? "info";
            <div class="container">
                <div class="alert alert-@type">
                    @Html.Raw(TempData["flash"])
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            </div>
        }

        <section class="main">
            <div class="container">
                @if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
                {
                    <div class="page-header">
                        <h1>@Html.Raw(ViewBag.PageTitle)</h1>
                    </div>
                }
                @RenderBody()

                @{ Html.Snippet("layout/below_content")
                           .HtmlExpected()
                           .Render(); }
            </div>
        </section>

        @Html.Partial("_Footer")
    </div>

    @Bundles.RenderHtmlTemplates()
    @Bundles.RenderScripts()
    @Bundles.RenderScripts("cms-page-scripts")

    @{
        Html.Snippet("layout/google_analytics")
            .JavascriptExpected()
            .Template(@<script type="text/javascript">@item</script>)
                .Otherwise(@<text>var ga = function(){};</text>)
                .Render();

        Html.Snippet("layout/live_chat")
            .JavascriptExpected()
            .Render();

        Html.Snippet("layout/cookie_control")
            .HtmlExpected()
            .Render();
    }
</body>
</html>
