﻿@model string
@{
    var returnUrl = Request.Params["ReturnUrl"] != null ? Request.Params["ReturnUrl"] : string.IsNullOrEmpty(Model) ? null : Model;
    returnUrl = "'" + Url.Content(returnUrl) + "'";
}
<fieldset ng-controller="LoginController" ng-init="setRedirectUrl(@returnUrl)">
    <form ng-submit="submit()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="Username">Username</label>
            <div class="">
                <input class="form-con" data-val="true" data-val-required="The Username field is required." id="Username" name="Username" ng-model="username" placeholder="Username" type="text" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="Password">Username</label>
            <div class="">
                <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" ng-model="password" placeholder="Password" type="password" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
                &nbsp;<span ng-cloak ng-show="attempted && !success">Login unsuccessful</span>
            </div>
        </div>
    </form>
</fieldset>