﻿@using Sfs.EStore.Web.App.Areas.Vehicles
<a class="navbar-brand" href="@Url.Content("~/")">
    <img src="@(Tenant.Settings.Navbar.LogoUrl ?? Url.ThemeContent("images/logo.png"))" alt="@Tenant.Name" />
</a>