﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Bundles.Reference("angular");
    Bundles.Reference("~/scripts/angular/services");
}
<div class="thumbnail" ng-class="{'thumbnail-listing-reserved': (vehicle.sellingStatus.sellingState == 'Reserved'), 'reduced': vehicle.discountPriceInfo.wasPrice}">
    <a target="_self" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
        <vehicle-image image="vehicle.primaryImage" dimensions="280x210" overlay="results" />
    </a>
    <h3 class="thumbnail-title">
        <span class="label label-listing-reserved" ng-if="vehicle.sellingStatus.sellingState == 'Reserved'">Reserved</span>
        <a target="_self" data-toggle="tooltip" title="{{vehicle.title}}" data-delay="500" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
            {{vehicle.title}} <b ng-show="vehicle.attentionGrabber">{{vehicle.attentionGrabber}}</b>
        </a>
    </h3>
    <ul class="list-unstyled thumbnail-vehicle-detail">
        <li ng-if="vehicle.vehicleInfo.mileage">{{ vehicle.vehicleInfo.mileage | number }} miles</li>
        <li><span ng-show="vehicle.vehicleInfo.registration.yap">20</span>{{ vehicle.vehicleInfo.registration.yap}}</li>
    </ul>
    <h4 class="thumbnail-pricing" ng-if="vehicle.sellingStatus.currentPrice">
        <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
            {{vehicle.sellingStatus.currentPrice | money}}
        </span>
        <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount <= 0">
            @{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Otherwise("POA").Render(); }
        </span>

        @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice"))
        {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Save {{ vehicle | retailSaving | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
        }
        <span class="thumbnail-listing-post-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
            <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
            @{ Html.Snippet("vehicles/all/price_postfix")
                   .PlainTextExpected()
                   .Template(@<small class="price-postfix">@item</small>)
                   .Render(); }
        </span>
        @if (Tenant.IntegratesWith("Views/Lot/IncludeWasPrice"))
        {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Was {{ vehicle.discountPriceInfo.wasPrice | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
        }
    </h4>
    <span class="listing-watch-toggle"><span data-watch-status-toggle ng-listing-id="vehicle.listingId"></span></span>
</div>