﻿@using Sfs.EStore.Web.App
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3>Session Expired</h3>
</div>
<div class="modal-body">
    <div>
        @{
            Html.Snippet("session_expired_prompt_modal/message")
                .HtmlExpected()
                .Otherwise("Your session has expired. Please close this window and re-open through Global Connect.")
                .Render();
        }
    </div>
</div>
