﻿@using Sfs.EStore.Web.App
<form name="form" class="" data-ng-submit="_HACK_MergeScope(username, password); submit();" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <div>
            @{
                Html.Snippet("vehicles/single/watches/login_prompt/message")
                    .HtmlExpected()
                    .Render();
            }
        </div>
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input class="form-control" ng-model="username" auto-fill-sync required name="username" id="username" type="text" placeholder="Username" autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" ng-model="password" auto-fill-sync required name="password" id="password" type="password" placeholder="Password" />
        </div>
        
        <div>
            @{
                Html.Snippet("vehicles/single/watches/login_prompt/below_message")
                    .HtmlExpected()
                    .Render();
            }
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <span class="text-danger" data-ng-show="attempted && denied && !reason">Username or password is incorrect</span>
            <span class="text-danger" data-ng-show="attempted && denied && reason == 'AUTH_FAILED'">Username or password is incorrect</span>
            <span class="text-danger" data-ng-show="attempted && denied && reason == 'AWAITING_APPROVAL'">Account is awaiting approval</span>
            <span class="text-danger" data-ng-show="attempted && denied && reason == 'LOCKED_OUT'">User is locked out</span>
            <span class="text-danger" data-ng-show="attempted && denied && reason == 'NEW_LOCKED_OUT'">Password is incorrect. The account has now been locked out</span>
            <button data-ng-disabled="form.$invalid || submitting" class="btn" ng-class="{'btn-primary':!form.$invalid,'btn-default':form.$invalid}">Login</button>
            <small><a data-ng-click="cancel()">cancel</a></small>
        </div>
    </div>
</form>