﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Bundles.Reference("angular");
    Bundles.Reference("~/scripts/angular/services");
}
<div>
    <div class="thumbnail" ng-class="{'thumbnail-listing-reserved': (vehicle.sellingStatus.sellingState == 'Reserved'), 'reduced': vehicle.discountPriceInfo.wasPrice}">
        <div style="height:20px;">
            <!--input type="checkbox" class="pull-right" ng-model="item" ng-click="selectVehicle()" />-->
        </div>
        <a tooltip="View Vehicle Details" target="_self" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
            <vehicle-image image="vehicle.primaryImage" dimensions="280x210" overlay="results" />
        </a>
        <h3 class="thumbnail-title">
            <span class="label label-listing-reserved" ng-if="vehicle.sellingStatus.sellingState == 'Reserved'">Reserved</span>
            <span class="label label-listing-reserved" ng-if="vehicle.sellingStatus.bidCount >0">Bids {{vehicle.sellingStatus.bidCount}} </span>
            <span class="label label-listing-buyitNow" ng-if="vehicle.listingInfo.buyItNowAvailable==true && vehicle.sellingStatus.bidCount >0">Buy it Now</span>
            <a target="_self" data-toggle="tooltip" title="{{vehicle.title}}" data-delay="500" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
                {{vehicle.title}} <b ng-show="vehicle.attentionGrabber">{{vehicle.attentionGrabber}}</b>
            </a>
        </h3>
        <ul class="list-unstyled thumbnail-vehicle-detail">
            <li>{{ vehicle.vehicleInfo.registration.yap}} ({{ vehicle.vehicleInfo.registration.plate }})</li>
            <li ng-if="vehicle.vehicleInfo.mileage">{{ vehicle.vehicleInfo.mileage | number }} miles</li>

            <li class="timeLeft" title="{{ vehicle.listingInfo.endTime | formatDate }}" ng-if="vehicle.listingInfo.listingType != 'FixedPrice' && vehicle.sellingStatus.sellingState=='Active'">Time left: {{ vehicle.sellingStatus.timeLeft | humanizeDuration:0 }}</li>
            <li class="timeLeft" title="{{ vehicle.listingInfo.startTime | formatDate }}" ng-if="vehicle.listingInfo.listingType != 'FixedPrice' && vehicle.sellingStatus.sellingState=='Scheduled'">Starting In: {{ vehicle.listingInfo.timeLeft | humanizeDuration:0 }}</li>
        </ul>

        <div ng-if="!vehicle.sellingStatus.currentPrice">
            <em><a href="~/login" target="self">Sign in</a> to view price information</em>
        </div>

        <h4 class="thumbnail-pricing" ng-if="vehicle.sellingStatus.currentPrice">
            <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
                {{vehicle.sellingStatus.currentPrice | money}}
            </span>
            <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount <= 0">
                @{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Otherwise("POA").Render(); }
            </span>


            @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice"))
            {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Save {{ vehicle | retailSaving | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
            }
            @if (Tenant.IntegratesWith("Views/Lot/IncludeWasPrice"))
            {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Was {{ vehicle.discountPriceInfo.wasPrice | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
            }

            <span class="thumbnail-listing-post-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
                <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                @*@{ Html.Snippet("vehicles/all/price_postfix")
                     .PlainTextExpected()
                     .Template(@<small class="price-postfix">@item</small>)
                   .Render(); }*@
            </span>
        </h4>
        <span class="listing-watch-toggle"><span data-watch-status-toggle ng-listing-id="vehicle.listingId"></span></span>
    </div>
</div>