﻿@using System
@model Sfs.EStore.Web.App.Models.QuickSearchTagModel
@{
    Func<string, string> toJsString = (value) => string.IsNullOrEmpty(value) ? "undefined" : string.Format("'{0}'", value);
    Func<bool?, string> toJsBool = (value) => !value.HasValue ? "undefined" : (value.Value ? "1" : "0");
}
<div ng-cloak ng-init="preFilters={defaults: {vehicleType: 'CAR'}, fixed: { vehicleType: @toJsString(Model.PredefinedQueryParams.VehicleType), make: @toJsString(Model.PredefinedQueryParams.Make), model: @toJsString(Model.PredefinedQueryParams.Model)}}">
    <div ng-controller="QuickSearchController">
        <form ng-submit="applyQuery()" class="search-quick" query-params>
            <div>
                <fieldset>
                    <div class="quick-search">
                        @if (!Model.HideVehicleTypeSelection)
                        {
                            <div class="form-group vehicletype">
                                <div class="btn-group">
                                    <button ng-repeat="vehicleType in vehicleTypeFacets" type="button" class="btn" ng-model="params.vehicleType" btn-radio="vehicleType.key">{{vehicleType.label}}</button>
                                </div>
                            </div>
                        }
                        <div class="form-group manufacturer">
                            <facet-select ng-select-class="" ng-value="params.make"
                                          facet="make" ng-option-label="All makes" />
                        </div>
                        <div class="form-group model">
                            <facet-select ng-select-class="" ng-value="params.model"
                                          facet="model" ng-parent="params.make"
                                          ng-option-label="All models" />
                        </div>
                        @if (IsCurrentUserAllowed("/Lots/View/Prices"))
                        {
                            <div class="form-group maximum-price">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="form-control" data-val-number="Minimum price must be a number." id="Search_MinimumPrice" name="Search.MinimumPrice" placeholder="Min price" type="text" data-ng-model="params.minPrice">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" data-val-number="Maximum price must be a number." id="Search_MaximumPrice" name="Search.MaximumPrice" placeholder="Max price" type="text" data-ng-model="params.maxPrice">
                                    </div>



                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group maximum-price">
                                <div class="">
                                    <button id="btn-hidden-price-padding" class="btn btn-link" disabled="disabled">&nbsp;</button>
                                </div>
                            </div>
                        }
                        @if (!Model.HideAdvanced)
                        {
                            <div class="expandable" collapse="!search.isAdvanced">
                                <div class="form-group derivative">
                                    <facet-select data-ng-value="params.derivative" facet="derivative"
                                                  data-ng-parent="params.model" data-ng-option-label="All trims"
                                                  data-ng-select-class="" />
                                </div>
                                <div class="form-group fuel-type">
                                    <facet-select data-ng-value="params.fuelType" data-ng-select-class=""
                                                  facet="fuelType" data-ng-option-label="All fuel types" />
                                </div>
                                <div class="form-group category">
                                    <facet-select data-ng-value="params.category" data-ng-select-class=""
                                                  facet="category" data-ng-option-label="All body styles" />
                                </div>
                                <div class="form-group maximum-mileage">
                                    <facet-select data-ng-value="params.mileage" data-ng-select-class=""
                                                  facet="mileage" data-ng-option-label="All mileages"
                                                  data-ng-value-formatter="searchParamValueFormatters.range(params.mileage)" />
                                </div>
                                <div class="form-group maximum-age">
                                    <facet-select data-ng-value="params.maxAge" data-ng-select-class=""
                                                  facet="maxAge" data-ng-option-label="All ages"
                                                  data-ng-value-formatter="searchParamValueFormatters.maxAgeRange(params.maxAge)" />
                                </div>
                                <div class="form-group transmission">
                                    <facet-select data-ng-value="params.transmission" data-ng-select-class=""
                                                  facet="transmission" data-ng-option-label="All transmissions" />
                                </div>
                                <div class="form-group query">
                                    <input type="text" ng-model="params.q" placeholder="Search (e.g red diesel hatchback)" class="form-control">
                                </div>
                            </div>
                        }
                        else
                        {
                      
                                <div class="form-group derivative">
                                    <facet-select data-ng-value="params.derivative" facet="derivative"
                                                  data-ng-parent="params.model" data-ng-option-label="All trims"
                                                  data-ng-select-class="" />
                                </div>
                                <div class="form-group fuel-type">
                                    <facet-select data-ng-value="params.fuelType" data-ng-select-class=""
                                                  facet="fuelType" data-ng-option-label="All fuel types" />
                                </div>
                                <div class="form-group category">
                                    <facet-select data-ng-value="params.category" data-ng-select-class=""
                                                  facet="category" data-ng-option-label="All body styles" />
                                </div>
                                <div class="form-group maximum-mileage">
                                    <facet-select data-ng-value="params.mileage" data-ng-select-class=""
                                                  facet="mileage" data-ng-option-label="All mileages"
                                                  data-ng-value-formatter="searchParamValueFormatters.range(params.mileage)" />
                                </div>
                                <div class="form-group maximum-age">
                                    <facet-select data-ng-value="params.maxAge" data-ng-select-class=""
                                                  facet="maxAge" data-ng-option-label="All ages"
                                                  data-ng-value-formatter="searchParamValueFormatters.maxAgeRange(params.maxAge)" />
                                </div>
                                <div class="form-group transmission">
                                    <facet-select data-ng-value="params.transmission" data-ng-select-class=""
                                                  facet="transmission" data-ng-option-label="All transmissions" />
                                </div>
                                <div class="form-group query">
                                    <input type="text" ng-model="params.q" placeholder="Search (e.g red diesel hatchback)" class="form-control">
                                </div>

                        }
                        <span class="submit">
                            <button type="submit" class="btn btn-primary btn-block submit" ng-disabled="busy"><i class="icon-search"></i> Search</button>
                        </span>
                        <span data-ng-show="estimatedTotalRecords && false">{{estimatedTotalRecords | number}} vehicles in stock</span>

                        @if (!Model.HideAdvanced)
                        {
                            <span class="advanced">
                                <a class="btn btn-default btn-block advanced" data-ng-click="search.isAdvanced = !search.isAdvanced"><i class="icon-chevron-down" data-ng-show="!search.isAdvanced"></i><i class="icon-chevron-up" data-ng-show="search.isAdvanced"></i> Advanced</a>
                            </span>
                        }
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>