﻿@using System.Globalization
@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
@model ListingSummaryViewModel
<div class="media media-lot">
    <div class="media-body">
        <div class="media-heading">
            <h4>
                <a target="_self" href="@Url.Lot(Model.ListingId, Model.Title.ToSlug())"><span class="media-heading-make">@Model.VehicleInfo.Make @Model.VehicleInfo.Model</span>  @Model.VehicleInfo.Derivative</a>
                <span class="watch-toggle" data-watch-status-toggle ng-listing-id="@Model.ListingId" data-ng-btn-class="text-muted"></span>
                <small class="reg-date">
                    @if (Model.VehicleInfo.Registration.Date.HasValue)
                    {
                        <span>@Model.VehicleInfo.Registration.Date.Value.Year.ToString(CultureInfo.InvariantCulture)</span>
                    }
                    @if (Model.VehicleInfo.Registration.Yap.Split(':').Length > 1)
                    {
                        <span>(@Model.VehicleInfo.Registration.Yap.Split(':')[1] plate)</span>
                    }
                </small>
            </h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <a target="_self" class="" href="@Url.Lot(Model.ListingId, Model.Title.ToSlug())">
                    @Html.VehicleImage(Model.PrimaryImage, "250x190", true, new { @class = "media-lot-image-primary img-responsive" })
                </a>
            </div>
            <div class="col-xs-6 col-md-4">
                @if (Model.SellingStatus.CurrentPrice != null)
                {
                    <h3 class="media-lot-pricing">
                        <span class="media-lot-listing-price">
                            @if (Model.SellingStatus.CurrentPrice.Amount > 0)
                            {<text>@Model.SellingStatus.CurrentPrice.ToCurrencyString()</text>
                            }
                            else
                            {
                                Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render();
                            }
                        </span>

                        @if (Model.DiscountPriceInfo != null && Model.DiscountPriceInfo.RetailPrice != null && Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice") && Model.SellingStatus.CurrentPrice != null && Model.DiscountPriceInfo.RetailPrice != null && Model.SellingStatus.CurrentPrice.Amount < Model.DiscountPriceInfo.RetailPrice.Amount)
                        {
                            var saving = new MoneyViewModel(Model.DiscountPriceInfo.RetailPrice.Amount - Model.SellingStatus.CurrentPrice.Amount, Model.SellingStatus.CurrentPrice.Currency);
                            <small class="media-lot-listing-price-saving">Save @saving.ToCurrencyString()</small>
                        }
                        <span class="media-lot-listing-post-price">
                            <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                            @{
                                @*Html.Snippet("vehicles/all/price_postfix")
                                    .PlainTextExpected()
                                    .Template(@<small class="price-postfix">@item</small>)
                                    .Render();*@
                            }
                        </span>
                    </h3>
                }
                <ul class="list-unstyled media-lot-spec">
                   
                    @if (Model.VehicleInfo.Mileage.HasValue)
                    {
                        <li><b>Mileage: </b>@Model.VehicleInfo.Mileage.Value.ToString("n0") </li>
                    }
                    @if (Model.ListingInfo.ListingType != "FixedPrice" && Model.ListingInfo.EndTime.HasValue)
                    {
                        <li title="@Model.ListingInfo.EndTime.Value.ToString("MMM dd HH:mm:ss")"><b>Ends: </b>@Model.ListingInfo.EndTime.Value.ToString("dd MMM HH:mm:ss")</li>
                    }
                    @if (@Model.VehicleInfo.Specification.Economy.Combined.HasValue && @Model.VehicleInfo.Specification.Economy.Combined > 0)
                    {
                        <li>@Model.VehicleInfo.Specification.Economy.Combined combined mpg</li>
                    }
                    @if (@Model.VehicleInfo.Specification.Co2.HasValue && @Model.VehicleInfo.Specification.Co2 > 0)
                    {
                        <li><b>Emissions/Co<sub>2</sub> (<abbr title="grams of carbon dioxide per kilometre driven">g/km</abbr>) : </b>@Model.VehicleInfo.Specification.Co2</li>
                    }
                </ul>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <div data-lot-spec-callout data-spec-lot="@Model.ListingId" data-spec-limit="5">
                    <div class="well well-small media-lot-spec-callouts" data-ng-show="calloutSpecifications">
                        <b>Key Features:</b>
                        <ul class="">
                            <li data-ng-repeat="callout in calloutSpecifications" data-ng-class="{'emphasise':callout.emphasise}">{{callout.displayName}}</li>
                        </ul>
                        <a target="_self"  href="@Url.Lot(Model.ListingId, Model.Title.ToSlug())" class="view-spec" id="scrollToSpecification">View Full Specification...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
