﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@model IEnumerable<Sfs.EStore.Web.App.Code.MenuItem>
<div class="container">
    <div class="row">
        <!-- Full width header, search and navigation bar  -->
        <header class="navbar navbar-fixed-top">

            <div class="inner">

                <div class="brandBar row">
                    <a class="col-xs-12 col-sm-8 col-md-9 col-lg-9" href="/">
                        <img src="@(Tenant.Settings.Navbar.LogoUrl ?? Url.ThemeContent("images/logo.png"))" alt="Enjoy Car Life by Greenhous">
                    </a>
                    <div class="companyInfo col-xs-12 col-sm-4  col-md-3 col-lg-3">
                        <div>Call us on <b>@Html.Snippet("contact/callbacks/phone_number").HtmlString()</b></div>
                    </div>
                </div>

                <div class="navbar row">
                    <nav class="mainNav col-xs-12" role="navigation">
                        <!-- Menu burger icon -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-ecl">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Menu and Desktop links -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-ecl">
                            @Html.DisplayForModel("menu")
                        </div><!-- /.navbar-collapse -->

                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>