﻿@using Sfs.EStore.Web.App
@model IEnumerable<Sfs.EStore.Web.App.Code.MenuItem>
<div class="container">
    <div class="inner">
        @{
            Html.Snippets().Register("contact/callbacks/phone_number",
                                     "layout/header/call_us",
                                     "layout/header/menu/collapse_button/text");

            var phoneNumber = Html.Snippet("contact/callbacks/phone_number").HtmlString();
            Html.Snippet("layout/header/call_us") // Deprecated. Maintained only for backwards compt. Should use 'layout/header/navbar_before'
                .PlainTextExpected()
                .Template(@<span class="telephone"><a href="tel:@phoneNumber" class="phone">@item @phoneNumber</a></span>)
                .Otherwise(@<text>call us now <i class="icon-phone-sign"></i></text>)
                .Render();
            Html.Snippet("layout/header/navbar_before")
                .HtmlExpected()
                .Render();
        }
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar-collapse-1">
                    @{
                        Html.Snippet("layout/header/menu/collapse_button/text")
                            .HtmlExpected()
                            .Otherwise(@<text>
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </text>)
                            .Render();
                    }
                </button>
                @Html.Partial("_navbarbrand")
            </div>

            <div class="collapse navbar-collapse" id="site-navbar-collapse-1">
                @Html.DisplayForModel("menu")
            </div>
        </div>
    </div>
</div>
