﻿@using Sfs.EStore.Web.App
@model Sfs.EStore.Web.App.Models.SessionsLoginModel
@{
    ViewBag.MetaTitle = "Login";
    ViewBag.PageTitle = "Log in";
    Bundles.Reference("~/jquery", "head");
    Bundles.AddInlineScript(
        @<script>
             $(function() {
                 $('input[type="text"]').focus();
             });
         </script>, null, bundle => bundle.AddReference("~/jquery"));
         @*
         above line, where referencing depencies for inline script, has no effect.
         reference repeated in HEAD section also.
         check cassette for fix for this in future.
         *@
    
    Html.Snippets().Register("accounts/login/username/label", "accounts/login/body_text", "accounts/login/register_prefix_text", "accounts/login/register_link_text");

    Func<string, string> validationMessage = (code) => {
        if (code == "AUTH_FAILED") return "Username or password is incorrect";
        if (code == "AWAITING_APPROVAL") return "Account is awaiting approval";
        if (code == "LOCKED_OUT") return "User is locked out";
        if (code == "NEW_LOCKED_OUT") return "Password is incorrect. The account has now been locked out";

        return "Username or password is incorrect";
    };
}

@{Html.Snippet("accounts/login/content_before").HtmlExpected().Otherwise("").Render();}

<fieldset>
    @using (Html.BeginForm("login", "sessions", new { returnurl = Request.Params["returnurl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        if (ViewContext.ViewData.ModelState.ContainsKey(""))
        {
            var authErrorCode = ViewContext.ViewData.ModelState[""].Errors.First().ErrorMessage;
            var message = validationMessage(authErrorCode);
            
            <p class="text-danger">@message</p>
        }

        <div class="form-group">
            @{Html.Snippet("accounts/login/username/label").PlainTextExpected().Otherwise("Username/Email").Template(@<label for="@Html.FieldIdFor(x => x.Username)" class="col-sm-2 control-label">@item</label>).Render();}
            <div class="col-sm-6 col-md-4">
                @Html.TextBoxFor(x => x.Username, new { placeholder = "Username/Email", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6 col-md-4">
                @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Log in</button>
                &nbsp;
                <a href="@Url.Action("index", "forgottenpassword", new { area = "account" })">Forgotten password reset</a>
            </div>
        </div>
    }
</fieldset>

@{Html.Snippet("accounts/login/body_text").HtmlExpected().Otherwise("").Render();}