﻿<div class="row">
    <div class="col-sm-8">
        <p>
            <button class="btn btn-primary" data-ng-click="saveKeyChanges()">Save all changes</button>
            <span class="text-success" data-ng-show="saved">Saved...</span>
        </p>

        <ul class="list-unstyled">
            <li data-ng-repeat="key in callout.keys">
                <button type="button" data-ng-click="remove(key)" class="btn btn-link"><i class="icon-trash"></i></button>
                <span>
                    <form style="display:inline;" data-ng-submit="exitEditMode()">
                        <div class="form-group" data-ng-class="{'info': key.emphasise}">
                            <input type="text" data-ng-model="key.category" placeholder="Category" required="" class="form-control input-xlarge"/>
                        </div>
                        <div class="form-group" data-ng-class="{'info': key.emphasise}">
                            <div class="input-group">
                                <input type="text" data-ng-model="key.name" placeholder="Name" required="" class="form-control input-xlarge"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-ng-class="{'btn-info': key.emphasise}" type="button" data-ng-click="key.emphasise = !key.emphasise">Emph.</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" data-ng-class="{'info': key.emphasise}">
                            <input type="number" step="10" data-ng-model="key.weight" placeholder="Weight" required="" class="form-control input-sm"/>
                        </div>
                    </form>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <fieldset>
            <legend>Add new</legend>
            <form name="form" data-ng-submit="addNew(newItem);" class="form-horizontal">
                <div>
                    <div class="form-group">
                        <input type="text" data-ng-model="newItem.category" required="" placeholder="Category" class="form-control"/>
                        <span class="help-block">Example: Comfort And Convenience</span>
                    </div>
                    <div class="form-group">
                        <input type="text" data-ng-model="newItem.name" required="" placeholder="Name" class="form-control"/>
                        <span class="help-block">Example: Climate Control</span>
                    </div>
                    <div class="form-group">
                        <input type="number" data-ng-model="newItem.weight" required="" placeholder="Weight" class="form-control"/>
                        <span class="help-block">Example: 2000</span>
                    </div>
                </div>
                <button class="btn btn-default" data-ng-disabled="form.$invalid">Add new</button>
            </form>
        </fieldset>
    </div>
</div>