﻿@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Specification callouts";
    Bundles.Reference("~/areas/siteadmin/scripts/spec_callouts/");
}
<div ng-app="app" id="ng-app" ng-cloak>
    <script type="text/ng-template" id="index.html">
        @Html.Partial("_Ng-Index")
    </script>
    <div ng-view></div>
</div>