﻿@using Sfs.EStore.Web.App.Code
@model IEnumerable<Sfs.EStore.Web.App.Code.Cms.CmsPage>
@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Site Admin";
}

@{
    var menu = new MenuItem[]
                            {
                                new CustomLinkMenuItem()
                                {
                                    Text = "Main Site",
                                        Url = "~/"
                                },
                                new SecureMenuItem
                                {
                                    Roles = "user_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Users",
                                        Url = "~/siteadmin/users"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Content",
                                        Url = "~/siteadmin/pages"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Snippets",
                                        Url = "~/siteadmin/snippets"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "user_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Guest passes",
                                        Url = "~/siteadmin/affiliates"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "stock_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Specification callouts",
                                        Url = "~/siteadmin/speccallouts"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Manufacturer Pages",
                                        Url = "~/siteadmin/manufacturercmspages"
                                    }
                                }
                            };
}
<ul class="">
    @foreach (var item in menu)
    {
        @Html.DisplayFor(x => item)
    }
</ul>