header {
    /*background: url(../images/header-bg.png) repeat-x;*/
    .telephone {
        display: none;
    }

    .navbar-before {
        .logo-container {
            position: absolute;
            display: block;
            top: 20px;
            right: 100px;

            @media (min-width: 992px) {
                top: 20px;
                right: 20px;
            }
        }

        .phone {
            position: absolute;
            right: 20px;
            font-size: 24px;
        }
    }
}
