/*
@reference "./bootstrap.css";
*/

@import "vars.scss";
@import "ie8.scss";
@import "user-content.scss";
@import "checkout.scss";
@import "header.scss";

.hide-screen {
    display: none;
}

a {
    cursor: pointer;
    color: $SvsBlue;
}

.phone {
    z-index: 1;
}

h3 {
    color: $SvsBlue;
}

input.ng-invalid, textarea.ng-invalid {
    &.ng-dirty {
        border-color: #e9322d;
        box-shadow: 0 0 6px #f8b9b7;
    }
}

header#header {
    .container {
        position: relative;
    }

    .telephone {
        color: $SvsBlue;
        font-size: 30px;
        line-height: normal;
        position: absolute;
        top: 5px;
        right: 20px;
        z-index: 1;

        i {
            color: $SvsPink;
            padding-top: 10px;
            display: inline-block;
            padding-right: 25px;
        }

        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    .navbar {
        .navbar-brand {
            height: inherit;

            img {
                width: 130px;
                // @media (min-width: 992px) {
                // 	width: 130px;
                // }
            }
        }

        .navbar-collapse {
            margin-top: 45px;

            .nav {
                li {
                    &.active {
                        font-weight: bold;

                        a {
                            color: #e1134f;
                            box-shadow: none;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            .text-menu {
                color: #aaa;
                text-shadow: none;
            }
        }
    }
}

.page-header {
    padding-bottom: 2px;
    margin-bottom: 20px;

    h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
}

@mixin border-radius($width) {
    -webkit-border-radius: $width;
    -moz-border-radius: $width;
    border-radius: $width;
}

.input-validation-error {
    border: 1px solid red !important;
}

.validation-summary-errors {
    border: 1px solid #ebccd1 !important;
    color: #a94442;
    background-color: #f2dede;
    padding: 10px;
    margin-bottom: 10px;
}

#bidForm em {
    display: block;
}

.lot-bids {
    margin-bottom: 1em;
}

#images {
    margin-bottom: 1em;

    #image-gallery {
        margin-top: 1em;

        img {
            width: 100px;
        }
    }

    width: 100%;
}

.vehicles-table {
    a.img {
        img {
            width: 100px;
        }
    }

    h4 {
        margin-top: 0;
        font-weight: bold;

        &.winning, &.won {
            color: #468847;
        }

        &.losing, &.lost, &.outbid {
            color: #b94a48;
        }

        &.ended, &.highestbidder {
            color: #c09853;
        }
    }
}

.table img.thumbnail {
    max-width: 120px;
}


@mixin h5-bidding-status-base {
    color: #fff;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.5em;
    border: 1px solid #fff;
    @include border-radius(4px);
}

h5 {
    &.winning, &.won, &.losing, &.lost, &.ended, &.highestbidder {
        @include h5-bidding-status-base;
    }

    &.winning, &.won {
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.losing, &.lost {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
    }

    &.ended, &.highestbidder {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }
}

span {
    &.winning, &.won, &.losing, &.lost, &.ended, &.highestbidder {
        text-transform: uppercase;
    }

    &.winning, &.won {
        color: #468847;
    }

    &.losing, &.lost {
        color: #b94a48;
    }

    &.ended, &.highestbidder {
        color: #c09853;
    }
}

.search-tools {
    margin-bottom: 20px;

    .pagination-top {
        margin: 0;
        display: inline;
    }
}

.row.callouts {
    margin-bottom: 20px;
}

.well.quick-search {
    margin-bottom: 0;

    form {
        margin: 0;
    }

    legend {
        margin-bottom: 0;
    }

    legend + .control-group, .control-group {
        margin-bottom: 0;
    }
}

div.quick-search {
    .form-group {
        margin-bottom: 10px;
    }

    button, a {
        &.btn {
            margin-bottom: 4px;

            &.advanced {
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
            }

            &#btn-hidden-price-padding {
                margin-bottom: 0;
            }
        }
    }
}

#footer {
    padding: 1em 0;
    margin-top: 4em;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;

    h6 {
        margin-top: 0;
    }

    .legal {
        margin-top: 44px;
        font-size: 12px;
    }

    .social {
        img {
            width: 40px;
        }
    }
}

.border {
    border: 1px #ddd solid;
}

[class^="icon-"], [class*=" icon-"] {
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;

    &.icon-2x {
        vertical-align: middle;
    }
}

.search-quick {
    margin-bottom: 0;

    a {
        text-decoration: none;
    }
}

/// [lot view]
.listing-view {
    .detail-lot-spec-callouts {
        a.view-spec {
            text-decoration: underline;
        }
    }

    .price-container {
        .btn {
            color: $SvsBlue;
            white-space: normal !important;
            word-wrap: break-word;

            &.btn-primary {
                color: #fff;
            }

            &.btn-callback { transition: color 0.2s linear;margin-bottom: 4px;
                &:hover {
                    color: $SvsPink;
                }
            }
        }
    }

    h5.user-bid-status {
        margin-top: 0;
    }
}

.btn-watches {
    text-decoration: none !important;
    transition: color 0.3s linear;

    &.btn-watches-remove {
        i {
            color: $SvsPink;
        }

        &:hover {
            i {
                color: #ccc;
            }
        }
    }

    &.btn-watches-add {
        &.muted {
            color: $MediumGray;
        }

        &:hover {
            color: $SvsPink;
        }
    }
}

.vehicles-thumbnails {
    .thumbnail {
        position: relative;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        .label.label-listing-reserved {
            position: absolute;
            top: 8px;
            left: 8px;
            background-color: #b94a48;
        }

        .listing-watch-toggle {
            position: absolute;
            bottom: 0;
            right: 5px;
            font-size: 16px;
        }

        .thumbnail-title {
            font-size: 15px;
            font-weight: bold;

            @media (min-width: 768px) {
                height: 55px;
                overflow: hidden;
            }
        }

        .thumbnail-vehicle-detail {
            @media (min-width: 768px) {
                height: 55px;
                overflow: hidden;
            }
        }

        .thumbnail-pricing {
            margin-bottom: 0;
            color: $SvsBlue;

            .thumbnail-listing-price {
                font-size: 21px;
                font-weight: bold;
            }

            .thumbnail-listing-price-saving {
                color: $SvsPink;
                font-size: 14px;

                @media (min-width: 768px) and (max-width: 1199px) {
                    display: block;
                }
            }

            .thumbnail-listing-post-price {
                /*display: block;*/
            }
        }
    }
}

.vehicles-table {
    .btn-watches {
        &.btn-watches-add {
            color: $MediumGray;

            &:hover {
                color: $SvsPink;
            }
        }
    }

    .was-price {
        color: $SvsPink !important;
    }
}

@mixin nowPrice {
    text-align: right;
    line-height: normal;
    font-weight: bold;
    color: $SvsPink;
    margin: 0;
    margin-bottom: 10px;
}

h3.now-price {
    @include nowPrice;
    font-size: 32px;
}

.prices {
    h4.now-price {
        @include nowPrice;
        font-size: 76px;
        line-height: 1em;

        &.now-price-auction {
            font-size: 56px;
        }
    }

    .now-price-sub-text, .price-postfix {
        text-align: right;
        color: $MediumGray;
        font-size: 12px;
    }

    .now-price-reserve {
        margin: 0;
        text-align: right;

        .now-price-reserve-met {
            color: #2FA839;
        }

        .now-price-reserve-notmet {
            color: $SvsPink;
        }
    }
}

.media-lot {
    .price-info {
        font-size: 14px;
        color: $MediumGray;
        line-height: 18px;
        margin: 2px 10px 0 0;

        .price-info-label {
            font-weight: bold;
        }
    }
}

.sub-price {
    margin-bottom: 10px;

    .price-info {
        text-align: right;
        font-size: 18px;
        color: $MediumGray;

        .price-info-label {
            font-weight: bold;
        }
    }
}

/// [/lot view]

.detail-lot-spec-callouts {
    h4 {
        margin-top: 0;
    }

    p {
        text-align: right;
    }

    li.emphasise {
        font-weight: bold;
        color: $SvsBlue;
    }
}

.modal-contact {
    .phone {
        font-size: 4em;
        line-height: normal;
    }
}

div.well.well-performance {
    color: #000;
    //font-size: 1.2em;
    //padding-right: 14px;
    //background-color: #eee;
}

div.well.spec-items {
    padding: 0px 19px;
    margin-bottom: 0px;
}

h1.title {
    color: $SvsBlue;
}

.vehicletype {
    .btn-group {
        width: 100%;
    }

    &.vehicletype-full {
        .btn {
            width: 100px;
        }
    }

    .btn {
        width: 50%;
    }

    .btn.active {
        color: #fff;
        background-color: #005fa1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1);
    }
}

.finance {
    .finance-representative-example {
        .finance-representative-example-label {
            font-weight: normal;
        }
    }

    #finance-form-deposit, #finance-form-mileage {
        @media (min-width: 768px) {
            width: 100px;
        }
    }
}

.part-ex-app {
    td.td-label {
        font-weight: bold;
    }

    input.input-registrationPlate {
        background-color: #ffec39;
        font-weight: bold;
        border: 1px solid #8aaae2;
        border-left: 25px solid #29477f;
        text-transform: uppercase;
    }

    .well-valuation {
        text-align: center;

        h3 {
            color: #000;
        }

        h2 {
            font-size: 46px;
        }
    }
}

.table {
    td.table-td-no-data {
        text-align: center;
    }

    .table-col-money {
        text-align: right;
    }
}

.order-history-thumbnail {
    margin-bottom: 20px;
}

.timeLeft {
    color: #0065A4;
}

.checkout-container {
    form {
        label {
            margin-right: 10px;
        }
    }
}

.selected-marque-dealer {
    background-size: 100% 100%;
    height: 200px;
    width: 80%;
    margin-left: 10%;


    p {
        font-weight: 900;
        font-size: larger;
        margin-top: 114px;
        color: white;
    }
}

.found-marque-dealer {
    background-size: 100% 100%;
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
    height: 200px;


    p {
        font-weight: 900;
        font-size: larger;
        margin-top: 114px;
        color: white;
    }
}
/*Image Hover Detail*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0,0,0,0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 11px;
    }
}
