﻿@using Sfs.EStore.Web.App
@{
    Layout = "_ViewTemplate.cshtml";
}

@section PageTitle {
    <h1>Bids/Offers</h1>
}

<div ng-show="!listings && working">@{ Html.RenderPartial("_loader"); }</div>

<div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-link" ng-click="filterByStatus('bidding.')" ng-disabled="!filterStatus">All</button>
            <button class="btn btn-link" ng-click="filterByStatus('bidding.winning')" ng-disabled="filterStatus == 'Winning'">Winning</button>
            <button class="btn btn-link" ng-click="filterByStatus('bidding.outbid')" ng-disabled="filterStatus == 'Outbid'">Not winning</button>
        </div>
        <div class="col-md-4">
            <select id="sortBy" ng-model="sortBy" class="form-control" ng-change="setSortBy()">
                <option value="endTime">Time left: ending soonest</option>
                <option value="-endTime">Time left: newly listed</option>
            </select>
        </div>
    </div>
</div>

<div ng-if="listings.length == 0">
    <p><b>You aren't bidding on any items.</b></p>
    <p>To see items you were bidding on that have ended, go to <a href="#/purchase-history">Order history</a> or <a href="#/didnt-win">Didn't win</a>.</p>
</div>

<div ng-if="listings.length > 0">

    <table class="table table-hover vehicles-table">
        <thead>
            <tr>
                <th colspan="2">&nbsp;</th>
                <th>Bids</th>
                <th>Price</th>
                <th>Time left</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="working">
                <td colspan="5">
                    @{ Html.RenderPartial("_loader"); }
                </td>
            </tr>
            <tr ng-repeat="listing in listings">
                <td>
                    <a class="img" target="_self" ng-href="{{listing | listingUrl}}">
                        <vehicle-image image="listing.primaryImage" dimensions="280x210" overlay="results" />
                    </a>
                </td>
                <td>
                    <h4>
                        <span watch-status-toggle ng-listing-id="listing.listingId"></span>
                        <span ng-if="listing.biddingInfo.biddingStatus == 'Outbid'" class="label label-default label-danger">OUTBID</span>
                        <a target="_self" data-toggle="tooltip" title="{{listing.title}}" data-delay="500" ng-href="{{listing | listingUrl}}">{{listing.title}}</a>
                    </h4>
                    <p class="text-muted">Your maximum bid: {{listing.biddingInfo.maximumBid | money}}</p>
                    <ul class="list-unstyled">
                        <li>{{ listing.vehicleInfo.registration.yap }} ({{ listing.vehicleInfo.registration.plate }})</li>
                        <li ng-if="listing.vehicleInfo.mileage">{{ listing.vehicleInfo.mileage | number }} miles</li>
                    </ul>
                </td>
                <td>{{listing.sellingStatus.bidCount}}</td>
                <td>
                    <h4 ng-if="listing.sellingStatus.currentPrice.amount > 0" ng-class="{winning: (listing.biddingInfo.biddingStatus == 'Winning'), outbid: (listing.biddingInfo.biddingStatus == 'Outbid')}">{{listing.sellingStatus.currentPrice | money}}</h4>
                    <h4 ng-if="listing.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</h4>
                    <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                    @{
                        @*Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<small class="price-postfix">@item</small>)
                            .Render();*@
                    }
                </td>
                <td>
                    <h4 title="{{ listing.listingInfo.endTime | formatDate }}" ng-if="listing.listingInfo.listingType != 'FixedPrice' && listing.listingInfo.endTime">{{ listing.listingInfo.timeRemaining | humanizeDuration }}</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <pager ng-if="pagination.totalCount > pagination.take" total-items="pagination.totalCount" items-per-page="pagination.take" page="pagination.currentPage"></pager>
</div>