﻿@using Sfs.EStore.Web.App
@{
    Layout = "_ViewTemplate.cshtml";
}

@section PageTitle
{
    <h1>@{ Html.Snippet("watches/page-title")
               .PlainTextExpected()
               .Otherwise("Saved vehicles")
               .Render(); }
    </h1>
}

@{ Html.Snippet("watches/leading_content")
.PlainTextExpected()
.Render(); }

<div ng-show="errorLoading" class="text-danger">
    <p>There has been an error loading your watch list. Please try again later</p>
</div>
<div ng-hide="errorLoading">
    <form class="form-inline" ng-submit="query()">
        <div class="">
            <label for="q" class="control-label sr-only">Filter:</label>
            <div class="input-group">
                <input type="text" id="q" name="q" class="form-control" placeholder="Filter" data-ng-model="search.q" />
                <span class="input-group-btn"><button class="btn btn-default" ng-disabled="working"><i class="icon-search"></i> <span ng-show="working">@{ Html.RenderPartial("_loader"); } Loading...</span></button></span>
            </div>
        </div>
    </form>
    <div ng-hide="vehicles || loaded">
        <p class="text-muted">No vehicles are being watched or none can be found matching your search criteria.</p>
    </div>
    <div ng-show="vehicles">
        <p class="text-muted" data-ng-show="pagination.take < totalCount">Showing the top {{pagination.take | number:0}} out of a total of {{totalCount | number:0}} vehicles found. Use the filter above to refine your results.</p>
        @Html.Partial("_Ng-LotTable", new ViewDataDictionary
                                                                    {
                                                                        {"HidePrices", true}
                                                                    })
    </div>
</div>