﻿@using Sfs.EStore.Web.App
@{
    Layout = "_ViewTemplate.cshtml";
}

@section PageTitle {
    <h1>Didn't win</h1>
}

<div ng-show="!listings && working">@{ Html.RenderPartial("_loader"); }</div>
<div ng-if="listings.length == 0">
    <p><b>You don't have any vehicles</b></p>
    <p>Vehicles you didn't win with display here.</p>
</div>

<div ng-if="listings.length > 0">
    <div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <select id="sortBy" ng-model="sortBy" ng-change="setSortBy()">
                    <option value="-endTime">Time ended: recent first</option>
                    <option value="endTime">Time ended: recent last</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table table-hover vehicles-table">
        <thead>
            <tr>
                <th colspan="2">&nbsp;</th>
                <th>Bids</th>
                <th>Price</th>
                <th>Ended</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="working">
                <td colspan="5">
                    @{ Html.RenderPartial("_loader"); }
                </td>
            </tr>
            <tr ng-repeat="listing in listings">
                <td>
                    <a class="img" target="_self" href="{{listing | listingUrl}}">
                        <vehicle-image image="listing.primaryImage" dimensions="280x210" overlay="results" />
                    </a>
                </td>
                <td>
                    <h4>
                        <span watch-status-toggle ng-listing-id="listing.listingId"></span>
                        <a target="_self" data-toggle="tooltip" title="{{listing.title}}" data-delay="500" href="{{listing | listingUrl}}">{{listing.title}}</a>
                    </h4>
                    <p class="text-muted">Your maximum bid: {{listing.biddingInfo.maximumBid | money}}</p>
                    <ul class="list-unstyled">
                        <li>{{ listing.vehicleInfo.registration.yap }} ({{ listing.vehicleInfo.registration.plate }})</li>
                        <li ng-if="listing.vehicleInfo.mileage">{{ listing.vehicleInfo.mileage | number }} miles</li>
                    </ul>
                </td>
                <td>{{listing.sellingStatus.bidCount}}</td>
                <td>
                    <h4 ng-class="{winning: (listing.biddingInfo.buyItNowSale)}" ng-if="listing.biddingInfo.buyItNowSale">
                        {{listing.listingInfo.buyItNowPrice | money }}
                    </h4>

                    <div ng-if="!listing.biddingInfo.buyItNowSale">
                        <h4 ng-if="listing.sellingStatus.currentPrice.amount > 0" ng-class="{winning: (listing.biddingInfo.biddingStatus == 'Winning'), outbid: (listing.biddingInfo.biddingStatus == 'Outbid')}">{{listing.sellingStatus.currentPrice | money}}</h4>
                        <h4 ng-if="listing.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</h4>
                        <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
                        @{
                            @*Html.Snippet("vehicles/all/price_postfix")
                                .PlainTextExpected()
                                .Template(@<small class="price-postfix">@item</small>)
                            .Render();*@
                        }
                    </div>
                </td>
                <td>
                    <h4 title="{{ listing.listingInfo.endTime | formatDate }}" ng-if="listing.listingInfo.endTime">{{ listing.listingInfo.endTime | formatDate }}</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <pager ng-if="pagination.totalCount > pagination.take" total-items="pagination.totalCount" items-per-page="pagination.take" page="pagination.currentPage"></pager>
</div>