﻿@{
    Layout = null;
    var hasAuctions = Tenant.IntegratesWith("Auctions/Enabled");
}

@if (IsSectionDefined("PageTitle"))
{
    <div class="page-header">
        @RenderSection("PageTitle")
    </div>
}

<div class="row">
    @if (hasAuctions)
    {
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" bs-navbar>
                <li class="nav-header">Lists</li>
                <li data-match-route="/watches"><a href="#/watches">Watch list</a></li>
                @if (hasAuctions)
                {
                    <li class="nav-header">Buy</li>
                    <li data-match-route="/bidding"><a href="#/bidding">Bidding</a></li>
                    <li data-match-route="/didnt-win"><a href="#/didnt-win">Didn't Win</a></li>
                    <li data-match-route="/purchase-history"><a href="#/purchase-history">Purchase History</a></li>
                }
            </ul>
        </div>
    }
    <div class="@(hasAuctions ? "col-sm-9" : "col-sm-12")">
        @RenderBody()
    </div>
</div>