﻿@using Sfs.EStore.Web.App
@{
    SetBodyCssClass("my");
        
    ViewBag.MetaTitle = Html.Snippet("my/page-title")
                                            .PlainTextExpected()
                                            .Otherwise("My")
                                            .HtmlString().ToString();

    Bundles.Reference("~/scripts/angular/apps/my");
}

<div ng-app="app" id="ng-app" ng-cloak>
    <script type="text/ng-template" id="watchlist.html">
        @Html.Partial("_Ng-watchlist")
    </script>
    <script type="text/ng-template" id="bidding.html">
        @Html.Partial("_Ng-bidding")
    </script>
    <script type="text/ng-template" id="didnt-win-auctions.html">
        @Html.Partial("_Ng-didnt-win-auctions")
    </script>
    <script type="text/ng-template" id="purchase-history.html">
        @Html.Partial("_Ng-purchase-history")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>

    <div ng-view></div>
</div>