﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Html.Snippets().Register("part-ex/fixed-top",
                             "part-ex/registration-capture-form",
                             "part-ex/cant-find-registration",
                             "part-ex/confirm-vehicle",
                             "part-ex/mileage-capture-form",
                             "part-ex/valuation-explained");
}

@{
    Html.Snippet("part-ex/fixed-top").HtmlExpected()
        .Otherwise(@<h3>What's my <span data-ng-show="vehicle.confirmed">{%raw%}{{vehicle.make}} {{vehicle.model}}{%endraw%}</span><span data-ng-hide="vehicle.confirmed">car</span> worth?</h3>)
        .Render();
}

<section data-ng-hide="vehicle || newValuation" id="partex-registration-capture">
    <div class="row">
        <div class="col-sm-4">
            @{
                Html.Snippet("part-ex/registration-capture-form")
                    .HtmlExpected()
                    .Render();
            }
            <form name="registrationForm" data-ng-submit="lookup(params.registration)">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-9 col-lg-8">
                            <input type="text" class="input-lg form-control input-registrationPlate" ng-model="params.registration" required autofocus/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="working || registrationForm.$invalid">Find your car</button>
                </div>
            </form>
            <div class="alert alert-block" data-ng-show="noFound">
                @{
                    Html.Snippet("part-ex/cant-find-registration").HtmlExpected()
                        .HtmlExpected()
                        .Otherwise(@<p>Sorry, we couldn't find your vehicle.</p>)
                        .Render();
                }
            </div>
        </div>
        @if (IsCurrentUserAllowed("/PartEx/SavedValuations"))
        {
            <div class="col-sm-8">
                <div class="well well-small">
                    <h3>Previous Valuations</h3>
                    <table class="table table-condensed table-striped">
                        <tr>
                            <th>When?</th>
                            <th>Registration Number</th>
                            <th>Mileage</th>
                            <th>Valuation</th>
                            <th></th>
                        </tr>
                        <tr data-ng-show="!previousValuations || previousValuations.length == 0">
                            <td colspan="5" class="text-muted table-td-no-data">
                                <span data-ng-hide="auth.currentUser"><a href="@Url.LoginAndReturn()">Sign in</a> to save valuations or view your previous valuations</span>
                                <span data-ng-show="auth.currentUser">There are no previous valuations saved</span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="v in previousValuations | orderBy:'createdOn':true">
                            <td>{{ v.createdOn | humanizeFromNow }}</td>
                            <td data-ng-click="params.registration = v.registration">{{ v.registration | uppercase }}</td>
                            <td>{{ v.mileage | number }}</td>
                            <td>{{ v.valuation.below | money }} - {{ v.valuation.average | money }}</td>
                            <td><button class="btn btn-sm btn-danger" data-ng-click="deleteValuation(v)" data-ng-disabled="working">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</section>

<section data-ng-show="vehicle && !vehicle.confirmed" id="partex-confirm-vehicle">
    @{
        Html.Snippet("part-ex/confirm-vehicle").HtmlExpected()
            .HtmlExpected()
            .Render();
    }
    <table class="table table-responsive">
        <tr>
            <td class="td-label">Make</td>
            <td>{{vehicle.make}}</td>
            <td class="td-label">Registration</td>
            <td>{{vehicle.registrationNumber}}</td>
        </tr>
        <tr>
            <td class="td-label">Model</td>
            <td>{{vehicle.model}}</td>
            <td class="td-label">Fuel Type</td>
            <td>{{vehicle.fuelType}}</td>
        </tr>
        <tr>
            <td class="td-label">Trim</td>
            <td>{{vehicle.derivative}}</td>
            <td class="td-label">Colour</td>
            <td>{{vehicle.colour}}</td>
        </tr>
        <tr>
            <td class="td-label">Engine</td>
            <td><span data-ng-show="vehicle.engineCapacity">{{vehicle.engineCapacity}}cc</span></td>
            <td class="td-label">Transmission</td>
            <td>{{vehicle.transmission}}</td>
        </tr>
    </table>

    <p>
        Is this your car? 
        <button type="button" class="btn btn-primary" data-ng-click="confirmVehicle()" data-ng-disabled="working">This is my car</button>
        <button type="button" class="btn-link" data-ng-click="startOver()">No, try again</button>
    </p>
</section>

<section data-ng-show="vehicle && vehicle.confirmed && !newValuation" id="partex-mileage-capture">
    @{
        Html.Snippet("part-ex/mileage-capture-form").HtmlExpected()
            .HtmlExpected()
            .Render();
    }
    <form name="mileageForm" data-ng-submit="getValuation(params.registration, params.mileage, params.contact)" class="">
        <div class="form-group">
            <label class="control-label">Your current mileage (approx.)</label>
            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-2">
                    <input type="number" data-ng-model="params.mileage" required autofocus class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Post code</label>
            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-2">
                    <input type="text" data-ng-model="params.contact.postCode" required class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full name</label>
            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-2">
                    <input type="text" data-ng-model="params.contact.fullName" required class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Telephone</label>
            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-2">
                    <input type="text" data-ng-model="params.contact.telephone" required class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-2">
                    <input type="text" data-ng-model="params.contact.email" required class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" data-ng-disabled="working || mileageForm.$invalid">Get valuation</button>
            <button class="btn btn-link" type="button" data-ng-click="startOver()">Back</button>
        </div>
    </form>
</section>

<section data-ng-show="newValuation && newValuation.error" id="partex-valuation-error">
    <div class="alert alert-error alert-block">
        <p>There has been an problem valuing your vehicle. Please <button type="button" class="btn btn-link" data-ng-click="startOver()">try again</button></p>
    </div>
</section>

<section data-ng-show="newValuation && !newValuation.error" id="partex-valuation">
    <div class="well well-small well-valuation">
        <h3>Approximate part ex:</h3>
        <h2>{{ newValuation.valuation.below | money }} - {{ newValuation.valuation.average | money }}</h2>
    </div>
    
    @{
        Html.Snippet("part-ex/valuation-explained").HtmlExpected()
            .HtmlExpected()
            .Render();
    }

    <table class="table">
        <tr>
            <td class="td-label">Make</td>
            <td>{{vehicle.make}}</td>
            <td class="td-label">Registration</td>
            <td>{{vehicle.registrationNumber}}</td>
        </tr>
        <tr>
            <td class="td-label">Model</td>
            <td>{{vehicle.model}}</td>
            <td class="td-label">Fuel Type</td>
            <td>{{vehicle.fuelType}}</td>
        </tr>
        <tr>
            <td class="td-label">Trim</td>
            <td>{{vehicle.derivative}}</td>
            <td class="td-label">Colour</td>
            <td>{{vehicle.colour}}</td>
        </tr>
        <tr>
            <td class="td-label">Engine</td>
            <td><span data-ng-show="vehicle.engineCapacity">{{vehicle.engineCapacity}}cc</span></td>
            <td class="td-label">Transmission</td>
            <td>{{vehicle.transmission}}</td>
        </tr>
    </table>
    
    <p>
        <button class="btn btn-link" data-ng-click="clearValuation()">Back</button>
    </p>
</section>