﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Html.Snippets().Register("part-ex/fixed-top",
                             "part-ex/registration-capture-form",
                             "part-ex/cant-find-registration",
                             "part-ex/confirm-vehicle",
                             "part-ex/mileage-capture-form",
                             "part-ex/valuation-explained");
}

<div class="row">
    <div class="col-xs-12">
        <div class="text">
            <h2>PART EXCHANGE CALCULATOR</h2>
            <h3>What’s my <span ng-show="vehicle.confirmed">{{vehicle.make}}</span><span ng-hide="vehicle.confirmed">car</span> worth?</h3>
            <p ng-hide="newValuation || newValuation.error">Follow 4 simple steps and we'll give you an approximate valuation of your cars current market value.</p>
        </div>
    </div>
</div>

<section data-ng-hide="vehicle || newValuation" id="partex-registration-capture">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="step registration">
                <h3>STEP 1 - Registration Number</h3>
                <form name="registrationForm" data-ng-submit="lookup(params.registration)">
                    <label for="">Firstly we need to know what the registration of your car is.</label>
                    <input type="text" placeholder="Type registration number here"
                           ng-model="params.registration" required autofocus>
                    <button type="submit" class="landingLink" ng-class="{working: working}" data-ng-disabled="working || registrationForm.$invalid">Find your car</button>
                </form>
                <div class="alert alert-block" data-ng-show="noFound">
                    @{
                        Html.Snippet("part-ex/cant-find-registration").HtmlExpected()
                            .HtmlExpected()
                            .Otherwise(@<p>Sorry, we couldn't find your vehicle.</p>)
                            .Render();
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section data-ng-show="vehicle && !vehicle.confirmed" id="partex-confirm-vehicle">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="step">
                <h3>STEP 2 - Your vehicle</h3>
                <p>Please confirm we have the correct vehicle.</p>
                <table class="spec">
                    <tr>
                        <td class="td-label">Make</td>
                        <td>{{vehicle.make}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Model</td>
                        <td>{{vehicle.model}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Trim</td>
                        <td>{{vehicle.derivative}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Engine</td>
                        <td><span data-ng-show="vehicle.engineCapacity">{{vehicle.engineCapacity}}cc</span></td>
                    </tr>
                </table>
                <table class="">
                    <tr>
                        <td class="td-label">Registration</td>
                        <td>{{vehicle.registrationNumber}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Fuel Type</td>
                        <td>{{vehicle.fuelType}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Colour</td>
                        <td>{{vehicle.colour}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Transmission</td>
                        <td>{{vehicle.transmission}}</td>
                    </tr>
                </table>

                <button class="landingLink" data-ng-click="confirmVehicle()" data-ng-disabled="working">This is my car</button>
           
                <a class="deny" href="#" ng-click="startOver()">No, try again</a>
            </div>
        </div>
    </div>
</section>

<section data-ng-show="vehicle && vehicle.confirmed && !newValuation" id="partex-mileage-capture">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="step mileage">
                <h3>STEP 3 - Mileage</h3>
                
                <form name="mileageForm" data-ng-submit="getValuation(params.registration, params.mileage, params.contact) | trackEvent:'Part exchange':'Form submit'" class="">
                    <label>Nearly there. In order to provide you with a valuation we need to know the following</label>
                    <input type="number" placeholder="Type mileage here" data-ng-model="params.mileage" required autofocus/>

                    <label for="">Post code</label>
                    <input type="text" data-ng-model="params.contact.postCode" required />
                    <label for="">Full name</label>
                    <input type="text" data-ng-model="params.contact.fullName" required />
                    <label for="">Telephone</label>
                    <input type="tel" data-ng-model="params.contact.telephone" required />
                    <label for="">Email</label>
                    <input type="email" data-ng-model="params.contact.email" required />

                    <button type="submit" ng-class="{working: working}" data-ng-disabled="working || mileageForm.$invalid" class="landingLink">SUBMIT TO RECEIVE VALUATION</button>
                    <a class="altAction" href="#" ng-click="startOver()">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-ng-show="newValuation && newValuation.error" id="partex-valuation-error">
    <div class="alert alert-error alert-block">
        <p>There has been an problem valuing your vehicle. Please <button type="button" class="btn btn-link" data-ng-click="startOver()">try again</button></p>
    </div>
</section>

<section data-ng-show="(newValuation && !newValuation.error)" id="partex-valuation">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="step">
                <h3>APPROXIMATE PART-EX:</h3>
                <div class="partexThankyou">Thank you for your enquiry. One of our team will contact you shortly with your valuation.</div>
                
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                </div>
                <table class="spec">
                    <tr>
                        <td class="td-label">Make</td>
                        <td>{{vehicle.make}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Model</td>
                        <td>{{vehicle.model}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Trim</td>
                        <td>{{vehicle.derivative}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Engine</td>
                        <td><span data-ng-show="vehicle.engineCapacity">{{vehicle.engineCapacity}}cc</span></td>
                    </tr>
                </table>
                <table class="">
                    <tr>
                        <td class="td-label">Registration</td>
                        <td>{{vehicle.registrationNumber}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Fuel Type</td>
                        <td>{{vehicle.fuelType}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Colour</td>
                        <td>{{vehicle.colour}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Transmission</td>
                        <td>{{vehicle.transmission}}</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="altAction" href="#" ng-click="clearValuation()">Back</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
            @{Html.Snippet("part-ex/call_to_action")
                 .HtmlExpected()
                 .Render();}
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="previousQuotes text">
                <h3>About this valuation</h3>

                <p>This estimator is designed to give you a range of values that your vehicle is worth. As values can vary due to specification, condition, history and colour it’s difficult to give you an exact valuation without more information. This range is for a vehicle that has not been modified or registered written off.</p>

                <p>You can call us or email us with more detail on the condition of your car and we’re more than happy to give you a definitive value over the phone, but of course we’ll need to see the car before a deal can be finalised.</p>
            </div>
        </div>
    </div>
</section>