﻿@using Sfs.EStore.Web.App
@model Sfs.EStore.Web.App.Models.CmsPageModel
@{
    SetMetaData(Model.MetaData)
        .SetPageTitle(Model.PageTitle)
        .SetBodyCssClass(Model.BodyCssClass);

    Bundles.Reference("~/scripts/angular/apps/partex");
}
<div ng-app="app" id="ng-app" ng-cloak class="part-ex-app">
    <script type="text/ng-template" id="index.html">
        @Html.Partial("_Ng-index")
    </script>
    @{ Html.RenderCmsSection(Model.Source, Model.Variables); }
</div>