﻿@model Sfs.EStore.Web.App.Models.SearchPageModel
@{
    Layout = null;
}
<div id="search-results" ng-controller="ListingResultsController">
    <div ng-show="queryIsDirty">
        <h3>Vehicles in your search: {{estimatedTotalRecords | number}}</h3>
        <p>
            <b>You have made changes to your search. Click 'search' to view the vehicles</b>
        </p>
    </div>
    <div ng-hide="queryIsDirty">
        <div ng-show="listings" class="row search-tools">
            <div class="col-sm-7">
                <pagination class="pagination-top" direction-links="true" boundary-links="false" total-items="pagination.totalCount"
                            ng-model="currentPage" max-size="pagination.maxSize" items-per-page="pagination.take"
                            previous-text="Previous"
                            next-text="Next"></pagination>
                <button type="button" class="btn btn-link" disabled="disabled">&nbsp;</button>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <span>
                        
                            <button tooltip="View results in a grid" data-ng-click="setPreferredView('card')" data-ng-class="{'active':viewType=='card'}" class="btn btn-default"><i class="icon-th-large"></i></button>
                            <button tooltip="View results as a list" data-ng-click="setPreferredView('table')" data-ng-class="{'active':viewType=='table'}" class="btn btn-default"><i class="icon-th-list"></i></button>
                        </span>
                    </div>
                    <div class="col-xs-7 col-sm-7">
                        <select ng-model="sortBy" class="form-control" ng-change="sort()">
                            <option value="">{{sortBy ? "Remove sort" : "Sort results by:"}}</option>
                            <option value="-starttime">Newly listed</option>
                            @if (IsCurrentUserAllowed("/Lots/View/Prices"))
                            {
                                <option value="offerprice">Price (lowest first)</option>
                                <option value="-offerprice">Price (highest first)</option>
                            }
                            <option value="mileage">Mileage (lowest first)</option>
                            <option value="model">Model</option>
                            <option value="derivative">Trim</option>
                            @if (Model.AllowOrderByTimeEndingSoonest)
                            {
                                <option value="endtime">Time left: ending soonest</option>
                                <option value="-endtime">Time left: newly listed</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <p ng-show="isBusy">Searching...</p>
        <p ng-hide="listings.length > 0 || isBusy">No vehicles found</p>

        <div lot-search-results data-view="viewType || 'card'" data-vehicles="listings" />
        <p data-ng-show="listings">
            <pagination class="pagination-top" direction-links="true" boundary-links="false" total-items="pagination.totalCount"
                        ng-model="currentPage" max-size="pagination.maxSize" items-per-page="pagination.take"
                        previous-text="Previous"
                        next-text="Next"></pagination>
        </p>
    </div>
</div>
