﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Bundles.Reference("angular");
    Bundles.Reference("~/scripts/angular/services");
}
<div class="thumbnail" ng-class="{'thumbnail-listing-reserved': (vehicle.sellingStatus.sellingState == 'Reserved'), 'reduced': vehicle.discountPriceInfo.wasPrice}">
    <div class="vehicle-thumbnails__img">
        <a target="_self" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
            <vehicle-image image="vehicle.primaryImage" dimensions="280x210" overlay="results" />
        </a>
    </div>
    <h3 class="thumbnail-title">
        <span class="label label-listing-reserved" ng-if="vehicle.sellingStatus.sellingState == 'Reserved'">Reserved</span>
        <a target="_self" data-toggle="tooltip" title="{{vehicle.title}}" data-delay="500" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
            {{vehicle.title}} <b ng-show="vehicle.attentionGrabber">{{vehicle.attentionGrabber}}</b>
        </a>
    </h3>
    <p class="vehicles-thumbnails__details">
        <b>{{ vehicle.vehicleInfo.registration.yap}}</b> ({{ vehicle.vehicleInfo.registration.plate }})
        <span ng-if="vehicle.vehicleInfo.trim">, {{vehicle.vehicleInfo.trim.code}} {{vehicle.vehicleInfo.trim.name}}</span>
        <span ng-if="vehicle.vehicleInfo.source">, Source: {{vehicle.vehicleInfo.source.code}}</span>
        <span ng-if="vehicle.vehicleInfo.mileage">, {{ vehicle.vehicleInfo.mileage | number }} miles</span>
    </p>

    <p class="vehicles-thumbnails__equipment"><span ng-repeat="item in equipments[vehicle.listingId]">{{item.name}}; </span></p>
    <p class="vehicles-thumbnails__exterior-colour">{{vehicle.vehicleInfo.exteriorColour}}<span ng-if="!vehicle.vehicleInfo.exteriorColour">&nbsp;</span></p>
    <h4 class="vehicles-thumbnails__pricing" ng-if="vehicle.sellingStatus.currentPrice">
        <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
            {{vehicle.sellingStatus.currentPrice | markup | money}}
        </span>
        <span class="thumbnail-listing-price" ng-if="vehicle.sellingStatus.currentPrice.amount <= 0">
            @{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Otherwise("POA").Render(); }
        </span>

        @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice"))
        {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Save {{ vehicle | retailSaving | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
        }
        @if (Tenant.IntegratesWith("Views/Lot/IncludeWasPrice"))
        {
            <small class="thumbnail-listing-price-saving" ng-if="vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0">Was {{ vehicle.discountPriceInfo.wasPrice | money }}</small>
            <small class="thumbnail-listing-price-saving" ng-if="!(vehicle.discountPriceInfo.wasPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0)">&nbsp;</small>
        }

        <span class="thumbnail-listing-post-price" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">
            <small data-price-vat-status="vehicle.pricesIncludeVat"></small>
            @{ Html.Snippet("vehicles/all/price_postfix")
                   .PlainTextExpected()
                   .Template(@<small class="price-postfix">@item</small>)
                   .Render(); }
        </span>
    </h4>
    <span class="listing-watch-toggle"><span data-watch-status-toggle ng-listing-id="vehicle.listingId"></span></span>
</div>
