﻿@{
    Layout = null;
}

<div ng-init="facetEquipment=true;">
    <form ng-submit="applyQuery()" query-params ng-init="advancedQuery={enabled:(params.minPrice||params.maxPrice||params.source||params.fuelType||params.exteriorColour||params.engine||params.transmission||params.yap||params.mileage||params.make||params.registration)}">
        <div class="well search-params-container" ng-if="!advancedQuery.enabled">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group model">
                        <facet-select ng-value="params.model" facet="model" ng-option-label="All models"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group derivative">
                        <facet-select ng-value="params.derivative" facet="derivative" ng-parent="params.model" ng-option-label="All trims"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group category">
                        <facet-select ng-value="params.category"
                                      facet="category" ng-option-label="All body styles"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group equipment">
                        <facet-select ng-value="params.equipment" facet="equipment" ng-option-label="All Optional Extras"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="button" ng-click="params.make=(params.make || 'VAUXHALL');advancedQuery.enabled=true;" class="btn btn-link">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                            Advanced Search
                        </button>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group optional-extra">
                        <input type="text" id="search-q" ui-reset ng-model="params.q" placeholder="Freetext Search (e.g red diesel hatchback)" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" ng-disabled="!isDirty" class="btn btn-primary button-search"><i class="icon-search"></i> Search</button>
                    <button type="button" class="btn btn-link" id="search_btn_clear" data-ng-click="reset()">Clear all</button>
                </div>
            </div>
        </div>
        <div class="well search-params-container" ng-if="advancedQuery.enabled">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group registration">
                        <input type="text" ui-reset ng-model="params.registration" placeholder="Registration" class="form-control">
                    </div>
                    <div class="form-group manufacturer">
                        <facet-select ng-value="params.make" facet="make" ng-option-label="All makes" />
                    </div>
                    <div class="form-group model">
                        <facet-select ng-value="params.model" facet="model" ng-parent="params.make" ng-option-label="All models" />
                    </div>
                    <div class="form-group derivative">
                        <facet-select ng-value="params.derivative" facet="derivative" ng-parent="params.model" ng-option-label="All trims" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group category">
                        <facet-select ng-value="params.category"
                                      facet="category" ng-option-label="All body styles" />
                    </div>
                    <div class="form-group maximum-mileage">
                        <facet-select ng-value="params.mileage"
                                      facet="mileage" ng-option-label="All mileages"
                                      ng-value-formatter="searchParamValueFormatters.range(params.mileage)" />
                    </div>
                    <div class="form-group maximum-age">
                        <facet-select ng-value="params.yap"
                                      facet="yap" ng-option-label="All Y&amp;P" />
                    </div>
                    <div class="form-group transmission">
                        <facet-select ng-value="params.transmission"
                                      facet="transmission" ng-option-label="All transmissions" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group engine">
                        <facet-select ng-value="params.engine"
                                      facet="engine" ng-option-label="All engines" />
                    </div>
                    <div class="form-group exteriorColour">
                        <facet-select ng-value="params.exteriorColour"
                                      facet="exteriorColour" ng-option-label="All colours" />
                    </div>
                    <div class="form-group fuel-type">
                        <facet-select ng-value="params.fuelType"
                                      facet="fuelType" ng-option-label="All fuel types" />
                    </div>
                    <div class="form-group source">
                        <facet-select ng-value="params.source"
                                      facet="source" ng-option-label="Vehicle source" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group equipment">
                        <facet-select ng-value="params.equipment" facet="equipment" ng-option-label="All Optional Extras" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group maximum-price">
                        <div class="row">
                            <!--[if lt IE 10]>
                            <label for="Search_MinimumPrice">Price range from</label>
                        <![endif]-->
                            <div class="col-xs-6">
                                <input class="form-control" data-val="true" data-val-number="Minimum price must be a number." id="Search_MinimumPrice" name="Search.MinimumPrice" placeholder="Min price" type="text" ng-model="params.minPrice" min="0" max="{{params.maxPrice}}" step="500">
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" data-val="true" data-val-number="Maximum price must be a number." id="Search_MaximumPrice" name="Search.MaximumPrice" placeholder="Max price" type="text" ng-model="params.maxPrice" min="{{params.minPrice}}" step="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group equipment">
                        <input type="text" id="search-q" ui-reset ng-model="params.q" placeholder="Freetext Search (e.g red diesel hatchback)" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group pull-right">
                        <button type="button" ng-click="advancedQuery.enabled=false" class="btn btn-link">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                            Basic Search
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-disabled="!isDirty" class="btn btn-primary button-search"><i class="icon-search"></i> Search</button>
                        <button type="button" class="btn btn-link" id="search_btn_clear" data-ng-click="reset(paramas.lsale)">Clear all</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
