@using Sfs.EStore.Web.App
@model BuyItNowConfirmModel
@{
    ViewBag.MetaTitle = "Confirm Buy It Now";
    ViewBag.PageTitle = "Confirm Buy It Now <small>" + Model.Title + "</small>";
}

<div class="row">
    <div class="col-sm-8">
        <ul class="breadcrumb">
         
        </ul>
        @using (Html.BeginForm(new { action = "index", Model.Id, Model.BackToUrl }))
        {
            <p><strong>By clicking 'Confirm' you commit to purchase this vehicle.</strong></p>
            <p class="max-bid">
                You are about to purchase this vehicle for 
                <strong>@Html.Money(Model.BuyItNowPrice)</strong> <small>@Html.PriceVatStatus(Model.PricesIncludeVat)</small>
                @*@{ Html.Snippet("vehicles/all/price_postfix")
                   .PlainTextExpected()
                   .Template(@<small class="price-postfix">@item</small>)
                   .Render(); }*@
            </p>
            <p>
                @Html.DropDownListFor(x => x.CustomerNo, Model.Customers, Html.Snippet("user_basket/checkout/customers_dropdown_empty_option")
                               .PlainTextExpected()
                               .Otherwise("Please choose the purchasing dealership")
                               .HtmlString().ToString(), new { required = "required", @class = "form-control" })
            </p>
            <p>
                <button type="submit" class="btn btn-lg btn-primary">Confirm Buy It Now for <strong>@Html.Money(Model.BuyItNowPrice)</strong></button>
            </p>
        }
    </div>
    <div class="col-sm-4">
        @{Html.RenderPartial("_LotSummary", Model);}
    </div>
</div>