@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model BuyItNowSuccessModel
@{
//ViewBag.PageTitle = "Successfully reserved <small>" + Model.Title + "</small>";
}

<ul class="breadcrumb">
    @if (Context.HasPreviousSearch())
            {
                <a href="@Url.PreviousSearch()">Back to results</a>
            }
    
</ul>
<h1 class="title">Successfully reserved <small> + @Model.Title + </small></h1>

@{
    Html.Snippet("buy_it_now/success/content")
        .HtmlExpected()
        .Render();
}