﻿@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.CmsPageCreateModel
@{
    ViewBag.MetaTitle = "Create";

    Bundles.Reference("jquery", "head");
    Bundles.Reference("siteadmin/codemirror/codemirror");
    Bundles.AddInlineScript(
        @<script>
             $(function () {
                 var myTextArea = document.getElementById("Body");
                 var myCodeMirror = CodeMirror.fromTextArea(myTextArea,
                     {
                         mode: "htmlmixed",
                         lineWrapping: false
                     });
             });
         </script>);
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("index")">Pages</a> <span class="divider">/</span></li>
</ul>

<h2>New Page </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(x => x.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", autofocus="autofocus" })
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Create page</button>
            or @Html.ActionLink("cancel", "index")
        </div>
    </fieldset>
}
