﻿@using Sfs.EStore.Web.App.Code.Cms
@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.PagePreviewModel

@{
    ViewBag.MetaTitle = "Edit";

    Bundles.Reference("jquery", "head");
    Bundles.Reference("siteadmin/codemirror/codemirror");
    Bundles.AddInlineScript(
        @<script>

  var models = @Html.Raw(Json.Encode(Model));
            $(function () {

                var myTextArea = document.getElementById("Body");
                var myCodeMirror = CodeMirror.fromTextArea(myTextArea,
                {
                    mode: "htmlmixed",
                    lineWrapping: false,
                    lineNumbers: true,
                    extraKeys: {
                        "F11": function (cm) {
                            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                        },
                        "Esc": function (cm) {
                            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                        }
                    },
                });

                //myCodeMirror.on('change', function () {
                //    //html = myCodeMirror.getValue();

                //    //console.log("d:" + JSON.stringify(models));
                //    //$.post("/users/updateContent", { model: models })
                //    //    .done(function (data) {
                //    //         alert("Data Loaded: " + data);
                //    //     });

                //});
            });
        </script>);
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("index")">Pages</a>
    <li class="active">@Model.editModel.PermaName</li>
</ul>

<h2>Edit page: @Model.editModel.PermaName <small>@Html.ActionLink("View live", "index", new { controller = "cmspages", area = "", permalink = @Model.editModel.PermaName })</small></h2>
@using (Html.BeginForm("edit", "pages", new { edit = Model.editModel.PermaName }))
{
    @Html.ValidationSummary()

    <ul class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
        <li><a href="#meta" data-toggle="tab">Meta data</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="details">
            <div class="form-group">
                @Html.LabelFor(x => x.editModel.PageTitle, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.editModel.PageTitle, new { @class = "form-control" })
                </div>
                <p class="help-block">Used for in page title.</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(x => x.editModel.AllowAccess, new { @id = "AllowAccess", @class = "control-label" })
                        <div>
                            @Html.HiddenFor(x => x.editModel.AllowAccess, new { @class = "form-control" })
                            @Html.DropDownListFor(x => x.editModel.AllowAccess, new Dictionary<string, string> { { "Roles", "roles:" } }.Concat(PageAccess.ToList()).Select(x => new SelectListItem { Text = x.Key, Value = x.Value }), new { @class = "form-control", id = "AllowAccessSelect", name = "AllowAccessSelect" })
                            <div class="input-group hidden">
                                <span class="input-group-addon">roles:</span>
                                <input type="text" class="form-control" id="AllowAccessRoles" name="AllowAccessRoles" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(x => x.editModel.BodyCssClass, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(x => x.editModel.BodyCssClass, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7">
                    <div class="form-group">
                        <label class="control-label">URL slug</label>
                        <div class="input-group">
                            <span class="input-group-addon">/</span>
                            @Html.TextBoxFor(x => x.editModel.PermaName, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>
            @*@Html.Partial("_contentView", Model)*@
            <div class="form-group">
                @Html.LabelFor(x => x.editModel.Body, new { @class = "control-label" })
                <div class="">
                    @Html.TextAreaFor(x => x.editModel.Body, new { @id = "Body", @class = "form-control", rows = 15 })
                </div>
            </div>
        </div>
        <div id="meta" class="tab-pane">
            <div class="form-group">
                @Html.LabelFor(x => x.editModel.MetaData.Title, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.editModel.MetaData.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.editModel.MetaData.Description, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.editModel.MetaData.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.editModel.MetaData.CanonicalUrl, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.editModel.MetaData.CanonicalUrl, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update page</button>
        or @Html.ActionLink("cancel", "index")

        <input type="hidden" name="movetotrash" id="movetotrash" />
        <button type="submit" onclick="if (confirm('Deleting a page is permanent and cannot be undone. Really delete this page?')) { $('#movetotrash').val('delete'); return true; } else { return false; }" class="pull-right btn btn-danger">Delete page</button>
    </div>

}
<script>
    $(function () {
        $('#AllowAccessSelect').on('change', function () {
            var value = $(this).val();
            $('#AllowAccess').val(value);
            if (value == 'roles:') {
                $('#AllowAccessRoles').closest('div').removeClass('hidden');
                $('#AllowAccessRoles').focus();
            } else {
                $('#AllowAccessRoles').closest('div').addClass('hidden');
                $('#AllowAccessRoles').val('');
            }
        });
        $('#AllowAccessRoles').on('change', function () {
            var value = $(this).val();
            $('#AllowAccess').val('roles:' + value);
        });

        if ($('#AllowAccess').val().indexOf('roles:') == 0) {
            $('#AllowAccessRoles').val($('#AllowAccess').val().substr(6));
            $('#AllowAccessRoles').closest('div').removeClass('hidden');
        }
    });
</script>