﻿@model IEnumerable<Sfs.EStore.Web.App.Code.Cms.CmsPage>
@{
    ViewBag.MetaTitle = "Pages admin";
    ViewBag.PageTitle = "Pages admin";
}
<ul>
    @foreach(var page in Model.OrderBy(x => x.PermaName))
    {
        <li>@Html.ActionLink(page.PermaName, "edit", new { edit = page.PermaName }) <small>(@Html.ActionLink("View live", "index", new { controller = "cmspages", area = "", permalink = page.PermaName }))</small></li>
    }
</ul>

<div>
    @Html.ActionLink("Create a new page", "Create", null, null, new { @class = "btn btn-default" })
</div>
