﻿<style>
    label {
        display: block;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3>{{u.user.username}}</h3>
    <button type="button" ng-click="resetPassword(u)" class="btn btn-primary btn-sm">Send Password Reset Email</button>
    <div style="height:10px"></div>
    <div ng-if="message.length > 0" class="alert alert-danger">
        <h4>{{message }}</h4>
    </div>

</div>
<form ng-submit="save()">
    <div class="modal-body">
        <div class="form-group">
            <label>Username</label>
            <div class="">
                <input type="text" readonly="readonly" class="form-control" ng-model="u.user.username" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" data-ng-show="u.user.createdOn">
                    <label>Created on</label>
                    <div class="" title="{{ u.user.createdOn | formatDate }}">
                        {{ u.user.createdOn | formatDate }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Approved</label>
                    <div class="controls">
                        <span data-ng-show="u.user.isApproved">{{ u.user.approvedOn | notGreaterThanNow | humanizeFromNow }} - {{ u.user.approvedOn | formatDate }}</span>
                        <span data-ng-hide="u.user.isApproved"><button type="button" ng-click="approveUser()" class="btn btn-success btn-sm">Approve now</button></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>First name</label>
            <div class="">
                <input type="text" readonly="readonly" class="form-control" ng-model="u.user.firstName" />
            </div>
        </div>
        <div class="form-group">
            <label>Last name</label>
            <div class="">
                <input type="text" readonly="readonly" class="form-control" ng-model="u.user.lastName" />
            </div>
        </div>
        <div class="form-group">
            <div data-ng-show="u.user.isLockedOut" class="controls">
                Locked out {{u.user.lockedOutOn | notGreaterThanNow | humanizeFromNow }}
                <span><button type="button" ng-click="unlockUser()" class="btn btn-danger btn-sm">Unlock now</button></span>
            </div>
            <div data-ng-hide="u.user.isLockedOut" class="controls">
                <span><button type="button" ng-click="lockUser()" class="btn btn-success btn-sm">Lock now</button></span>
            </div>
        </div>

        <label>Roles</label>
        <div class="well">
            <label ng-repeat="role in roles">
                <input type="checkbox"
                       name="selectedRoles[]"
                       value="{{role}}"
                       ng-checked="u.user.roles.indexOf(role.value) > -1"
                       ng-click="toggleSelection(role.value)"> {{role.name}}
            </label>
        </div>
        <div class="">
            <button type="button" ng-click="deselectAll(u)" class="btn btn-danger btn-sm">Un-Check All</button>
            <button type="button" ng-click="selectAll(u)" class="btn btn-danger btn-sm">Check All</button>
            <button type="button" ng-click="saveRole(u)" class="btn btn-success btn-sm">Save</button>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default btn-link"></button>
    </div>
</form>
