﻿@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "User admin";
    Bundles.Reference("~/areas/siteadmin/scripts/users/");
}
<div ng-app="app" id="ng-app" ng-cloak ng-controller="UsersCtrl">
    
    <script type="text/ng-template" id="user-edit-modal.html">
        @Html.Partial("_Ng-EditModal")
    </script>

    <span ng-show="isBusy">@{Html.RenderPartial("_loader");} Loading...</span>
    <div ng-hide="isBusy">
        <form ng-submit="applyFilters()" class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="filters.q" class="form-control col-sm-12" autofocus="" placeholder="Filter">
            </div>
            <div class="form-group">
                <select ng-model="filters.isapproved" class="form-control">
                    <option value="" selected="selected">Approved or unapproved</option>
                    <option value="true">Only approved</option>
                    <option value="false">Only unapproved</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Apply filter</button>
            </div>
        </form>
        <pagination class="pagination-top" direction-links="true" boundary-links="false" total-items="pagination.totalCount"
                            ng-model="pagination.currentPage" max-size="pagination.maxSize" items-per-page="pagination.take"></pagination>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Phone No.</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users" title="{{u | json}}">
                    <td><button class="btn btn-default btn-sm" ng-disabled="u.isInEdit" ng-click="beginUserEdit(u)"><i class="icon-edit"></i></button></td>
                    <td>
                        <span ng-show="u.user.isLockedOut" class="label label-danger" title="{{u.user.lockedOutOn | humanizeFromNow }}">Locked out</span>
                        {{u.user.username}}
                    </td>
                    <td>{{u.user.lastName}}, {{u.user.firstName}}</td>
                    <td>{{u.user.phoneNumber}}</td>
                    <td>{{u.user.emailAddress}}</td>
                    <td>{{ u.user.createdOn | formatDate }}</td>
                    <td>
                        <p data-ng-hide="u.user.isApproved"><button type="button" ng-click="approveUser(u)" class="btn btn-success btn-sm">Approve</button></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>