﻿<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
    <h3 class="modal-title">Transport Cost</h3>
</div>
<div class="modal-body">
    <div class="form well well-sm invalid invalid-required" ng-class="{invalid: !item.isValid(), 'invalid-required': (!item.shippingMethod || !item.address )} ">     
            <div class="form-group">
                <select class="form-control"
                        ng-model="item.customer"
                        ng-options="a as a.name for a in customers track by a.no"
                        ng-change="selectCustomer(item)">
                    <option value=""></option>
                </select>
                <label ng-repeat="method in shippingMethods">
                    <input required type="radio" 
                           ng-value="method" 
                           ng-model="item.shippingMethod"
                           ng-change="selectShippingMethod(item)" /> {{method.description}} &nbsp;
                </label>
            </div>
            <select class="form-control"
                    ng-model="item.shippingAgentServices"
                    ng-options="a as a.description for a in shippingAgentServices"
                    ng-disabled="!item.shippingMethod.requiresShippingInfo"
                    ng-required="item.shippingMethod.requiresShippingInfo">
                <option value=""></option>
            </select>
            <div class="form-group">
                <div class="input-group">
                    <select id="shipping-address-input" class="form-control"
                            ng-disabled="!item.customer"
                            ng-model="item.address" ng-options="a as (a.name+', '+a.address1+', '+a.city) for a in shipToAddresses"
                            ng-required="item.custome">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        <div ng-if="!submitted" class="modal-footer">
            <div ng-show="transportCost" class="pull-left">
                <p><b>Transport Cost: £{{transportCost}}</b></p>
            </div>
            <button class="btn btn-default pull-right" ng-click="close()">Close</button>
        </div>
</div>
</div>