﻿<form name="form" ng-submit="submit(request) | trackEvent:'button':'click':'send test drive'" role="form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
        <h3 class="modal-title">Book a test drive <small>{{listing.title}}</small></h3>
    </div>
    <div class="modal-body">
        <div ng-if="submitted">
            <h3>Thank you</h3>
            <p>Your test drive request has been submitted. Someone will be in touch shortly to confirm the details.</p>
            <p><button type="button" class="btn btn-link" ng-click="$close()">Close</button></p>
        </div>
        <div ng-show="!submitted">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" autofocus class="form-control" required id="fullName" placeholder="First and last name" ng-model="request.fullName">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="addressLine1">First line of your address <small>(optional)</small></label>
                        <input type="text" class="form-control" id="addressLine1" placeholder="First line of your address" ng-model="request.addressLine1">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="postcode">Postcode <small>(optional)</small></label>
                        <input type="text" class="form-control" id="postcode" placeholder="Postcode" ng-model="request.postcode">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Telephone" ng-model="request.telephone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="request.email">
            </div>
            <div class="form-group">
                <label for="preferredDate">Preferred date <small>(optional)</small></label>
                <input type="text" class="form-control" id="preferredDate" placeholder="Preferred date e.g Next Tuesday" ng-model="request.preferredDate">
                <p class="help-block">Please provide either a specific date or a preferred range i.e. early next week.</p>
            </div>
        </div>
    </div>
    <div ng-if="!submitted" class="modal-footer">
        <button type="submit" ng-disabled="form.$invalid || submitting" class="btn btn-default"><span ng-show="!submitting">Send Test Drive Request</span><span ng-show="submitting">Submitting your request...</span></button>
        <button class="btn btn-sm btn-link" ng-click="$close()">Cancel</button>
        <p ng-if="error" class="text-danger">There has been a problem submitting for service request. Please try again.</p>
    </div>
</form>