﻿<form name="form" ng-submit="submit(request) | trackEvent:'button':'click':'submit your offer'" role="form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
        <h3 class="modal-title">Make an offer <small>{{listing.title}}</small></h3>
    </div>
    <div class="modal-body">
        <div ng-if="submitted">
            <h3>Thank you</h3>
            <p>Your offer has been submitted. Someone will be in touch shortly.</p>
            <p><button type="button" class="btn btn-link" ng-click="$close()">Close</button></p>
        </div>
        <div ng-show="!submitted">
            <div class="row">
                <div class="col-sm-6" ng-show="listing.sellingStatus">
                    <h3>Advertised Price: <br /><b>{{listing.sellingStatus.currentPrice | money}}</b></h3>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="offerAmount">Your offer</label>
                        <input type="number" autofocus min="0" class="form-control input-lg" id="offerAmount" placeholder="" ng-model="request.offerAmount">
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" required id="fullName" placeholder="First and last name" ng-model="request.fullName">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="addressLine1">First line of your address <small>(optional)</small></label>
                        <input type="text" class="form-control" id="addressLine1" placeholder="First line of your address" ng-model="request.addressLine1">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="postcode">Postcode <small>(optional)</small></label>
                        <input type="text" class="form-control" id="postcode" placeholder="Postcode" ng-model="request.postcode">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" required class="form-control" id="telephone" placeholder="Telephone" ng-model="request.telephone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" placeholder="Email" ng-model="request.email">
            </div>
        </div>
    </div>
    <div ng-if="!submitted" class="modal-footer">
        <button type="submit" ng-disabled="form.$invalid || submitting" class="btn btn-default"><span ng-show="!submitting">Submit your offer</span><span ng-show="submitting">Submitting your offer...</span></button>
        <button class="btn btn-sm btn-link" ng-click="$close()">Cancel</button>
        <p ng-if="error" class="text-danger">There has been a problem submitting your offer. Please try again.</p>
    </div>
</form>