﻿<form name="form" ng-submit="submit(request) | trackEvent:'Send to friend submit':listing.vehicleInfo.vehicleType:listing.listingId" role="form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
        <h3 class="modal-title">Send to friend <small>{{listing.title}}</small></h3>
    </div>
    <div class="modal-body">
        <div ng-if="submitted">
            <h3>Thank you</h3>
            <p>We've sent the details to your friend. They will receive an email shortly.</p>
            <p><button type="button" class="btn btn-link" ng-click="$close()">Close</button></p>
        </div>
        <div ng-show="!submitted">
            <div class="form-group">
                <label for="senderFullName">Your Name</label>
                <input type="text" class="form-control" id="senderFullName" autofocus placeholder="Your name" ng-model="request.senderFullName">
            </div>
            <div class="form-group">
                <label for="senderEmail">Email</label>
                <input type="email" required class="form-control" id="senderEmail" placeholder="Your email" ng-model="request.senderEmail">
            </div>
            <div class="form-group">
                <label for="recipientFullName">Your Friend's Name</label>
                <input type="text" class="form-control" id="recipientFullName" placeholder="Your friend's name" ng-model="request.recipientFullName">
            </div>
            <div class="form-group">
                <label for="recipientEmail">Your Friend's Email</label>
                <input type="email" required class="form-control" id="recipientEmail" placeholder="Your friend's email" ng-model="request.recipientEmail">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" placeholder="Message to your friend" ng-model="request.message"></textarea>
            </div>
        </div>
    </div>
    <div ng-if="!submitted" class="modal-footer">
        <button type="submit" ng-disabled="form.$invalid || submitting" class="btn btn-default"><span ng-show="!submitting">Send to your friend</span><span ng-show="submitting">Sending...</span></button>
        <button class="btn btn-sm btn-link" ng-click="$close()">Cancel</button>
        <p ng-if="error" class="text-danger">There has been a problem submitting your form. Please try again.</p>
    </div>
</form>