﻿
@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register();
}

<div class="page-header">
    @{
        Html.Snippet("order_history/page_title")
            .Template(@<h1>@item</h1>)
            .Render();
    }
</div>

@{
    Html.Snippet("order_history/leading_content")
        .HtmlExpected()
        .Render();
}

<div data-ng-show="busy">@{ Html.RenderPartial("_loader"); } Loading... </div>
<div data-ng-show="error">
    @{
        Html.Snippet("order_history/load_error")
            .HtmlExpected()
            .Otherwise(@<p class="text-danger">There has been an error loading your order history. Please try again later.</p>)
            .Render();
    }
</div>
<div my-customer></div>
<div data-ng-repeat="order in orders" class="order-history-thumbnail thumbnail">
    <order-summary order="order" />
</div>
