﻿@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register();
}

<div class="page-header">
    @{
        Html.Snippet("order_history/page_title")
            .Template(@<h1>@item</h1>)
            .Render();
    }
</div>

@{
    Html.Snippet("order_history/leading_content")
        .HtmlExpected()
        .Render();
}

<div data-ng-show="busy">@{ Html.RenderPartial("_loader"); } Loading... </div>
<div data-ng-show="error">
    @{
        Html.Snippet("order_history/load_error")
            .HtmlExpected()
            .Otherwise(@<p class="text-danger">There has been an error loading your order history. Please try again later.</p>)
            .Render();
    }
</div>
<div my-customer></div>
<div data-ng-repeat="order in orders |limitTo:10" class="order-history-thumbnail thumbnail">
    <div class="row">
        <div class="col-sm-4">
            <h4><span class="text-muted">Order Placed:</span> <b><span>{{order.date | formatDate:LL }}</span></b></h4>
            <h5><span class="text-muted">Order #:</span> <b><span>{{order.type}} - {{order.id}}</span></b></h5>
            <h6><span class="text-muted">Customer:</span> <b><span>{{order.sellToCustomer.name}}</span></b></h6>
            <h6 ng-if="order.shipping.address"><span class="text-muted">Delivery address:</span> <span>{{order.shipping.address.name}}, {{order.shipping.address.postCode}}</span></h6>

        </div>
        <div class="col-sm-8">
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th colspan="1">&nbsp;</th>
                        <th class="table-col-money">Price</th>
                        <th class="table-col-money">VAT</th>
                        <th class="table-col-money">Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr data-ng-repeat="line in order.lines">
                        <td>{{line.description}}</td>
                        <td class="table-col-money">{{line.amount | money:2}}</td>
                        <td class="table-col-money">{{line.vat | money:2}}</td>
                        <td class="table-col-money">{{line.total | money:2}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="total-price-row">
                        <td colspan="1">&nbsp;</td>
                        <td class="table-col-money"><b>{{order.subTotal | money:2}}</b></td>
                        <td class="table-col-money"><b>{{order.vat | money:2}}</b></td>
                        <td class="table-col-money"><b>{{order.total | money:2}}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div><br>
    <div ng-if="order.imagePaths" class="col-sm-6">
        <div class="container">
            <div class="row">
                <div data-ng-repeat="i in order.imagePaths|limitTo:5  |  orderBy : 'sortOrder'">
                    <div class="col-sm-2">
                        <div ng-show="selectedImages.indexOf(i) != -1">
                            <img src="~/Content/themes/fga/images/tick.png" style="width: 28px;position: absolute;"/>
                        </div>
                        <img src="{{i.filePath}}" alt="Image" style="max-width:100%;" ng-click="click(i)">
                    </div>
                </div>
                <div save-Images paths="order.imagePaths" order="order.id"></div>
                <br />
                <div save-Selected paths="selectedImages" order="order.id"></div>
                Click image to select
            </div>
            <br />
            <div ng-if="order.imagePaths.length > 5" class="row">
                <div ng-repeat="i in order.imagePaths.slice(5, 10) |  orderBy : 'sortOrder'">
                    <div class="col-sm-2">
                        <div ng-show="selectedImages.indexOf(i) != -1">
                            <img src="~/Content/themes/fga/images/tick.png" style="width: 28px;position: absolute;" />
                        </div>
                        <img src="{{i.filePath}}" alt="Image" style="max-width:100%;" ng-click="click(i)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
