﻿@using Sfs.EStore.Web.App
@{

    SetBodyCssClass("order-history");

    var pageTitle = Html.Snippet("order_history/page_title")
        .PlainTextExpected()
        .Otherwise("Order history")
        .HtmlString().ToString();
}
@{
    ViewBag.MetaTitle = pageTitle;
    ViewBag.PageTitle = "";

    Bundles.Reference("~/scripts/angular/apps/orderhistory");
}

<div ng-app="app" id="ng-app" ng-cloak>
    <script type="text/ng-template" id="order-history.html">
        @Html.Partial("_Ng-OrderHistory")
    </script>
    <div data-ng-view></div>
</div>
