﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model Sfs.EStore.Web.App.Areas.Retail.Models.RetailMenuModel

@{
    Bundles.Reference<ScriptBundle>("~/areas/retail/scripts/apps/retailmenu");
}

<div class="container">
    <div class="inner">
        @{Html.Snippet("layout/header/navbar_before_retail").HtmlExpected().Render();}

        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar-collapse-1">
                    @{
                        Html.Snippet("layout/header/menu/collapse_button/text")
                            .HtmlExpected()
                            .Otherwise(@<text>
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </text>)
                                .Render();
                    }
                </button>
                @Html.Partial("_navbarbrand")
            </div>

            <div class="collapse navbar-collapse" id="site-navbar-collapse-1">
                @Html.DisplayFor(x => x.Items, "menu")
            </div>
        </div>


        @*<span class="navbar-before">
                <span class="phone">
                    @(Model.Dealer == null ? "" : Model.Dealer.Name)
                </span>
            </span>*@

    </div>
</div>

