﻿@using System.Globalization
@using Cassette.Scripts
@using Newtonsoft.Json
@{
    Bundles.Reference<ScriptBundle>("~/Areas/Retail/Scripts/apps/controls");}
<script src="https://use.fontawesome.com/01129fd99e.js"></script>
<div ng-controller="retailMenuCtrl" ng-init="init()">
    <nav ng-cloak class="navbar navbar-default" style="{{backColor}}">
        <div class="container">
            <div ng-cloak class="navbar-header">
                <div class="navbar-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <span><i class="fa fa-car" aria-hidden="true"></i></span>
                        {{dealer.Name}}
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-if="showCustomers(dealers.length)" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Dealers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-cloak ng-repeat="d in dealers"><a ng-click="Submit(d)"><b>({{d.No}})</b> {{d.Name}}</a></li>
                        </ul>
                    <li ng-show="showBrands(dealers)"><a href ng-click="ShowBrandModal(dealers,dealer.No)"><span class="glyphicon glyphicon-ok"></span> Select Brand</a></li>
                </ul>
            </div>
        </div>
        <script type="text/ng-template" id="/Brand.html">
            @Html.Partial("~/Areas/Retail/Views/Markup/_SelectBrand.cshtml")
        </script>
    </nav>
</div>