﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App.Models
@model Sfs.EStore.Web.App.Areas.Retail.Models.RetailHomeModel
@{
    ViewBag.Title = "Index";

    SetBodyCssClass("home");
    SetMetaData(new MetaDataModel
    {
        Title = ""
    });
    Bundles.Reference<ScriptBundle>("~/areas/retail/scripts/apps/retail");
}

<div class="retail-home">
    <h1 class="flashy-title">
        This site is for use by Vauxhall Franchised Retailers only
    </h1>
    <div class="row" ng-app="app" ng-controller="retailController" ng-init="Init('@Model.MarkupTableName')">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="panel panel-default locator">
                <div class="panel-heading" >Central Stock Locator</div>
                <div class="panel-body">
                    <p>@Model.VehicleCount vehicles on sale</p>
                    <p>
                        <button class="btn btn-block btn-primary" ng-click="Search()">Search Locator Stock</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="panel panel-default programme">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <br>
                    <div class="row">
                        <div class="col-xs-9">
                            <input class="form-control input-lg" type="text" id="username" ng-model="username" placeholder="Enter Username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="row"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <input class="input-lg" type="number" id="pin" ng-model="pin" placeholder="Enter PIN" min="0" max="99999" />
                        </div>
                        <div class="col-xs-1"><button class="btn btn-primary" ng-click="Submit(username,pin)">GO</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="carousel-container carousel-container--bleed">
    <div id="general-carousel" data-interval="10" class="hidden-phone carousel vehicle-carousel slide">
        <ol class="carousel-indicators carousel-indicators-above"></ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%201.png">
            </div>
            <div class="item">
                <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%202.png">
            </div>
            <div class="item">
                <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%203.png">
            </div>
            <div class="item">
                <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%204.png">
            </div>
            <div class="item">
                <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%205.png">
            </div>
        </div>
    </div>
</div>

<p class="info">
    This is the used vehicle locator for Vauxhall retailers, giving you exclusive access to thousands of used Vauxhalls.
</p>
@{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    Bundles.AddInlineScript("$('.carousel-container').each(function() {\r\n  var innerContainer = $(this).find('>');\r\n  var innerContainerId = innerContainer.attr('id');\r\n\r\n  $(this).find('.item').each(function(index) {\r\n    innerContainer.find('ol.carousel-indicators')\r\n      .append('<li data-target=\"#'+innerContainerId+'\" data-slide-to=\"' + index + '\"></li>');\r\n    }\r\n  );\r\n\r\n  innerContainer.find('> div > div:first').addClass('active');\r\n  innerContainer.find('ol.carousel-indicators > li:first').addClass('active');\r\n  $(this).carousel({interval: 8000});\r\n});");
}