﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App.Models
@model Sfs.EStore.Web.App.Areas.Retail.Models.RetailHomeModel
@{
	ViewBag.Title = "Index";

	//SetBodyCssClass("home");
	SetMetaData(new MetaDataModel
	{
		Title = ""
	});
	Bundles.Reference<ScriptBundle>("~/areas/retail/scripts/apps/retail");
}


<div class="retail-home" ng-app="app" ng-controller="retailController" ng-init="Init('@Model.MarkupTableName')">

	@Html.Partial("~/Areas/Retail/Views/Controls/_retailMenu.cshtml", null)

	<div class="panel panel-default">
		<div class="row">
			<div class="col-sm-12" style="height: 30px;"></div>
			<div class="col-sm-6 col-md-6">
				@*<div class="panel panel-default locator">*@
				<div class="panel-heading">Click to view current stock @Model.VehicleCount vehicles on sale</div>
				<div class="panel-body">

					<p>
						<button class="btn btn-block btn-primary" ng-click="Search()">
							View Stock
						</button>

					</p>
				</div>
				@*</div>*@
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-sm-6 col-md-6">
				@*<div class="panel panel-default programme">*@
				@*<div class="panel-heading">Pin Details</div>*@
                <div class="panel-heading">Please enter Pin Criteria</div>

				<div class="panel-body">
			
					<div class="row">
						<div class="col-xs-9">
							<input class="form-control input-lg" style="font-size: 12px;" type="text" id="username" ng-model="username" placeholder="Enter Username">
						</div>
					</div>
					<div class="row">
					</div>
					<div class="row">
						<div class="col-xs-9">
							<input class="input-lg" style="font-size: 12px;" type="number" id="pin" ng-model="pin" placeholder="Enter PIN" min="0" max="99999" />
						</div>
						<div class="col-xs-1"><button class="btn btn-primary" ng-click="Submit(username,pin)">GO</button></div>
					</div>
				</div>
			</div>	
		</div>
		<div style="height:100px"></div>
	</div>
</div>

@*<div class="carousel-container carousel-container--bleed">
	<div id="general-carousel" data-interval="10" class="hidden-phone carousel vehicle-carousel slide">
		<ol class="carousel-indicators carousel-indicators-above"></ol>
		<div class="carousel-inner">
			<div class="item active">
			   <img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%201.png">
				</div>
				<div class="item">
					<img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%202.png">
				</div>
				<div class="item">
					<img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%203.png">
				</div>
				<div class="item">
					<img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%204.png">
				</div>
				<div class="item">
					<img class="image" src="http://57ab5fe5fca0dd4e6519-a4cca399fb528ee0980be2bfd2281529.r85.cf3.rackcdn.com/NQS%20RM%20HP%205.png">
				</div>
			</div>
		</div>
	</div>*@
<p class="info">

</p>

@{
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
	Bundles.AddInlineScript("$('.carousel-container').each(function() {\r\n  var innerContainer = $(this).find('>');\r\n  var innerContainerId = innerContainer.attr('id');\r\n\r\n  $(this).find('.item').each(function(index) {\r\n    innerContainer.find('ol.carousel-indicators')\r\n      .append('<li data-target=\"#'+innerContainerId+'\" data-slide-to=\"' + index + '\"></li>');\r\n    }\r\n  );\r\n\r\n  innerContainer.find('> div > div:first').addClass('active');\r\n  innerContainer.find('ol.carousel-indicators > li:first').addClass('active');\r\n  $(this).carousel({interval: 8000});\r\n});");
}


