﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Html.Snippets().Register();
}

<div class="page-header">
    @{
        Html.Snippet("user_basket/page_title")
            .Template(@<h1>@item</h1>)
            .Render();
    }
</div>

@{
    Html.Snippet("user_basket/leading_content")
        .HtmlExpected()
        .Render();
}

<div data-ng-show="busy"><p>@{ Html.RenderPartial("_loader"); } Loading... </p></div>
<div data-ng-show="!busy && error">
     @{
        Html.Snippet("user_basket/basket_error")
            .HtmlExpected()
            .Otherwise(@<p class="text-warning">Your basket could not be retrieved. Please try again later</p>)
            .Render();
    }
</div>
<div ng-show="!busy && !error" ng-switch="reservations.length">

    @{
        Html.Snippet("user_basket/no_vehicles_content")
            .HtmlExpected()
            .Template(@<div ng-switch-when="0">@item</div>)
            .Otherwise("Your basket is empty.")
            .Render();
    }

    <div ng-switch-default>
        @{ Html.Snippet("user_basket/checkout/no_customers_text")
           .PlainTextExpected()
           .Otherwise("No customers found. Please call customer services.")
           .Template(@<div class="alert alert-danger" ng-hide="customers">@item</div>)
               .Render(); }

        <div>
            <div class="table-hover vehicles-table">
                <div class="row table-head">
                    <div class="hidden-xs col-md-7 col-xs-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()" /> Select all
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 col-xs-10">
                        <form name="startProcessingForm" ng-submit="continueWithSelection(checkoutCustomer, selected)">
                            <div class="input-group">
                                <select required id="selected-customer" autofocus class="form-control" ng-model="checkoutCustomer" ng-options="c as (c.name+', '+c.city) for c in customers">
                                    <option value="">
                                        @{ Html.Snippet("user_basket/checkout/customers_dropdown_empty_option")
             .PlainTextExpected()
             .Otherwise("Please choose the purchasing dealership")
             .Render(); }
                                    </option>
                                </select>
                                <span class="input-group-btn">
                                    <button ng-disabled="startProcessingForm.$invalid || selected.length == 0 || waitingForNextStep" class="btn btn-primary">
                                        @{
                                            Html.Snippet("user_basket/continue_to_next_step_button_text")
                                                .PlainTextExpected()
                                                .Otherwise("Continue with selection ({%raw%}{{selected.length}}{%endraw%})")
                                                .Render();
                                        }
                                        <span data-ng-show="waitingForNextStep">@Html.Partial("_loader")</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-body" data-ng-switch="reservations">
                    <div class="row vehicle-row" ng-click="updateSelection(null, item)" ng-class="{'selected': isSelected(item)}" class="{{item.type}}" ng-repeat="item in reservations">
                        <div class="col-xs-2 col-sm-1 col-md-1">
                            <input type="checkbox" ng-checked="isSelected(item)" />
                        </div>

                        <div class="col-xs-4 col-sm-2 col-md-2">
                            <a class="img" target="_self" ng-click="$event.stopPropagation();" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{item.listingId}}").Replace("_slug_", "{{item.title | slugify}}")">
                                <vehicle-image image="item.image" dimensions="280x210" overlay="results" />
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-2 col-sm-push-4 col-md-2 col-md-push-5">
                            <h4 class="vehicle-price">
                                {{item.amount | money}}
                                <small class="vat-suffix" data-price-vat-status="item.pricesIncludeVat"></small>
                                @{ Html.Snippet("vehicles/all/price_postfix")
                                   .PlainTextExpected()
                                   .Template(@<small class="price-postfix">@item</small>)
                                   .Render(); }
                            </h4>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-sm-pull-2 col-md-5 col-md-pull-2 vehicle-description">
                            <h4>
                                <a class="vehicle-title" ng-click="$event.stopPropagation();" target="_self" data-toggle="tooltip" title="{{item.title}}" data-delay="500" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{item.listingId}}").Replace("_slug_", "{{item.title | slugify}}")">{{item.title}}</a>
                            </h4>
                            <ul class="list-unstyled">
                                <li class="vehicle-plate">{{ item.registrationYap}} ({{ item.registrationPlate }})</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12 col-md-12 vehicle-expiry">
                                    <p ng-show="item.expiresAt">Expires <span tooltip="{{ item.expiresAt | formatDate }}">{{ item.expiresAt | humanizeFromNow}}</span></p>
                                    <p ng-if="item.type == 'AuctionLot'">
                                        <span class="label label-info" ng-if="item.type == 'AuctionLot'">Auction Lot</span>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-sm-12 col-md-12 vehicle-remove">
                                    <p ng-if="item.type != 'AuctionLot'">
                                        <button data-ng-click="$event.stopPropagation();removeFromBasket(item)" type="button" class="btn btn-link"><i class="icon-trash"></i> Remove from basket</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->
                </div>
            </div><!--end of vehicles-table -->
        </div>
    </div>
</div>
