﻿@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register();
}

<div class="modal-content checkout-set-all">
  <form name="form" ng-submit="save(address)" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Add new address</h4>
    </div>
    <div class="modal-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="name" class=" col-md-4 control-label">Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="name" ng-model="address.name" required />
          </div>
        </div>
        <div class="form-group">
          <label for="address1" class=" col-md-4 control-label">Line 1</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="address1" ng-model="address.address1" required />
          </div>
        </div>
        <div class="form-group">
          <label for="address2" class=" col-md-4 control-label">Line 2</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="address2" ng-model="address.address2" />
          </div>
        </div>
        <div class="form-group">
          <label for="city" class=" col-md-4 control-label">City</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="city" ng-model="address.city" required />
          </div>
        </div>
        <div class="form-group">
          <label for="county" class=" col-md-4 control-label">County</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="county" ng-model="address.county" />
          </div>
        </div>
        <div class="form-group">
          <label for="postCode" class=" col-md-4 control-label">Post code</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="postCode" ng-model="address.postCode" required />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-disabled="working || form.$invalid">Save new address</button>
      <button type="button" class="btn btn-link" ng-disabled="working" ng-click="$dismiss()">Don't create address</button>
    </div>
  </form>
</div>