﻿@using Sfs.EStore.Web.App
@{
	Html.Snippets().Register();
}

<div class="page-header">
	<h1>@{Html.Snippet("user_basket/checkout/page_title").PlainTextExpected().Otherwise("Complete your order").Render();}</h1>
</div>

@{
	Html.Snippet("user_basket/checkout/leading_content")
		.HtmlExpected()
		.Render();
}

<div class="checkout-container">
	<form name="checkoutForm" novalidate ng-submit="checkout(items)">
		<div class="row">
			<div class="col-sm-9">
				<div class="checkout-item" ng-repeat="item in items">
					<div class="row">
						<div class="hidden-xs col-sm-4 col-md-3">
							<vehicle-image image="item.image" dimensions="140x105" overlay="results" />
						</div>
						<div class="col-sm-8 col-md-4">
							<h4>{{item.title}}</h4>
							<dl>
								<dt>Registration</dt>
								<dd>{{ item.registrationPlate }}</dd>
								<dt>Mileage</dt>
								<dd>{{ item.mileage | number }} miles</dd>
							</dl>
						</div>
						<div class="col-sm-12 col-md-5">
							<div class="form well well-sm" ng-class="{invalid: !item.isValid(), 'invalid-required': (!item.checkout.shippingMethod || !item.checkout.address @(IsCurrentUserAllowed("/Customers/Finance") ? "|| !item.checkout.finance" : ""))}">
								<div class="form-group">
									<label ng-repeat="method in shippingMethods"><input required type="radio" ng-value="method" ng-model="item.checkout.shippingMethod" /> > {{method.description}}</label>
								</div>
								<select class="form-control"
										ng-model="item.checkout.shippingAgentService"
										ng-options="a as a.description for a in item.shippingAgentServices"
										ng-disabled="!item.requiresShippingAddress() || !item.shippingAgentServices"
										ng-required="item.requiresShippingAddress()">
									<option value=""></option>
								</select>
								<div class="input-group">
									<select id="shipping-address-input" class="form-control"
											ng-disabled="!item.requiresShippingAddress() || !shipToAddresses"
											ng-model="item.checkout.address" ng-options="a as (a.name+', '+a.address1+', '+a.city) for a in shipToAddresses"
											ng-required="item.requiresShippingAddress()">
										<option value=""></option>
									</select>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"
												ng-click="addressManager.addNewShipToAddress(newShipToAddressAddedCallbackFactory(item))"
												ng-disabled="!item.requiresShippingAddress()">
											<i class="glyphicon glyphicon-plus"></i>
										</button>
									</span>
								</div>
								@if (IsCurrentUserAllowed("/Customers/Finance"))
								{
									<div class="form-group" data-keep="ft:customer/finance">
										<select class="form-control"
												ng-model="item.checkout.finance"
												ng-required="true"
												ng-options="a as a.description for a in financeManager.options | filter:financeManager.availableOptions"
												ng-disabled="false && (!financeManager.enabled || !financeManager.options)">
											<option value="">Financing...</option>
										</select>
									</div>
								}
								<div class="form-group">
									<label for="v5-ship-to-address">V5 ship to address</label>
									<div class="input-group">
										<select class="form-control" id="v5-ship-to-address"
												ng-disabled="!shipToAddresses"
												ng-model="item.checkout.v5Address" ng-options="a as (a.name+', '+a.address1+', '+a.city) for a in v5Addresses"
												ng-required="false">
											<option value=""></option>
										</select>
										<span class="input-group-btn">
											<button class="btn btn-default" type="button"
													ng-click="addressManager.addNewV5Address(newV5AddressAddedCallbackFactory(item))"
													ng-disabled="false">
												<i class="glyphicon glyphicon-plus"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<table class="table table-condensed table-prices">
								<thead>
									<tr>
										<th></th>
										<th>{{item.pricesIncludeVat ? 'Prices Inc. VAT' : 'Prices Ex. VAT'}}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Price</td>
										<td>
											<div class="form-inline sales-item-price">
												<span ng-show="item.amount.amount > 0">{{item.amount | money}}</span>
												<span ng-hide="item.amount.amount > 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
												@*<small data-price-vat-status="item.pricesIncludeVat"></small>
																 @{ Html.Snippet("vehicles/all/price_postfix")
													.PlainTextExpected()
													.Template(@<small class="price-postfix">@item</small>)
													.Render(); }*@
											</div>
										</td>
									</tr>
									<tr>
								</tbody>
								<td>Transport</td>
								<td>
									<div class="form-inline sales-item-transport">
										<span>£{{item.checkout.transportCost| number:2}}</span>
									</div>
								</td>
								<span>
									<tr ng-show="item.buyersFee > 0">
										<td>Buyers Fee</td>
										<td>
											<div class="form-inline sales-item-transport">
												<span>{{{amount:item.buyersFee, currency:'GBP'} | money}}</span>
											</div>
										</td>
									</tr>
								</span>
								<tfoot>
									<tr>
										<td>Total</td>
										<td>£{{item.total() + item.buyersFee | number:2}}</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="checkout-sidebar">
					@if (IsCurrentUserAllowed("/Customers/Finance"))
					{
						<div class="finance" data-keep="ft:customer/finance" ng-class="{invalid: !financeManager.isValid(items)}">
							<h3>Available Finance</h3>
							<p ng-if="financeManager.credit.length === 0" class="text-danger">Finance is currently unavailable or not known for customer</p>
							<table class="table table-finance">
								<tbody ng-repeat="credit in financeManager.credit"
									   ng-class="{'finance-available-negative': (financeManager.taken(credit.creditType, items) > credit.available)}">
									<tr class="finance-available">
										<td><b>{{credit.creditType | camelCaseToWords}}</b></td>
										<td ng-show="financeManager.enabled">£{{credit.available | number:2}}</td>
										<td ng-show="!financeManager.enabled" class="text-warning">
											Not currently available
											<span ng-show="financeManager.message"><br />{{credit.message}}</span>
										</td>

									</tr>
									<tr class="finance-taken">
										<td>Taken</td>
										<td>£{{financeManager.taken(credit.creditType, items) | number:2}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					}
					<h3>Total Purchase</h3>
					<table class="table table-totals">
						<tbody>
							<tr>
								<td>Vehicles</td>
								<td>£{{totalVehiclePrice(items) | number:2}}</td>
							</tr>
							<tr ng-class="{danger: (item.checkout.transportCost === null)}">
								<td>Transport</td>
								<td>£{{totalTransportCost(items) | number:2}}</td>
							</tr>
							<span>
								<tr ng-show="totalbuyersFee(items)>0">
									<td>Buyers Fees</td>
									<td>£{{totalbuyersFee(items)}}</td>
								</tr>
							</span>
						</tbody>
						<tfoot>
							<tr>
								<td>Total</td>
								<td>£{{(totalPurchasePrice(items)) + totalbuyersFee(items) | number:2}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		@{
			Html.Snippet("user_basket/checkout/below_content")
			.HtmlExpected()
			.Render();
		}
		<p>
			<button class="btn btn-primary" ng-disabled="submitting || checkoutForm.$invalid || !isReadyForSubmission(items)">
				@Html.Snippet("user_basket/checkout/confirm_button_text").PlainTextExpected().Otherwise("Confirm and create order").HtmlString()
			</button>
			<span ng-if="checkoutForm.$invalid" class="text-warning">The order is not yet valid. Please ensure all required options have been selected.</span>
			<span ng-if="!checkoutForm.$invalid && !isReadyForSubmission(items)" class="text-warning">@Html.Partial("_loader") Awaiting transport costs</span>

			<span ng-show="submitting">@Html.Partial("_loader")</span>
			<span ng-if="error" class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> {{error}}</span>
		</p>
	</form>
</div>
