﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Html.Snippets().Register();
}

<div class="page-header">
    @{
        Html.Snippet("user_basket/page_title")
            .Template(@<h1>@item</h1>)
            .Render();
    }
</div>

@{
    Html.Snippet("user_basket/leading_content")
        .HtmlExpected()
        .Render();
}

<div data-ng-show="busy"><p>@{ Html.RenderPartial("_loader"); } Loading... </p></div>
<div data-ng-show="!busy && error">
    @{
        Html.Snippet("user_basket/basket_error")
            .HtmlExpected()
            .Otherwise(@<p class="text-warning">Your basket could not be retrieved. Please try again later</p>)
            .Render();
    }
</div>
<div ng-show="!busy && !error" ng-switch="reservations.length">

    @{
        Html.Snippet("user_basket/no_vehicles_content")
            .HtmlExpected()
            .Template(@<div ng-switch-when="0">@item</div>)
            .Otherwise("Your basket is empty.")
            .Render();
    }

    <div ng-switch-default>
        @{ Html.Snippet("user_basket/checkout/no_customers_text")
                                                                 .PlainTextExpected()
                                                                 .Otherwise("No customers found. Please call customer services.")
                                                                 .Template(@<div class="alert alert-danger" ng-hide="customers">@item</div>)
           .Render(); }
        <table class="table table-hover vehicles-table">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-click="selectAll($event)" data-ng-checked="isSelectedAll()" /></th>
                    <th colspan="2"></th>
                    <th colspan="2">
                        <form name="startProcessingForm" ng-submit="continueWithSelection(checkoutCustomer, selected)">
                            <div class="input-group">
                                <select required id="selected-customer" autofocus class="form-control" ng-model="checkoutCustomer" ng-options="c as (c.name+', '+c.city) for c in customers">
                                    <option value="">
                                        @{ Html.Snippet("user_basket/checkout/customers_dropdown_empty_option")
   .PlainTextExpected()
   .Otherwise("Please choose the purchasing dealership")
   .Render(); }
                                    </option>
                                </select>
                                <span class="input-group-btn">
                                    <button ng-disabled="startProcessingForm.$invalid || selected.length == 0 || waitingForNextStep" class="btn btn-primary">
                                        @{
                                            Html.Snippet("user_basket/continue_to_next_step_button_text")
                                                .PlainTextExpected()
                                                .Otherwise("Continue with selection ({%raw%}{{selected.length}}{%endraw%})")
                                                .Render();
                                        }
                                        <span data-ng-show="waitingForNextStep">@Html.Partial("_loader")</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody data-ng-switch="reservations">
                <tr ng-class="{'info': isSelected(item)}" class="{{item.type}}" ng-repeat="item in reservations">
                    <td ng-click="updateSelection(null, item)"><input type="checkbox" ng-checked="isSelected(item)" /></td>
                    <td ng-click="updateSelection(null, item)">
                        <a class="img" target="_self" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{item.listingId}}").Replace("_slug_", "{{item.title | slugify}}")">
                            <vehicle-image image="item.image" dimensions="280x210" overlay="results" />
                        </a>
                    </td>

                    <td ng-click="updateSelection(null, item)">
                        <h4>
                            <span data-watch-status-toggle ng-listing-id="item.listingId"></span>
                            <a class="vehicle-title" target="_self" data-toggle="tooltip" title="{{item.title}}" data-delay="500" href="@Url.Lot("_id_", "_slug_").Replace("_id_", "{{item.listingId}}").Replace("_slug_", "{{item.title | slugify}}")">{{item.title}}</a>
                        </h4>
                        <ul class="list-unstyled">
                            <li class="vehicle-plate">{{ item.registrationYap}} ({{ item.registrationPlate }})</li>
                        </ul>
                    </td>
                    <td ng-click="updateSelection(null, item)">
                        <h4 class="vehicle-price">
                            {{item.amount | money}}
                            <small class="vat-suffix" data-price-vat-status="item.pricesIncludeVat"></small>
                            @{ Html.Snippet("vehicles/all/price_postfix")
   .PlainTextExpected()
   .Template(@<small class="price-postfix">@item</small>)
                                   .Render(); }
                        </h4>
                        <h4 ng-show="item.markUp.amount > 0" class="vehicle-price text-danger">
                            <span2 class="label label-danger padding-left">Markup: {{(item.markUp.amount - item.amount.amount) | currency }}</span2><br /><br /> <span2 class="label label-danger padding-left">Agreed Retail Price: {{item.markUp | money }}</span2><br /><br /><span2 class="label label-primary">Dealer:{{item.dealer }}</span2>
                            <small class="vat-suffix" data-price-vat-status="item.pricesIncludeVat"></small>
                            @{ Html.Snippet("vehicles/all/price_postfix")
   .PlainTextExpected()
   .Template(@<small class="price-postfix">@item</small>)
                                   .Render(); }
                        </h4>
                    </td>
                    <td>
                        {{item.hase}}

                        <p ng-show="item.expiresAt">Expires <span tooltip="{{ item.expiresAt | formatDate }}">{{ item.expiresAt | humanizeFromNow}}</span></p>
                        <p ng-if="item.type !='AuctionWithBin' && item.type !='Auction'">
                            <button data-ng-click="removeFromBasket(item)" type="button" class="btn btn-link"><i class="icon-trash"></i> Remove from basket</button>
                        </p>
                        <p ng-if="item.type == 'AuctionLot'">
                            <span class="label label-info" ng-if="item.type == 'AuctionLot'">Auction Lot</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>