﻿@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register();
}

<div class="page-header">
    <h1>@{Html.Snippet("user_basket/checkout/success/page_title").PlainTextExpected().Otherwise("Your order is complete").Render();}</h1>
</div>

@{
    Html.Snippet("user_basket/checkout/success/content")
        .HtmlExpected()
        .Render();
}