﻿@using Sfs.EStore.Web.App
@{
    var pageTitle = Html.Snippet("user_basket/page_title")
        .PlainTextExpected()
        .Otherwise("Your reservations")
        .HtmlString().ToString();

    ViewBag.MetaTitle = pageTitle;
    ViewBag.PageTitle = "";
    SetBodyCssClass("reservations");

    Bundles.Reference("~/scripts/angular/apps/reservations");
}

<div ng-app="app" id="ng-app" ng-cloak>
    <script type="text/ng-template" id="basket.html">
        @Html.Partial("_Ng-Reservations")
    </script>
    <script type="text/ng-template" id="order-checkout.html">
        @Html.Partial("_Ng-OrderCheckout")
    </script>
    <script type="text/ng-template" id="order-checkout-success.html">
        @Html.Partial("_Ng-OrderCheckoutSuccess")
    </script>
    <script type="text/ng-template" id="/content/checkout/add-customer-address-modal.html">
        @Html.Partial("_Ng-AddCustomerAddressModal")
    </script>
    <div data-ng-view></div>
</div>