﻿<label class="control-label">Preview</label>

@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.PagePreviewModel
@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Models

@{
    SetMetaData(Model.RenderModel.MetaData)
        .SetPageTitle(Model.RenderModel.PageTitle)
        .SetBodyCssClass(Model.RenderModel.BodyCssClass);

    Bundles.Reference("~/scripts/angular/apps/widgets");
}


<section ng-app="app" id="ng-app" ng-cloak class="hidden @Model.RenderModel.PermaName">
    @{ Html.BundleScriptDependencies(Model.RenderModel.Scripts); }
    @{ Html.RenderCmsSection(Model.RenderModel.Source, Model.RenderModel.Variables); }
</section>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            var loaded = window.__onViewContentLoaded;
            if (loaded)
                for (var i = 0; i < loaded.length; i++) {
                    loaded[i]();
                }
            $('#ng-app').removeClass('hidden');
        }, 0);
    });
</script>
