﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles.Models
@using Sfs.EStore.Web.App.Code
@{
    Html.Snippets().Register("layout/google_analytics",
                             "layout/live_chat",
                             "layout/cookie_control",
                             "vehicles/all/price_postfix");
}
<!doctype html>
<html lang="en-GB" xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.MetaTitle - @Tenant.Name</title>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            @Bundles.RenderScripts("lt ie9")
        <![endif]-->
        @Bundles.RenderStylesheets()
        @Bundles.RenderScripts("head")
        @{
            Bundles.Reference("~/jquery", "head");
            Bundles.Reference("~/respondjs");
            Bundles.AddPageData("__sfs", new
            {
                siteroot = Url.Content("~/"),
                auth = new
                {
                    isAuthenticated = User.Identity.IsAuthenticated,
                    isGuest = User.Identity.IsGuest,
                    currentUser = User.Identity.IsAuthenticated
                        ? new
                        {
                            username = User.Identity.Name,
                            firstName = User.Identity.FirstName,
                            lastName = User.Identity.LastName,
                            emailAddress = User.Identity.EmailAddress,
                            phoneNumber = User.Identity.PhoneNumber
                        }
                        : null
                }
            }, "head");

                                             Bundles.Reference("~/momentjs");

                                             Bundles.Reference("~/scripts/modernizr/polyfills", "head");
                                             Bundles.Reference("html5shim");
                                             Bundles.Reference("~/bootstrap/js");
                                             Bundles.Reference("~/font-awsome");

                                             Bundles.Reference("content/themes/admin/css/site.scss");
        }
        @{ Html.Snippet("layout/head")
                        .HtmlExpected()
                        .Render(); }
    </head>
    <body class="@ViewBag.BodyCssClass">
        <!--[if lt IE 8]>
        <div class="alert alter-block alert-error">
            <div class="container">
                Your Browser is no longer supported. <a href="@Url.Action("", "notsupported")">Find out more</a>.
            </div>
        </div>
        <![endif]-->
        <header id="header">
            <div class="container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Content("~/siteadmin")">
                            Site Admin
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="site-navbar-collapse-1">
                        @{
                            var menu = new MenuItem[]
                            {
                                new CustomLinkMenuItem()
                                {
                                    Text = "Main Site",
                                        Url = "~/"
                                },
                                new SecureMenuItem
                                {
                                    Roles = "user_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Users",
                                        Url = "~/siteadmin/users"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Content",
                                        Url = "~/siteadmin/pages"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Snippets",
                                        Url = "~/siteadmin/snippets"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "user_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Guest passes",
                                        Url = "~/siteadmin/affiliates"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "stock_manager",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Specification callouts",
                                        Url = "~/siteadmin/speccallouts"
                                    }
                                },
                                new SecureMenuItem
                                {
                                    Roles = "content_editor",
                                    Authenticated = new CustomLinkMenuItem
                                    {
                                        Text = "Manufacturer Pages",
                                        Url = "~/siteadmin/manufacturercmspages"
                                    }
                                }
                            };
                        }
                        <ul class="nav navbar-nav">
                            @foreach (var item in menu)
                            {
                                @Html.DisplayFor(x => item)
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        @if (TempData["flash"] != null)
        {
            var type = TempData["flashtype"] ?? "info";
            <div class="container">
                <div class="alert alert-@type">
                    @Html.Raw(TempData["flash"])
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            </div>
        }
        <section>
            <div class="container">
                @if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
                {
                    <div class="page-header">
                        <h1>@Html.Raw(ViewBag.PageTitle)</h1>
                    </div>
                }
                @RenderBody()
            </div>
        </section>
        
        @Bundles.RenderHtmlTemplates()
        @Bundles.RenderScripts()
        @Bundles.RenderScripts("cms-page-scripts")
    </body>
</html>
