﻿@model ListingViewModel

@Html.Partial("_Images")
<div class="detail">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#specification" data-toggle="tab">Specification</a></li>
        <li><a href="#lot-details" data-toggle="tab">Lot Details</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="specification">
            @Html.Partial("_DetailSpecification")
        </div>
        <div class="tab-pane" id="lot-details">
            @Html.Partial("_DetailDetail")
        </div>
    </div>
</div>