﻿@using Sfs.EStore.Web.App
@model ListingViewModel

<fieldset ng-if="financeQuote.length > 0" class="finance">
    <form ng-submit="getQuote()" class="form-inline">
        <div class="form-group">
            <label for="finance-form-deposit" class="control-label">Deposit:</label>
            <input id="finance-form-deposit" type="number" min="0" class="form-control input-sm" placeholder="Deposit" ng-model="params.deposit" />
        </div>
        <div class="form-group">
            <label for="finance-form-term" class="control-label">Term (months):</label>
            <select id="finance-form-term" ng-model="params.term" class="form-control input-sm">
                <option value="12">@string.Format("{0} months", 12)</option>
                <option value="18">@string.Format("{0} months", 18)</option>
                <option value="24">@string.Format("{0} months", 24)</option>
                <option value="30">@string.Format("{0} months", 30)</option>
                <option value="36">@string.Format("{0} months", 36)</option>
                <option value="42">@string.Format("{0} months", 42)</option>
                <option value="48">@string.Format("{0} months", 48)</option>
                <option value="54">@string.Format("{0} months", 54)</option>
                <option value="60">@string.Format("{0} months", 60)</option>
                <option value="72">@string.Format("{0} months", 72)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="finance-form-mileage" class="control-label">Annual mileage:</label>
            <input id="finance-form-mileage" type="number" min="1000" max="100000" class="form-control input-sm" placeholder="Annual mileage" data-ng-model="params.annualMileage" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update quote</button>
        </div>
    </form>
    
    <div class="row">
        <div class="col-sm-6 col-md-5" data-ng-repeat="quote in financeQuote">
            <div>
                <table class="table table-condensed finance-table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <span class="finance-representative-example-label"> {{quote.facilityType}} Finance</span>
                                <small><button class="btn btn-sm btn-link" show-finance-video="{{quote.videoLinkUrl}}">What is this?</button></small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Representative Example</td>
                        </tr>
                        <tr>
                            <td>Monthly Payment</td>
                            <td>{{quote.regularPayment | currency}}</td>
                        </tr>
                        <tr>
                            <td>Total Price</td>
                            <td>{{quote.totalCashPrice | currency}}</td>
                        </tr>
                        <tr>
                            <td>Deposit</td>
                            <td>{{quote.totalDeposit | currency}}</td>
                        </tr>
                        <tr>
                            <td>Total Amount of Credit</td>
                            <td>{{quote.advance | currency}}</td>
                        </tr>
                        <tr>
                            <td>* Admin Fee</td>
                            <td>{{quote.acceptanceFee | currency}}</td>
                        </tr>
                        <tr>
                            <td>* Option To Purchase Fee</td>
                            <td>{{quote.optionToPurchaseFee | currency}}</td>
                        </tr>
                        <tr>
                            <td>Total Amount Payable</td>
                            <td>{{quote.totalPayable | currency}}</td>
                        </tr>
                        <tr>
                            <td>Initial Payment</td>
                            <td>{{quote.firstPayment | currency}}</td>
                        </tr>
                        <tr>
                            <td>{{quote.numberOfRegularPayments}} Regular Monthly Payments</td>
                            <td>{{quote.regularPayment | currency}}</td>
                        </tr>
                        <tr>
                            <td>Final Payment</td>
                            <td>{{quote.finalPayment | currency}}</td>
                        </tr>
                        <tr>
                            <td>Term</td>
                            <td>{{quote.term}} <i title="No quotes received for requested term" class="icon-exclamation-sign" ng-show="quote.term!=requested.term"></i></td>
                        </tr>
                        <tr>
                            <td>Representative APR</td>
                            <td>{{(quote.apr*100) | number:2}}%</td>
                        </tr>
                        <tr>
                            <td>Interest rate (Fixed)</td>
                            <td>{{(quote.aer*100) | number:2}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <a rel="nofollow" ng-href="{{quote.applyUrl}}" onclick="ga('send', 'event', 'Finance application', listing.vehicleInfo.vehicleType, listing.listingId)" target="apply-finance" class="btn btn-default btn-block btn-sm">Apply now</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div>
<p>*Fees are already accounted for within the payments displayed and are also included within
the total amount payable.</p>
<p>Finance available subject to status. Indemnities may be required. Other finance offers may
be available but cannot be used in conjunction with this offer. We work with a number of
carefully selected credit providers who may be able to offer you finance for your purchase.
We are only able to offer finance products from these providers. Postal Address: <Dealers
Full Postal Address></p>
    </div>
</fieldset>

<div data-ng-show="error">
    @{
        Html.Snippet("vehicles/single/finance/no_quote")
            .HtmlExpected()
            .Otherwise(@<p>Please contact us directly as we have been unable to automatically generate a finance quote for this vehicle.</p>)
            .Render();
    }
    
</div>
