﻿@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    var includeFinanceTab = Tenant.IntegratesWith("Views/Lot/IncludeFinanceTab");
    var includeConditionTab = Tenant.IntegratesWith("Views/Lot/IncludeConditionTab");
    var includeLocationTab = Tenant.IntegratesWith("Views/Lot/IncludeLocationTab");
}

@helper TryDisplayListItem(string format, object input)
{
    if (input != null)
    {
        @:<li>@string.Format(format, input)</li>
    }
}

<div>
    <tabset>
        @*@if (Model.SellingStatus.CurrentPrice != null)
        {
            if (includeConditionTab)
             {

                 <tab heading="Condition">

                     <hr class="hide-screen" />
                
                     <button id="btn-Sales"  type="submit" ng-click="showSalesPDF('@Model.VehicleInfo.Registration.Plate')" class="btn btn-primary">Download Sales Apprasial</button>
                     <span style="horiz-align: left"ng-show="loading">...LOADING...<img src="~/Content/themes/grs/images/progress.gif" style="height: 20pt;" /> </span>
                     <hr style="height: 30pt; visibility: hidden;" />

                 </tab>
             }
        }*@
        <tab id="specificationTab" heading="Equipment">
            <div class="tabvehicledetails">
                <hr class="hide-screen" />
                <h4 class="hide-screen">Equipment</h4>

                @{
                    var specifications = new Dictionary<string, List<string>>();

                    if (Model.VehicleInfo.Specification != null && Model.VehicleInfo.Specification.Equipment != null)
                    {
                        foreach (var specification in Model.VehicleInfo.Specification.Equipment.Items)
                        {
                            if (!specifications.ContainsKey(specification.Category))
                            {
                                specifications.Add(specification.Category, new List<string>());
                            }
                            specifications[specification.Category].Add(specification.Name);
                        }
                    }

                    var valuesList = specifications.ToList();
                    var columnItems = valuesList.GroupBy(x => valuesList.IndexOf(x) % 4)
                        .Select(x => new { Index = x.Key, Categories = x.ToArray() })
                        .ToList();
                }

                <div class="row">
                    @foreach (var col in columnItems)
                    {
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @foreach (var category in col.Categories)
                            {
                                <b>@category.Key</b>
                                <ul>
                                    @foreach (var item in category.Value)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                </div>
                <div class="alert alert-info">
                    @{
                        Html.Snippet("vehicles/single/specification/disclaimer")
                            .HtmlExpected()
                            .Otherwise("<b>Please Note:</b> Sometimes individual vehicles vary slightly from the manufacturers original specification. This information is intended as a guide only.")
                            .Render();
                    }
                </div>
                @if (Model.VehicleInfo.Specification == null || Model.VehicleInfo.Specification.Equipment == null || !Model.VehicleInfo.Specification.Equipment.Items.Any())
                {
                    <p><em>@{Html.Snippet("vehicles/single/specification/data_unavailable").PlainTextExpected().Otherwise("Please call for more details.").Render();}</em></p>
                }
            </div>
        </tab>
        <tab heading="Technical">

            <div class="tabvehicledetails">
                <hr class="hide-screen" />
                <h4 class="hide-screen">Technical</h4>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <b>Performance</b>
                        <ul>
                            @TryDisplayListItem("Maximum Speed (mph) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumSpeedMph)
                            @TryDisplayListItem("Acceleration, 0 - 62mph (s) : {0}", Model.VehicleInfo.Specification.Performance.AccelerationTo100KphInSecs)
                            @TryDisplayListItem("Maximum Power (bhp) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumPowerInBhp)
                            @TryDisplayListItem("Maximum Power (at RPM) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumPowerAtRpm)
                            @TryDisplayListItem("Maximum Torque (LbFt) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumTorqueLbFt)
                            @TryDisplayListItem("Maximum Torque (Nm) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumTorqueNm)
                            @TryDisplayListItem("Maximum Torque (at RPM) : {0:n0}", Model.VehicleInfo.Specification.Performance.MaximumTorqueAtRpm)
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <b>Economy</b>
                        <ul>
                            @TryDisplayListItem("Combined (mpg) : {0}", Model.VehicleInfo.Specification.Economy.Combined)
                            @TryDisplayListItem("Urban (mpg) : {0}", Model.VehicleInfo.Specification.Economy.Urban)
                            @TryDisplayListItem("Extra Urban (mpg) : {0}", Model.VehicleInfo.Specification.Economy.ExtraUrban)
                        </ul>
                        <b>Environment</b>
                        <ul>
                            @TryDisplayListItem("Emissions/Co2 (g/km) : {0}", Model.VehicleInfo.Specification.Co2)
                            @TryDisplayListItem("Insurance Group : {0}", Model.VehicleInfo.Specification.InsuranceGroup)
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <b>Dimensions</b>
                        <ul>
                            @TryDisplayListItem("Kerb Weight (kg) : {0:n0}", Model.VehicleInfo.Specification.Dimensions.KerbWeightMin)
                            @TryDisplayListItem("Length (mm) : {0}", Model.VehicleInfo.Specification.Dimensions.LengthMm)
                            @TryDisplayListItem("Width (mm) : {0}", Model.VehicleInfo.Specification.Dimensions.WidthMm)
                            @TryDisplayListItem("Height (mm) : {0}", Model.VehicleInfo.Specification.Dimensions.HeightMm)
                            @TryDisplayListItem("Wheelbase (mm) : {0}", Model.VehicleInfo.Specification.Dimensions.WheelbaseForVans)
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <b>Engine</b>
                        <ul>
                            @TryDisplayListItem("Arrangement of cylinders : {0}", Model.VehicleInfo.Specification.Engine.ArrangementOfCylinders)
                            @TryDisplayListItem("Number of cylinders : {0}", Model.VehicleInfo.Specification.Engine.NumberOfCylinders)
                            @TryDisplayListItem("Number of valves per cylinder : {0}", Model.VehicleInfo.Specification.Engine.NumberOfValvesPerCylinder)
                            @TryDisplayListItem("Capacity (CC) : {0}", Model.VehicleInfo.Specification.Engine.CapacityCc)
                        </ul>
                    </div>
                </div>
            </div>
        </tab>
        @if (includeFinanceTab)
        {
            var diff = @DateTime.Now.Year - @Model.VehicleInfo.Registration.Date.Value.Year;
            <tab id="financeTab" heading="Finance Calculator">
                <hr class="hide-screen" />
                
                <div ng-controller="LotFinanceController" ng-init="setDeposit('@Model.VehicleInfo.Make','@Model.VehicleInfo.Model','@diff')">
                    <h4 class="hide-screen">Finance Calculator</h4>
                    @Html.Partial("_FinanceQuote")
                </div>
            </tab>
        }
        @if (includeLocationTab)
        {
            <tab heading="Vehicle Location" select="">
                <hr class="hide-screen" />
                <!-- LOCATION CONTENT -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="contactPanel">
                            <h3>GRS Remarketing Fleet Shop</h3>
                            <div class="address">
                                Blackfriars Road<br />
                                Newcastle-Under-Lyne<br />
                                Staffordshire<br />
                                ST5 2TY
                            </div>
                            <div class="phone">
                                Tel. 01782 711 911
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">

                        <div class="tabMap">
                            <img class="mapKite" src="@Url.UserContent("page/icon-map-kite.png")" alt="">

                            <iframe id="mapframe" width="651" height="245" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Greenhous%20Fleet%20Shop%2C%20Newcastle-under-Lyme%2C%20United%20Kingdom&key=AIzaSyAKjj3dehvVpoXesbUPvus65MfyzJqxpX0"></iframe>


                        </div>
                    </div>
                </div>
                <!-- LOCATION CONTENT -->
            </tab>
        }
    </tabset>
</div>