﻿@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewData["NoThumbs"] = ViewData["NoThumbs"] ?? false;
    var primaryImage = Model.PrimaryImage ?? UrlImageExtensions.MissingImage();
}
<div id="@(ViewData["ImagesElementId"] ?? "images")" class="royalSlider rsDefaultInv">
    <a class="lightbox rsImg" rel="group1" data-rsbigimg="@primaryImage.AsUrl("750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Featured))" href="@primaryImage.AsUrl("750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Featured))">
        @Html.VehicleImage(primaryImage, "96x72", false, new { @class = "rsTmb" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Thumb))
    </a>
     @if (Model.MoreImages.Any())
     {
         foreach (var image in Model.MoreImages)
         {
             <a class="lightbox rsImg" rel="group1" data-rsbigimg="@image.AsUrl("750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Featured))" href="@image.AsUrl("750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Featured))">
                 @Html.VehicleImage(image, "96x72", false, new { @class = "rsTmb" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Thumb))
             </a>
         }
     }
     else
     {
        Html.Snippet("vehicles/all/extended_thumbnails")
                .HtmlExpected()
                .Render();
     }
</div>