﻿@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewData["NoThumbs"] = ViewData["NoThumbs"] ?? false;
    var noThumbs = (bool)ViewData["NoThumbs"] || !Model.MoreImages.Any();
}

@if (Model.PrimaryImage != null)
{
    <div id="@(ViewData["ImagesElementId"] ?? "images")" class="royalSlider rsDefaultInv @(noThumbs ? "royalSlider--nothumbs" : "")">
        @if (noThumbs)
        {
            <a class="lightbox rsImg" rel="group1" data-rsbigimg="@Model.PrimaryImage.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))" href="@Model.PrimaryImage.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))">
            @*@Html.VehicleImage(Model.PrimaryImage, Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x535", false, new { @class = "lightbox rsImg" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))*@
            </a>

            foreach (var image in Model.MoreImages.Where(x => !x.Name.Contains("360_")).Take(5))
            {

            @Html.VehicleImage(image, Tenant.Settings.Images.Size(ImgDimensionNames.Featured) ?? "750x535", false, new { @class = "lightbox rsImg" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Featured))
            }
        }
        else
        {
            <a class="lightbox rsImg" rel="group1" data-rsbigimg="@Model.PrimaryImage.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))" href="@Model.PrimaryImage.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))">
                @Html.VehicleImage(Model.PrimaryImage, Tenant.Settings.Images.Size(ImgDimensionNames.Thumb) ?? "96x72", false, new { @class = "rsTmb" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Thumb))
            </a>
            foreach (var image in Model.MoreImages.Where(x => !x.Name.Contains("360_")).Take(5))
            {
                <a class="lightbox rsImg" rel="group1" data-rsbigimg="@image.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))" href="@image.AsUrl(Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed) ?? "750x562", Tenant.Settings.Images.Size(ImgDimensionNames.Zoomed))">
                    @Html.VehicleImage(image, Tenant.Settings.Images.Size(ImgDimensionNames.Thumb) ?? "96x72", false, new { @class = "rsTmb" }, overlay: Tenant.Settings.Images.Size(ImgDimensionNames.Thumb))
                </a>
            }
        }
    </div>
}
else
{
    @Html.VehicleImage(null, Tenant.Settings.Images.Size(ImgDimensionNames.Featured) ?? "750x562", true, new { @class = "img-responsive hidden-xs", width = "750" })
}
