﻿@using Sfs.EStore.Web.App
@using System.Globalization
@model ListingViewModel
<ul class="list-unstyled vehicle-summary">
    @if (!string.IsNullOrEmpty(Model.Programme))
    {
        <li>
            <b>Source:</b> @Model.Programme
        </li>
    }
    <li>
        @Html.Raw(string.Format("<b> Registration No.: </b> {0}", (Model.VehicleInfo.Registration.Plate ?? "(Unknown)")))
    </li>
    <li>
        @Html.Raw(string.Format("<b> Registration Date: </b> {0}", (Model.VehicleInfo.Registration.Date.HasValue ? Model.VehicleInfo.Registration.Date.Value.ToString("dd-MM-yyyy") : "(Unknown)")))
    </li>
    <li>
        @Html.Raw(string.Format("<b>Mileage:</b> {0}", (Model.VehicleInfo.Mileage.HasValue ? Model.VehicleInfo.Mileage.Value.ToString("#,##0") : "0")))
    </li>
    <li>
        @Html.Raw(string.Format("<b>Plate:</b> {0}", ""))
        @if (Model.VehicleInfo.Registration.Yap != null && Model.VehicleInfo.Registration.Yap.Split(':').Length > 1)
        {
            <span>@Model.VehicleInfo.Registration.Yap.Split(':')[1]</span>
        }
        @if (Model.VehicleInfo.Registration.Date.HasValue)
        {
            <span>(@Model.VehicleInfo.Registration.Date.Value.Year.ToString(CultureInfo.InvariantCulture))</span>
        }
    </li>
    <li>@Html.Raw(string.Format("<b>Engine:</b> {0}", @Model.VehicleInfo.EngineDescription))</li>
    <li>@Html.Raw(string.Format("<b>Fuel Type:</b> {0}", @Model.VehicleInfo.FuelType))</li>
    <li>@Html.Raw(string.Format("<b>Transmission:</b> {0}", @Model.VehicleInfo.Transmission))</li>
    <li>@Html.Raw(string.Format("<b>Colour:</b> {0}", Model.VehicleInfo.BodyColour))</li>
    <li>@Html.Raw(string.Format("<b>Vat Status:</b> {0}", Model.VehicleInfo.VatStatus))</li>
</ul>
@if (Model.VehicleInfo.Specification.Economy.Combined > 0 || Model.VehicleInfo.Specification.Co2 > 0)
{
    <h4>Running costs</h4>
    <ul class="running-costs">

        @if (Model.VehicleInfo.Specification.TaxRate != null)
        {
            <li>Road Tax: @Model.VehicleInfo.Specification.TaxRate.RoadTax12Months.ToCurrencyString() (Band @Model.VehicleInfo.Specification.TaxRate.Band)</li>
        }
        <li>@string.Format("Combined (mpg) : {0}", Model.VehicleInfo.Specification.Economy.Combined)</li>
        <li>@string.Format("Emissions/Co2 (g/km) : {0}", Model.VehicleInfo.Specification.Co2)</li>
        <li>@string.Format("Insurance Group : {0}", Model.VehicleInfo.Specification.InsuranceGroup)</li>

    </ul>
}
