﻿@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register("contact/callbacks/title",
                             "contact/callbacks/leading_text",
                             "contact/callbacks/phone_number",
                             "contact/callbacks/email_button/text",
                             "contact/callbacks/opening_hours");
}
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3>@{
        Html.Snippet("contact/callbacks/title")
            .PlainTextExpected()
            .Otherwise("Contact us")
            .Render();
        }</h3>
</div>
<div class="modal-contact" ng-hide="contactType">
    <div class="modal-body">
        @{
            Html.Snippet("contact/callbacks/leading_text")
                .PlainTextExpected()
                .Otherwise(@<p>You can either call us or send an enquiry by e-mail. If you would like us to call you, email us your phone number let us know a time that’s convenient for you and we'll happily call you back.</p>)
                .Render();
        }
        
        <div class="row">
            <div class="col-sm-8">
                <p>
                    @{
                        Html.Snippet("contact/callbacks/phone_number")
                            .PlainTextExpected()
                            .Template(@<a href="tel:@item"class="phone">@item</a>)
                            .Otherwise("00000 000 000")
                            .Render();
                    }
                    @{
                        Html.Snippet("contact/callbacks/opening_hours")
                            .PlainTextExpected()
                            .Template(@<small><br />@item</small>)
                            .Render();
                    }
                </p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info btn-lg" ng-click="setContactType('form')">@{
                    Html.Snippet("contact/callbacks/email_button/text")
                        .PlainTextExpected()
                        .Otherwise("Email your enquiry")
                        .Render();
                    }</button>
            </div>
        </div>
    </div>
</div>
<div ng-show="contactType == 'form'">
    <div class="modal-body">
        <div>
            <form name="form" class="" novalidate>
                <input type="hidden" ng-model="lots" />
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="firstName" class="hidden-xs">First name *</label>
                            <div class="controls">
                                <input ng-model="request.firstName" required name="firstName" id="firstName" type="text" placeholder="First name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label for="lastName" class="hidden-xs">Last name *</label>
                            <div class="controls">
                                <input ng-model="request.lastName" required name="lastName" id="lastName" type="text" placeholder="Last name" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="telephoneNumber" class="hidden-xs">Telephone number *</label>
                            <div class="controls">
                                <input ng-model="request.telephoneNumber" id="telephoneNumber" name="telephoneNumber" type="text" required placeholder="Telephone number"  class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label for="email" class="hidden-xs">Email *</label>
                            <div class="controls">
                                <input ng-model="request.email" id="email" name="email" type="email" required placeholder="Email address" class="form-control"/>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="message">Any specific instructions (convenient times, etc) *</label>
                            <div class="controls">
                                <textarea ng-model="request.message" required name="message" id="message" class="col-md-12 form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-success" ng-show="!submitted || !success">
            <span class="text-warning" ng-show="form.$invalid">Ensure all fields have been correctly entered before submitting.</span>
            <span class="text-danger" ng-show="submitted && !success">Failed to submit</span>
            <button ng-click="submit(request) | trackEvent:'button':'click':'enquire now'" ng-disabled="form.$invalid || submitting" class="btn btn-default" ng-class="{'btn-primary':!form.$invalid,'btn-default':form.$invalid}">Submit</button>
            <small><a ng-click="cancel()">cancel</a></small>
        </div>
        <div class="text-success" ng-show="submitted && success">
            Back to vehicle <a ng-click="cancel()">Back to vehicle</a>
        </div>
    </div>
</div>
