﻿@using Sfs.EStore.Web.App
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3>@(Model.VehicleInfo.Make + " " + Model.VehicleInfo.Model) <small>@Model.VehicleInfo.Derivative</small></h3>
</div>
<div class="modal-body">
    <section id="bidHistoryModalNoBids" ng-if="lot.sellingStatus.bidCount <= 0">
        <p>No one has bid on this vehicle yet.</p>
    </section>
    <section id="bidHistoryModalHasBids" ng-if="lot.sellingStatus.bidCount > 0">
        <p ng-show="lot.biddingStatus">
            Your maximum bid: {{ lot.biddingStatus.maximumBid | money }} <small data-price-vat-status="lot.pricesIncludeVat"></small>
                                @{ Html.Snippet("vehicles/all/price_postfix")
                                    .PlainTextExpected()
                                    .Template(@<small class="price-postfix">@item</small>)
                                    .Render(); }
            ({{ lot.biddingStatus.maximumBidTime | humanizeFromNow }})
        </p>
        <div ng-if="lot.biddingStatus">
            <div ng-if="lot.sellingStatus.sellingState=='Active'">
                <p ng-if="lot.biddingStatus.biddingStatus == 'Winning'"><span class="winning"><strong>You're the highest bidder and are currently winning this lot.</strong></span></p>
                <p ng-if="lot.biddingStatus.biddingStatus != 'Winning'"><span class="losing"><strong>You've been outbid. Another bidder placed a higher maximum bid or placed the same maximum bid before you did.</strong></span></p>
            </div>
            <div ng-if="lot.sellingStatus.sellingState!='Active'">
                <p ng-if="lot.biddingStatus.biddingStatus == 'Winning' && lot.sellingStatus.sellingState=='EndedWithSales'"><span class="winning"><strong>You won this lot.</strong></span></p>
                <p ng-if="lot.biddingStatus.biddingStatus == 'Winning' && lot.sellingStatus.sellingState=='EndedWithoutSales'"><span class="losing"><strong>You were the highest bidder but the reserve was not met.</strong></span></p>
                <p ng-if="lot.biddingStatus.biddingStatus != 'Winning'"><span class="losing"><strong>You lost this lot.</strong></span></p>
            </div>
        </div>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Bidder</th>
                    <th>Bid Amount</th>
                    <th>Bid Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bid in lot.sellingStatus.bids | orderBy:'position':true">
                    <td><span ng-show="bid.user">Your bid</span></td>
                    <td>{{ bid.amount | money }}</td>
                    <td title="{{ bid.time | formatDate }}">{{ bid.time | humanizeFromNow }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>