﻿@using Sfs.EStore.Web.App

<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <div ng-if="!bid.ErrorMessage.length">
        <h2>Confirm Bid - {{bid.CurrentBid.Amount | noFractionCurrency}}</h2>
    </div>
    <div ng-if="bid.ErrorMessage.length">
        <h2>Cannot Confirm Bid - {{bid.CurrentBid.Amount | currency}}</h2>
    </div>
</div>
<div class="modal-body">
    <div ng-show="bid.ErrorMessage.length" class="alert alert-danger">
        <p ng-repeat="message in bid.ErrorMessage">
            <strong> {{ message }}</strong>
        </p><br>
    </div>
    <div ng-if="bid.showBin && bid.ErrorMessage.length==0" class=" alert alert-danger">
        <h3> Buy it Now at {{bid.BuyItNowPrice.Amount | noFractionCurrency}} ?</h3>
        <h4>Please choose the purchasing dealership</h4>

        <div class="dropdown">
            <select class="form-control" ng-change="changed(selectedCustomer)" ng-model="selectedCustomer">
                <option ng-repeat="c in bid.Customers" ng-selected="selectedCustomer == c.Value" value="{{c.Value}}">{{c.Text| uppercase}}</option>
            </select>
        </div>
        <br />

        <p> By clicking 'Buy It Now' you commit to purchase this vehicle.</p>

        <div ng-show="bid.ErrorMessage.length" class="alert alert-danger">
            <p ng-repeat="message in bid.ErrorMessage">
                <strong> {{ message }}</strong>
            </p><br>
        </div>
        <button ng-hide="bid.ErrorMessage.length" type="button" ng-click="buyItNow()" data-dismiss="modal" class="btn btn-success" id="buyItNow">Buy It Now</button>
    </div>
    <h3 ng-show="bid.showBin && bid.ErrorMessage.length==0">Or Complete Bid ?</h3>
    <div>
        <button ng-hide="bid.ErrorMessage.length" type="button" ng-click="makeBid(lot)" data-dismiss="modal" class="btn btn-primary" id="makeBid">Confirm</button>
        <button ng-hide="bid.ErrorMessage.length" type="button" ng-click="close()" data-dismiss="modal" class="btn btn-primary" id="makeBid">Cancel</button>
    </div>
</div>

