@using Sfs.EStore.Web.App
<div class="modal-body">
    <iframe ng-src="{{videoUrl}}"
        allowtransparency="true" frameborder="0" scrolling="no" class="finance-video-dialog__iframe wistia_embed"
        name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
        oallowfullscreen msallowfullscreen></iframe>
</div>
<div class="modal-footer">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">close</button>
</div>