﻿@using Sfs.EStore.Web.App
@{
    Html.Snippets().Register("reservations/single/title",
                             "reservations/single/leading_text",
                             "reservations/single/confirm_button_text",
                             "reservations/single/errored_text");
}
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h3>@{
        Html.Snippet("reservations/single/title")
            .PlainTextExpected()
            .Otherwise("Reserve this vehicle now")
            .Render();
        }</h3>
</div>
<div class="modal-body">
    <div>
        @{
            Html.Snippet("reservations/single/leading_content")
                .HtmlExpected()
                .Render();
        }

        <div class="row">
            <div class="hidden-xs col-sm-4">
                <vehicle-image image="lot.primaryImage" dimensions="280x210" overlay="results" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <h4>{{ lot.title }}</h4>
                <h3>
                    <span ng-show="lot.sellingStatus.currentPrice.amount > 0">{{lot.sellingStatus.currentPrice | money}}</span>
                    <span ng-hide="lot.sellingStatus.currentPrice.amount > 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                    <small data-price-vat-status="lot.pricesIncludeVat"></small>
                </h3>
                <form data-ng-submit="reserve()">
                    <div class="controls">
                        <button class="btn btn-primary btn-lg" ng-disabled="reserving" type="submit">
                            @{ Html.Snippet("reservations/single/confirm_button_text")
                                   .HtmlExpected()
                                   .Otherwise("Confirm your reservation now")
                                   .Render(); }

                        </button>
                        <span ng-show="reserving">@{ Html.RenderPartial("_loader"); }</span>
                    </div>
                    <div data-ng-show="errored" ng-switch="errored">
                        @{
                            Html.Snippet("reservations/single/errored_text_basket_limit_reached")
                                .HtmlExpected()
                                .Template(@<div ng-switch-when="BASKET_LIMIT_REACHED">@item</div>)
                                .Otherwise(@<p class="text-danger">You have reached your limit for the number of vehicles you can reserve. Please remove a vehicle from <a href="/reservations">your reservations</a> and try again.</p>)
                                .Render();
                        }
                        @{
                            Html.Snippet("reservations/single/errored_text_already_reserved")
                                .HtmlExpected()
                                .Template(@<div ng-switch-when="ALREADY_RESERVED">@item</div>)
                                .Otherwise(@<p class="text-danger">{%raw%}This vehicle has already been reserved. Try <a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model} | searchUrl }}">searching for similar vehicles</a>.{%endraw%}</p>)
                                .Render();
                        }
                        @{
                            Html.Snippet("reservations/single/errored_text_on_sales_order")
                                .HtmlExpected()
                                .Template(@<div ng-switch-when="ON_SALES_ORDER">@item</div>)
                                .Otherwise(@<p class="text-danger">{%raw%}This vehicle has already been sold. Try <a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model} | searchUrl }}">searching for similar vehicles</a>.{%endraw%}</p>)
                                .Render();
                        }
                        @{
                            Html.Snippet("reservations/single/errored_text_not_in_stock")
                                .HtmlExpected()
                                .Template(@<div ng-switch-when="NOT_IN_STOCK">@item</div>)
                                .Otherwise(@<p class="text-danger">{%raw%}This vehicle has been sold. Try <a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model} | searchUrl }}">searching for similar vehicles</a>.{%endraw%}</p>)
                                .Render();
                        }
                        @{
                            Html.Snippet("reservations/single/errored_text_missing_user_setup")
                                .HtmlExpected()
                                .Template(@<div ng-switch-when="MISSING_USER_SETUP">@item</div>)
                                .Otherwise(@<p class="text-danger">{%raw%}We are unable to reserve the vehicle for you at this time. Please contact support quoting "user setup"{%endraw%}</p>)
                                .Render();
                        }
                        @{
                            Html.Snippet("reservations/single/errored_text")
                                .HtmlExpected()
                                .Template(@<div ng-switch-default>@item</div>)
                                .Otherwise(@<p class="text-danger">An error occurred and we are unable to reserve the vehicle at this time. Please try again later.</p>)
                                .Render();
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
