﻿@using Sfs.EStore.Web.App

<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h2>Buy It Now</h2>
</div>
<div class="modal-body">
    <h3>Please choose the purchasing dealership</h3>

    <div class="dropdown">
        <select class="form-control" ng-change="changed(selectedCustomer)" ng-model="selectedCustomer">
            <option ng-repeat="c in model.Customers" ng-selected="selectedCustomer == c.Value" value="{{c.Value}}">{{c.Text| uppercase}}</option>
        </select>
    </div>
    <br />

    <p> By clicking 'Confirm' you commit to purchase this vehicle.</p>
    <p>You are about to purchase this vehicle for {{model.BuyItNowPrice.Amount | noFractionCurrency}}</p>
    <div ng-show="model.ErrorMessage.length" class="alert alert-danger">
        <p ng-repeat="message in model.ErrorMessage">
            <strong> {{ message }}</strong>
        </p><br>
    </div>
    <br />
    <button ng-hide="bid.ErrorMessage.length" type="button" ng-click="buyItNow()" data-dismiss="modal" class="btn btn-primary" id="makeBid">Confirm</button>
    <button ng-hide="bid.ErrorMessage.length" type="button" ng-click="close()" data-dismiss="modal" class="btn btn-primary" id="makeBid">Cancel</button>
</div>
