﻿@using Sfs.EStore.Web.App
@model ListingViewModel

<!-- FixedPrice -->
<div class="price-container">
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            <div class="prices">
                <h4 class="now-price">
                    @if (Model.ListingInfo.BuyItNowPrice.Amount > 0)
                    {
                        <span>@Model.ListingInfo.BuyItNowPrice.ToCurrencyString()</span>
                    }
                    else
                    {
                        <span>@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                    }
                </h4>
                <p class="now-price-sub-text">
                    @Html.PriceVatStatus(Model.PricesIncludeVat)
                    @{
                        @*Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<span class="price-postfix">@item</span>)
                            .Render();*@
                    }
                </p>
                @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice") &&
                     Model.DiscountPriceInfo != null &&
                     Model.DiscountPriceInfo.HasSavingOver(Model.ListingInfo.BuyItNowPrice, x => x.RetailPrice))
                {
                    <div class="sub-price sub-price-retail">
                        @{
                            var rrpTooltip = Html.Snippet("vehicles/single/retail_price/tooltip")
                                .PlainTextExpected()
                                .HtmlString().ToString();
                        }
                        <p class="price-info" data-tooltip-popup-delay="400" tooltip="@rrpTooltip">
                            <span class="price-info-label price-info-label-was">Retail *</span> <span class="price-info-value price-info-value-was">@Model.DiscountPriceInfo.RetailPrice.ToCurrencyString()</span>
                            &nbsp;&nbsp;&nbsp;<span class="price-info-label price-info-label-save">Save</span> <span class="price-info-value price-info-value-save">
                                                                                                                                                                                       @Model.DiscountPriceInfo.SavingOver(Model.ListingInfo.BuyItNowPrice, x => x.RetailPrice).ToCurrencyString()
                                                                                                                                                                                   </span>
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 col-md-pull-8">
            @if (IsCurrentUserAllowed("/Lots/Purchase/BuyItNow"))
            {
                <button reserve-vehicle="listing" type="button" class="btn-reserve btn btn-lg btn-default btn-block">
                    @{ Html.Snippet("vehicles/single/reservations/button_text").PlainTextExpected().Otherwise("Reserve now").Render(); }
                </button>
            }
            <a data-ng-click="lotCallbacks.openForm(id)" class="btn btn-default btn-callback btn-lg btn-block">
                @{ Html.Snippet("vehicles/single/callbacks/button_text").PlainTextExpected().Otherwise("Enquire now").Render(); }
            </a>

            @{
                var watchAddButtonText = Html.Snippet("vehicles/single/watch/add_button_text").PlainTextExpected().Otherwise("Save vehicle").HtmlString().ToString();
                var watchRemoveButtonText = Html.Snippet("vehicles/single/watch/remove_button_text").PlainTextExpected().Otherwise("Remove vehicle").HtmlString().ToString();
            }
            <span data-watch-status-toggle ng-listing-id="id" data-ng-always-visible="true" data-ng-btn-class="btn btn-default btn-lg btn-block hide-print" data-ng-icon-class="icon-2x star-icon-style" data-add-text="@watchAddButtonText" data-remove-text="@watchRemoveButtonText" data-text-class=""></span>
        </div>
    </div>
</div>
