﻿@using Sfs.EStore.Web.App
@using Newtonsoft.Json;
@model ListingViewModel

<!-- FixedPrice -->
<div class="price-container">
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            <div class="prices">
                <h4 class="now-price">
                    @if (Model.ListingInfo.BuyItNowPrice.Amount > 0)
                    {
                        <span>@Model.ListingInfo.BuyItNowPrice.ToCurrencyString()</span>
                    }
                    else
                    {
                        <span>@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                            }
                </h4>
                <p class="now-price-sub-text">
                    @Html.PriceVatStatus(Model.PricesIncludeVat)
                    @{
                        Html.Snippet("vehicles/all/price_postfix")
                            .PlainTextExpected()
                            .Template(@<span class="price-postfix">@item</span>)
    .Render();
                    }
                </p>
                @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice") &&
Model.DiscountPriceInfo != null &&
Model.DiscountPriceInfo.HasSavingOver(Model.ListingInfo.BuyItNowPrice, x => x.RetailPrice))
                {
                    <div class="sub-price sub-price-retail">
                        @{
                            var rrpTooltip = Html.Snippet("vehicles/single/retail_price/tooltip")
                                .PlainTextExpected()
                                .HtmlString().ToString();
                        }
                        <p class="price-info" data-tooltip-popup-delay="400" tooltip="@rrpTooltip">
                            <span class="price-info-label price-info-label-was">Retail *</span> <span class="price-info-value price-info-value-was">@Model.DiscountPriceInfo.RetailPrice.ToCurrencyString()</span>
                            &nbsp;&nbsp;&nbsp;<span class="price-info-label price-info-label-save">Save</span> <span class="price-info-value price-info-value-save">
                                @Model.DiscountPriceInfo.SavingOver(Model.ListingInfo.BuyItNowPrice, x => x.RetailPrice).ToCurrencyString()
                            </span>
                        </p>
                    </div>
                            }
            </div>
        </div>
        <div class="col-md-4 col-md-pull-8">


            @if (Tenant.ThemeName == "fga")
            {
                if (IsCurrentUserAllowed("/Lots/Purchase/BuyItNow"))
                {
                    <button reserve-vehicle="listing" type="button" class="btn-reserve btn btn-lg btn-default btn-block">
                        @{ Html.Snippet("vehicles/single/reservations/button_text").PlainTextExpected().Otherwise("Reserve now").Render(); }
                    </button>
                            }
                            <a data-ng-click="lotCallbacks.openForm(id)" class="btn btn-default btn-callback btn-lg btn-block">
                                @{ Html.Snippet("vehicles/single/callbacks/button_text").PlainTextExpected().Otherwise("Enquire now").Render(); }
                            </a>

                                    string watchRemoveButtonText;
                                    string watchAddButtonText;
                                    {
                                        watchAddButtonText = Html.Snippet("vehicles/single/watch/add_button_text").PlainTextExpected().Otherwise("Save vehicle").HtmlString().ToString();
                                        watchRemoveButtonText = Html.Snippet("vehicles/single/watch/remove_button_text").PlainTextExpected().Otherwise("Remove vehicle").HtmlString().ToString();
                                    }
                                    <span data-watch-status-toggle ng-listing-id="id" data-ng-always-visible="true" data-ng-btn-class="btn btn-default btn-lg btn-block hide-print" data-ng-icon-class="icon-2x" data-add-text="@watchAddButtonText" data-remove-text="@watchRemoveButtonText" data-text-class=""></span>

                                    }
            @if (Tenant.ThemeName == "grs")
            {
                if (IsCurrentUserAllowed("/Lots/Purchase/BuyItNow"))
                {
                    <button id="btnBuyNow" reserve-vehicle="listing" type="button" class=" btn btn-lg btn-danger btn-block">
                        @{ Html.Snippet("vehicles/single/reservations/button_text").PlainTextExpected().Otherwise("Reserve now").Render(); }
                    </button>
                            }
                            <a data-ng-click="lotCallbacks.openForm(id)" class="btn btn-primary btn-lg btn-block">
                                @{ Html.Snippet("vehicles/single/callbacks/button_text").PlainTextExpected().Otherwise("Enquire now").Render(); }
                            </a>


                                    string watchRemoveButtonText;
                                    string watchAddButtonText;
                                    {
                                        watchAddButtonText = Html.Snippet("vehicles/single/watch/add_button_text").PlainTextExpected().Otherwise("Save vehicle").HtmlString().ToString();
                                        watchRemoveButtonText = Html.Snippet("vehicles/single/watch/remove_button_text").PlainTextExpected().Otherwise("Remove vehicle").HtmlString().ToString();
                                    }
                                    <span class="btn btn-primary btn-lg btn-block" data-watch-status-toggle ng-listing-id="id" data-ng-always-visible="true" data-ng-btn-class="btn-primary" data-ng-icon-class="icon-2x" data-add-text="@watchAddButtonText" data-remove-text="@watchRemoveButtonText" data-text-class=""></span>
                                    @*<span class="btn btn-primary btn-lg btn-block" data-ng-btn-class="btn-primary" ng-click="openTransportCost('@Model.VehicleInfo.Registration.Plate')">Transport Cost</span>*@

                                    if (Model.AllowOffers)
                                    {
                                        <span class="btn btn-default btn-lg btn-block btn-primary" data-toggle="modal" data-target="#offerModal">Make an Offer</span>
                                        }

                                    }
        </div>
        <div id="offerModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><b>MAKE AN OFFER</b></h4>
                        <p>Please note that only offers within 1000 of the advertised price will be submitted.</p>
                    </div>
                    <div class="modal-body">
                        <form name="form" class="" novalidate ng-init="bind(@(Model.ListingInfo.BuyItNowPrice.Amount))">
                            <input type="hidden" data-ng-model="lots" />
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="Offer" class="hidden-xs">Offer(£)*</label>
                                        <div class="controls">
                                            <input type="number" data-ng-model="request.offer" value="@(Model.ListingInfo.BuyItNowPrice.Amount)" min="@(Model.ListingInfo.BuyItNowPrice.Amount - 1000)" max="@(Model.ListingInfo.BuyItNowPrice.Amount + 1000)" required name="offer" id="offer" placeholder="Make Offer" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="firstName" class="hidden-xs">First name *</label>
                                        <div class="controls">
                                            <input data-ng-model="firstName" ng-readonly="true" name="firstName" id="firstName" type="text" placeholder="First name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="form-group">
                                        <label for="lastName" class="hidden-xs">Last name *</label>
                                        <div class="controls">
                                            <input data-ng-model="lastName" ng-readonly="true" required name="lastName" id="lastName" type="text" placeholder="Last name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="telephoneNumber" class="hidden-xs">Telephone number *</label>
                                        <div class="controls">
                                            <input data-ng-model="telephoneNumber" ng-readonly="true" id="telephoneNumber" name="telephoneNumber" type="text" required placeholder="Telephone number" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="form-group">
                                        <label for="email" class="hidden-xs">Email *</label>
                                        <div class="controls">
                                            <input data-ng-model="email" ng-readonly="true" id="email" name="email" type="email" required placeholder="Email address" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="message">Any specific instructions (convenient times, etc) *</label>
                                        <div class="controls">
                                            <textarea data-ng-model="request.message" required name="message" id="message" placeholder ="Enter notes"class="col-md-12 form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="text-success" data-ng-show="!submitted || !success">
                            <span class="text-warning" ng-show="form.$invalid">Ensure all fields have been correctly entered before submitting.</span>
                            <span class="text-danger" data-ng-show="submitted && !success">Failed to submit</span>
                            <button ng-click="submit()" ng-disabled="form.$invalid" class="btn btn-default" ng-class="{'btn-primary':!form.$invalid,'btn-default':form.$invalid}">Submit</button>
                            <small><a ng-click="close()">cancel</a></small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
