﻿@using Sfs.EStore.Web.App
@model ListingViewModel
<style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- Auction -->
<div>
    <div ng-cloak ng-if="lot.biddingStatus || lot.buyitNowSale.datetime!=null">
        <div ng-if="lot.sellingStatus.sellingState=='Active'">
            <h5 class="user-bid-status winning" ng-if="lot.biddingStatus.biddingStatus == 'Winning'"><span ng-cloak title="You are currently winning this lot"><strong>You are currently winning this lot</strong></span></h5>
            <h5 class="user-bid-status losing" ng-if="lot.biddingStatus.biddingStatus != 'Winning'"> <span ng-cloak title="You've been outbid. Another bidder placed a higher maximum bid or placed the same maximum bid before you did."><strong>You have been outbid</strong></span></h5>
        </div>

        <div ng-cloak ng-if="lot.sellingStatus.sellingState!='Active'">
            <h5 ng-if="lot.sellingStatus.sellingState!='Active'" class="user-bid-status losing">
                <span class="losing"><strong>Sale Ended</strong></span>
            </h5>
            <div ng-if="lot.buyitNowSale.datetime!=null">
                <h5 class="user-bid-status winning" ng-if="lot.buyitNowSale.isBuyer" ng-cloak><span class="winning" title="You won this lot."><strong>You have bought this vehicle for {{lot.buyitNowSale.buyItNowPrice.amount | noFractionCurrency}}</strong></span></h5>
                <h5 class="user-bid-status losing" ng-if="!lot.buyitNowSale.isBuyer" ng-cloak><span class="losing" title="You won this lot."><strong>This vehicle has been sold</strong></span></h5>
            </div>
            <div ng-cloak ng-if="lot.buyitNowSale.datetime==null">
                <h5 class="user-bid-status winning" ng-if="lot.biddingStatus.biddingStatus == 'Winning' && lot.sellingStatus.sellingState =='EndedWithSales'" ng-cloak><span class="winning" title="You won this lot."><strong>Won</strong></span></h5>
                <h5 class="user-bid-status losing" ng-if="lot.biddingStatus.biddingStatus == 'Winning' && lot.sellingStatus.sellingState =='EndedWithoutSales'" ng-cloak><span class="losing" title="You were the highest bidder but the reserve was not met."><strong>You were the highest bidder but the reserve was not met</strong></span></h5>
                <h5 class="user-bid-status losing" ng-if="lot.biddingStatus.biddingStatus != 'Winning' && lot.sellingStatus.sellingState =='EndedWithoutSales'"><span class="losing" title="You lost this lot."><strong>Auction has finished - sorry you didn't win </strong></span></h5>
                <h5 class="user-bid-status losing" ng-if="lot.biddingStatus.biddingStatus != 'Winning' && lot.sellingStatus.sellingState =='EndedWithSales'"><span class="losing" title="You lost this lot."><strong>Auction has finished - sorry you didn't win</strong></span></h5>
            </div>
        </div>
        <div ng-show="lot.sellingStatus.sellingState=='Active' && Processing" class="panel panel-danger">
            <div class="panel-heading">Notice - Ending Auction</div>
            <div class="panel-body">...Please Wait</div>
        </div>
    </div>

    <div ng-if="lot.sellingStatus.sellingState=='Active'">
        <div class="row">
            <div class="col-md-6 col-md-push-6 prices">
                <h4 class="now-price now-price-auction" ng-if="lot.sellingStatus.currentPrice" ng-bind="lot.sellingStatus.currentPrice|  money:GBP"></h4>
                <p class="now-price-sub-text">
                    <span class="vat-postfix" data-price-vat-status="lot.pricesIncludeVat"></span>
                    @*@{ Html.Snippet("vehicles/all/price_postfix")
                     .PlainTextExpected()
                     .Template(@<span class="price-postfix">@item</span>)
                           .Render(); }*@
                </p>
                <p class="now-price-reserve" ng-if="!lot.sellingStatus.reserveMet">
                    <span class="now-price-reserve-notmet">Reserve not met</span>
                </p>
                @if (Model.ListingInfo.EndTime.HasValue)
                {
                    <p title="@Model.ListingInfo.EndTime">Time left: <b time-left="lot.sellingStatus.timeLeft" ng-bind="lot.sellingStatus.timeLeft | humanizeDuration:0 "></b> - <small><a ng-click="refresh()">refresh</a></small></p>
                }
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="well">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" name="maximumBid" class="form-control" ng-model="bidPrice" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="showMakeBid(bidPrice)" class="btn btn-primary" title="">Enter Bid</button>
                            </span>
                        </div>
                    </div>

                    <div>
                        <p class="help-block"><em ng-click="bidPrice = lot.sellingStatus.minimumToBid.amount">(Enter {{ lot.sellingStatus.minimumToBid | money }} or more)</em></p>
                    </div>
    
                    @Html.Partial("_bidhistorybutton")
                    @if (Model.ListingInfo.BuyItNowPrice != null && Model.ListingInfo.BuyItNowPrice.Amount > 0)
                    {                    
                        <button ng-hide="lot.sellingStatus.bidCount > 0 && lot.sellingStatus.maxBid.amount > @Model.ListingInfo.BuyItNowPrice.Amount" type="button" ng-click="buyItNow()" class="btn btn-primary">Buy It Now for <b>@Html.Money(Model.ListingInfo.BuyItNowPrice)</b>
                     @*<small data-price-vat-status="{{lot.pricesIncludeVat}}">vat</small>*@</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>