@using System.Globalization
@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewBag.MetaTitle = Model.VehicleInfo.Make + ": " + Model.VehicleInfo.Model;
    SetBodyCssClass("vehicle-details");

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotDetailController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotFinanceController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/UsersAlsoViewedDirective.js");
}

<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.ListingId">
    <script type="text/ng-template" id="callbackform.html">
        @Html.Partial("_Ng-CallbackForm")
    </script>
    <script type="text/ng-template" id="reservation-form.html">
        @Html.Partial("_Ng-ReservationForm")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    <script type="text/ng-template" id="bid-history-dialog.html">
        @Html.Partial("_Ng-BidHistoryDialog")
    </script>
    <script type="text/ng-template" id="users-also-viewed.html">
        <div ng-if="listings">
            <h3>Other users have also been viewing the following vehicles</h3>
            <ul class="list-unstyled row vehicles-thumbnails">
                <li class="col-xs-12 col-sm-4 col-md-3" ng-repeat="vehicle in listings">
                    @Html.Partial("_ng-lotcard")
                </li>
            </ul>
        </div>
    </script>

    <div ng-controller="LotDetailController" ng-cloak>


        <ul class="breadcrumb">
            @if (Context.HasPreviousSearch())
            {
                <li class="breadcrumb__item breadcrumb__item--back"><a href="@Url.PreviousSearch()">Back to results</a> <span class="text-muted">or jump to...</span></li>
            }
            else
            {
                <li class="breadcrumb__item breadcrumb__item--search"><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model, Model.VehicleInfo.Derivative})">Go to search</a> <span class="text-muted">or jump to...</span></li>
            }
            <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make})" title="@Model.VehicleInfo.Make">@Model.VehicleInfo.Make</a></li>
            <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model">@Model.VehicleInfo.Model</a></li>
            <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model, Model.VehicleInfo.Derivative})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model @Model.VehicleInfo.Derivative">@Model.VehicleInfo.Derivative</a></li>
        </ul>
        <div class="page-header">
            <h2 class="title">@Model.Title</h2>
        </div>
        <div class="listing-view">
            <div class="row">
                <div class="col-sm-7 col-sm-push-5 col-md-6 col-md-push-6 lot-detail">
                    <div ng-show="is360" ng-cloak>
                        <section class="container-fluid" id="container" style="background-color: black;">
                            <div id="360" class="threesixty car">
                                <div class="spinner">
                                    <span>0%</span>
                                </div>
                                <ol class="threesixty_images"></ol>
                            </div>
                            <div id="btnPanel" class="pull-left">
                                <a class="btn btn-danger custom_previous"><i class="icon-backward"></i> Previous</a>
                                <a class="btn btn-inverse custom_play"><i class="icon-play"></i> Play</a>
                                <a class="btn btn-inverse custom_stop"><i class="icon-pause"></i> Pause</a>
                                <a class="btn btn-danger custom_next">Next <i class="icon-forward"></i></a>
                            </div>
                        </section>
                    </div>
                    @*{{is360}}
                    {{is360!= 'true'}}*@
                    <div ng-show="is360!= 'true'" ng-cloak>
                        <span style="height:10px; display:block;"></span>
                        @Html.Partial("_images", Model)
                    </div>
                </div>
                <div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-6 lot-bids">
                    <!-- PRICING -->
                    <div ng-if="lotStatusChanged">
                        <h3>Status has changed.</h3>
                        <p>Please <a href="@Url.Lot(Model.ListingId, Model.Title.ToSlug())">refresh page</a>, to view the latest information</p>
                    </div>
                    <div ng-if="!lotStatusChanged">
                        @if (Model.SellingStatus.CurrentPrice != null)
                        {
                            if (Model.SellingStatus.IsAt(LotStatus.Reserved))
                            {
                                Html.Snippet("vehicles/single/reserved/explanation_content")
                                    .HtmlExpected()
                                    .Otherwise(@<text>{%raw%}
                                        <h3>This vehicle has been reserved</h3>
                                        <p>Try <a href="{{ {vehicleType: listing.vehicleInfo.vehicleType, make: listing.vehicleInfo.make, model: listing.vehicleInfo.model} | searchUrl }}">searching for other {{ listing.vehicleInfo.make}} {{listing.vehicleInfo.model}}'s</a>.</p>
                                        {%endraw%}</text>)
                                    .Render();
                            }
                            else
                            {
                                @Html.Partial("_Pricing")
                            }
                        }
                        else
                        {
                            <em><a href="@Url.LoginAndReturn()">Sign in</a> to view price information</em>
                        }
                        <hr />
                    </div>
                    <!-- / PRICING -->
                    <!-- CORE INFO -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="key-properties">
                                <ul class="list-unstyled vehicle-summary">
                                    @if (!string.IsNullOrEmpty(Model.Programme))
                                    {
                                        <li>
                                            <b>Source:</b> @Model.Programme
                                        </li>
                                    }
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration No.: </b> {0}", (Model.VehicleInfo.Registration.Plate ?? "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration Date: </b> {0}", (Model.VehicleInfo.Registration.Date.HasValue ? Model.VehicleInfo.Registration.Date.Value.ToString("dd-MM-yyyy") : "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Mileage:</b> {0}", (Model.VehicleInfo.Mileage.HasValue ? Model.VehicleInfo.Mileage.Value.ToString("#,##0") : "0")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Plate:</b> {0}", ""))
                                        @if (Model.VehicleInfo.Registration.Yap.Split(':').Length > 1)
                                        {
                                            <span>@Model.VehicleInfo.Registration.Yap.Split(':')[1]</span>
                                        }
                                        @if (Model.VehicleInfo.Registration.Date.HasValue)
                                        {
                                            <span>(@Model.VehicleInfo.Registration.Date.Value.Year.ToString(CultureInfo.InvariantCulture))</span>
                                        }
                                    </li>
                                    <li>@Html.Raw(string.Format("<b>Engine:</b> {0}", @Model.VehicleInfo.EngineDescription))</li>
                                    <li>@Html.Raw(string.Format("<b>Fuel Type:</b> {0}", @Model.VehicleInfo.FuelType))</li>
                                    <li>@Html.Raw(string.Format("<b>Transmission:</b> {0}", @Model.VehicleInfo.Transmission))</li>
                                    <li>@Html.Raw(string.Format("<b>Colour:</b> {0}", Model.VehicleInfo.BodyColour))</li>
                                    <li>@Html.Raw(string.Format("<b>Vat Status:</b> {0}", Model.VehicleInfo.VatStatus))</li>
                                    <li>@Html.Raw(string.Format("<b>Model Year / Pack:</b> {0}", @Model.VehicleInfo.ModelYear))</li>
                                    @if (Model.VehicleInfo.Source != null)
                                    {
                                        <li><b>Source:</b> @Model.VehicleInfo.Source.Code (@Model.VehicleInfo.Source.Name)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <div class="detail-lot-spec-callouts">
                                    <div class="well well-small">
                                        <h4>Trim</h4>
                                        @if (Model.VehicleInfo.Trim != null)
                                        {
                                            <li>@Model.VehicleInfo.Trim.Code - @Model.VehicleInfo.Trim.Name</li>
                                        }

                                        @if (Model.VehicleInfo.Specification != null && Model.VehicleInfo.Specification.Equipment != null)
                                        {
                                            <h4><b>Optional Extras</b></h4>
                                            foreach (var specification in Model.VehicleInfo.Specification.Equipment.Items)
                                            {
                                                <li><b>@specification.Name</b></li>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / CORE INFO -->
                </div>
            </div>

            <users-also-viewed listing-id="@Model.ListingId" take="4" equipment-items-to-include="20"></users-also-viewed>
        </div>
    </div>
</section>
