﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewBag.MetaTitle = Model.Title;

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.ScheduledLotDetailController.js");
}
<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.ListingId">
    <script type="text/ng-template" id="callbackform.html">
        @Html.Partial("_Ng-CallbackForm");
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    <div ng-controller="ScheduledLotDetailController">
        <div class="page-header">
            <h1 class="title">@(Model.VehicleInfo.Make + " " + Model.VehicleInfo.Model) <small>@Model.VehicleInfo.Derivative</small></h1>
        </div>
        <div ng-hide="loaded">
            <p>@{ Html.RenderPartial("_loader"); } Loading...</p>
        </div>
        <div ng-show="loaded">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 lot-detail">
                    @Html.Partial("_images")
                </div>
                <div class="col-sm-6 col-sm-pull-6 lot-bids">
                    @if ("FixedPrice".Equals(Model.ListingInfo.ListingType, StringComparison.InvariantCultureIgnoreCase))
                    {
                        Html.Snippet("vehicles/single/scheduled/fixedprice/explanation_content")
                            .HtmlExpected()
                            .Otherwise(@<text>{%raw%}
                                <h3>This vehicle is not yet available for purchase.</h3>
                                <p ng-if="lot.startDate">
                                    It is due to be available on {{ lot.startDate | formatDate:'LL [at] LT' }} ({{ lot.startDate | humanizeFromNow }}).
                                    Alternatively, <a href="{{ {vehicleType: lot.vehicleType, make: lot.make, model: lot.model} | searchUrl }}">try searching for similar vehicles</a>
                                </p>
                                <p ng-if="!lot.startDate"><a href="{{ {vehicleType: lot.vehicleType, make: lot.make, model: lot.model} | searchUrl }}">Try searching for similar vehicles</a>.</p>
                                {%endraw%}</text>)
                            .Render();
                    }
                    else if ("AuctionWithBin".Equals(Model.ListingInfo.ListingType, StringComparison.InvariantCultureIgnoreCase))
                    {
                        @*Html.Snippet("vehicles/single/scheduled/auction_with_bin/explanation_content")
                                    .HtmlExpected()
                                    .Otherwise(@<text>
                            {%raw%}*@
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>This vehicle is not yet available for purchase.</h3></div>
                            <div class="panel-body">
                                <p ng-if="'@Model.ListingInfo.StartTime'">
                                    It is due to be available as an auction (with Buy It Now option) on  @Model.ListingInfo.StartTime.
                                    <br /><a href="@Url.PreviousSearch()">Back to Auction,</a>
                                </p>
                                <p ng-if="!'@Model.ListingInfo.StartTime'"><a href="@Url.PreviousSearch()">Try searching for similar vehicles</a>.</p>
                            </div>
                        </div>

                        @*{%endraw%}</text>)*@
                        // .Render();
                    }
                    else if ("Auction".Equals(Model.ListingInfo.ListingType, StringComparison.InvariantCultureIgnoreCase))
                    {
                        @*Html.Snippet("vehicles/single/scheduled/auction/explanation_content")
                            .HtmlExpected()
                            .Otherwise(@<text>
                                {%raw%}*@
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>This vehicle is not yet available for purchase.</h3></div>
                            <div class="panel-body">
                                <p ng-if="'@Model.ListingInfo.StartTime'">
                                    It is due to be available as an auction (with Buy It Now option) on  @Model.ListingInfo.StartTime.
                                    <br /><a href="@Url.PreviousSearch()">Back to Auction,</a>
                                </p>
                                <p ng-if="!'@Model.ListingInfo.StartTime'"><a href="@Url.PreviousSearch()">Try searching for similar vehicles</a>.</p>
                            </div>
                        </div>
                        //.Render();
                    }<div class="col-md-6 col-md-push-6 prices">
                        <h4 class="now-price now-price-auction" ng-if="lot.sellingStatus.currentPrice" ng-bind="lot.sellingStatus.currentPrice|  money:GBP" ng-cloak></h4>
                    </div>
                    <span>
                        @*<span ng-show="watches.iswatched"><a class="btn btn-default btn-sm" ng-click="watches.remove(id)"><i class="icon-eye-close"></i> Remove</a></span>
                            <span ng-hide="watches.iswatched"><a class="btn btn-default btn-sm" ng-click="watches.add(id)"><i class="icon-eye-open"></i> Save</a></span>

                            <a ng-click="lotCallbacks.openForm(id)" class="btn btn-default btn-sm"><i class="icon-bell"></i> Request callback</a>*@
                    </span>
                </div>
            </div>
            @Html.Partial("_fullspec")
        </div>
    </div>
</section>
