﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewBag.MetaTitle = Model.VehicleInfo.Make + ": " + Model.VehicleInfo.Model;

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotDetailController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotFinanceController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/UsersAlsoViewedDirective.js");
}

<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.ListingId">
    <script type="text/ng-template" id="callbackform.html">
        @Html.Partial("_Ng-CallbackForm")
    </script>
    <script type="text/ng-template" id="reservation-form.html">
        @Html.Partial("_Ng-ReservationForm")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    <script type="text/ng-template" id="buyItNow-dialog.html">
        @Html.Partial("_Ng_BuyItNow")
    </script>
    <script type="text/ng-template" id="bid-confirm-dialog.html">
        @Html.Partial("_Ng-MakeBidDialog")
    </script>
    <script type="text/ng-template" id="bid-history-dialog.html">
        @Html.Partial("_Ng-BidHistoryDialog")
    </script>

    <script type="text/ng-template" id="finance-video-dialog.html">
        @*@Html.Partial("_Ng-FinanceVideoDialog")*@
    </script>
    <script type="text/ng-template" id="users-also-viewed.html">
        <div ng-if="listings">
            <h3>What other vehicles did users view after viewing this?</h3>
            <ul class="list-unstyled row vehicles-thumbnails">
                <li class="col-xs-12 col-sm-4 col-md-3" ng-repeat="vehicle in listings">
                        @Html.Partial("_ng-lotcard")
                </li>
            </ul>
        </div>
    </script>

    <div ng-controller="LotDetailController" ng-cloak>
        <ul class="breadcrumb">
            @if (Context.HasPreviousSearch())
            {
                if (@Model.ListingInfo.ListingType == "AuctionWithBin" || @Model.ListingInfo.ListingType == "Auction")
                {
                    <li><a href="@Url.PreviousSearch()">Back to auction @Model.AuctionSalesChannel </a></li>
                }
                else
                {
                    <li><a href="@Url.PreviousSearch()">Back to results</a> <span class="text-muted">or jump to...</span></li>
                }
            }
            else
            {
                <li class="breadcrumb__item breadcrumb__item--search"><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model, Model.VehicleInfo.Derivative})">Go to search</a> <span class="text-muted">or jump to...</span></li>
            }

            @if (Model.ListingInfo.ListingType == "AuctionWithBin" || Model.ListingInfo.ListingType == "Auction")
            {

                <li><a href="@Url.AuctionSearch(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make,lsale=Model.AuctionSalesChannel,ltauction ="1"})" title="@Model.VehicleInfo.Make">@Model.VehicleInfo.Make</a></li>
                <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model,lsale=Model.AuctionSalesChannel,ltauction ="1"})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model">@Model.VehicleInfo.Model</a></li>
                <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model, Model.VehicleInfo.Derivative,lsale=Model.AuctionSalesChannel,ltauction ="1"})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model @Model.VehicleInfo.Derivative">@Model.VehicleInfo.Derivative</a></li>
            }
            else
            {
                <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make})" title="@Model.VehicleInfo.Make">@Model.VehicleInfo.Make</a></li>
                <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model">@Model.VehicleInfo.Model</a></li>
                <li><a href="@Url.Search(new {Model.VehicleInfo.VehicleType, Model.VehicleInfo.Make, Model.VehicleInfo.Model, Model.VehicleInfo.Derivative})" title="@Model.VehicleInfo.Make @Model.VehicleInfo.Model @Model.VehicleInfo.Derivative">@Model.VehicleInfo.Derivative</a></li>
            }

        </ul>

        <div class="page-header">
            <h1 class="title">@(Model.VehicleInfo.Make + " " + Model.VehicleInfo.Model) <small>@Model.VehicleInfo.Derivative</small></h1>
        </div>
        <div class="listing-view">
            <div class="row">
                <div ng-cloak class="col-sm-7 col-sm-push-5 col-md-6 col-md-push-6 lot-detail">
                   @Html.Partial("_images")
                </div>
                <div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-6 lot-bids">
                    <!-- PRICING -->
                    <div ng-if="lotStatusChanged">
                        <h3>Status has changed.</h3>
                        <p>Please <a href="@Url.Lot(Model.ListingId, Model.Title.ToSlug())">refresh page</a>, to view the latest information</p>
                    </div>
                    <div ng-if="!lotStatusChanged">
                        @if (Model.SellingStatus.CurrentPrice != null)
            {
                if (Model.SellingStatus.IsAt(LotStatus.Reserved))
                {
                    Html.Snippet("vehicles/single/reserved/explanation_content")
                        .HtmlExpected()
                        .Otherwise(@<text>{%raw%}
                            <h3>This vehicle has been reserved</h3>
                            <p>Try <a href="{{ {vehicleType: listing.vehicleInfo.vehicleType, make: listing.vehicleInfo.make, model: listing.vehicleInfo.model} | searchUrl }}">searching for other {{ listing.vehicleInfo.make}} {{listing.vehicleInfo.model}}'s</a>.</p>
                            {%endraw%}</text>)
                                    .Render();
                            }
                            else
                            {
                                @Html.Partial("_Pricing")
                            }
                        }
                        else
                        {
                            <a href="@Url.LoginAndReturn()"><button class="btn btn-danger btn-lg" type="button">Sign in to view price</button></a>
                        }
                        <hr />
                    </div>
                    <!-- / PRICING -->
                    <!-- CORE INFO -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="key-properties">
                                @Html.Partial("_KeyProperties")
                            </div>
                        </div>
                        <div data-lot-spec-callout data-spec-lot="lot" data-spec-limit="6">
                            <div class="col-md-6" ng-show="calloutSpecifications">
                                <div class="detail-lot-spec-callouts">
                                    <div class="well well-small">
                                        <h4>Key features</h4>
                                        <ul class="">
                                            <li data-ng-repeat="callout in calloutSpecifications" data-ng-class="{'emphasise':callout.emphasise}">{{callout.displayName}}</li>
                                        </ul>
                                        <p><a class="view-spec" ng-click="showSpec()">View Full Specification...</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / CORE INFO -->
                </div>
            </div>
            @Html.Partial("_fullspec")

            <users-also-viewed listing-id="@Model.ListingId" take="4"></users-also-viewed>
        </div>
    </div>
</section>
