﻿@using System.Globalization
@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewBag.MetaTitle = Model.VehicleInfo.Make + ": " + Model.VehicleInfo.Model;
    ViewBag.BodyCssClass = "result detail cars";

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotDetailController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotFinanceController.js");
    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/UsersAlsoViewedDirective.js");
    Bundles.Reference<ScriptBundle>("jquery/scrollTo");
}

<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.ListingId">
    <script type="text/ng-template" id="callbackform.html">
        @Html.Partial("_Ng-CallbackForm")
    </script>
    <script type="text/ng-template" id="reservation-form.html">
        @Html.Partial("_Ng-ReservationForm")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>
    <script type="text/ng-template" id="bid-history-dialog.html">
        @Html.Partial("_Ng-BidHistoryDialog")
    </script>
    <script type="text/ng-template" id="finance-video-dialog.html">
        @Html.Partial("_Ng-FinanceVideoDialog")
    </script>
    <script type="text/ng-template" id="users-also-viewed.html">
      <div class="usersalsoviewed" ng-if="listings">
        <h3>What did other viewers view after looking at this vehicle</h3>
        <ul class="list-unstyled row vehicles-thumbnails">
            <li class="col-xs-12 col-sm-4 col-md-3" ng-repeat="vehicle in listings">
                @Html.Partial("_ng-lotcard")
            </li>
        </ul>
      </div>
    </script>

    <div ng-controller="LotDetailController" ng-cloak>

        <div class="row">
          <nav class="inner breadcrumb">
            <a href="/">Home</a> &gt;
            <a href="/used-@(Model.VehicleInfo.VehicleType.ToSlug())s">@(Model.VehicleInfo.VehicleType)S</a> &gt;
            <a href="/used-@(Model.VehicleInfo.VehicleType.ToSlug())s/@Model.VehicleInfo.Make.ToSlug()" title="@Model.VehicleInfo.Make">@Model.VehicleInfo.Make</a> &gt;
            <a href="/used-@(Model.VehicleInfo.VehicleType.ToSlug())s/@Model.VehicleInfo.Make.ToSlug()/@Model.VehicleInfo.Model.ToSlug()" title="@Model.VehicleInfo.Make">@Model.VehicleInfo.Make @Model.VehicleInfo.Model</a>
          </nav>
        </div>


        <div class="row detailnav">
            <div class="inner">
                <div class="col-xs-12 col-sm-7">
                    <a class="finance b2" ng-click="showFinance()"><span>Finance calculator</span><img src="@Url.UserContent("page/arrow-b2-right.png")" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-2">

                </div>
                <div class="col-xs-12 col-sm-3">
                    @if (Context.Request.UrlReferrer != null && Context.Request.UrlReferrer.Host == Context.Request.Url.Host)
                    {
                        <a href="@Context.Request.UrlReferrer.ToString()">&lt;&nbsp; BACK TO PREVIOUS PAGE</a>
                    }
                    else
                    {
                        <a href="/used-@(Model.VehicleInfo.VehicleType.ToLower())s">&lt;&nbsp; GO TO SEARCH</a>
                    }
                </div>
            </div>
        </div>

        <div class="row productSplash">
            <div class="inner row">
                <div class="sectionIntro col-sm-6 col-md-7 col-lg-5">

                    <h1>@Model.VehicleInfo.Make @Model.VehicleInfo.Model</h1>
                    <h2>@Model.VehicleInfo.Derivative</h2>

                    <div class="price">@if (Model.ListingInfo.BuyItNowPrice.Amount > 0)
                                       {
                                           <span>@Model.ListingInfo.BuyItNowPrice.ToCurrencyString()</span>
                                       }
                                       else
                                       {
                                           <span>@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                                       }
                        <small>
                           <span class="price-vat">@Html.PriceVatStatus(Model.PricesIncludeVat)</span>
                            @{
                                Html.Snippet("vehicles/all/price_postfix")
                                    .PlainTextExpected()
                                    .Template(@<span class="price-postfix">@item</span>)
                                    .Render();
                            }
                        </small>
                        @if (Tenant.IntegratesWith("Views/Lot/IncludeWasPrice") &&
                            Model.DiscountPriceInfo != null &&
                            Model.DiscountPriceInfo.HasSavingOver(Model.ListingInfo.BuyItNowPrice, x => x.WasPrice))
                       {
                           <small>Was: <span>@Model.DiscountPriceInfo.WasPrice.ToCurrencyString()</span></small>
                       }
                    </div>

                    <div class="spec row">
                        <ul class="col-xs-5 col-lg-5" id="myCars">
                            <li class="financeExample" ng-if="bestPriceFinanceExample" >
                                <a href="#financeTab" ng-click="showFinance()" role="tab" data-toggle="tab" class="disc">
                                    From
                                    {{ {currency:'GBP', amount: bestPriceFinanceExample.regularPayment} | money}}
                                    <span>p/month</span>
                                </a>

                            </li><!--
                                     --><li class="keyDetails">
                                            <ul>
                                                <li>
                                                    <i>Registration No.:</i> @Model.VehicleInfo.Registration.Plate
                                                </li>
                                                @if(Model.VehicleInfo.Mileage.HasValue)
                                                {
                                                    <li>
                                                        <i>Mileage:</i> @Model.VehicleInfo.Mileage.Value.ToString("n0")
                                                    </li>
                                                }
                                                <li>
                                                    <i>Plate:</i>
                                                    @if (Model.VehicleInfo.Registration.Yap.Split(':').Length > 1)
                                                    {
                                                        <span>@Model.VehicleInfo.Registration.Yap.Split(':')[1]</span>
                                                    }
                                                    @if (Model.VehicleInfo.Registration.Date.HasValue)
                                                    {
                                                        <span>(@Model.VehicleInfo.Registration.Date.Value.Year.ToString(CultureInfo.InvariantCulture))</span>
                                                    }
                                                </li>
                                            </ul>
                                        </li>
                        </ul>
                        <a href="#financeTab" ng-click="showFinance()" role="tab" data-toggle="tab" ng-if="bestPriceFinanceExample" class="view">
                            View Finance Example
                        </a>
                        <small ng-if="bestPriceFinanceExample" class="APR">(<span>{{(bestPriceFinanceExample.apr*100) | number:2}}%</span> representative APR)</small>

                        @if (Model.VehicleInfo.Specification.TaxRate != null)
                        {
                            <button class="taxdisc" disabled><span>@Model.VehicleInfo.Specification.TaxRate.RoadTax12Months.ToCurrencyString()</span></button>
                        }
                        <button ng-click="lotCallbacks.openForm(id, listing) | trackEvent:'Enquire now click':listing.vehicleInfo.vehicleType:listing.listingId" class="b1 enquire"><span>enquire now</span></button>
                        <button class="b1 testdrive" book-a-test-drive="listing"><span>request a test drive</span></button>
                        <button class="b1 makeoffer" make-an-offer="listing"><span>make us an offer</span></button>



                    </div>
                </div>
                <!--CARO**EL-->
                <!-- <div class="mgfy col-xs-12 col-sm-6 col-md-5 col-lg-7 nopad"> -->
                <div class="mgfy col-xs-12 col-sm-6 col-md-5 col-lg-7">
                    @Html.Partial("_images")
                </div>
                <!--END CARO**EL-->
            </div>
        </div>

        <div class="content row">
            <!-- Tabular data -->
            <div class="inner datatables">
                <div class="col-xs-12 col-md-6">
                    <!-- Key features -->
                    <div lot-spec-callout data-spec-lot="lot" spec-limit="6">
                        <table class="red icon" ng-show="calloutSpecifications">
                            <caption>
                                <span>Key features</span>
                            </caption>
                            <tr>
                                <td ng-repeat="callout in calloutSpecifications | limitTo:3" ng-class="{'emphasise':callout.emphasise}">
                                    <img width="24" height="24" src="/content/usercontent/gfs/page/icon-{{callout.displayName | slugify}}-white-sm.png" alt="{{callout.displayName}}">
                                    <span>{{callout.displayName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td ng-repeat="callout in calloutSpecifications | limitTo:6" ng-if="$index >= 3" ng-class="{'emphasise':callout.emphasise}">
                                    <img width="24" height="24" src="/content/usercontent/gfs/page/icon-{{callout.displayName | slugify}}-white-sm.png" alt="{{callout.displayName}}">
                                    <span>{{callout.displayName}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <!-- Eco info -->
                    <table class="green">
                        <caption>
                            <span>Eco info</span>
                        </caption>
                        <tr>
                            <td><span>Combined (mpg) : @Model.VehicleInfo.Specification.Economy.Combined</span></td>
                            <td><span>Insurance Group : @Model.VehicleInfo.Specification.InsuranceGroup</span></td>
                        </tr>
                        <tr>
                            <td><span>Emissions/Co2 (g/km) : @Model.VehicleInfo.Specification.Co2</span></td>
                            <td><span>Pence per mile :
                                    @if (Model.VehicleInfo.Specification.Economy.CostPerUnitDistanceTravelled != null)
                                    {
                                        @Model.VehicleInfo.Specification.Economy.CostPerUnitDistanceTravelled.Units()<text>p</text>
                                    }</span></td>
                        </tr>
                    </table>
                </div>

                <div class="col-xs-12 col-md-6">
                    <!-- buttons -->
                    <a class="send b2" send-to-friend="lot"><span>Send to a friend</span><img src="@Url.UserContent("page/arrow-b2-right.png")" alt=""></a>
                    <a onclick="javascript: window.open(this.href, '_blank').focus(); return false;" href="@Url.RouteUrl("Vehicles:Listing:Brochure", new { id = Model.ListingId })" class="print b2"><span>Print car details</span><img src="@Url.UserContent("page/arrow-b2-right.png")" alt=""></a>
                </div>

                <div class="col-xs-12 col-md-6">
                    <!-- Other info -->
                    <table class="blue">
                        <caption>
                            <span>Other vehicle info</span>
                        </caption>
                        <tr>
                            <td><span>Fuel: @Model.VehicleInfo.FuelType</span></td>
                            <td><span>Colour: @Model.VehicleInfo.BodyColour</span></td>
                        </tr>
                        <tr>
                            <td><span>Gearbox: @Model.VehicleInfo.Transmission</span></td>
                            <td><span>Registration date: @(Model.VehicleInfo.Registration.Date.HasValue ? Model.VehicleInfo.Registration.Date.Value.ToString("dd MMM yyyy") : "")</span></td>
                        </tr>
                    </table>
                </div>

            </div>
            <!-- End Tabular data -->
        </div>
        <div class="content row">
            <div class="inner">
                @Html.Partial("_fullspec")

                <users-also-viewed listing-id="@Model.ListingId" take="4"></users-also-viewed>
            </div>
        </div>
    </div>
</section>
