﻿@using Cassette.Scripts
@using Sfs.EStore.Web.App
@model ListingViewModel
@{
    ViewBag.MetaTitle = Model.Title;
    ViewBag.PageTitle = null;// string.Format("{0} {1} <small>{2}</small>", Model.Make, Model.Model, Model.Derivative);

    Bundles.Reference<ScriptBundle>("~/areas/vehicles/scripts/show/app.Controllers.LotDetailController.js");
}
<section ng-app="app" id="ng-app" ng-cloak ng-init="id=@Model.ListingId">
    <script type="text/ng-template" id="bid-history-dialog.html">
        @Html.Partial("_Ng-BidHistoryDialog")
    </script>
    <div ng-controller="LotDetailController">
        <ul class="breadcrumb hide-print" ng-show="loaded">
            <li ng-if="previousSearch"><a href="{{ previousSearch }}">Back to results</a> <span class="text-muted">or jump to...</span></li>
            <li ng-if="!previousSearch"><a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model, derivative: lot.vehicleInfo.derivative} | searchUrl }}">Go to search</a> <span class="divider">or jump to...</span></li>
            <li><a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make} | searchUrl }}">{{ lot.vehicleInfo.make }}</a></li>
            <li><a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model} | searchUrl }}">{{ lot.vehicleInfo.model }}</a></li>
            <li><a href="{{ {vehicleType: lot.vehicleInfo.vehicleType, make: lot.vehicleInfo.make, model: lot.vehicleInfo.model, derivative: lot.vehicleInfo.derivative} | searchUrl }}">{{ lot.vehicleInfo.derivative }}</a></li>
        </ul>
        <ul class="breadcrumb" ng-hide="loaded">
            <li>&nbsp;</li>
        </ul>
        
        <div class="page-header">
            <h2 class="title">@Model.Title></h2>
        </div>

        <div ng-if="!loaded">
            <p>Loading...</p>
        </div>
        <div ng-show="loaded">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 lot-detail">
                    @Html.Partial("_images")
                </div>
                <div class="col-sm-6 col-sm-pull-6 lot-bids">
                    @if(Model.SellingStatus.IsAt(LotStatus.EndedWithSales))
                    {
                        <h3>Sold</h3>
                        if (Model.SellingStatus.CurrentPrice != null && Model.SellingStatus.CurrentPrice != null)
                        {
                            <p>This vehicle was sold for @Html.Money(Model.SellingStatus.CurrentPrice)</p>
                        }
                    }
                    else if (Model.SellingStatus.IsAt(LotStatus.EndedWithoutSales) && Model.SellingStatus.CurrentPrice != null)
                    {
                        <h3>Sold - reserve not met</h3>
                        <p>This vehicle had a winning bid of @Html.Money(Model.SellingStatus.CurrentPrice) but the reserve was not met</p>
                    }
                    else if (Model.SellingStatus.IsAt(LotStatus.EndedWithoutSales))
                    {
                        <h3>Unsold</h3>
                    }
                    @Html.Partial("_bidhistorybutton")
                    
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="key-properties">
                                <ul class="list-unstyled vehicle-summary">
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration No.: </b> {0}", (Model.VehicleInfo.Registration.Plate ?? "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b> Registration Date: </b> {0}", (Model.VehicleInfo.Registration.Date.HasValue ? Model.VehicleInfo.Registration.Date.Value.ToString("dd-MM-yyyy") : "(Unknown)")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Mileage:</b> {0}", (Model.VehicleInfo.Mileage.HasValue ? Model.VehicleInfo.Mileage.Value.ToString("#,##0") : "0")))
                                    </li>
                                    <li>
                                        @Html.Raw(string.Format("<b>Plate:</b> {0}", ""))
                                        @if (Model.VehicleInfo.Registration.Yap.Split(':').Length > 1)
                                        {
                                            <span>@Model.VehicleInfo.Registration.Yap.Split(':')[1]</span>
                                        }
                                        @if (Model.VehicleInfo.Registration.Date.HasValue)
                                        {
                                            <span>(@Model.VehicleInfo.Registration.Date.Value.Year.ToString())</span>
                                        }
                                    </li>
                                    <li>@Html.Raw(string.Format("<b>Engine:</b> {0}", @Model.VehicleInfo.EngineDescription))</li>
                                    <li>@Html.Raw(string.Format("<b>Fuel Type:</b> {0}", @Model.VehicleInfo.FuelType))</li>
                                    <li>@Html.Raw(string.Format("<b>Transmission:</b> {0}", @Model.VehicleInfo.Transmission))</li>
                                    <li>@Html.Raw(string.Format("<b>Colour:</b> {0}", Model.VehicleInfo.BodyColour))</li>
                                </ul>                            
                                @if (Model.VehicleInfo.Specification.Economy.Combined > 0 || Model.VehicleInfo.Specification.Co2 > 0)
                                {
                                    <h4>Running costs</h4>
                                    <ul class="running-costs">
                                
                                        <li>@string.Format("Combined (mpg) : {0}", Model.VehicleInfo.Specification.Economy.Combined);</li>
                                        <li>@string.Format("Emissions/Co2 (g/km) : {0}", Model.VehicleInfo.Specification.Co2)</li>
                                        <li>@string.Format("Insurance Group : {0}", Model.VehicleInfo.Specification.InsuranceGroup)</li>
                                
                                    </ul>
                                }
                            </div>
                        </div>
                        <div data-lot-spec-callout data-spec-lot="lot" data-spec-limit="6">
                            <div class="col-sm-6" data-ng-show="calloutSpecifications">
                                <div class="detail-lot-spec-callouts">
                                    <div class="well well-small">
                                        <h4>Key features</h4>
                                        <ul class="">
                                            <li data-ng-repeat="callout in calloutSpecifications" data-ng-class="{'emphasise':callout.emphasise}">{{callout.displayName}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_fullspec")
        </div>
    </div>
</section>
