/*ecl.css*/

/*================================*/
/*==============FONTS=============*/
/*

font-family:'HelveticaNeueW01-55Roma';
font-family:'HelveticaNeueW01-56It';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-46Ligh';

*/
/*================================*/
/*================================*/

/*Utility classes*/
html {
    overflow-y: scroll;
}


*[class*=col] .nopad,
.row .nopad {
    */padding-left:0;
    padding-right: 0;
    */;
}

.label-listing-reserved {
    display: none;
}


.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.row-main
{
    width: 99%;
    margin-right: 0;
    margin-left: 0;
}
.result .col-md-3 {
    padding-right: 0;
}

    .result .col-md-3:nth-child(4n+1) {
        clear: left;
    }

@media only screen and (max-width: 992px) {
    .result .col-sm-4:nth-child(3n+1) {
        clear: left;
    }

    .result .col-md-3:nth-child(4n+1) {
        clear: none;
    }
}
/*END MQ*/

.container {
    padding-right: 0;
    padding-left: 0;
}

.box h2 {
    margin-top: 0;
}

/* quick fix */
@media only screen and (max-width: 740px) {
    .result .ng-isolate-scope .col-xs-6 {
        float: none;
        width: 99%;
    }
}
/*END MQ*/


pre {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}


.contentSplash,
.result .productSplash,
.detail .productSplash {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

html body .container {
    width: auto !important;
}


/*Tweak for menu space*/
@media only screen and (max-width: 481px) {
    .content {
        padding: 0px !important;
    }
}
/*Tweak for mobile*/
@media only screen and (max-width: 749px) {

    #m1 {
        width: 100%;
    }

    #m2 {
        width: 100%;
    }

    #m3 {
        display: none;
    }

    #m4 {
        width: 100%;
    }

    #m5 {
        width: 100%;
    }

    #m6 {
        display: none;
    }

    #m7 {
        width: 100%;
    }

    #m8 {
        width: 100%;
    }

    #m9 {
        display: none;
    }
     #m10 {
        display: none;
    }
    #Search {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    html body .container {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}
/*END MQ*/


.panel-default > .panel-heading {
    background-color: rgb(216,216,216);
}


.container textarea,
.container input {
    text-align: left;
}

header + section {
    /*padding-top:200px;*/
    padding-top: 147px;
    text-align: left;
}

.result header + section {
    padding-top: 0;
}


.home header + section {
    padding-top: 38px;
}

section .inner header {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    header + section {
        padding-top: 0;
        text-align: left;
    }
}
/*END MQ*/


/*End utility classes*/

/*Splash*/

body {
    text-align: center;
    font-family: 'HelveticaNeueW01-55Roma', helvetica, arial, sans-serif;
    background-color: rgb(195,225,250);
    /*background-image:url(../images/page/splash-hh.jpg);*/
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

    body.supporting,
    body.result {
        background-image: none;
        background-color: rgb(255,255,255);
    }

h3 {
    color: rgb(0,0,0);
}

@media only screen and (max-width:768px) {

    body {
        background-position: 50% 13%;
        background-size: 280%;
    }

    .homesplash {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 10px;
        /*padding-top:165px;*/
    }

        .homesplash img {
            width: 90%;
            padding-top: 97px;
        }

    .content {
        padding: 0 0 3em 0;
    }
}
/*END MQ*/


@media only screen and (min-width:250px) and (max-width:768px) {

    body.bannersearch {
        background-position: 50% 20%;
        background-size: 420%;
    }
}
/*END MQ*/


.splash .inner {
    display: none;
    width: 98%;
    margin: 0 auto;
}

.splash header {
    padding: 16px 0;
    background-color: rgb(255,255,255);
    background-image: url(../images/page/splash-header-stripe.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

    .splash header * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.splashTitle *,
.splashTitle {
    display: block;
    text-decoration: none;
}

.splashTitle {
    width: 98%; /*563/1021*/
    padding-top: 48%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

    .splashTitle img:nth-child(1) {
        width: 150%;
        margin: 0 auto 5% -25%;
    }

    .splashTitle img:nth-child(2) {
        margin: 0 auto;
    }

.splash footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 990;
    height: 60px;
    padding: 10px 0 0 0;
    background: rgba(0,0,0,.6);
}

    .splash footer nav {
        display: block;
    }

        .splash footer nav a {
            color: rgb(255,255,255);
            text-decoration: none;
        }


.splashSearch {
    display: block;
    margin: 2.5em auto 1em auto;
    text-align: center;
}

    .splashSearch label {
        display: block;
        margin: 0 auto;
    }

    .splashSearch input {
        display: inline-block;
        zoom: 1;
        *display: inline;
        width: 30%;
        minwidth: 300px;
        font-size: 1.1em; /* was 1.5em --> 2em */
        padding-left: .25em;
        padding-right: .25em;
        height: 3em; /* added */
    }


    .splashSearch .searchAround {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 54px;
        padding: .25em;
        background: rgb(80,93,103);
    }

    .splashSearch button {
        font-size: 1em;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        background: none repeat scroll 0% 0% rgb(80, 93, 103);
        width: 100%;
        height: 100%;
    }

        .splashSearch button:hover {
            background: rgb(203,34,50);
        }

/*============================================*/
/*Splash*/
/*============================================*/


/*===============*/
/*==== $SEARCH ===*/
/*===============*/

.search-quick {
    /*padding-top:1.5em;*/
    margin-bottom: 2em;
}

@media only screen and (max-width: 480px) {
    .search-quick {
        display: block;
        width: 95%;
        padding-top: .5em;
        margin-right: auto;
        margin-left: auto;
    }
}
/*END MQ*/

.searchPanel {
    display: none;
    /*position:fixed; Fixes search div issue */
    width: 100%;
    /*top:115px;*/
    top: 148px;
    padding-bottom: 1.5em;
    background: rgb(255,255,255);
    z-index: 99;
}

    .searchPanel .inner {
        position: relative;
        /*text-align:center;*/
    }

    .searchPanel form {
        text-align: left;
    }

    .searchPanel select,
    .searchPanel select {
        border: solid 1px rgb(182,182,182);
    }

    .searchPanel select {
        display: block;
    }

    .searchPanel a {
        display: block;
        text-decoration: underline;
    }

    .searchPanel h2 {
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-weight: normal;
        font-size: 0.9375em; /*15*/
        text-transform: uppercase;
    }
    /*.searchPanel form:nth-child(1) a,
		.searchPanel form:nth-child(1) h2{
			color:rgb(203,37,54);
		}
		.searchPanel form:nth-child(2) a,
		.searchPanel form:nth-child(2) h2{
			color:rgb(244,165,49);
		}*/

    .searchPanel button {
        display: block;
        width: 55%;
        padding-left: 1.5em !important;
        border: none;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 1.125em; /*18*/
        font-weight: normal;
        line-height: 38px; /*38*/
        text-transform: uppercase;
        text-align: left;
        background-image: url(../images/page/arrow-button.png);
        background-repeat: no-repeat;
        background-position: 100%;
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

        .searchPanel button:hover {
            background-position: 96%;
        }


@media only screen and (max-width: 1060px) {

    .searchPanel button {
        display: block;
        width: 70%;
        padding-left: 1.5em !important;
        border: none;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 0.875em; /*14*/
        font-weight: normal;
        line-height: 38px; /*38*/
        text-transform: uppercase;
        text-align: left;
        background-image: url(../images/page/arrow-button.png);
        background-repeat: no-repeat;
        background-position: 100%;
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

        .searchPanel button:hover {
            background-position: 96%;
        }
}
/*END MQ*/



.searchPanel .carSearch form fieldset .quick-search .submit button {
    background-color: rgb(206,34,50);
}

    .searchPanel .carSearch form fieldset .quick-search .submit button:hover {
        background-color: rgb(150, 9, 23);
    }

.searchPanel .vanSearch form fieldset .quick-search .submit button {
    background-color: rgb(247,167,26);
}

    .searchPanel .vanSearch form fieldset .quick-search .submit button:hover {
        background-color: rgb(204, 131, 3);
    }

.searchPanel form fieldset .quick-search .submit button i {
    display: none;
}

.carSearch .advanced,
.carSearch h2 {
    color: rgb(206,34,50);
}

.vanSearch .advanced,
.vanSearch h2 {
    color: rgb(247,167,26);
}

.searchPanel *[class*=col] {
    /*margin-bottom: 1.25em;*/
}

/*.searchTriggerClose{
		display:block;
		width:112px;
		height:60px;
		margin:0 auto;
		z-index:100;
	}*/

.advancedOptions {
    display: none;
}

.searchPanel .vehicletype {
    display: none;
}

.searchPanel .advanced {
    margin: 1.5em 0;
}

    .searchPanel .advanced a.advanced {
        text-decoration: none;
    }

    .searchPanel .advanced .btn {
        text-align: left;
        border: none;
    }


div.quick-search a.btn.advanced {
    padding-left: 5px;
}

/*==================*/
/*=== END SEARCH ===*/
/*==================*/


/*===========================*/
/*===== $HEADER & NAV BAR ====*/
/*===========================*/

header.navbar {
    background-image: url(../images/page/header-strip.png);
    /* background-image:url(../../images/page/header-strip.png); localhost */
    background-repeat: repeat-x;
    background-position: left bottom;
}

header .inner {
    text-align: left;
}

header .brandBar {
    min-height: 94px;
    padding: .5em 0;
    margin-bottom: 0;
}

.brandBar img {
    padding-top: .5em;
    height: 64px;
}

.brandBar .companyInfo a {
    color: rgb(255,255,255);
}


.brandBar .companyInfo {
    font-size: .8125em;
    text-align: right;
}

    .brandBar .companyInfo b {
        display: block;
        font-family: 'HelveticaNeueW01-65Medi', arial, helvetica, sans-serif;
        /*font-size:1.769230769em;*/
        font-size: 2.5em;
        font-weight: normal;
        color: rgb(255,255,255);
    }


.companyNav {
    display: table;
    width: 100%;
}

    .companyNav a {
        display: table-cell;
        text-align: right;
    }

header .inner .navbar {
    margin-bottom: 0;
    /*padding:22px 0 16px 0;*/
    padding: 0 0 16px 0;
}

header .navbar.row {
    background-color: rgb(255,255,255);
}


@media only screen and (max-width: 480px) {
    header .brandBar {
        width: 100%;
        padding: 0 2.5%;
    }

        header .brandBar .companyInfo div {
            width: 100%;
            text-align: left;
        }

            header .brandBar .companyInfo div b {
                font-size: 1.5em;
            }
}
/*END MQ*/


.mainNav {
    background-color: #ffffff;
}

    .mainNav a {
        margin-right: 10px; /* was 30px */
        color: rgb(183,183,183);
        font-size: 0.8125em; /*13*/
        font-family: 'HelveticaNeueW01-55Roma', helvetica, arial, sans-serif;
        text-transform: uppercase;
        /*text-shadow: 0 0 1px rgb(183,183,183);*/
    }


        .mainNav a.active {
            color: rgb(0,0,0);
        }

        .mainNav a:hover {
            color: rgb(2,111,183);
            text-decoration: underline;
        }


    .mainNav .navbar-toggle {
        border-color: #dddddd;
    }

        .mainNav .navbar-toggle:hover,
        .mainNav .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .mainNav .navbar-toggle .icon-bar {
            background-color: #cccccc;
        }


    .mainNav .navbar-collapse {
        max-height: 340px;
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        border-top: 1px solid #e7e7e7;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -webkit-overflow-scrolling: touch;
    }


    header#header .navbar .navbar-collapse,
    .mainNav .navbar-collapse {
        margin-top: 0;
    }



@media only screen and (min-width: 768px) {
    .mainNav .navbar-collapse {
        border-top: none;
    }
}
/*END MQ*/


@media only screen and (min-width: 992px) {
    .mainNav a {
        margin-right: 30px;
    }
}
/*END MQ*/


/*.navbar .searchTrigger{
	position:absolute;
	bottom:-32px;
	right:0;
	right:45%;
	margin-bottom:-29px;
}*/

.navbar-fixed-top {
    background: rgb(159,204,241);
    color: rgb(255,255,255);
}

.result.cars .navbar-fixed-top {
    background-color: rgb(206,33,50);
}

.result.vans .navbar-fixed-top {
    background-color: rgb(247,167,26);
}

.supporting.servicing .navbar-fixed-top {
    background-color: rgb(178,164,106);
}

.supporting.about .navbar-fixed-top {
    background-color: rgb(92,65,43);
}

.supporting.contact .navbar-fixed-top {
    background-color: rgb(44,45,39);
}

.supporting.finance .navbar-fixed-top {
    background-color: rgb(39,53,144);
}

.supporting.maintenance .navbar-fixed-top {
    background-color: rgb(92,65,43);
}

.supporting.offers .navbar-fixed-top {
    background-color: rgb(216,102,29);
}

.supporting.partex .navbar-fixed-top {
    background-color: rgb(216,102,29);
}

@media only screen and (max-width:480px) {
    header.navbar-fixed-top {
        position: static;
    }

    .navbar-nav > li > a {
        margin-left: 30px;
    }
}
/*END MQ*/

/*===========================*/
/*=== END HEADER & NAV BAR ==*/
/*===========================*/

/*===========================*/
/*====== MAIN $CONTENT =======*/
/*===========================*/

.breadcrumb {
    /*padding:25px 0 30px 1em;*/
    padding: 25px 0 10px 1em;
    font-size: 0.8125em; /*13*/
    color: rgb(209,209,209);
    text-align: left;
    color: rgb(206, 34, 50);
    background: none;
}

    .breadcrumb a {
        color: rgb(95,95,95);
    }

.detail .breadcrumb {
    padding-top: 180px;
}

@media only screen and (max-width: 480px) {

    .breadcrumb {
        margin-top: 2em;
        padding-bottom: 1em;
        border-bottom: solid 1px rgb(206, 34, 50);
    }

    .detail .breadcrumb {
        padding-top: 0;
        margin-top: .25em;
    }
}
/*END MQ*/

h3.resultCount,
.modelLinks a {
    font-size: .75em;
    color: rgb(206, 33, 50);
}

.content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 200px 0 3em 0;
}

.supporting .content,
.result .content,
.landing .content {
    padding: 0 0 3em 0;
}

.content .inner header h2 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 0 1em;
    margin: 0 auto 2em auto;
    font-family: 'HelveticaNeueW01-46Ligh', helvetica, arial, sans-serif;
    font-size: 1.9375em; /*31*/
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255,255,255);
}

/*
.result .sectionIntro{
	text-align: left;
	color:rgb(255,255,255);
	background: rgb(206, 33, 50);
	padding-top:3em;
	padding-bottom:3em;
}*/

@media only screen and (max-width: 480px) {
    .result.vans .sectionIntro {
        color: rgb(255,255,255);
    }
}

.cta {
    display: block;
    margin: 0 auto .5em 0;
}

    .cta img {
        max-width: 100%;
    }

@media only screen and (max-width: 480px) {
    .cta {
        display: none;
    }
}

/*=======================*/
/*=== TEXT FORMATTING ===*/
/*=======================*/

.text {
    text-align: left;
}

/*===========================*/
/*=== END TEXT FORMATTING ===*/
/*===========================*/

/*=============================*/
/*=== $FRONT PAGE NAV BOXES ===*/
/*=============================*/

.box {
    background-position: bottom;
    background-size: cover;
}

.boxcontent {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.375em 4.375em 1.25em 0.625em;
    background-image: url(../images/page/arrow-boxcontent.png);
    background-repeat: no-repeat;
    background-position: 93% 60%;
    text-align: left;
    color: rgb(255,255,255);
}

    .boxcontent:hover {
        text-decoration: none;
        color: rgb(255,255,255);
        cursor: pointer;
    }

        .boxcontent:hover h2 {
            background: rgb(255,255,255);
        }

.box.cars {
    background-image: url(../images/page/box-cars.jpg);
    background-color: rgb(206,34,50);
}

.cars .boxcontent {
    background-color: rgba(206,34,50,.8);
}

    .cars .boxcontent:hover h2 {
        color: rgb(206,34,50);
    }

.box.vans {
    background-image: url(../images/page/box-vans2.jpg);
    background-color: rgb(247,167,26);
}

.vans .boxcontent {
    background-color: rgba(247,167,26,.8);
}

    .vans .boxcontent:hover h2 {
        color: rgb(247,167,26);
    }

.box.servicing {
    background-image: url(../images/page/box-servicing.jpg);
    background-color: rgb(178,164,107);
}

.servicing .boxcontent {
    background-color: rgba(178,164,107,.8);
}

    .servicing .boxcontent:hover h2 {
        color: rgb(178,164,107);
    }

.box.maintenance {
    background-image: url(../images/page/box-maintenance.jpg);
    background-color: rgb(92,65,43);
}

.maintenance .boxcontent {
    background-color: rgba(92,65,43,.8);
}

    .maintenance .boxcontent:hover h2 {
        color: rgb(92,65,43);
    }

.box.finance {
    background-image: url(../images/page/box-finance.jpg);
    background-color: rgb(39,53,144);
}

.finance .boxcontent {
    background-color: rgba(39,53,144,.8);
}

    .finance .boxcontent:hover h2 {
        color: rgb(39,53,144);
    }

.box.offers {
    background-image: url(../images/page/box-offers.jpg);
    background-color: rgb(216,102,29);
}

.offers .boxcontent {
    background-color: rgba(216,102,29,.8);
}

    .offers .boxcontent:hover h2 {
        color: rgb(216,102,29);
    }


/*===============================*/
/*===END FRONT PAGE NAV BOXES ===*/
/*===============================*/

/*====================*/
/*=== $CONTACT FORM ===*/
/*====================*/

.contactForm {
}

    .contactForm select,
    .contactForm input {
        width: 100%;
        margin-bottom: 1em;
    }

    .contactForm fieldset {
        margin-bottom: 2em;
        text-align: left;
    }

        .contactForm fieldset ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .contactForm fieldset li {
            width: 100%;
            margin-bottom: 1em;
        }

            .contactForm fieldset li label,
            .contactForm fieldset li input,
            .contactForm fieldset li span {
                display: inline-block;
                zoom: 1;
                *display: inline;
                width: auto;
            }

            .contactForm fieldset li label {
                width: 50%;
            }

            .contactForm fieldset li span {
                width: 20%;
            }

            .contactForm fieldset li span {
            }

    .contactForm textarea,
    .contactForm select,
    .contactForm input,
    .contactForm span,
    .contactForm label {
        font-size: 0.8125em;
        font-weight: normal;
        color: rgb(103,103,103);
    }

    .contactForm fieldset li input[type="date"] {
        width: 100%;
    }

    .contactForm textarea {
        width: 100%;
    }

    .contactForm button {
        display: block;
        padding-left: .625em;
        margin-bottom: 1em;
        margin-left: 0.9375em;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 1.125em; /*18*/
        font-weight: normal;
        line-height: 38px; /*38*/
        text-transform: uppercase;
        text-align: left;
        background-image: url(../images/page/arrow-button.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-color: rgb(177,164,106);
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
/*====================*/
/*=== END CONTACT FORM ===*/
/*====================*/


/*=======================================*/
/*=== Heads up Johan, it's the $FOOTER ===*/
/*=======================================*/

footer.main {
    padding: 0.5em 0;
    background: rgb(255,255,255);
    border-top: solid 1px rgb(202,202,202);
}

    footer.main a {
        font-family: 'HelveticaNeueW01-55Roma', helvetica, arial, sans-serif;
        font-size: .875em;
        color: rgb(187,187,187);
    }

/*===================================*/
/*=== Woah Johan, no more $FOOTER ===*/
/*===================================*/

/*=========================*/
/*=== $RESULT GRID PAGE ===*/
/*=========================*/


.contentSplash,
.productSplash {
    margin-top: 190px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 200px;
    height: 200px;
}



.supporting.offers .contentSplash {
    background-image: url(../images/page/maintenance-splash.jpg);
}

.supporting.maintenance .contentSplash {
    background-image: url(../images/page/maintenance-splash.jpg);
}

.supporting.partex .contentSplash {
    background-position: right top;
}

@media only screen and (max-wdith:768px) {
    .supporting.partex .contentSplash {
        background-position: left top;
    }
}
/*END MQ*/
.supporting.finance .contentSplash {
    background-image: url(../images/page/finance-splash.jpg);
}

.supporting.servicing .contentSplash {
    background-image: url(../images/page/servicing-splash.jpg);
}

.landing.cars .productSplash {
    /*background-image:url(../images/page/cars-landing-splash.jpg);*/
    background-image: url(../images/page/car-splash.jpg);
}

.landing.vans .productSplash {
    background-image: url(../images/page/cars-landing-splash.jpg);
}

.landing .sectionIntro {
    background: none;
    padding-right: 0;
    /*padding-left:0;*/
    text-align: left;
}

@media only screen and (max-width:480px) {
    .landing .sectionIntro {
        background-color: #ce2132;
        padding-right: 0;
        /*padding-left:0;*/
        text-align: left;
    }
}
/*END MQ*/



.supporting .sectionIntro h1,
.landing .sectionIntro h1,
.supporting .sectionIntro h2,
.landing .sectionIntro h2 {
    color: rgb(255,255,255);
}

.supporting .sectionIntro h1,
.landing .sectionIntro h1 {
    margin-bottom: 0;
    font-family: 'HelveticaNeueW01-45Ligh', helvetica, arial, sans-serif;
    font-size: 3.063em; /*113*/
    font-weight: normal;
    letter-spacing: -.02em;
}

    .supporting .sectionIntro h1 i,
    .landing .sectionIntro h1 i {
        font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
        font-style: normal;
    }

.supporting .sectionIntro h2,
.landing .sectionIntro h2 {
    margin-top: 0;
    font-family: 'HelveticaNeueW01-46Ligh', helvetica, arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
}

.introduction {
    margin-bottom: 2em;
    font-size: 0.9375em; /*15*/
    text-align: left;
    color: rgb(103,103,103);
}

.landingLink {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: .625em;
    margin-bottom: 1em;
    color: rgb(255,255,255);
    font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
    /*font-size:1.125em;18*/
    font-size: .75em;
    font-weight: normal;
    line-height: 38px; /*38*/
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    background-image: url(../images/page/arrow-button.png);
    background-repeat: no-repeat;
    background-position: 100%;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.cars .landingLink {
    background-color: rgb(206,34,50);
}

.vans .landingLink {
    background-color: rgb(247,167,26);
}


.cars .introduction .landingLink,
.vans .introduction .landingLink {
    background-color: #d8661d;
}

.partex .landingLink {
    padding-right: 40px;
    border: none;
    background-color: rgb(216,102,29);
}

.landingLink:hover {
    color: rgb(255,255,255);
    text-decoration: none;
    background-position: 96%;
}


.model .landingLink {
    display: block;
    padding-left: .625em;
    margin-bottom: 1em;
    color: rgb(255,255,255);
    font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
    font-size: .725em; /* .875em / 18*/
    font-weight: normal;
    line-height: 30px; /*30*/
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    background-image: url(../images/page/arrow-button.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

    .model .landingLink:hover {
        color: rgb(255,255,255);
        text-decoration: none;
        background-position: 97%;
    }

    .model .landingLink.active,
    .landingLink.active {
        background-image: none;
        background-color: rgb(255,255,255);
        color: rgb(206,34,50);
        line-height: 26px;
        text-align: center;
        border: solid 2px rgb(206,34,50);
    }

.detail.vans .productSplash {
    /*background-image:url(../images/page/car-detail-bg.jpg);*/
    background-image: none;
}

.result.detail.cars .productSplash {
    /*background-image:url(../images/page/car-detail-bg.jpg);*/
    background-image: none;
    background-color: rgb(255,255,255);
}

.vans .productSplash {
    background-image: url(../images/page/corsa-splash.jpg);
}

.cars .productSplash {
    background-image: url(../images/page/cars-landing-splash.jpg);
}

.servicing .productSplash {
    background-image: url(../images/page/servicing_splash.jpg);
}

.detail .productSplash,
.contentSplash,
.productSplash {
    height: auto;
}

.contentSplash,
.productSplash {
    margin-top: 150px;
    background-color: rgb(206,33,50);
}

.detail .productSplash,
.results .productSplash {
    margin-top: 5px;
}


.supporting.partex .contentSplash {
    background-color: rgb(216,102,29);
}

.supporting.servicing .contentSplash {
    background-color: rgb(178, 164, 106);
}

    .supporting.servicing .contentSplash .sectionIntro h1,
    .supporting.servicing .contentSplash .sectionIntro h2 {
        color: rgb(178,164,106);
        text-shadow: 0 0 10px rgb(255,255,255);
    }

.supporting.finance .contentSplash {
    background-color: rgb(178, 164, 106);
}

    .supporting.finance .contentSplash .sectionIntro h1,
    .supporting.finance .contentSplash .sectionIntro h2 {
        color: rgb(39, 53, 144);
    }

.supporting.about .contentSplash {
    background-color: rgb(92, 65, 43);
}

    .supporting.about .contentSplash .sectionIntro h1,
    .supporting.about .contentSplash .sectionIntro h2 {
        color: rgb(0,0,0);
        text-shadow: 0 0 10px rgb(150,150,150);
    }


.supporting.partex .contentSplash .sectionIntro h1,
.supporting.partex .contentSplash .sectionIntro h2 {
    text-shadow: 0 0 10px rgb(150,150,150);
}

.landing.vans .productSplash .sectionIntro h1,
.landing.vans .productSplash .sectionIntro h2 {
    color: rgb(247, 167, 26);
}




@media only screen and (max-width:480px) {

    .landing.vans .productSplash .sectionIntro h1,
    .landing.vans .productSplash .sectionIntro h2,
    .cars .productSplash .sectionIntro h1,
    .cars .productSplash .sectionIntro h2 {
        color: rgb(255, 255, 255);
        margin-top: 0;
    }

    .result.detail.cars .productSplash .sectionIntro h1,
    .result.detail.cars .productSplash .sectionIntro h2 {
        color: #ce2132;
    }

    .landing.vans .sectionIntro,
    .result.vans .sectionIntro {
        background: rgb(247,167,26);
    }
}
/*END MQ*/





@media only screen and (max-width:640px) {

    .result.vans .sectionIntro h1,
    .result.cars .sectionIntro h1,
    .result.cars .sectionIntro p {
        color: rgb(255, 255, 255);
    }


    .contentSplash,
    .result .productSplash,
    .detail .productSplash {
        margin-top: 200px;
        background-size: auto 300px;
        background-position: bottom right;
    }

    .contentSplash,
    .productSplash {
        background-image: none !important;
    }

    .finance .contentSplash {
        color: rgb(255,255,255) !important;
        background-color: rgb(39,53,144) !important;
    }

    .supporting.finance .contentSplash .sectionIntro h1,
    .supporting.finance .contentSplash .sectionIntro h2 {
        color: rgb(255,255,255);
    }
}
/*END MQ*/



@media only screen and (max-width:660px) {



    .contact-us .contentSplash {
        background-color: rgb(44,45,39);
    }
}
/*END MQ*/

@media only screen and (max-width:480px) {

    .partex .contentSplash,
    .contentSplash,
    .result .productSplash,
    .detail .productSplash,
    .result .productSplash {
        /*margin-top:220px;*/
        margin-top: 0;
        background-position: 53% 0;
    }

        /* .result .productSplash .inner .sectionIntro{ 
					padding-top: 3.3em; was padding-top .5em 
					padding-bottom: 4em;
						height: 220px;
				}*/

        .detail .productSplash .inner .sectionIntro {
            padding-top: 3em;
            padding-bottom: 4em;
        }


    .result .breadcrumb,
    .detail .breadcrumb,
    .servicing .breadcrumb,
    .about .breadcrumb,
    .finance .breadcrumb,
    .partex .breadcrumb {
        margin-top: 0;
        padding-top: 12px;
    }



    .cars .productSplash {
        height: none;
    }
}
/*END MQ*/


.supporting .sectionIntro,
.detail.vans .sectionIntro,
.detail.cars .sectionIntro,
.result .sectionIntro {
    padding: 20px;
    margin: 1.5em 0 0 0;
    background: none;
    text-align: left;
}

@media only screen and (max-width:480px) {
    .supporting .sectionIntro,
    .detail.vans .sectionIntro,
    .detail.cars .sectionIntro,
    .result .sectionIntro {
        margin: 0;
    }
}
/*END MQ*/


.supporting .sectionIntro,
.detail.vans .sectionIntro {
    color: rgb(255,255,255);
}

.detail.cars .sectionIntro {
    color: rgb(206, 33, 50);
}

    .supporting .sectionIntro h1,
    .detail.vans .sectionIntro h1,
    .detail.cars .sectionIntro h1,
    .detail.vans .sectionIntro h2,
    .detail.cars .sectionIntro h2 {
        padding: 0;
        margin: 0;
        font-size: 2em;
        font-weight: normal;
    }

    .detail.vans .sectionIntro .price,
    .detail.cars .sectionIntro .price,
    .supporting .sectionIntro h1,
    .detail.vans .sectionIntro h1,
    .detail.cars .sectionIntro h1 {
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
    }

    .supporting .sectionIntro h2,
    .detail.vans .sectionIntro h2,
    .detail.cars .sectionIntro h2 {
        font-family: 'HelveticaNeueW01-45Ligh', helvetica, arial, sans-serif;
    }

    .detail.vans .sectionIntro .price,
    .detail.cars .sectionIntro .price {
        margin-bottom: 20px;
        font-size: 3.34375em; /*53.5*/
    }


        .detail.vans .sectionIntro .price .price-postfix,
        .detail.cars .sectionIntro .price .price-postfix {
            display: block;
            font-size: 0.355em; /*16*/
        }

        .detail.vans .sectionIntro .price small,
        .detail.cars .sectionIntro .price small {
            display: block;
        }


.detailnav {
    padding: 2em 0 0 0;
}

.detail .detailnav button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    float: left;
    margin-right: 20px;
}

.detail .detailnav a {
    font-family: 'HelveticaNeueW01-55Roma';
    font-size: 0.8125em;
    color: rgb(103,103,103);
}

.detailnav .finance.b2 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-right: 20px;
}

.detailnav a.finance.b2 {
    color: #fff;
}

@media only screen and (max-width: 320px) {

    .detail .detailnav,
    .detailnav .finance.b2 {
        padding-top: 0;
    }

        .detail .detailnav button
        /*.detailnav .finance.b2 */ {
            position: relative;
            display: block;
            width: 95%;
            height: 38px;
            text-align: left;
            border: green solid 1px;
        }

            .detail .detailnav button img
            /*.detailnav .finance.b2 */ {
                position: absolute;
                top: 0;
                left: 93%;
                border: red solid 1px;
            }

        .detail .detailnav a,
        .detailnav .finance.b2 {
            display: block;
            margin-bottom: 1.5em;
        }


    .detailnav .finance.b2 {
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: top;
        margin-right: 20px;
    }
}
/*END MQ*/

.spec {
    margin-bottom: 2em;
}

    .spec ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0 0 1em 0;
    }

@media only screen and (max-width: 320px) {
    .spec ul {
        margin-bottom: 0;
    }
}
/*END MQ*/

.spec .keyDetails,
.spec .financeExample {
    display: inline-block;
    vertical-align: top;
    color: rgb(103,103,103);
}

.spec .financeExample {
    width: 25%;
    text-align: left;
    color: rgb(170,210,237);
    font-family: 'HelveticaNeueW01-75Bold';
    font-size: 1.6875em;
}

    .spec .financeExample span {
        font-family: 'HelveticaNeueW01-55Roma';
        font-size: .555555556em;
    }

.spec .keyDetails {
    width: 73%;
    padding-top: 0;
}

.spec .financeExample .disc {
    position: relative;
    display: block;
    width: 85px;
    height: 85px;
    padding-top: 10%;
    margin: 0 auto 0 0;
    border: solid 1px rgb(170,210,237);
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    line-height: 21px;
}


    .spec .financeExample .disc a {
        font-size: 19px;
        line-height: 21px;
    }

    .spec .financeExample .disc span {
        position: absolute;
        bottom: 18%;
        left: 21%;
    }

.spec a.view {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    zoom: 1;
    margin-top: 10px;
    color: #0065a4;
    margin-bottom: 10px;
}




.spec i {
    font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
    font-weight: normal;
}

@media only screen and (max-width: 480px) {
    .spec .keyDetails,
    .spec .financeExample {
        width: 48%;
        padding-bottom: 15px;
    }

    .spec i {
        display: block;
    }
}
/*END MQ*/

.mgfy {
    position:;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    background: rgb(255,255,255);
}

    .mgfy .list-inline li {
        padding-right: 0;
        padding-left: 0;
        margin: 5px 0 0 3px;
    }

        .mgfy .list-inline li:nth-child(1) {
            margin: 5px 0 0 0;
        }


/* === DETAIL PAGE BUTTONS === */

.detail .b1 {
    display: block;
    width: 245px;
    margin-bottom: 1em;
    border-radius: 20px;
    border-color: transparent;
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'HelveticaNeueW01-75Bold';
    font-size: 0.875em;
    line-height: 2.214285714em;
    text-align: left;
    background: rgb(239,83,98); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(239,83,98) 0%, rgb(233,73,88) 13%, rgb(211,41,57) 43%, rgb(207,34,51) 53%, rgb(206,33,50) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,83,98)), color-stop(13%,rgb(233,73,88)), color-stop(43%,rgb(211,41,57)), color-stop(53%,rgb(207,34,51)), color-stop(100%,rgb(206,33,50))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5362', endColorstr='#ce2132',GradientType=0 ); /* IE6-9 */
}

    .detail .b1.enquire {
        margin-top: 20px;
        border: red solid 1px;
    }

    .detail .b1 span {
        display: block;
        padding-left: 40px;
        background-position: 4% 50%;
        background-repeat: no-repeat;
    }

    .detail .b1.enquire span {
        /*background-image:url(../../images/page/icon-phone-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-phone-white-sm.png);
    }

    .detail .b1.testdrive span {
        /*background-image:url(../../images/page/icon-car-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-car-white-sm.png);
    }

    .detail .b1.makeoffer span {
        /*background-image:url(../../images/page/icon-bubble-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-bubble-white-sm.png);
    }

.detail .b2 {
    display: block;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 0;
    /*padding:.615384615em 0;*/
    font-family: 'HelveticaNeueW01-65Medi';
    font-size: .8125em;
    color: rgb(255,255,255);
    border: solid 2px rgb(255,255,255);
    background: rgb(188,222,245); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(188,222,245) 0%, rgb(183,219,243) 22%, rgb(157,201,231) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(188,222,245)), color-stop(22%,rgb(183,219,243)), color-stop(100%,rgb(157,201,231))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdef5', endColorstr='#9dc9e7',GradientType=0 ); /* IE6-9 */
}


    .detail .b2.print,
    .detail .b2.send {
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: top;
        margin-right: 20px;
    }

    /*.detail .b2 img{
		display: inline-block;
		vertical-align: middle;
		width:35px;
		height:auto;
		margin-right:-20px;
	}*/
    .detail .b2 img {
        position: relative;
        left: 20px;
        width: 35px;
        height: auto;
    }

    .detail .b2 span {
        padding: 40px;
        background-repeat: no-repeat;
        background-position: left;
    }

    .detail .b2.send span {
        /*background-image:url(../../images/page/icon-b2-head-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-b2-head-white-sm.png);
    }

    .detail .b2.print span {
        /*background-image:url(../../images/page/icon-b2-printer-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-b2-printer-white-sm.png);
    }

    .detail .b2.save span {
        /*background-image:url(../../images/page/icon-b2-save-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-b2-save-white-sm.png);
    }

    .detail .b2.reserve span {
        /*background-image:url(../../images/page/icon-b2-tick-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-b2-tick-white-sm.png);
    }

    .detail .b2.finance span {
        /*background-image:url(../../images/page/icon-b2-calculator-white-sm.png);*/
        background-image: url(/content/usercontent/gfs/page/icon-b2-calculator-white-sm.png);
    }


@media only screen and (max-width: 320px) {
    .detail .b2 span {
        height: 35px;
    }

    .detail .b1 {
        width: 100%;
    }
}
/*END MQ*/

.detail button.taxdisc {
    position: relative;
    float: right;
    width: 86px;
    height: 86px;
    border: none;
    /*background-image:url(../../images/page/taxdisc.png);*/
    background-image: url(/content/usercontent/gfs/page/taxdisc.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}

    .detail button.taxdisc span {
        position: absolute;
        top: 6%;
        left: 23%;
        right: 22%;
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 1.2em;
        text-align: center;
        color: rgb(255,255,255);
    }

@media only screen and (max-width: 320px) {

    .detail button.taxdisc {
        position: relative;
        top: -40px;
        margin: 1em auto -20px auto;
        float: none;
    }
}
/*END MQ*/




/* === DETAILS PAGE DATA TABLES === */


.datatables > div {
    margin-bottom: 1em;
}

    .datatables > div:nth-child(2n+1) {
        clear: left;
    }

.detail table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    color: rgb(255,255,255);
    border: solid 1px rgb(255,255,255);
}

    .detail table caption {
        min-height: 39px;
        font-family: 'HelveticaNeueW01-75Bold';
        font-style: italic;
        text-transform: uppercase;
        line-height: 2.785714286em;
    }

    .detail table th {
        font-family: 'HelveticaNeueW01-75Bold';
        font-style: italic;
        font-weight: normal;
        text-transform: uppercase;
    }

    .detail table td {
        border: solid 1px rgb(255,255,255);
        font-family: 'HelveticaNeueW01-55Roma';
    }


    .detail table.red.icon td {
        width: 33%;
    }

    .detail table td {
        padding: 9px 17px;
        word-break: break-word;
    }

    .detail table.red.icon td img {
        display: block;
        float: left;
    }

    .detail table.red.icon td span {
        display: block;
        margin-left: 2em;
    }


    .detail table.red {
        background: rgb(223,55,69);
    }

        .detail table.red caption {
            background: rgb(239,83,98); /* Old browsers */
            background: -moz-linear-gradient(top, rgb(239,83,98) 0%, rgb(233,73,88) 13%, rgb(211,41,57) 43%, rgb(207,34,51) 53%, rgb(206,33,50) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,83,98)), color-stop(13%,rgb(233,73,88)), color-stop(43%,rgb(211,41,57)), color-stop(53%,rgb(207,34,51)), color-stop(100%,rgb(206,33,50))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgb(239,83,98) 0%,rgb(233,73,88) 13%,rgb(211,41,57) 43%,rgb(207,34,51) 53%,rgb(206,33,50) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5362', endColorstr='#ce2132',GradientType=0 ); /* IE6-9 */
        }

    .detail table.green {
        background: rgb(77,185,73);
    }

        .detail table.green caption {
            background: rgb(82,183,79); /* Old browsers */
            background: -moz-linear-gradient(top, rgb(82,183,79) 0%, rgb(73,178,69) 26%, rgb(44,161,40) 79%, rgb(37,156,32) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(82,183,79)), color-stop(26%,rgb(73,178,69)), color-stop(79%,rgb(44,161,40)), color-stop(100%,rgb(37,156,32))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgb(82,183,79) 0%,rgb(73,178,69) 26%,rgb(44,161,40) 79%,rgb(37,156,32) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgb(82,183,79) 0%,rgb(73,178,69) 26%,rgb(44,161,40) 79%,rgb(37,156,32) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgb(82,183,79) 0%,rgb(73,178,69) 26%,rgb(44,161,40) 79%,rgb(37,156,32) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgb(82,183,79) 0%,rgb(73,178,69) 26%,rgb(44,161,40) 79%,rgb(37,156,32) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b74f', endColorstr='#259c20',GradientType=0 ); /* IE6-9 */
        }
    /*.detail table.blue{
	background:rgb(187,222,246);
}
.detail table.blue caption{
	background: rgb(188,222,245);
	background: -moz-linear-gradient(top,  rgb(188,222,245) 0%, rgb(183,219,243) 22%, rgb(157,201,231) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(188,222,245)), color-stop(22%,rgb(183,219,243)), color-stop(100%,rgb(157,201,231)));
	background: -webkit-linear-gradient(top,  rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%);
	background: -o-linear-gradient(top,  rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%);
	background: -ms-linear-gradient(top,  rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%);
	background: linear-gradient(to bottom,  rgb(188,222,245) 0%,rgb(183,219,243) 22%,rgb(157,201,231) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdef5', endColorstr='#9dc9e7',GradientType=0 );
}*/

    .detail table.blue {
        background: rgb(247,167,25);
    }

        /*PRO TIP: This is why you don't make class names based on colour because table.blue is now a version of sundown yellow...*/

        .detail table.blue caption {
            background: #f4b13d; /* Old browsers */
            background: -moz-linear-gradient(top, #f4b13d 0%, #ffb760 22%, #f7a719 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4b13d), color-stop(22%,#ffb760), color-stop(100%,#f7a719)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f4b13d 0%,#ffb760 22%,#f7a719 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f4b13d 0%,#ffb760 22%,#f7a719 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f4b13d 0%,#ffb760 22%,#f7a719 100%); /* IE10+ */
            background: linear-gradient(to bottom, #f4b13d 0%,#ffb760 22%,#f7a719 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b13d', endColorstr='#f7a719',GradientType=0 ); /* IE6-9 */
        }

@media only screen and (max-width: 480px) {

    .detail table.red.icon td img {
        display: none;
    }

    .detail table.red.icon td span {
        margin-left: 0;
    }
}
/* END MQ */


/* ===== Result grid ====== */

.result .listing {
    margin-bottom: 1em;
}


@media only screen and (max-width:320px) {
    .result .listing {
        width: 96%;
    }
}
/*END MQ*/

.result .listing .info {
    width: 94.7%;
    width: 100%;
    padding: 0;
    border: solid 1px rgb(225,225,225);
}


.listing .pic {
    position: relative;
}

    .listing .pic img {
        max-width: 100%;
    }

.listing .view {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding-right: 50px;
    color: rgb(255,255,255);
    font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
    font-size: 0.8125em; /*13*/
    line-height: 3.230769230769231em; /*42*/
    text-align: right;
    text-transform: uppercase;
    background-image: url(../images/page/arrow-boxcontent.png);
    background-position: 96%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.67);
}

    .listing .view.active {
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 0.8125em; /*13*/
        line-height: 3.230769230769231em; /*42*/
        text-align: right;
        text-transform: uppercase;
        background-image: url(../images/page/arrow-boxcontent.png);
        background-position: 96%;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,.67);
    }

.listing p,
.listing .price,
.inner .listing header {
    width: 95%;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: left;
}

.inner .listing header {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: left;
    background: none;
}

.listing header h3,
.listing header h4 {
    font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.27em;
    padding: 0;
    margin: 0;
}

.listing p {
    font-size: 0.8125em;
}

.listing .price {
    font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
    font-size: 1.875em; /*30*/
}

.vans .listing .price {
    color: rgb(247,167,26);
}

.cars .listing .price {
    color: rgb(203,37,54);
}

.listing .price span {
    font-family: 'HelveticaNeueW01-56It', helvetica, arial, sans-serif;
    font-size: 0.4333333333333333em; /*13*/
    color: rgb(0,0,0);
}




/*=============================*/
/*=== END $RESULT GRID PAGE ===*/
/*=============================*/

/*===========================*/
/*====SIDEBAR SEARCH FORM====*/
/*===========================*/

.sidePicker {
    width: 100%;
    margin: 0 auto 0 0;
    text-align: left;
}

    .sidePicker .form-group {
        margin-bottom: 2em;
    }

    .sidePicker a {
        font-size: 0.875em; /*14*/
        color: rgb(0,0,0);
    }

    .sidePicker .form-control {
        display: none;
    }

    .sidePicker .form-group .category {
        display: block;
        width: 100%;
        height: 14px;
        padding: 0 0 1.5em 0;
        margin-bottom: 1.5em;
        overflow: hidden;
        font-family: 'HelveticaNeueW01-56It', helvetica, arial, sans-serif;
        font-size: 0.9375em; /*15*/
        text-decoration: none;
        text-transform: uppercase;
        line-height: 14px;
        background-image: url(../images/page/plusminus.png);
        background-repeat: no-repeat;
        background-position: right top;
        border-bottom: solid 1px rgb(202,202,202);
    }

        .sidePicker .form-group .category.chosen {
            background-image: url(../images/page/plusminus.png);
            background-repeat: no-repeat;
            background-position: right 124%;
        }

a.selection {
    display: none;
    /*display:inline-block;*/
    zoom: 1;
    *display: inline;
    width: 45%;
    padding-right: 4.5%;
    font-size: 0.875em;
}

.derivative a.selection {
    width: 95%;
}

.selection.chosen {
    color: rgb(203,37,54);
}

button.btn.search-selected-value {
    /*display:none;*/
    /*padding-left:10%;*/
    color: rgb(255,255,255);
    /*background-image:url(../images/page/red-x.png);*/
    background-repeat: no-repeat;
    /*background-position:7%;*/
    background-color: rgb(204,37,54);
}




/*==========================*/
/*=== PART EXCHANGE BITS ===*/
/*==========================*/

.partex h2,
.partex h3,
.partex .previousQuotes th h3,
.partex .previousQuotes .coltop {
    color: rgb(215,101,29);
}

.partex h2,
.partex h3 {
    margin-bottom: .75em;
    font-size: 1.11625em;
}

.partex .text {
    margin-bottom: 2.2em;
}

.partex .step {
    padding: 24px 24px;
    margin-bottom: 2em;
    border: solid 1px rgb(215,101,29);
}

    .partex .step h3,
    .partex .previousQuotes th h3 {
        margin-top: 0;
    }

    .partex .previousQuotes p,
    .partex .previousQuotes td,
    .partex .step label {
        color: rgb(103,103,103);
    }

    .partex .step input {
        width: 75%;
        padding: .5em .75em;
        border: solid 1px rgb(215,101,29);
    }

    .partex .step.registration button {
        width: 50%;
    }

    .partex .step input,
    .partex .step input {
        margin-bottom: 1.5em;
    }

    .partex .step.mileage label {
        margin-bottom: .5em;
        display: block;
    }

    .partex .step.mileage input {
        display: block;
        width: 100%;
    }

.partex button.landingLink {
    width: 50%;
}

.partex .previousQuotes {
    padding: 24px 12px 48px 12px;
    background: rgb(251,240,233);
}

    .partex .previousQuotes table {
        width: 100%;
    }

.partex .step table {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    font-family: 'HelveticaNeueW01-75Bold', arial, sans-serif;
    font-size: 1.125em;
    color: rgb(189,189,189);
}

.partex .step button {
    display: inline-block;
    margin-right: 1em;
    font-family: 'HelveticaNeueW01-75Bold', arial, sans-serif;
    font-size: 1.125em;
}

    .partex .step button[disabled="disabled"] {
        background-color: rgb(228, 148, 97);
    }

    .partex .step button.working {
        background-color: rgb(228, 148, 97);
    }

.partex .altAction {
    font-family: 'HelveticaNeueW01-75Bold', arial, sans-serif;
    font-size: 1.125em;
    color: rgb(215,101,29);
    text-decoration: underline;
}


.partex .previousQuotes p,
.partex .previousQuotes td,
.partex .previousQuotes .coltop {
    font-size: .9375em;
}

.partex .partexFigure {
    margin-bottom: .85em;
    font-family: 'HelveticaNeueW01-75Bold', arial, sans-serif;
    font-size: 3.42875em;
    color: rgb(215,101,29);
}

.partex .partexThankyou {
    margin-bottom: .85em;
    font-family: 'HelveticaNeueW01-75Bold', arial, sans-serif;
    font-size: 2.42875em;
    color: rgb(215,101,29);
    /*color:rgb(0,0,0);
	text-shadow: 0 0 10px rgb(150,150,150);
	background-image: url(http://42ca7e9ecc8990fe1c43-e23a577f499448468f3b813059dad750.r32.cf3.rackcdn.com/about-us-banner-v3.jpg);
	background-size: cover;*/
    padding-right: 50%;
    background: url(http://gfs.estore.localhost/cassette.axd/file/content/themes/gfs/images/page/box-maintenance-a3e76048860245d2ee5037a09c477614cc4c9397.jpg) right top repeat-y;
}

@media only screen and (max-width: 775px) {
    .partex .partexThankyou {
        /*font-size: 1.5em;*/
        padding-right: 0;
        background: none;
    }
}



@media only screen and (max-width: 320px) {

    .partex .step.mileage input,
    .partex .step.registration input,
    .partex .step button,
    .partex .step.registration button {
        width: 100%;
    }

    .partex .spec tr td {
        display: block;
    }
}
/*END MQ*/

@media only screen and (max-width: 480px) {
    .partex .step .spec {
        display: block;
        width: 100%;
        margin-bottom: 2em;
    }

    .partex .step.mileage input,
    .partex .step button,
    .partex .step.registration button {
        width: 100%;
    }

    .partex .step.registration input {
        width: 100%;
    }

    .previousQuotes {
    }
}
/*END MQ*/



/*==========================*/
/*=== ACCORDION/TAB BITS ===*/
/*==========================*/


.contactPanel {
    text-align: left;
}

    .contactPanel h3 {
        color: rgb(206,33,50);
    }

    .contactPanel .address {
        color: rgb(103,103,103);
    }

.tabMap {
    width: 653px;
    height: 247px;
    position: relative;
    margin-top: 50px;
    border: solid 1px rgb(206,33,50);
}

    .tabMap .mapKite {
        position: absolute;
        top: 37%;
        right: -21px;
        z-index: 99999;
    }

#finance {
    padding-top: 50px;
}

    #finance label {
        display: block;
    }

.tab-content .tabvehicledetails {
    text-align: left;
}

    .tab-content .tabvehicledetails h3 {
        padding-top: .75em;
        padding-bottom: .75em;
        margin-bottom: 0;
        border-top: solid 1px rgb(208,30,44);
        border-bottom: solid 1px rgb(208,30,44);
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 0.75em;
        font-weight: normal;
    }

    .tab-content .tabvehicledetails ul {
        padding-right: 0;
        padding-left: 1em;
        background: rgb(251,239,240);
    }

        .tab-content .tabvehicledetails ul li {
            padding-top: .5em;
            padding-bottom: .25em;
            border-bottom: solid 1px rgb(194,194,194);
            font-size: 0.75em;
        }

.detail .nav-tabs {
    border-bottom: solid 1px rgb(206, 33, 50);
}

    .detail .nav-tabs > li {
        width: 23%;
        margin-right: 1%;
    }

        .detail .nav-tabs > li > a,
        .detail .nav-tabs > li > a:hover,
        .detail .nav-tabs > li > a:focus {
            color: rgb(255,255,255);
            background-color: rgb(206, 33, 50);
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
        }

        .detail .nav-tabs > li.active > a,
        .detail .nav-tabs > li.active > a:hover,
        .detail .nav-tabs > li.active > a:focus {
            color: rgb(206, 33, 50);
            border-color: rgb(206, 33, 50) rgb(206, 33, 50) transparent;
            -moz-border-top-colors: none;
            -moz-border-right-colors: none;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            border-image: none;
            background-color: rgb(255,255,255);
        }



@media only screen and (max-width:480px) {

    .tab-content .tabvehicledetails h3,
    .tab-content .tabvehicledetails ul {
        width: 95%;
    }

    .detail .nav-tabs {
        margin: 0 auto;
        text-align: center;
    }

        .detail .nav-tabs > li {
            display: inline-block;
            width: 48%;
            margin: 1px auto;
        }
}
/*END MQ*/

@media only screen and (max-width:320px) {
    .detail .nav-tabs > li {
        display: block;
        width: 100%;
    }
}
/*END MQ*/


.servicing .panel-default > .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

    .servicing .panel-default > .panel-heading .panel-title {
        width: 100%;
        height: 2em;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: -1px;
        margin-left: auto;
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 1.125em; /*18*/
        color: rgb(201,201,201);
        text-align: left;
        border-bottom: solid 1px rgb(216,216,216);
    }

.servicing .panel-default.active > .panel-heading .panel-title {
    color: rgb(176,163,109);
}

.servicing .panel .panel-heading .panel-title {
    padding-left: 48px;
    text-transform: uppercase;
    background-position: left;
    background-repeat: no-repeat;
    border: none;
}

.servicing .panel .panel-heading {
    background-image: url(../images/page/plusminus.png);
    background-repeat: no-repeat;
    background-position: 95% -40px;
}

.servicing .panel.active .panel-heading {
    background-position: 95% 5px;
}

.servicing .bookSerivce .panel-heading .panel-title {
    background-image: url(../images/page/icon-spanner-grey.png);
}

.servicing .bookSerivce.active .panel-heading .panel-title {
    background-image: url(../images/page/icon-spanner-sludge.png);
}

.servicing .bookMOT .panel-heading .panel-title {
    background-image: url(../images/page/icon-mot-grey.png);
}

.servicing .bookMOT.active .panel-heading .panel-title {
    background-image: url(../images/page/icon-mot-sludge.png);
}



/*Rules for sm and up*/
@media only screen and (min-width:750px) {

    /*=============================*/
    /*=== $FRONT PAGE NAV BOXES ===*/
    /*=============================*/

    .box {
        position: relative;
        height: 295px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top;
        border-right: solid 1px rgb(255,255,255);
        border-left: solid 1px rgb(255,255,255);
        width: 105%;
    }

    .boxcontent {
        position: absolute;
        bottom: 0;
        width: 100%;
        /*padding:22px 70px 20px 10px;*/
        padding: 1.375em 4.375em 1.25em 0.625em;
        background-image: none;
    }

        .boxcontent:hover h2 {
            background: rgba(0,0,0,0);
        }

        .boxcontent.active {
            background-image: url(../images/page/arrow-boxcontent.png);
            background-repeat: no-repeat;
            background-position: 93% 60%;
        }

        .boxcontent h2 {
            font-size: 0.9375em; /*15*/
            font-weight: bold;
        }

        .boxcontent p {
            display: none;
            font-size: 0.8125em; /*13*/
        }

    .box.cars {
        background-image: url(../images/page/box-cars.jpg);
        background-color: rgb(255,255,255);
    }

        .box.cars .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(206,34,50);
        }

    .box.vans {
        background-image: url(../images/page/box-vans2.jpg);
        background-color: rgb(255,255,255);
    }

        .box.vans .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(247,167,26);
        }

    .box.servicing {
        background-image: url(../images/page/box-servicing.jpg);
        background-color: rgb(255,255,255);
    }

        .box.servicing .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(178,164,107);
        }

    .box.maintenance {
        background-image: url(../images/page/box-maintenance.jpg);
        background-color: rgb(255,255,255);
    }

        .box.maintenance .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(92,65,43);
        }

    .box.finance {
        background-image: url(../images/page/box-finance.jpg);
        background-color: rgb(255,255,255);
    }

        .box.finance .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(39,53,144);
        }

    .box.offers {
        background-image: url(../images/page/box-offers.jpg);
        background-color: rgb(255,255,255);
    }

        .box.offers .boxcontent {
            background-color: rgba(0,0,0,.6);
            border-bottom: 14px solid rgb(216,102,29);
        }

    /*================================*/
    /*=== END FRONT PAGE NAV BOXES ===*/
    /*================================*/


    body {
        /*background-image:url(../images/page/splash.jpg);*/
        background-repeat: no-repeat;
        background-position: top;
        background-position: 50% 525%;
        background-position: 50% -330px;
    }

        body.splashPage {
            background-position: center 34%;
        }

    .nonsplash {
        display: block;
    }

    .splash {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 70px;
        color: rgb(255,255,255);
    }

        .splash a {
            color: rgb(255,255,255);
            text-decoration: none;
        }

            .splash a:hover {
                text-decoration: underline;
            }

        .splash .inner {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
        }

        .splash header {
            text-align: left;
        }

            .splash header a {
                color: rgb(183,183,183);
            }

            .splash header nav {
                display: inline-block;
                zoom: 1;
                *display: inline;
            }

                .splash header nav:nth-child(1) {
                    float: left;
                }

                    .splash header nav:nth-child(1) a {
                        margin-right: 2em;
                    }

                .splash header nav.socialNav {
                    padding: 10px 0;
                    /*float:right;*/
                }



    .splashTitle {
        width: 100%; /*563/1021*/
        max-width: 1024px;
        padding-top: 17%;
        margin: 0 auto;
        text-align: center;
    }

        .splashTitle img:nth-child(1) {
            width: 150%;
            margin-bottom: 5%;
        }

        .splashTitle img {
            margin: 0 auto;
        }

            .splashTitle img:nth-child(1) {
                width: 100%;
                max-width: 1024px;
                margin-right: auto;
                margin-left: auto;
            }






    /*===========================*/
    /*====== $MAIN CONTENT =======*/
    /*===========================*/




    .inner {
        width: 100%;
        /*max-width:1021px;*/
        max-width: 1096px;
        margin: 0 auto;
    }

    /*===========================*/
    /*===== $HEADER & NAV BAR ====*/
    /*===========================*/

    .mainNav a,
    .socialNav a {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    header .navbar.row {
        background: none;
    }

    /*================================*/
    /*=== END HEADER & NAV NAV BAR ===*/
    /*================================*/

    .homesplash {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /*height:345px;*/
        height: 375px;
        /*padding-top:165px;*/
        text-align: center;
    }

        .homesplash img {
            padding-top: 97px;
        }

    .content {
        padding-top: 0;
        background: rgb(255,255,255);
         /*background-image: url(../images/page/splash.jpg);*/
        /* background-size: cover;*/
    }

        .content .inner header {
            height: 100px;
            background-image: url(../images/page/small-grey-dot.png);
            background-position: 0 50%;
            background-repeat: repeat-x;
        }

            .content .inner header h2 {
                display: inline-block;
                zoom: 1;
                *display: inline;
                padding: 0 1em;
                margin: 0 auto;
                font-family: 'HelveticaNeueW01-46Ligh', helvetica, arial, sans-serif;
                font-size: 1.9375em; /*31*/
                font-weight: normal;
                line-height: 100px;
                text-transform: uppercase;
                color: rgb(183,183,183);
                background: rgb(255,255,255);
            }

    @media only screen and (max-width: 932px) {
        .content .inner header h2 {
            display: inline-block;
            zoom: 1;
            *display: inline;
            padding: 0 1em;
            margin: 0 auto;
            font-family: 'HelveticaNeueW01-46Ligh', helvetica, arial, sans-serif;
            font-size: 1.563em; /*25*/
            font-weight: normal;
            line-height: 100px;
            text-transform: uppercase;
            color: rgb(183,183,183);
            background: rgb(255,255,255);
        }
    }

    /*=============================*/
    /*=== $FRONT PAGE NAV BOXES ===*/
    /*=============================*/

    /*GONE FOR A MO*/

    /*=================================*/
    /*=== END $FRONT PAGE NAV BOXES ===*/
    /*=================================*/


    /*=======================================*/
    /*=== Heads up Johan, it's the $FOOTER ===*/
    /*=======================================*/

    footer.main {
        padding: 0.5em 0;
        background: rgb(255,255,255);
    }

        footer.main .inner,
        .splash footer .inner {
            padding: 18px 0;
        }

        footer.main .inner {
            width: 100%;
            max-width: 1021px;
            margin: 0 auto;
        }

    .splash footer .brand {
        float: left;
    }

    .splash footer nav {
        float: right;
    }

        footer.main nav a,
        .splash footer nav a {
            margin: 0 1em;
            font-style: italic;
        }

    /*===================================*/
    /*=== Woah Johan, no more $FOOTER ===*/
    /*===================================*/


    /*========================*/
    /*=== END MAIN CONTENT ===*/
    /*========================*/

    /*=========================*/
    /*=== $RESULT GRID PAGE ===*/
    /*=========================*/

    .contentSplash,
    .productSplash {
        margin-top: 148px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto 382px;
        height: 382px;
    }

    .contentSplash {
        margin-top: 0;
    }

    .sectionIntro {
        padding: 46px 55px;
        padding: 2em 3em;
        margin-top: 1.5em;
        color: rgb(255,255,255);
        text-align: left;
    }

    .cars .sectionIntro {
        background: rgb(206,33,50);
    }

    .vans .sectionIntro {
        background: rgb(247,167,26);
    }

    .sectionIntro h1 {
        margin: 0 0 .75 0;
        padding: 0;
    }

    .landing .sectionIntro {
        padding-right: 0;
        padding-left: 1.5em;
    }

    .landing.vans .sectionIntro,
    .landing.cars .sectionIntro {
        background: none;
    }


    .supporting .sectionIntro h1,
    .landing .sectionIntro h1,
    .supporting .sectionIntro h2,
    .landing .sectionIntro h2 {
        color: rgb(255,255,255);
    }

    .supporting .sectionIntro h1,
    .landing .sectionIntro h1 {
        margin-bottom: 0;
        font-family: 'HelveticaNeueW01-45Ligh', helvetica, arial, sans-serif;
        font-size: 7.0625em; /*113*/
        font-weight: normal;
        letter-spacing: -.02em;
    }

        .landing .sectionIntro h1 i {
            font-family: 'HelveticaNeueW01-65Medi', helvetica, arial, sans-serif;
            font-style: normal;
        }

    .supporting .sectionIntro h1 {
        font-family: 'HelveticaNeueW01-55Roma', helvetica, arial, sans-serif;
    }

    .supporting .sectionIntro h2,
    .landing .sectionIntro h2 {
        margin-top: 0;
        font-family: 'HelveticaNeueW01-46Ligh', helvetica, arial, sans-serif;
        font-size: 1.9375em;
        font-weight: normal;
        text-transform: uppercase;
    }

    .supporting.finance .sectionIntro h2,
    .supporting.finance .sectionIntro h1 {
        color: rgb(39,53,144);
    }

    .supporting.about .sectionIntro h2,
    .supporting.about .sectionIntro h1 {
        color: rgb(39,53,144);
    }


    .supporting.partex .sectionIntro h2,
    .supporting.partex .sectionIntro h1 {
        color: rgb(216,102,29);
    }

    .supporting.partex .sectionIntro h1 {
        font-size: 5em;
    }



    .linkBlock {
        display: block;
        padding: 6px 0 6px .625em;
        margin: 19px 0;
        line-height: 1.42em;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: .875em; /*18*/
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        background-color: rgb(206, 33, 50);
        background-image: url(../images/page/arrow-button.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: contain;
        -moz-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

        .linkBlock:hover {
            color: rgb(255,255,255);
            text-decoration: none;
            background-position: 97%;
        }


    /*======= Feature Panels Acccordion =======*/

    .features figure {
        text-align: center;
    }

        .features figure img {
            margin-bottom: 1em;
        }

        .features figure figcaption {
            font-family: 'HelveticaNeueW01-56It', helvetica, arial, sans-serif;
            font-size: 1.09375em;
            color: rgb(103,103,103);
        }

    .panel-default > .panel-heading {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: solid 1px rgb(216,216,216);
        background-color: rgb(255,255,255);
    }

    .panel.active > .panel-heading {
        border-bottom: solid 1px rgb(255,16,16);
    }

    .panel-default > .panel-heading .panel-title {
        width: 25%;
        height: 2em;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: -1px;
        margin-left: auto;
        font-family: 'HelveticaNeueW01-56It', helvetica, arial, sans-serif;
        font-size: 1.125em; /*18*/
        border-top: solid 1px rgb(216,216,216);
        border-right: solid 1px rgb(216,216,216);
        border-bottom: solid 1px rgb(255,255,255);
        border-left: solid 1px rgb(216,216,216);
    }

    .active.panel-default > .panel-heading .panel-title {
        border-top: solid 1px rgb(206,33,50);
        border-right: solid 1px rgb(206,33,50);
        border-bottom: solid 1px rgb(255,255,255);
        border-left: solid 1px rgb(206,33,50);
    }

    .panel-heading .panel-title a {
        text-decoration: none;
        font-weight: normal;
    }

    .panel-group.features .panel-body {
        width: 100%;
        max-width: 1021px;
        margin-right: auto;
        margin-left: auto;
        border-top: none !important;
        text-align: left;
    }

        .panel-group.features .panel-body h3 {
            font-size: 1em;
            line-height: 1.3em;
        }

        .panel-group.features .panel-body ul {
            margin-left: 0;
            padding-left: 0;
            font-size: 0.8125em; /*13*/
        }
}
/*END MQ*/


@media (min-width:750px) and (max-width:1001px) {
    .supporting.about .sectionIntro h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width:480px) and (max-width: 950px) {

    /* .contentSplash, */
    .productSplash {
        background-position: 70% 0;
    }
}
/*END MQ*/

@media only screen and (min-width:640px) and (max-width: 767px) {

    /*==========================*/
    /*=== LANDING PAGE HEADER ===*/
    /*==========================*/

    .contentSplash,
    .productSplash {
        margin-top: 120px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto 383px;
        height: 383px;
    }

    .contentSplash {
        margin-top: 0;
    }

    .splash {
        display: none;
    }
}
/*END MQ*/




/*QUICK SEARCH CLASSES*/

div.ng-scope[ng-controller="QuickSearchController"] {
    background: rgb(255,255,255);
}

/*div.quick-search .form-group {
		margin-bottom:1em;
	}*/

div.quick-search .ng-isolate-scope {
    margin-bottom: 1em;
}

    div.quick-search .ng-isolate-scope[value] {
        margin-bottom: 0;
    }


@media only screen and (min-width:640px) {
    div.quick-search .ng-isolate-scope {
        margin-bottom: 0;
    }

        div.quick-search .ng-isolate-scope[value] {
            margin-bottom: 0;
        }
}
/*END MQ*/


.quick-search select {
    height: 3em;
    font-size: 0.875em;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(0,0,0);
    /*margin-botton:2em;*/
    padding-bottom: 1em;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(0,0,0);
    border-left: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.btn.btn-primary.btn-block.submit {
    background-color: rgb(206, 33, 50);
}

    .btn.btn-primary.btn-block.submit:hover {
        background-color: rgba(150, 9, 23, 1);
    }

.quick-search .btn.submit {
    font-size: 1.125em;
    line-height: 1.666666667em;
}


/*RESULTS LIST REDO FOR EXISTING STRUCTURES*/

.vehicles-thumbnails {
    width: 100%;
}

    .vehicles-thumbnails li {
        font-family: 'HelveticaNeueW01-65Medi',helvetica,arial,sans-serif;
    }

    .vehicles-thumbnails .thumbnail {
        width: 100%;
        padding: 0;
        line-height: 1.2em;
    }

        .vehicles-thumbnails .thumbnail img {
            margin-bottom: .5em;
        }

.reduced-tag {
    margin-bottom: .5em;
    background-image: url(../../images/page/reduced-tag.png) !important;
    /* background-image:url(../../images/page/reduced-tag.png) !important; */
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 83px;
    width: 83px;
    position: absolute;
}

.vehicles-thumbnails .thumbnail .thumbnail-title {
    width: 92%;
    height: 2.5em;
    padding: 0 0 0 0;
    margin: 0 auto 20px auto;
    overflow: hidden;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.27em;
}

    .vehicles-thumbnails .thumbnail .thumbnail-title b {
        display: block;
        margin-top: .25em;
        font-size: .875em;
        font-weight: normal;
        color: rgb(203, 37, 54);
    }

.vehicles-thumbnails .thumbnail-title a,
.vehicles-thumbnails .thumbnail-title a {
    color: rgb(0,0,0);
}

ul.list-unstyled.row.vehicles-thumbnails {
    float: left;
}

.vehicles-thumbnails .thumbnail-vehicle-detail li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 48%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px auto;
    font-family: 'HelveticaNeueW01-55Roma',helvetica,arial,sans-serif;
    font-size: 0.8125em;
    font-weight: normal;
    line-height: 1em;
    text-align: left;
}

.vehicles-thumbnails .thumbnail .thumbnail-vehicle-detail {
    height: auto;
    padding-top: .5em;
    background-image: url(../images/page/small-grey-dot.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    font-size: 1em;
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing {
    text-align: left;
    margin-bottom: .3em;
}

.vehicles-thumbnails .thumbnail-listing-price {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px auto;
    text-align: left;
    font-size: 1.4em;
    font-weight: normal;
    color: rgb(203, 37, 54);
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-price-saving {
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-family: 'HelveticaNeueW01-56It',helvetica,arial,sans-serif;
    font-size: 0.433333em;
    font-size: 13px;
    color: rgb(0, 0, 0);
}



.detail.cars .sectionIntro small {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

    .detail.cars .sectionIntro small.APR {
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        zoom: 1;
        margin-top: 10px;
        color: #0065a4;
        margin-bottom: 10px;
    }


        .detail.cars .sectionIntro small.APR span {
            font-size: 19px;
            line-height: 20px;
            display: inline;
            margin-top: 10px;
            color: #0065a4;
        }

    .detail.cars .sectionIntro small span.price-postfix {
        color: rgb(206, 33, 50);
        font-size: 16px !important;
    }

.thumbnail-listing-post-price .price-postfix {
    padding-left: 10px;
}

.thumbnail-listing-post-price:first-child {
    padding-left: 10px;
}

.popular.vehicles-thumbnails .thumbnail .thumbnail-title {
    min-height: 5em;
}

.popular.vehicles-thumbnails .thumbnail-vehicle-detail li {
    display: block;
    width: auto;
    margin-bottom: .25em;
}

.popular.vehicles-thumbnails .thumbnail-listing-price,
.popular.vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-price-saving {
    display: block;
    padding: 0 10px;
}

.thumbnail .view {
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    display: none;
    padding-right: 50px;
    color: rgb(255,255,255);
    font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
    font-size: 0.8125em; /*13*/
    line-height: 3.230769230769231em; /*42*/
    text-align: right;
    text-transform: uppercase;
    background-image: url(../images/page/arrow-boxcontent.png);
    background-position: 96%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.67);
}

    .thumbnail .view.active {
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        color: rgb(255,255,255);
        font-family: 'HelveticaNeueW01-75Bold', helvetica, arial, sans-serif;
        font-size: 0.8125em; /*13*/
        line-height: 3.230769230769231em; /*42*/
        text-align: right;
        text-transform: uppercase;
        background-image: url(../images/page/arrow-boxcontent.png);
        background-position: 96%;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,.67);
    }


/*====NAV TWEAKING===*/

.container .inner .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0 padding-top:0;
    padding-bottom: 0;
}

.nav > li > a:hover {
    background: none;
    color: rgb(2, 111, 183);
    text-decoration: underline;
}

.nav > li > a:focus {
    background: none;
    color: rgb(183, 183, 183);
    text-decoration: underline;
}

/* Added because of menu update */
.mainNav .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 4px;
}


.mainNav li.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
}

header nav.socialNav {
    padding: 10px 0;
    /*float:right;*/
}

/*SIDEBAR CTA AD UNITS*/

.ad {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: table;
    padding: .5em;
    margin-bottom: 2em;
}

    .ad span:active,
    .ad span:focus,
    .ad span:hover,
    .ad:active,
    .ad:focus,
    .ad:hover {
        text-decoration: none;
    }

    .ad span,
    .ad img {
        display: block;
    }

    .ad span {
        text-align: left;
    }


/*General search page*/

.result.generalSearch form {
    margin-top: 164px;
}

.result.generalSearch .well {
    background: rgb(255,255,255);
}

.result.generalSearch select.form-control {
    width: 100%;
    height: 2.2em;
    font-size: 0.875em;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(130,130,130);
    /*margin-botton:2em;*/
    padding-bottom: .3em;
    border-top: none;
    border-right: none;
    /*border-bottom:solid 1px rgb(0,0,0);*/
    border-bottom: solid 1px rgb(160,160,160);
    border-left: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.result.generalSearch .form-group.vehicletype.vehicletype-full {
    width: 100%;
}

.result.generalSearch .form-group div[value] {
}

.result.generalSearch .form-group .btn.btn-primary.btn-block.submit {
    background-color: rgb(206, 33, 50);
}

    .result.generalSearch .form-group .btn.btn-primary.btn-block.submit:hover {
        background-color: rgba(150, 9, 23, 1);
    }

.result.generalSearch form-group .quick-search .btn.submit {
    font-size: 1.125em;
    line-height: 1.666666667em;
}

.result.generalSearch .btn.btn-primary,
.result.generalSearch .vehicletype .btn.active {
    background: rgb(206, 33, 50);
}

.saved-search,
.saved-search a,
#search_btn_clear {
    color: rgb(206, 33, 50);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: rgb(247,247,247);
}

.result.cars .pagination > .active > a,
.result.cars .pagination > .active > span,
.result.cars .pagination > .active > a:hover,
.result.cars .pagination > .active > span:hover,
.result.cars .pagination > .active > a:focus,
.result.cars .pagination > .active > span:focus {
    background: rgb(206, 33, 50);
}

.result.vans .pagination > .active > a,
.result.vans .pagination > .active > span,
.result.vans .pagination > .active > a:hover,
.result.vans .pagination > .active > span:hover,
.result.vans .pagination > .active > a:focus,
.result.vans .pagination > .active > span:focus {
    background: rgb(247,167,26);
    color: rgb(0,0,0);
}

.btn.btn-default.btn-block.advanced {
    color: rgb(206, 33, 50);
    line-height: 1.66667em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px rgb(206, 33, 50);
}



@media only screen and (max-width:480px) {
    .splashTitle {
        padding-top: 0;
        margin-bottom: 1.75em;
    }

    .splashSearch {
        margin-top: 0;
    }

        .splashSearch .searchAround,
        .splashSearch input {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }

        .splashSearch input {
            height: 3em;
            margin-bottom: .5em;
            font-size: 1em;
        }

    .splash {
        display: none;
        padding-bottom: 70px;
    }
}
/*END MQ*/

.finance table td {
    font-size: 14px;
    color: rgb(0,0,0);
}

.splash {
    display: none;
}

@media only screen and (min-width:668px) and (max-width: 1020px) {

    .cars .sectionIntro,
    .vans .sectionIntro {
        margin-top: 4em;
    }
}

/* Google map wrapper - styling code Oliver has added */

#map-wrapper {
    position: relative;
}

    #map-wrapper iframe {
        top: 0;
        left: 0;
        width: 100%;
    }

#mostViewed {
    padding-left: 15px;
    font-weight: bold;
    clear: both;
}

.padding-left {
    padding-left: 15px;
}

.table-condensed th.ng-binding {
    color: black;
}

input.ng-invalid {
    background-color: #FFD2D2;
}
