﻿/*
@reference "bootstrap.custom.css";
*/
.vehicles-table a.img {
  width: 100px\9;
  display: inline-block\9;
}

.navbar a.brand {
  display: inline-block\9;
  width: 150px\9;
}

.rsFullscreen {
  background-color: #111\9;
}

.side-bar section h3 {
  margin-top: 0;
}

.tab-content > .active {
  margin-top: 20px;
}

section.testimonial {
  border-bottom: 1px solid #eee;
}

section.testimonial h2 {
  color: #0065A4;
}

section.testimonial blockquote p {
  margin-bottom: 1em;
}

.content-aboutus img {
  margin-bottom: -20px;
  margin-right: -20px;
}

.carousel.vehicle-carousel {
  border: 1px solid #ddd;
}

@media (min-width: 1200px) {
  .carousel.vehicle-carousel .item {
    height: 276px;
    overflow: hidden;
  }
}

.carousel.vehicle-carousel .carousel-indicators {
  top: 0px;
  bottom: initial;
}

.carousel.vehicle-carousel .carousel-indicators li {
  background-color: #999;
}

.carousel.vehicle-carousel .carousel-indicators li.active {
  background-color: #E1134F;
}

.carousel.vehicle-carousel .media-lot {
  margin: 10px;
}

.carousel.vehicle-carousel .media-lot .media-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.carousel.vehicle-carousel .media-lot .media-heading .reg-date {
  white-space: nowrap;
  display: block;
  margin-top: 5px;
}

.carousel.vehicle-carousel .media-lot .media-heading .media-heading-make {
  font-weight: bold;
  font-size: 23px;
  padding-right: 3px;
}

.carousel.vehicle-carousel .media-lot .media-heading h4, .carousel.vehicle-carousel .media-lot .media-heading h3 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.carousel.vehicle-carousel .media-lot .media-heading .watch-toggle i {
  margin-top: 6px;
  display: inline-block;
}

.carousel.vehicle-carousel .media-lot .media-body h3.media-lot-pricing {
  font-weight: bold;
  font-size: 30px;
  color: #E1134F;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1em;
}

.carousel.vehicle-carousel .media-lot .media-body h3.media-lot-pricing .media-lot-listing-post-price {
  display: block;
}

.carousel.vehicle-carousel .media-lot .media-body h3.media-lot-pricing .media-lot-listing-price-saving {
  color: #E1134F;
  font-size: 14px;
}

.carousel.vehicle-carousel .media-lot .media-body h3.media-lot-pricing .media-lot-listing-post-price {
  display: block;
}

.carousel.vehicle-carousel .media-lot .media-body h3.media-lot-pricing .media-lot-listing-post-price small {
  font-size: 12px;
  color: #999;
}

.carousel.vehicle-carousel .media-lot .media-body .media-lot-spec {
  margin-bottom: 0;
}

.carousel.vehicle-carousel .media-lot .media-body .media-lot-spec-callouts {
  padding: 10px;
  margin-bottom: 0;
  position: relative;
}

.carousel.vehicle-carousel .media-lot .media-body .media-lot-spec-callouts ul li.emphasise {
  font-weight: bold;
  color: #0065A4;
}

.carousel.vehicle-carousel .media-lot .media-body .media-lot-spec-callouts .view-spec {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel.vehicle-carousel .media-lot .media-body .media-lot-spec-callouts .view-spec {
    display: none;
  }
}

@media (min-width: 768px) {
  .carousel.vehicle-carousel .media-lot .media-lot-image-primary {
    max-height: 145px;
  }
}

@media (min-width: 992px) {
  .carousel.vehicle-carousel .media-lot .media-lot-image-primary {
    max-height: none;
  }
}

.carousel.vehicle-carousel .media-lot .thumbnails .thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.contact-us .contact-dl dt {
  float: left;
  margin-right: 10px;
}

.hide-screen {
  display: none;
}

a {
  cursor: pointer;
  color: #0065A4;
}

h3 {
  color: #0065A4;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border-color: #e9322d;
  box-shadow: 0 0 6px #f8b9b7;
}

header#header .container {
  position: relative;
}

header#header .telephone {
  color: #0065A4;
  font-size: 30px;
  line-height: normal;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  display: none;
}

header#header .telephone i {
  color: #E1134F;
  padding-top: 10px;
  display: inline-block;
  padding-right: 25px;
}

@media (min-width: 768px) {
  header#header .telephone {
    display: block;
  }
}

header#header .navbar .navbar-brand img {
  width: 130px;
}

@media (min-width: 992px) {
  header#header .navbar .navbar-brand img {
    width: 150px;
  }
}

header#header .navbar .navbar-collapse .nav li.active {
  font-weight: bold;
}

header#header .navbar .navbar-collapse .nav li.active a {
  color: #e1134f;
  box-shadow: none;
  background-color: transparent;
}

header#header .navbar .navbar-toggle .text-menu {
  color: #aaa;
  text-shadow: none;
}

.page-header {
  padding-bottom: 2px;
  margin-bottom: 20px;
}

.page-header h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.input-validation-error {
  border: 1px solid red !important;
}

#bidForm em {
  display: block;
}

.lot-bids {
  margin-bottom: 1em;
}

#images {
  margin-bottom: 1em;
  width: 100%;
}

#images #image-gallery {
  margin-top: 1em;
}

#images #image-gallery img {
  width: 100px;
}

.vehicles-table a.img img {
  width: 100px;
}

.vehicles-table h4 {
  margin-top: 0;
  font-weight: bold;
}

.vehicles-table h4.winning, .vehicles-table h4.won {
  color: #468847;
}

.vehicles-table h4.losing, .vehicles-table h4.lost, .vehicles-table h4.outbid {
  color: #b94a48;
}

.vehicles-table h4.ended, .vehicles-table h4.highestbidder {
  color: #c09853;
}

.table img.thumbnail {
  max-width: 120px;
}

h5.winning, h5.won, h5.losing, h5.lost, h5.ended, h5.highestbidder {
  color: #fff;
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0.5em;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

h5.winning, h5.won {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

h5.losing, h5.lost {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

h5.ended, h5.highestbidder {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

span.winning, span.won, span.losing, span.lost, span.ended, span.highestbidder {
  text-transform: uppercase;
}

span.winning, span.won {
  color: #468847;
}

span.losing, span.lost {
  color: #b94a48;
}

span.ended, span.highestbidder {
  color: #c09853;
}

.search-tools {
  margin-bottom: 20px;
}

.search-tools .pagination-top {
  margin: 0;
  display: inline;
}

.row.callouts {
  margin-bottom: 20px;
}

.well.quick-search {
  margin-bottom: 0;
}

.well.quick-search form {
  margin: 0;
}

.well.quick-search legend {
  margin-bottom: 0;
}

.well.quick-search legend + .control-group, .well.quick-search .control-group {
  margin-bottom: 0;
}

div.quick-search .form-group {
  margin-bottom: 10px;
}

div.quick-search button.btn, div.quick-search a.btn {
  margin-bottom: 4px;
}

div.quick-search button.btn.advanced, div.quick-search a.btn.advanced {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

div.quick-search button.btn#btn-hidden-price-padding, div.quick-search a.btn#btn-hidden-price-padding {
  margin-bottom: 0;
}

#footer {
  padding: 1em 0;
  margin-top: 4em;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#footer h6 {
  margin-top: 0;
}

#footer .legal {
  margin-top: 44px;
  font-size: 12px;
}

#footer .social img {
  width: 40px;
}

.border {
  border: 1px #ddd solid;
}

[class^="icon-"], [class*=" icon-"] {
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

[class^="icon-"].icon-2x, [class*=" icon-"].icon-2x {
  vertical-align: middle;
}

.search-quick {
  margin-bottom: 0;
}

.search-quick a {
  text-decoration: none;
}

.listing-view .detail-lot-spec-callouts a.view-spec {
  text-decoration: underline;
}

.listing-view .price-container .btn {
  color: #0065A4;
}

.listing-view .price-container .btn.btn-primary {
  color: #fff;
}

.listing-view .price-container .btn.btn-callback {
  transition: color 0.2s linear;
}

.listing-view .price-container .btn.btn-callback:hover {
  color: #E1134F;
}

.listing-view h5.user-bid-status {
  margin-top: 0;
}

.btn-watches {
  text-decoration: none !important;
  transition: color 0.3s linear;
}

.btn-watches.btn-watches-remove i {
  color: #E1134F;
}

.btn-watches.btn-watches-remove:hover i {
  color: #ccc;
}

.btn-watches.btn-watches-add.muted {
  color: #999;
}

.btn-watches.btn-watches-add:hover {
  color: #E1134F;
}

.vehicles-thumbnails .thumbnail {
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .vehicles-thumbnails .thumbnail {
    text-align: left;
  }
}

.vehicles-thumbnails .thumbnail .label.label-listing-reserved {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #b94a48;
}

.vehicles-thumbnails .thumbnail .listing-watch-toggle {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 16px;
}

.vehicles-thumbnails .thumbnail .thumbnail-title {
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .vehicles-thumbnails .thumbnail .thumbnail-title {
    height: 34px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .vehicles-thumbnails .thumbnail .thumbnail-vehicle-detail {
    height: 55px;
    overflow: hidden;
  }
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing {
  margin-bottom: 0;
  color: #0065A4;
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-price {
  font-size: 21px;
  font-weight: bold;
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-price-saving {
  color: #E1134F;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-price-saving {
    display: block;
  }
}

.vehicles-thumbnails .thumbnail .thumbnail-pricing .thumbnail-listing-post-price {
  display: block;
}

.vehicles-table .btn-watches.btn-watches-add {
  color: #999;
}

.vehicles-table .btn-watches.btn-watches-add:hover {
  color: #E1134F;
}

.vehicles-table .was-price {
  color: #E1134F !important;
}

h3.now-price {
  text-align: right;
  line-height: normal;
  font-weight: bold;
  color: #E1134F;
  margin: 0;
  margin-bottom: 10px;
  font-size: 32px;
}

.prices h4.now-price {
  text-align: right;
  line-height: normal;
  font-weight: bold;
  color: #E1134F;
  margin: 0;
  margin-bottom: 10px;
  font-size: 76px;
  line-height: 1em;
}

.prices h4.now-price.now-price-auction {
  font-size: 56px;
}

.prices .now-price-sub-text, .prices .price-postfix {
  text-align: right;
  color: #999;
  font-size: 12px;
}

.prices .now-price-reserve {
  margin: 0;
  text-align: right;
}

.prices .now-price-reserve .now-price-reserve-met {
  color: #2FA839;
}

.prices .now-price-reserve .now-price-reserve-notmet {
  color: #E1134F;
}

.media-lot .price-info {
  font-size: 14px;
  color: #999;
  line-height: 18px;
  margin: 2px 10px 0 0;
}

.media-lot .price-info .price-info-label {
  font-weight: bold;
}

.sub-price {
  margin-bottom: 10px;
}

.sub-price .price-info {
  text-align: right;
  font-size: 18px;
  color: #999;
}

.sub-price .price-info .price-info-label {
  font-weight: bold;
}

.detail-lot-spec-callouts h4 {
  margin-top: 0;
}

.detail-lot-spec-callouts p {
  text-align: right;
}

.detail-lot-spec-callouts li.emphasise {
  font-weight: bold;
  color: #0065A4;
}

.modal-contact .phone {
  font-size: 4em;
  line-height: normal;
}

div.well.well-performance {
  color: #000;
}

div.well.spec-items {
  padding: 0px 19px;
  margin-bottom: 0px;
}

h1.title {
  color: #0065A4;
}

.vehicletype .btn-group {
  width: 100%;
}

.vehicletype.vehicletype-full .btn {
  width: 100px;
}

.vehicletype .btn {
  width: 50%;
}

.vehicletype .btn.active {
  color: #fff;
  background-color: #005fa1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1);
}

.finance .finance-table th {
  font-weight: normal;
  color: #000;
}

@media (min-width: 768px) {
  .finance #finance-form-deposit, .finance #finance-form-mileage {
    width: 100px;
  }
}

.finance-video-dialog__iframe {
  width: 568px;
  height: 320px;
}

@media (max-width: 767px) {
  .finance-video-dialog__iframe {
    width: 100%;
  }
}

.part-ex-app td.td-label {
  font-weight: bold;
}

.part-ex-app input.input-registrationPlate {
  background-color: #ffec39;
  font-weight: bold;
  border: 1px solid #8aaae2;
  border-left: 25px solid #29477f;
  text-transform: uppercase;
}

.part-ex-app .well-valuation {
  text-align: center;
}

.part-ex-app .well-valuation h3 {
  color: #000;
}

.part-ex-app .well-valuation h2 {
  font-size: 46px;
}

.table td.table-td-no-data {
  text-align: center;
}

.table .table-col-money {
  text-align: right;
}

.order-history-thumbnail {
  margin-bottom: 20px;
}

.checkout-container form label {
  margin-right: 10px;
}

/*# sourceMappingURL=site.css.map */