﻿.hide-print, .visible-phone, .hidden-desktop, .visible-tablet,
	div.nav-collapse, button.btn-navbar, span.telephone, div#spec ul.nav.nav-tabs, div.usersalsoviewed,
	a.view-spec,
	footer#footer {
	display: none;
}

div.tab-pane {
	page-break-inside:avoid
}

div.navbar a.brand {
	/*
	display: block;
	float: right;
	*/
	img {
		height: 100px;
	}
}

$SvsBlue: #0065A4;
$SvsPink: #E1134F;
$MediumGray: #999;

h1.title {
	color: $SvsBlue;
}

@mixin nowPrice {
	text-align: right;
	line-height: normal;
	font-weight: bold;
	color: $SvsPink;
	margin: 0;
	margin-bottom: 10px;
}

h4.now-price {
	@include nowPrice;
	font-size: 76px;
}