﻿@model Sfs.EStore.Web.App.Areas.Account.Models.ResetPasswordIndexModel
@{
    ViewBag.MetaTitle = "Password Reset";
    ViewBag.PageTitle = "Your Password Has Been Reset";
}

<p>Your password has been reset. You are now logged in and can browse the site.</p>

<p><a href="@Url.Action("index", new {controller="lots",area="vehicles"})" class="btn btn-lg btn-primary">Take me to the vehicles</a></p>