﻿@model Sfs.EStore.Web.App.Areas.Account.Models.ResetPasswordIndexModel
@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Reset Password";

    Func<string, string> validationMessage = (code) => {
        if (code == "AUTH_FAILED") return "Username or password is incorrect";
        if (code == "AWAITING_APPROVAL") return "Account is awaiting approval";
        if (code == "LOCKED_OUT") return "User is locked out";
        if (code == "NEW_LOCKED_OUT") return "Password is incorrect. The account has now been locked out";

        return "Username or password is incorrect";
    };
}

<p>Please enter a new password to complete the process.</p>

@using (Html.BeginForm("index", "resetpassword", new { token = Model.Token }, FormMethod.Post, new {@class="form-horizontal"}))
{
    if (ViewContext.ViewData.ModelState.ContainsKey("AUTH"))
    {
        var authErrorCode = ViewContext.ViewData.ModelState["AUTH"].Errors.First().ErrorMessage;
        var message = validationMessage(authErrorCode);
            
        <p class="text-danger">Password reset. @message</p>
    }
        
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label col-sm-2" })
        <div class="col-sm-6 col-md-4">
            @Html.PasswordFor(x => x.Password, new {@class="form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label col-sm-2" })
        <div class="col-sm-6 col-md-4">
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
    </div>
}