﻿@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Invalid reset password link";
}

<p>The link you have used is no longer valid. Please fill out the <a href="@Url.Action("index", "forgottenpassword")">forgotten password</a> form.</p>