.threesixty {
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    .threesixty_images {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;

            &.previous-image {
                visibility: hidden;
                /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
            }

            &.current-image {
                visibility: visible;
                /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
            }
        }
    }

    .spinner {
        width: 60px;
        display: block;
        margin: 0 auto;
        height: 30px;
        background: #333;
        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        span {
            font-family: Arial, "MS Trebuchet", sans-serif;
            font-size: 12px;
            font-weight: bolder;
            color: #FFF;
            text-align: center;
            line-height: 30px;
            display: block;
        }
    }

    .nav_bar {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 11;

        a {
            display: block;
            width: 32px;
            height: 32px;
            float: left;
            background: url(/assets/sprites.png) no-repeat;
            text-indent: -99999px;
        }

        a.nav_bar_play {
            background-position: 0 0 !important;
        }

        a.nav_bar_previous {
            background-position: 0 -73px !important;
        }

        a.nav_bar_stop {
            background-position: 0 -37px !important;
        }

        a.nav_bar_next {
            background-position: 0 -104px !important;
        }
    }
}

/* html */
.threesixty:-webkit-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}

.threesixty:-moz-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}

#btnPanel {
    margin-top: 5px;
}

#leftbtnPanel {
    margin-bottom: 5px;
    margin-left: 15px;
}

.custom_3d{
        border-radius: 5px;

}