﻿@using Sfs.EStore.Web.App.Code.Cms
@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.ManufacturerModelCmsPagesEditModel
@{
    ViewBag.MetaTitle = "Edit";

    Bundles.Reference("jquery", "head");
    Bundles.Reference("siteadmin/codemirror/codemirror");
    Bundles.AddInlineScript(
        @<script>
             $(function () {
                 var myTextArea = document.getElementById("Body");
                 var myCodeMirror = CodeMirror.fromTextArea(myTextArea,
                     {
                         mode: "htmlmixed",
                         lineWrapping: false
                     });
             });
         </script>);
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("index")">Pages</a>
    <li class="active">@Model.PageTitle</li>
</ul>

<h2>Edit page</h2>
@using (Html.BeginForm(new { editing = Model.Id }))
{
    @Html.ValidationSummary()

    <ul class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
        <li><a href="#meta" data-toggle="tab">Meta data</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="details">
            <div class="form-group">
                @Html.LabelFor(x => x.PageTitle, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.PageTitle, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(x => x.VehicleTypeQueryTerm, new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(x => x.VehicleTypeQueryTerm, new[]
                            {
                                new SelectListItem{Text = "Car", Value = "CAR"},
                                new SelectListItem{Text = "Van", Value = "VAN"}
                            }, new { @class = "form-control", autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ManufacturerQueryTerm, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(x => x.ManufacturerQueryTerm, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ModelQueryTerm, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(x => x.ModelQueryTerm, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ImageUrl, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Body, new { @class = "control-label" })
                <div class="">
                    @Html.TextAreaFor(x => x.Body, new { @class = "form-control", rows = 5 })
                </div>
            </div>
        </div>
        <div id="meta" class="tab-pane">
            <div class="form-group">
                @Html.LabelFor(x => x.MetaData.Title, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.MetaData.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MetaData.Description, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.MetaData.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MetaData.CanonicalUrl, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(x => x.MetaData.CanonicalUrl, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update page</button>
        or @Html.ActionLink("cancel", "index")
        
        <input type="hidden" name="movetotrash" id="movetotrash" />
        <button type="submit" onclick="if (confirm('Deleting a page is permanent and cannot be undone. Really delete this page?')) { $('#movetotrash').val('delete'); return true; } else { return false; }" class="pull-right btn btn-danger">Delete page</button>
    </div>
}