﻿@model Sfs.EStore.Web.App.Areas.SiteAdmin.Controllers.ManufacturerModelCmsPagesIndexModel
@{
    ViewBag.MetaTitle = ViewBag.PageTitle = "Manufacturer Model CMS pages admin";
}
<p>@Html.ActionLink("Edit manufacturers", "index", new { controller = "manufacturercmspages" })</p>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <ul>
            @foreach (var page in Model.Pages.Where(x => x.VehicleTypeQueryTerm == "CAR"))
            {
                <li>@Html.ActionLink(string.Format("{0} > {1} > {2}", page.VehicleTypeQueryTerm, page.ManufacturerQueryTerm, page.ModelQueryTerm), "edit", new { editing = page.Id })</li>
            }
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <ul>
            @foreach (var page in Model.Pages.Where(x => x.VehicleTypeQueryTerm == "VAN"))
            {
                <li>@Html.ActionLink(string.Format("{0} > {1} > {2}", page.VehicleTypeQueryTerm, page.ManufacturerQueryTerm, page.ModelQueryTerm), "edit", new { editing = page.Id })</li>
            }
        </ul>
    </div>
</div>


<div>
    <hr />
    @Html.ActionLink("Create a new page", "create", null, null, new { @class = "btn btn-default" })
</div>
