@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Bundles.Reference("angular");
    Bundles.Reference("~/scripts/angular/services");

    var hidePrices = (ViewData.ContainsKey("HidePrices") && (bool)ViewData["HidePrices"]);
}
<div class="vehicles-table table-hover">
    <div class="row vehicle-row" data-ng-repeat="vehicle in vehicles">
        <div class="col-xs-5 col-sm-2 col-md-2">
            <a class="img" target="_self" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
                <vehicle-image image="vehicle.primaryImage" dimensions="280x210" overlay="results" />
            </a>
        </div>
        <div class="col-xs-7 col-sm-3 col-sm-push-7 col-md-2 col-md-push-8">
            <p class="vehicle-exterior-colour" ng-if="vehicle.vehicleInfo.exteriorColour">{{vehicle.vehicleInfo.exteriorColour}}</p>
            <h4 class="vehicle-price" ng-if="vehicle.sellingStatus.currentPrice">
                <span ng-if="vehicle.sellingStatus.currentPrice.amount > 0">{{vehicle.sellingStatus.currentPrice | markup | money}}</span>
                <span ng-if="vehicle.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                <small ng-if="vehicle.sellingStatus.currentPrice.amount > 0" data-price-vat-status="vehicle.pricesIncludeVat"></small>
                @{
                    Html.Snippet("vehicles/all/price_postfix")
                        .PlainTextExpected()
                        .Template(@<small class="price-postfix" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">@item</small>)
                            .Render();
                }
                @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice"))
                {
                    <small>
                        <span class="was-price" ng-if="vehicle.discountPriceInfo.retailPrice.amount > vehicle.-sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0"
                              title="">
                            Save {{ vehicle | retailSaving | money }}
                        </span>
                    </small>
                }
            </h4>

        </div>
        <div class="col-xs-12 col-sm-7 col-sm-pull-3 col-md-8 col-md-pull-2">
            <h4>
                <span data-watch-status-toggle ng-listing-id="vehicle.listingId"></span>
                <span class="label label-danger" ng-if="vehicle.sellingStatus.sellingState == 'Reserved'">Reserved</span>
                <a target="_self" data-toggle="tooltip" title="{{vehicle.title}}" data-delay="500" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">{{vehicle.title}}</a>
            </h4>
            <p class="vehicle-details">
                <b>{{ vehicle.vehicleInfo.registration.yap}}</b> ({{ vehicle.vehicleInfo.registration.plate }})
                <span ng-if="vehicle.vehicleInfo.trim">, {{vehicle.vehicleInfo.trim.code}} {{vehicle.vehicleInfo.trim.name}}</span>
                <span ng-if="vehicle.vehicleInfo.source">, Source: {{vehicle.vehicleInfo.source.code}}</span>
                <span ng-if="vehicle.vehicleInfo.mileage">, {{ vehicle.vehicleInfo.mileage | number }} miles</span>
            </p>
            <p><span ng-repeat="item in equipments[vehicle.listingId]">{{item.name}}; </span></p>
        </div>
    </div>
</div>