﻿@{
    Layout = null;
}
<div ng-if="ShowRetail">
</div>
@*<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3><span class="label label-primary">Retail View &nbsp;</span>&nbsp;({{dealer.No}}  {{dealer.Name}})&nbsp;&nbsp;</h3>
        </div>
        <ul class="nav navbar-nav"></ul>
    </div>
</nav>*@
<form ng-submit="applyQuery()" query-params>
    <div class="well">
        <div class="row">
            <div class="col-sm-6">
                @*<div class="form-group vehicletype vehicletype-full">
                        <div class="btn-group">
                            <button ng-repeat="vehicleType in vehicleTypeFacets" ng-class="{active: (vehicleType.key == params.vehicleType)}" type="button" class="btn" ng-model="params.vehicleType" btn-radio="vehicleType.key">{{vehicleType.label}}</button>
                        </div>
                    </div>*@
                <div class="form-group vehicletype">
                    <facet-select ng-value="params.vehicleType" facet="vehicleType" ng-option-label="All Vehicle Types" />
                </div>
                @if (Model.ShowSaleFilter)
                {
                    <div class="form-group sale">
                        <facet-select ng-value="params.lsale"
                                      facet="sale" ng-option-label="All sales" />
                    </div>
                }
                <div class="form-group manufacturer">
                    <facet-select ng-value="params.make" facet="make" ng-option-label="All makes" />
                </div>
                <div class="form-group model">
                    <facet-select ng-value="params.model" facet="model" ng-parent="params.make" ng-option-label="All models" />
                </div>
                <div class="form-group derivative">
                    <facet-select ng-value="params.derivative" facet="derivative" ng-parent="params.model" ng-option-label="All trims" />
                </div>
                <div class="form-group fuel-type">
                    <facet-select ng-value="params.fuelType"
                                  facet="fuelType" ng-option-label="All fuel types" />
                </div>
            </div>
            @*<input type="hidden" name="auctionPreview" value="params.lpreview">*@
            <div class="col-sm-6">
                <div class="form-group category">
                    <facet-select ng-value="params.category"
                                  facet="category" ng-option-label="All body styles" />
                </div>
                <div class="form-group maximum-mileage">
                    <facet-select ng-value="params.mileage"
                                  facet="mileage" ng-option-label="All mileages"
                                  ng-value-formatter="searchParamValueFormatters.range(params.mileage)" />
                </div>
                <div class="form-group maximum-age">
                    <facet-select ng-value="params.maxAge"
                                  facet="maxAge" ng-option-label="All ages"
                                  ng-value-formatter="searchParamValueFormatters.maxAgeRange(params.maxAge)" />
                </div>
                <div class="form-group transmission">
                    <facet-select ng-value="params.transmission"
                                  facet="transmission" ng-option-label="All transmissions" />
                </div>
                @if (Model.ShowAuction)
                {
                    <div class="form-group">
                        <facet-select ng-value="params.auctionstatus" facet="auctionstatus" ng-option-label="Auction Type" />
                    </div>
                }
                @if (IsCurrentUserAllowed("/Lots/View/Prices"))
                {
                    <div class="form-group maximum-price">
                        <div class="row">
                            <!--[if lt IE 10]>
                                <label for="Search_MinimumPrice">Price range from</label>
                            <![endif]-->
                            <div class="col-xs-6">
                                <input class="form-control" data-val="true" data-val-number="Minimum price must be a number." id="Search_MinimumPrice" name="Search.MinimumPrice" placeholder="Min price" type="text" ng-model="params.minPrice" min="0" max="{{params.maxPrice}}" step="500">
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" data-val="true" data-val-number="Maximum price must be a number." id="Search_MaximumPrice" name="Search.MaximumPrice" placeholder="Max price" type="text" ng-model="params.maxPrice" min="{{params.minPrice}}" step="500">
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <input type="text" id="search-q" ui-reset ng-model="params.q" placeholder="Search (e.g red diesel hatchback)" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <span class="pull-right">
                        @if (IsCurrentUserAllowed("/Search/SavedSearches"))
                        {
                            <span class="saved-search">
                                @*<a class="saved-search-my" ng-click="savedSearches.show()">My searches</a> |
                                <a class="saved-search-save" ng-click="savedSearches.create({criteria: params})">Save search</a>*@
                                &nbsp;
                            </span>
                        }
                        <button type="submit" ng-disabled="!isDirty" class="btn btn-primary"><i class="icon-search"></i> Search</button>
                        <a id="search_btn_clear" data-ng-click="reset(params)">clear all</a>
                    </span>
                    <span class="clearfix"></span>
                </div>
            </div>
        </div>
    </div>
</form>
