﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Areas.Vehicles
@{
    Bundles.Reference("angular");
    Bundles.Reference("~/scripts/angular/services");

    var hidePrices = (ViewData.ContainsKey("HidePrices") && (bool)ViewData["HidePrices"]);
}
<table class="table table-hover vehicles-table">
    <thead>
        <tr>
            <th colspan="2"></th>
            @if (!hidePrices)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody style="background-color: #ffffff;">
        <tr data-ng-repeat="vehicle in vehicles">
            <td>
                <a class="img" target="_self" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
                    <vehicle-image image="vehicle.primaryImage" dimensions="280x210" overlay="results" />
                </a>
            </td>
            <td>
                <h4>
                    <span data-watch-status-toggle ng-listing-id="vehicle.listingId"></span>
                    <span class="label label-danger" ng-if="vehicle.sellingStatus.sellingState == 'Reserved'">Reserved</span>
                    <a target="_self" data-toggle="tooltip" title="{{vehicle.title}}" data-delay="500" href="@Url.RetailLot("_id_", "_slug_").Replace("_id_", "{{vehicle.listingId}}").Replace("_slug_", "{{vehicle.title | slugify}}")">
                        {{vehicle.title}} <b ng-show="vehicle.attentionGrabber">{{vehicle.attentionGrabber}}</b>
                    </a>
                </h4>
                <ul class="list-unstyled">
                    <li>{{ vehicle.vehicleInfo.registration.yap}} ({{ vehicle.vehicleInfo.registration.plate }})</li>
                    <li ng-if="vehicle.vehicleInfo.mileage">{{ vehicle.vehicleInfo.mileage | number }} miles</li>
                    <li title="{{ vehicle.listingInfo.endTime | formatDate }}" ng-if="vehicle.listingInfo.listingType != 'FixedPrice' && vehicle.listingInfo.endTime">Time left: {{ vehicle.listingInfo.timeRemaining | humanizeDuration }}</li>
                </ul>
            </td>
            @if (!hidePrices)
            {
                <td>
                    <h4 ng-if="vehicle.sellingStatus.currentPrice">
                        <span ng-if="vehicle.sellingStatus.currentPrice.amount > 0"> {{vehicle.sellingStatus.currentPrice | markup | money}}</span>
                        <span ng-if="vehicle.sellingStatus.currentPrice.amount <= 0">@{ Html.Snippet("vehicles/all/price_tbc").PlainTextExpected().Render(); }</span>
                        <small ng-if="vehicle.sellingStatus.currentPrice.amount > 0" data-price-vat-status="vehicle.pricesIncludeVat"></small>
                        @{
                            @*Html.Snippet("vehicles/all/price_postfix")
                                .PlainTextExpected()
                                .Template(@<small class="price-postfix" ng-if="vehicle.sellingStatus.currentPrice.amount > 0">@item</small>)
                                .Render();*@
                        }
                        @if (Tenant.IntegratesWith("Views/Lot/IncludeRetailPrice"))
                        {
                            <small>
                                <span class="was-price" ng-if="vehicle.discountPriceInfo.retailPrice.amount > vehicle.sellingStatus.currentPrice.amount && vehicle.sellingStatus.currentPrice.amount > 0"
                                      title="">
                                    Save {{ vehicle | retailSaving | money }}
                                </span>
                            </small>
                        }
                    </h4>
                </td>
            }
        </tr>
    </tbody>
</table>