﻿@using Sfs.EStore.Web.App
@using Sfs.EStore.Web.App.Code
@model Sfs.EStore.Web.App.Models.SearchPageModel
@{
    SetMetaData(Model.CmsPage.MetaData)
        .SetPageTitle(Model.CmsPage.PageTitle)
        .SetBodyCssClass(Model.CmsPage.BodyCssClass);

    Bundles.Reference("~/areas/retail/scripts/apps/search");

}
<span class="navbar-before">
</span>
<section ng-app="app" id="ng-app" ng-cloak ng-init="@Html.Partial("_Ng-Init")">
@{Html.RenderPartial("~/Areas/Retail/Views/Controls/_retailMenu.cshtml");}

    <script type="text/ng-template" id="lot-search.html">
        @Html.Partial("_Ng-LotSearch")
    </script>
    <script type="text/ng-template" id="lot-search-card-view.html">
        <ul data-ng-show="vehicles" class="list-unstyled row vehicles-thumbnails">
            <li class="col-xs-12 col-sm-4 col-md-3" ng-repeat="vehicle in vehicles">
                @Html.Partial("_Ng-lotcard")
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="lot-search-table-view.html">
        @Html.Partial("_Ng-LotTable")
    </script>
    <script type="text/ng-template" id="loginform.html">
        @Html.Partial("_Ng-LoginForm")
    </script>

    @{ Html.RenderCmsSection(Model.CmsPage.Source, Model.CmsPage.Variables); }
</section>